[2016-09-26 18:31] morrigan opened #853 "PostgreSQL using sequences issue"
Hi,
this is the issue I am facing when running migrations on production. Any tips? Using Phalcon DevTools (2.0.13).

Error:
[code]
[code]

Generated migration file:

[code]

[2016-09-26 20:20] sergeyklay commented on #853
Hi @morrigan,

Thanks for contributing!
It seems this is Devtools issue. Correct SQL is:
[code]

Or:
[code]

as workaround try to comment

[code]

[2016-09-26 20:51] #842 closed

[2016-09-26 21:52] okdana opened #855 "Poor or missing usage help, inconsistent argument handling"
Hey there, just trying out Phalcon for the first time. I installed the Phalcon DevTools since some of the tutorials i found on-line use them.

Usually the first thing i do when i install a command-line utility is look at the usage help.

[code]

OK. None of the usual options work. Let's try running it with no options:

[code]

Well, there's the list of commands, but now what? What do the commands

[2016-09-26 22:06] sergeyklay commented on #855
Hello @okdana

Unfortunately usage the help command is not obvious.
Just use  `./phalcon.phar <command_name> help ` for help:

* `./phalcon.phar commands help`
* `./phalcon.phar controller help`
* `./phalcon.phar module help`
* `./phalcon.phar model help`
* `./phalcon.phar all-models help`
* `./phalcon.phar project help`
* `./phalcon.phar scaffold help`
* `./phalcon.phar migration help`
* `./phalc

[2016-09-27 10:22] radeczo opened #859 "PostgreSQL migrations - default values in double quotes"
Hi.

Phalcon DevTools (3.0.0)

Default values in PostgreSQL should be in single quotes (for strings) or as an number (for int, bigint, etc.). Double quoted values Postgres interprets as column names.

Error example:

Column definition:

    new Column(
        'status',
        [
            'type' => Column::TYPE_INTEGER,
            'default' => "1",
            'after' => 'order'
        ]

[2016-09-28 09:41] Jurigag opened #861 "Mysql Migration duplicate column foreign key"
Im using latest devtools. This is how migration file looks like:

https://gist.github.com/Jurigag/e314d9adddb098c31e1cd33df6ef254a

But migration parser for some reason generates
[code]

So it's double column, but some other foreign key works fine.

Oh nvm, i posted wrong file, in migration file for some reason there are 2 same columns. What a heck.

[2016-09-28 10:01] #861 closed

[2016-09-28 10:06] Jurigag opened #862 "[NFR]Drop indexes before column drop"
Let's assume that we have in current database some foreign key index on `location.instrument_id`. Lets assume that we are deleting this column. This won't work because there is existing index it will create error:

[code]

[2016-09-28 13:45] morrigan commented on #853
@sergeyklay Yeah, I don't get the error when default propery is removed and seems like auto incrementation still works :)

[2016-09-28 13:49] sergeyklay commented on #853
@morrigan I'll fix this ASAP

[2016-09-28 21:54] sergeyklay commented on #853
@morrigan
[I've fixed Phalcon issue](https://github.com/phalcon/cphalcon/issues/12263) in the `3.0.x` branch. So now migration must be created in the right way.

Could you please check Phalcon 3.0.x branch?

[code]

[2016-09-28 22:32] sergeyklay commented on #853
I've added hotfix in Devtools 3.0.x branch https://github.com/phalcon/phalcon-devtools/pull/864

[2016-09-28 22:32] #853 closed

[2016-09-29 18:26] cbichis commented on #834
I need a bit of time to do a sample demo as I noticed this into a complex database.

[2016-09-29 20:02] HudsonNicoletti opened #868 "Migrations"
Hello , i'm using the devtools and it seems like it only saves the table structure . Is there a way to also generate the Events ( Jobs ) ?

[2016-09-29 20:18] sergeyklay commented on #868
Currently it is impossible from out of box

[2016-09-30 08:54] cbichis opened #870 "Old way validation generated for models"
It seems dev tools is generating the validation in the old way (2.x) not the 3.0 way.

It should be using Phalcon\Validation base validation.

[2016-09-30 09:50] sergeyklay commented on #870
@cbichis Fixed in 3.0.x branch

[2016-09-30 09:50] #870 closed

[2016-09-30 17:40] infobuscador commented on #84
Thank you sontdhust!

[2016-09-30 19:38] sergeyklay commented on #859
@radeczo

I've [fixed this issue](https://github.com/phalcon/cphalcon/issues/12276) in the Phalcon `3.0.x` branch. You need to update Phalcon:

[code]

Thank you for contributing!

[2016-09-30 19:38] #859 closed

[2016-09-30 22:58] HudsonNicoletti opened #871 "Quick Server ?"
Can somthing like 'artisan serv' be created for phalcon to quickly spin up a phalcon application?

[2016-10-01 21:28] le51 opened #872 "[3.0.x] error 404"
Hi,

Just installed a fresh new devtools and switch it to branch 3.0.x. but

Webtools gives me an 404 http error.

[2016-10-01 21:50] sergeyklay commented on #872
Provide please steps to reproduce

[2016-10-01 22:11] le51 commented on #872
hi,

I've installed devtools with git clone, then git checkout 3.0.x
created a new app with --enable-webtools
localhost/myapp/webtools.php gives me a 404 error

[2016-10-01 22:15] sergeyklay commented on #872
Could you please provide `webtools.config.php`?
This file should be in your document root.

[2016-10-01 22:26] le51 commented on #872
`<?php

/*
  +------------------------------------------------------------------------+
  | Phalcon Developer Tools                                                |
  +------------------------------------------------------------------------+
  | Copyright (c) 2011-2016 Phalcon Team (http://www.phalconphp.com)       |
  +------------------------------------------------------------------------+
  |

[2016-10-01 22:33] sergeyklay commented on #872
Well, as you can see `PTOOLS_IP` is `'192.168.'`.

Phalcon Developers Tools can only be used in local machine, however you can set this to allow certain IP address.

**public/webtools.php**:
[code]

To disable check access via IP address just remove the `'ptools_ip' ` key:
[code]

Could you please check?

[2016-10-01 22:40] le51 commented on #872
sorry that didn't solve the 404 error

[2016-10-01 22:43] sergeyklay commented on #872
Okay, this is custom 404 Devtools page? Could you please provide server or php logs?

[2016-10-01 22:56] le51 commented on #872
Apache 2.4.12
php 5.6.11

there's nothing in apache error.log

[2016-10-01 23:09] sergeyklay commented on #872
@le51 Provide please your `VirtualHost` and `.htaccess` config. I'll try to sort out. As I know WebTools works well with Nginx with config like this:
[code]

[2016-10-01 23:27] le51 commented on #872
below : apache error.log with log level trace4:

[code]

[2016-10-01 23:29] le51 commented on #872
apache virtual host:
[code]

[2016-10-01 23:36] le51 commented on #872
.htaccess (in public dir)

[code]

error log above told that pattern -d and pattern -f didn't match

[2016-10-01 23:58] sergeyklay commented on #872
Could you please try with:
[code]

[2016-10-02 00:09] le51 commented on #872
Sorry doesn't work.

Just to tell you that after switching to master branch and creating a new project, webtools are OK, but apache error log still give !-f directive don't match:

[code]

[2016-10-02 09:53] sergeyklay commented on #872
@le51
As I said before this is Virtual Host issue.

First of all the `localhost/myappt/webtools.php` should be modified to `localhost/webtools.php`. To work correctly with `localhost/myappt/` location you have to setup your Virtual Host.

Make sure that your application config matched to the your Virtual Host config:
[code]

Virtual Host configuration must meet current project location:
[code]

Ri

[2016-10-02 10:37] #505 closed

[2016-10-02 10:46] sergeyklay commented on #871
https://docs.phalconphp.com/en/latest/reference/built-in.html

We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-10-02 10:46] #871 closed

[2016-10-02 10:46] #868 closed

[2016-10-02 11:23] le51 commented on #872
OK, I will have a look and keep you in touch. But it looks so strange that in master branch, it works out of the box without any modification of the virtual host (I just have to set the right baseUri in config.php).

Anyway, many thanks for your help and for the your hard work !

[2016-10-02 11:31] sergeyklay commented on #872
Feel free to send PR if the need arises :)

[2016-10-02 12:23] le51 commented on #872
well well, even with that, I can't get it !

[code]

virtual host:

[code]

config.php:

[code]

application urls (like 1-test.lan/controller/action) are OK

[2016-10-02 12:29] sergeyklay commented on #872
Provide please `public/webtools.php`

[2016-10-02 12:34] le51 commented on #872
it's the default one:

[code]

[2016-10-02 12:47] sergeyklay commented on #872
Okay. It is possible to use Docker and Docker Compose? I can provide steps to run Project with WebTools in Docker container. At least for testing purpose

[2016-10-02 12:50] le51 commented on #872
I'm not used with these kind of tools .... but why not !

[2016-10-02 13:46] sergeyklay commented on #872
@le51

1. Create dir called **/home/luc/devel/phalcon/compose**

2. Create dir called **/home/luc/devel/phalcon/compose/app**

3. Create dir called **/home/luc/devel/phalcon/compose/apache**

4. Create file called **/home/luc/devel/phalcon/compose/apache/000-default.conf**:

[code]

3. Clone Devtools:

[code]
4. Create file called **/home/luc/devel/phalcon/compose/docker-compose.yml**:

[code]

5.

[2016-10-02 13:59] sergeyklay commented on #872
@le51 Feel free to ask if something wrong or hard

[2016-10-02 14:24] le51 commented on #872
thank you for that tutorial. I'll keep you in touch ...

[2016-10-02 20:31] sergeyklay commented on #855
Fixed in the `3.0.x` branch.

[2016-10-02 20:31] #855 closed

[2016-10-03 16:00] Jeckerson opened #883 "Migrations::run() - $initialVersion"
There are no possibility to set initial version of migration, when you want to migrate multiple DB's.

[code]

Instead of only check .phalcon/migration-version file, there could be workaround (like $options['version']) to set custom number of **initial** version through $options array.

[2016-10-04 21:01] sergeyklay commented on #872
@le51 Is issue solved?

[2016-10-04 21:20] le51 commented on #872
Hi sergey,

I did different tests on cloud instance (debian 8, ubuntu 16.04) but I still get the 404 error. Now I'm trying docker. But I'm struggling for building the container !!!

[2016-10-04 21:25] le51 commented on #872
I'm learning docker ;-)

[2016-10-04 22:05] Jeckerson commented on #883
I did some fast solution with incubator and method extension

[code]

[2016-10-05 07:38] dschissler commented on #872
I can help with this in 1-2 days.  I recently bought a new notebook and I don't have an environment setup for testing this but I already need to set one up to do other work.  I will be creating an Ubuntu 14.04 environment so hopefully that will be good enough.

[2016-10-05 13:57] KilroggD opened #884 "Migrations with data"
Hello everyone! I'm trying to perform migrations generate with latest phalcon devtools version 3.0.1
And after performing `phalcon migration generate --data=oncreate` I received following error:
[code]
And .dat fails were not generated. How can I fix it?
Seems like there's some regexp but and 1.0.0 version is being replaced by 100 somewhere

[2016-10-05 14:14] sergeyklay commented on #884
@KilroggD Could you please try 3.0.x branch? Ot seems to this issue was successfully fixed in 3.0.x branch.

Could you please check 3.0.x branch?

[code]

[2016-10-05 15:18] KilroggD commented on #884
On my CentOS machine it works fine but on Windows one I got Fatal error: Class 'Phalcon\Devtools\Version' not found in F:\OpenServer\domains\phalcon-devtools\phalcon.php on line 43

[2016-10-06 06:25] sergeyklay commented on #884
@KilroggD Could you please try now 3.0.x branch in Windows?

[2016-10-06 06:38] sergeyklay commented on #884
@KilroggD I'll try to sort out ASAP

[2016-10-06 10:01] juanreynolds opened #888 "Scaffolding a model with FK's to the same table creates similarly named aliases"
I have a table in a database that has two FK's that point to the same table:

field user_created is a FK to user table
field user_modified is a FK to user table

When I scaffold the model using Devtools I get a model with relationships with these aliases:

[code]

In cases like this is would be preferable to append the Camelised field name to the alias as well so as to ensure unique aliases.

[2016-10-06 13:29] sergeyklay commented on #888
@juanreynolds Thanks for reporting. I'll try to sort out ASAP.

[2016-10-06 15:37] dschissler commented on #872
Well I just had an unsatisfactory experience with the Web Tools.  I created a `simple` project with web tools and I set the cache directory to writable.  This is a new system so I also enabled error display in PHP.  I'm able to view the "Congradulation..." message from the Volt template but when I go to `webtools.php` then I get a blank page.  If I insert echo statements anywhere then I can see th

[2016-10-06 15:42] dschissler commented on #872
Also @sergeyklay We really should take another chance at improving the `baseUri` setting so that people don't need to modify it to get it working.

I don't think that this is acceptable:

It just makes an unnecessary learning curve.

[2016-10-06 17:10] sergeyklay commented on #884
@KilroggD Could you please try 3.0.x to check Windows issue?

[2016-10-06 18:37] le51 commented on #872
@dschissler
"I get a blank page",  is it a 404 error too ?
are you running 3.0.x branch ?

@sergeyklay
I've managed docker container to work with https://github.com/sergeyklay/phalcon-compose
using nginx server, http://phalcon.local/webtools.php  return 404 error too with 3.0.x

[2016-10-06 19:02] dschissler commented on #872
Nope it isn't a 404.  Its a normal empty response.  I'm running Phalcon 3.0.1 from the .deb package and the latest 3.0.x dev tools.  If there was an error then I could easily track it down but I don't have the time to dig deep to see about an empty page because it could be anything.

[2016-10-07 05:59] sergeyklay commented on #872
However, I'm still not able to reproduce. Could you please provide PHP version?

[2016-10-07 06:13] dschissler commented on #872
This is a very stock Ubuntu 14.04.1 system with just a few updates and the Phalcon .deb repo for stable packages.  Its running `PHP 5.5.9-1ubuntu4.20 (cli) (built: Oct  3 2016 13:00:37)`.

[code]

Its weird that nobody is getting the same results as the other.  At this point it would be an achievement if another person entered into the testing and was broken in a similar way to another person.

[2016-10-07 06:26] dschissler commented on #872
@le51 What OS are you on exactly?  Is it Linux and if so are you using all stock packages?  There are some weird things going on and its weird.  More information please.

[2016-10-07 08:03] le51 commented on #872
Hi,
webtools 3.0.x tested on
- ubuntu 15.04, apache 2.4.12, php 5.6.11
- ubuntu 16.04, apache 2.4.18, php 7.0.8
- debian 8.6, apache 2.4.10, php 5.6.24
- docker container with nginx 1.10, php 7.0.?
I have always installed phalcon ant devtools from git have configured vhost so that phalcon app point to domain.extension (real fqdn or dummy on localhost).

And always get

print_r($this->app->handle()

[2016-10-08 11:26] sergeyklay commented on #872
@le51 @dschissler I managed to reproduce the bug. I'll fix it ASAP.

[2016-10-08 16:09] sergeyklay commented on #872
Fixed in the `3.0.x` branch.

[2016-10-08 16:09] #872 closed

[2016-10-11 18:17] ideasvn opened #893 "How to create project phalcon with structure "multiple-service-layer-model""
I like structure
https://github.com/phalcon/mvc/tree/master/multiple-service-layer-model

But I don't know create project with structure below, I try run command

$>phalcon project papacms --type=modules --template-path=C:/multiple-service-layer-model

not working.

[2016-10-11 18:40] sergeyklay commented on #893
Hello @ideasvn

Unfortunately, Phalcon Developer Tools doesn't allow to create projects by a custom template at the moment. I mean, you can't just make it take as an example something you wish. We'll add to Phalcon Developer Tools something like this in future, but right now you can solve this problem only by copy-and-paste job.

When you specify explicitly the Project Template by passing `--templ

[2016-10-11 18:40] #893 closed

[2016-10-13 17:36] KilroggD commented on #884
I got
ERROR: The environment variable PTOOLSPATH is outdated! Current value: "F:\OpenServer\domains\phalcon-devtools\\". New value: F:\OpenServer\domains\phalcon-devtools

[2016-10-13 19:24] sergeyklay commented on #884
Indeed :) You have to update it

[2016-10-13 19:30] sergeyklay commented on #884
@KilroggD

Could you please explain? Does it mean that the first your issue is solved (at least for CentOS)?

[2016-10-13 19:49] KilroggD commented on #884
Yes. On CentOS migrations work fine with 3.0.x branch.

[2016-10-13 19:56] sergeyklay commented on #884
So, could you please try now on Windows latest 3.0.x?

[2016-10-13 20:28] KilroggD commented on #884
I'm trying scaffolding operation and see the same
ERROR: The environment variable PTOOLSPATH is outdated! Current value:
"F:\OpenServer\domains\phalcon-devtools\\". New value:
F:\OpenServer\domains\phalcon-devtools
But when I switch to the master branch there aren't any errors and
scaffolding works fine.
I tried to create PTOOLSPATH variable with
value F:\OpenServer\domains\phalcon-devtools withou

[2016-10-13 20:37] sergeyklay commented on #884
Yo have to get latest changes from 3.0.x.
Try get pull now and test again.
Thanks

[2016-10-15 12:15] MarcinGrabowski commented on #16
Hello,
if you try create a model in the windows, and you receive error:

you must change in class: phalcon-tools\scripts\Phalcon\Builder\Path.php:90
from
`$this->rootPath = rtrim($path, '\\/') . DIRECTORY_SEPARATOR;`
on
`$this->rootPath = rtrim(str_replace('/', DIRECTORY_SEPARATOR, $path), '\\/') . DIRECTORY_SEPARATOR;`

Good luck :-)

[2016-10-15 13:46] sergeyklay commented on #16
@MarcinGrabowski
Fixed in the `3.0.x` branch.

[2016-10-16 15:55] temuri416 commented on #717
@sergeyklay any chance linking the commit that fixed it?

Thanks!

[2016-10-16 16:14] sergeyklay commented on #717
https://github.com/phalcon/phalcon-devtools/commit/a420929214d8b89befaeb9efedf34d9528529aa1

[2016-10-16 19:17] KilroggD commented on #884
I've already done it. Still get PTOOLSPATH error

2016-10-13 23:37 GMT+03:00 Serghei Iakovlev <notifications@github.com>:

--
С уважением,
Копычев Владимир,
*v.kopychev@alekongroup.ru <v.kopychev@alekongroup.ru>, (812)995-75-01*

[2016-10-16 19:37] sergeyklay commented on #884
So you can't fix PTOOLSPATH issue?

[2016-10-16 19:57] KilroggD opened #897 "Migration duplicate FK columns"
Hello! I've got the same issue as https://github.com/phalcon/phalcon-devtools/issues/861 on MySQL
After migration generate command I can see something like this
[code]

And errors like  Column already exists: 1060 Duplicate column name 'image_id'

[2016-10-16 20:14] sergeyklay commented on #897
@KilroggD Provide please Table schema and steps to reproduce

[2016-10-16 20:26] KilroggD commented on #897
https://github.com/Arrim/phalcon-devtools/commit/353d07dee84a1835b38d8697cb0a5c4387a429c2 Actually, this fix helped me.

[2016-10-16 20:27] KilroggD commented on #884
Just for experiment I deleted PTOOLSPATH variable completely and replaced
defined('PTOOLSPATH') || define('PTOOLSPATH', rtrim(getenv('PTOOLSPATH') ?:
dirname(dirname(__FILE__)), '\\/'));
with
defined('PTOOLSPATH') || define('PTOOLSPATH', dirname(dirname(__FILE__)));
in autoload.php. And It works fine

2016-10-16 22:37 GMT+03:00 Serghei Iakovlev <notifications@github.com>:

--
С уважением,
Копычев

[2016-10-16 20:46] sergeyklay commented on #897
@KilroggD Could you please send PR to the 3.0.x branch?

[2016-10-16 20:47] sergeyklay commented on #884
Ya  :)
This is what the message reads

You have to update PTOOLSPATH environment var in Windows.

[2016-10-16 20:47] #884 closed

[2016-10-23 21:13] dschissler opened #901 "Routing is broken on "modules" project"
Anything other than going to `index::index` is broken on the `modules` project.  For example the following are broken:
- Trying to go to `IndexController::testAction`
- Trying to go to `TestController::indexAction`
- Using path `frontend/index/index`

If I try to go to path `/project/frontend/index` then I get the message: `Project\Controllerss\Frontend\Controllers\IndexController handler class ca

[2016-10-25 22:11] sergeyklay commented on #897
Fixed in the `3.0.x` branch.

[2016-10-25 22:11] #897 closed

[2016-11-02 05:58] jhaoheng commented on #688
hello @sergeyklay
So i need to pull from 3.0.x or master????

[2016-11-02 06:07] jhaoheng commented on #688
phalcon dev-tools : 3.0.1 -> 3.0.2(branch 3.0.x)

when i use `phalcon model {my_tableName} --force`
and model re-generated
but this model lost `use Phalcon\Validation;`
i am not sure whether it is an issue.

[2016-11-02 06:38] sergeyklay commented on #688
@jhaoheng Could you please try `3.0.x` branch?

[2016-11-02 07:35] jhaoheng opened #903 "[project] favicon"
Hi

use `save()` will insert two record, the reason is `NO favicon`
<https://forum.phalconphp.com/discussion/274/model-save-create-two-records>

When `phalcon project {name}` will create a new one, but this no include
`<link rel="shortcut icon" type="image/png" href="{{ url('img/favicon.png') }}"/>`

I think , maybe could add this line to avoid this issue and to help develop.

[2016-11-02 08:54] sergeyklay commented on #903
Could you please submit PR?

[2016-11-03 05:03] dschissler commented on #735
This was added a few weeks ago.

[2016-11-03 05:03] #735 closed

[2016-11-03 05:04] dschissler commented on #901
This pull request fixes this issue in addition to other improvements: https://github.com/phalcon/phalcon-devtools/pull/904

[2016-11-03 13:24] #901 closed

[2016-11-11 03:24] yangqiphp opened #905 "How to use migrations generate/run ?"
When I enter: phalcon migration run, I get this error message.
  Error: Migration class cannot be found UsersMigration_101 at /home/yangqi/www/compass/apps/rollingscreen/config/../migrations/1.0.1/users.php

And how to use the migrations? up and down functions ?

    /**
     * Run the migrations
     *
     * @return void
     */
    public function up()
    {

    }

    /**
     * Reverse the m

[2016-11-11 06:19] sergeyklay commented on #905
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

For documentation please refer to https://docs.phalconphp.com/en/3.0.1/reference/tools.html

[2016-11-11 06:19] #905 closed

[2016-11-11 22:31] tsotsos opened #906 "Modules Template for Routers"
Creating a modules application you may notice that automatic route loop produces wrong namespace, since it replaces both 'Module' and 'Modules' with 'Controller' string. As a result routers are useless since they not match to actual namespaces.

[2016-11-12 10:27] tsotsos commented on #906
Already solved at branch phalcon:3.0.x

[2016-11-12 10:27] #906 closed

[2016-11-14 12:49] phackwer commented on #665
Guys, it's happening again on 3.0! Check the CREATE TABLE clause bellow.

Phalcon DevTools (3.0.1)

1479126612.436: DELETE FROM "pessoa"1479126612.4362: DELETE FROM "endereco"1479126612.4362: DELETE FROM "bairro"1479126612.4362: DELETE FROM "cidade"1479126612.4362: DELETE FROM "estado"1479126612.4363: DELETE FROM "genero_filme"1479126612.4363: SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM s

[2016-11-14 13:02] Caffe1neAdd1ct commented on #665
I've been using `"phalcon/devtools": "dev-master",` and the migrations are working ok, can you try with master?

[2016-11-14 14:21] phackwer commented on #665
That's the one I'm using. Did you tried SQLite?

[2016-11-14 14:22] phackwer commented on #665
Wil try it now. I thought I was using it. Just saw that actually I'm using version 2.0.1.

[2016-11-14 14:23] Caffe1neAdd1ct commented on #665
Ah try dev-master, i'm currently using `58e6b6582b8ae351e57078efe1182b85e99f0802` looking in composer.lock.

[2016-11-14 21:16] phackwer opened #911 "Configurable log location"
Greetings,

In working on Phalcony (a Symfony modularized organization approach for rest backends based on Phalcon - phalcony/phalcony on packagist - still under heavy development)  and I would like to be able to set the migration version for each module individually. For that, I needed to be able to set the log file location, since I scan all Modules and search for migration for each one. Can I j

[2016-11-15 11:02] sergeyklay commented on #911
@phackwer https://github.com/phalcon/phalcon-devtools/blob/3.0.x/CONTRIBUTING.md :)

Use `3.0.x` please

[2016-11-21 16:37] victorhramos opened #913 "AllModels doesnt have --camelize"
![image](https://cloud.githubusercontent.com/assets/9410768/20491270/fa80bac6-aff7-11e6-8ab6-165eaf452864.png)

[2016-11-23 19:35] lenrsmith commented on #631
@sergeyklay  I believe PR #919 fixes this problem on the 3.0.x branch.

[2016-11-23 20:16] lenrsmith opened #920 "Remember migration method"
If a user runs migrations with the `--log-in-db` option, the 'phalcon-migrations' table is correctly created and the migration is logged. However, if the user forgets and does not submit the `log-in-db` option on a subsequent call, the DB is ignored and the migration version is logged in `.phalcon/migration-version`. While not a breaking issue, at the moment, this issue could cause problems for us

[2016-11-23 20:25] lenrsmith commented on #775
@sergeyklay I'm thinking about ways to handle this as it would be nice to have for one of my projects. It seems we are grabbing options with $argv and could make use of some more robust options handling. Any thoughts here? I can make this work for CLI, but I don't want to break the Web Tools.

[2016-11-24 01:13] sergeyklay commented on #631
Yes, thanks!

[2016-11-24 01:13] #631 closed

[2016-11-24 01:15] sergeyklay commented on #775
It seems to me we can check for string/array type of argument to handle multiple tables

[2016-11-24 03:24] lenrsmith commented on #920
I just answered my own question, and it is fairly easy. In your app's configuration add an `application` group where you set `migrationsTsBased` and `loginDb` to `true`. I use an ini file, so my config has the following appended to it:
[code]
This is the configuration that my actual application uses and does not refer to anything in the `.phalcon` directory.

[2016-11-24 03:24] #920 closed

[2016-11-25 18:02] lenrsmith commented on #775
I'll dig into this a bit. I'm just getting my head into how the dev-tools work, so bear with me.

[2016-11-26 06:14] imajinyun opened #923 "Generate model error"
$ phalcon model --name article

Phalcon DevTools (3.0.0)
[code]

[2016-11-26 08:19] sergeyklay commented on #923
could you please check:
[code]

[2016-11-26 14:48] imajinyun commented on #923
Thanks sergeyklay.
$ phalcon model --name article --directory ./app

[2016-11-26 14:48] #923 closed

[2016-11-28 14:56] Michal-St opened #925 "Migration - Mysql - on delete, on update issue"
I have issue with migration. I'm using Mysql DB and after migration to another server  DevTools doesn't remember type of relationship on foregin keys. This case is very often in intersactions tables. For example when I set "On delete: Cascade" after migration I have "On delete: Restricted"

Do you have the same problem with that?

[2016-11-28 17:58] sergeyklay commented on #925
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2016-11-30 09:38] BladePiontStudio opened #926 "the /app/config/routers.php replace two 'Module' string make app register mistake namespace"
### the /app/config/routers.php replace two 'Module' string make app register mistake namespace

[code]

The `$module["className"]` value is `"Xxx\Modules\Frontend\Module"`
This line place will replace all the `$module['className']` has string like `"Module"`.

[code]

Then the `$namespace` value is `"Xxx\Controllers\Frontend\Controllers"`
The right value maybe is  `"Xxx\Modules\Frontend\Controlle

[2016-11-30 15:29] stamster opened #927 "Incorrect View->render() method signature in generated IDE stub View->render()"
### Expected and Actual Behavior

* Incorrect View->render() method signature in generated IDE stub View->render()

[code]

The issue is second parameter does not exist in current Phalcon source code, so the signature should be:
`public function render($controllerName, $params = null) {}`
### Details

* Phalcon Framework version:
[code]

* Phalcon DevTools (3.0.2)

Note: this was also the case wit

[2016-11-30 20:05] sergeyklay commented on #927
As you can see this is not true:

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep#L768
[code]

[2016-11-30 20:05] #927 closed

[2016-11-30 20:10] sergeyklay commented on #926
@BladePiontStudio It seem to this is related to: https://github.com/phalcon/phalcon-devtools/pull/900/files#diff-b184d774f7db9a047e669d3e2be61c9dR6

I'll try to sort out

[2016-11-30 20:54] stamster commented on #927
Ouch. Sorry, my bad!
God damn PhpStorm with loaded Phalcon IDE stub lied to me on this.
I'm actually using Simple view component: https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view/simple.zep#L301

Alles goed!

[2016-12-02 08:57] Michal-St commented on #925
SQL (MysqlDB)

Migration files:

`<?php

use Phalcon\Db\Column;
use Phalcon\Db\Index;
use Phalcon\Db\Reference;
use Phalcon\Mvc\Model\Migration;

/**
 * Class TagToGroupMigration_1013
 */
class TagToGroupMigration_1013 extends Migration
{
    /**
     * Define the table structure
     *
     * @return void
     */
    public function morph()
    {
        $this->morphTable('tag_to_group', array(

[2016-12-02 09:00] Michal-St commented on #925
Tho most important is this code:

`CONSTRAINT tag_to_group_group_id_fk FOREIGN KEY (group_id) REFERENCES tag_group (group_id) ON DELETE CASCADE ON UPDATE CASCADE,
CONSTRAINT tag_to_group_tag_id_fk FOREIGN KEY (tag_id) REFERENCES tag (tag_id) ON DELETE CASCADE ON UPDATE CASCADE`

and this is migration:

'onDelete' => ''`

Still I'm using phalcon 2.* maybe this problem not exists in phalcon 3 and ne

[2016-12-02 15:37] HanXHX opened #931 "Composer install "Skipped installation of bin phalcon for package phalcon/devtools""
### Actual

[code]

See warning:

[code]

### Expected

No warnings :)

### Details

* `Composer version 1.3-dev (960607afc81ad0a81198527ce2c9fadf998bac03)`
* PHP Version: `PHP 7.0.8-0ubuntu0.16.04.2`
* Operating System: Xubuntu 16.04

[2016-12-02 18:41] sergeyklay commented on #931
I'll fix asap.

Thanks to @nueko

[2016-12-02 18:54] sergeyklay commented on #931
Just release new minor version with bugfix.
Thanks for reporting

[2016-12-02 18:54] #931 closed

[2016-12-04 07:34] #926 closed

[2016-12-06 00:11] Jeckerson commented on #925
What is your version of MySQL? 5.5?

[2016-12-06 00:13] Jeckerson commented on #883
With phalcon-devtools 3.x this approach is useless.

[2016-12-06 00:13] #883 closed

[2016-12-06 00:26] Jeckerson opened #936 "Multi DB Migrations - PDO connection closure unreachable"
It is good that with version 3 came DB support, but there is problem with multi database update. PDO don't close connection so it use the same connection ID.

I was trying to reach current property, but in whole class all methods are private, so even impossible to extend it.
[code]

Unique solution that worked is to comment "return", but it's dirty and unstable while using composer. Also it will s

[2016-12-06 08:27] Michal-St commented on #925
5.6.29

[2016-12-08 10:11] forddyce opened #941 "[RECOMMENDATION] Installation via Git Problem"
Your installation via git says the symbolic link is:

I have a problem with my machine, it says "phalcon: command not found". Even after I added the chmod. I have to add an alias:

Only after then I can use phalcon.
Please add that to your documentation for future reference. My machine is 16.04 Ubuntu.

Thank you.

[2016-12-08 10:20] sergeyklay commented on #941
@forddyce Could you please send a PR with doc improvements?

[2016-12-08 14:06] forddyce commented on #941
@sergeyklay How do you do that?

[2016-12-08 14:24] sergeyklay commented on #941
@forddyce https://github.com/phalcon/phalcon-devtools/blob/master/CONTRIBUTING.md#contributions

[2016-12-09 10:54] HanXHX opened #942 "Ide stub (Security.php) syntax error"
### Actual Behavior

Hi! I detected a nice syntax error :)

[code]

The offending lines are:

[code]

should be:

[code]

### Details

* phalcon/devtools   => v3.0.3

[2016-12-15 16:23] bdimitrov opened #943 "Missing "bootstrap" directory in box.json"
[code]

[2016-12-20 20:03] cottton opened #945 "Phalcon\Mvc\Model very strange setter behaviour if provided multidimensional array"
### Expected and Actual Behavior

Setting up a model with a simple `foreach` ... `$this->{$key} = $value;` overwrites already set fields.
_Totally messes up recursively._

[code]

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)

[code]

* PHP Version: (`php -v`)
PHP 7.0.11

* Operating System:
Ubuntu 14.04

* Server: Nginx | Apache | Other
Nginx

* Other rel

[2016-12-20 20:26] sergeyklay commented on #945
Looks like this is not DevTools issue. Could you please explain

[2016-12-20 21:12] cottton commented on #945
Seems like. Just got a hint ... sorry may bad :)
So i guess this would be the right place ?: https://github.com/phalcon/cphalcon/issues

[2016-12-20 22:51] clholzin commented on #943
same issue

[2016-12-20 23:52] sergeyklay commented on #945
Yes

[2016-12-20 23:52] #945 closed

[2016-12-20 23:52] sergeyklay commented on #943
I'll fix it asap

[2016-12-21 07:18] sergeyklay commented on #942
Fixed in the `3.0.x` branch.

[2016-12-21 07:18] #942 closed

[2016-12-21 07:56] myemuk opened #948 "A lot of additional output in bash after running phalcon"
Hi, when I run phalcon in bash I see:

[code]

Reinstalling devtools doesn't solve the problem.

OS: Kubuntu
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.1 LTS
Release:        16.04
Codename:       xenial

[2016-12-21 21:26] victorwbuzz commented on #664
Sure! If you changed your database for some reason with foreign keys using --force doesnt update the initialize method (belongsTo, hasOne, haMany)

[2016-12-27 15:27] cbichis opened #951 "Phalcon Developer Tools and Validation are incompatible"
Hi,

It seems the model validation generated by PDT is not compatible with the new validation.

More details here:
https://forum.phalconphp.com/discussion/8793/generated-orm-and-validation-is-not-compatible-to-itself

[2016-12-29 00:19] arnoldbird opened #953 "camelCase keys for application config"
In the core/config.php generated by the project command, why are the keys for 'application' array in camelCase, but the keys for the 'database' are all lowercase?

[2016-12-29 11:26] rogervila opened #954 "Remove .php extension from the binary alias"
On `.composer/vendor/bin`, the `phalcon` alias should not have the `.php` extension, so commands can be written like `phalcon project blog simple` instead of ``phalcon.php project blog simple``

### Details

* Phalcon Framework version: 3.0.2
* PHP Version: 7.0.14
* Operating System: OS X El Capitan
* Server: Nginx (with Laravel Valet)

[2017-01-02 12:44] flyingbono commented on #951
I confirm.

[2017-01-03 12:49] sergeyklay commented on #954
as workaround you can create an alias like:
[code]

[2017-01-03 16:37] sergeyklay commented on #943
Fixed in the `3.0.x` branch.

[2017-01-03 16:37] #943 closed

[2017-01-05 13:58] sergeyklay commented on #951
I'll fix it asap

[2017-01-05 17:58] victorhramos opened #956 "Migration - Escapes field and not reverse after run"
I'm trying to use migrations, but got some issues:
- When generate migrations with --data=always the output fields being escaped:
![image](https://cloud.githubusercontent.com/assets/9410768/21691344/56bf14f6-d35f-11e6-9645-a5caba866f3f.png)

It's ok but when i'm running the migration that field stays escaped and after each generation it adds one more escape
![image](https://cloud.githubusercontent

[2017-01-08 17:17] rogervila opened #957 "Implement Phalcon router file"
It would be nice to have a [router file](https://docs.phalconphp.com/en/latest/reference/routing.html) by default.

If you agree, I can make a PR. I'm not sure which path is the most appropiated, but could be something like `app/config/routes.php`.

The should not have predefined routes. The file would look like this:

[code]

What do you think?

[2017-01-08 17:19] rogervila commented on #954
@sergeyklay yes, that's a way to solve it, thank you very much.

Anyway, reducing the amount of deployment steps always helps IMO.

[2017-01-08 18:00] sergeyklay commented on #957
@rogervila Could you please send PR?

[2017-01-08 18:09] rogervila commented on #957
@sergeyklay yes. Which is the best location for the router file?

[2017-01-08 18:52] sergeyklay commented on #957
`app/config/routes.php` :)
why not?

[2017-01-09 09:48] rogervila commented on #957
Now that [the pull request is merged](https://github.com/phalcon/phalcon-devtools/pull/958) I can close the issue.

[2017-01-09 09:48] #957 closed

[2017-01-09 22:06] sergeyklay commented on #941
Fixed in the `3.0.x` branch.

[2017-01-09 22:06] #941 closed

[2017-01-11 05:16] mzf opened #960 "ERROR: The environment variable PTOOLSPATH is outdated!"
Devtools install from composer
[code]

get error when run `phalcon` in work dir

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version:3.0.3
* PHP Version: 7.0.14
* Operating System: Win7
* Server: Nginx

[2017-01-11 07:09] sergeyklay commented on #960
This tells you that you have an outdated value of a `PTOOLSPATH` variable. See `echo $PTOOLSPATH`. You have to update `PTOOLSPATH` variable as follows:
[code]

or something like that.

[2017-01-11 07:09] #960 closed

[2017-01-11 19:55] alaagnt commented on #884
for windows, this is the correct syntaxe ! it works :

set PTOOLSPATH=C:\phalcon-tools\
php %PTOOLSPATH%phalcon.php %*

[2017-01-18 04:33] kuange opened #961 "sorry, i can not find webtools.js and webtools.css"
when i use webtools ....
[code]

[2017-01-18 04:34] kuange commented on #961
@larryli @niterain @josegonzalez @nexik @kenjis  help

[2017-01-18 06:15] sergeyklay commented on #961
First of all you have to enable devtools. This command will copy some files to your project. Then, after start using devtools some files will be available automatically https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Mvc/Controller/Base.php#L71

[2017-01-18 07:44] kuange commented on #961
yes, i did, but no files yet, show my code @sergeyklay
[code]

[2017-01-18 08:51] sergeyklay commented on #961
Now you have to open webtools via web browser to force creating css file on disk

[2017-01-18 09:01] kuange commented on #961
@sergeyklay thinks, the public folder should have write permissions

[2017-01-18 09:01] #961 closed

[2017-01-18 09:03] olliefx opened #962 "Error: Phalcon extension isn't installed. (Phalcon 3 - PHP 7 - Centos 7)"
While trying to install Phalcon Dev Tools I receive the error:
Error: Phalcon extension isn't installed.
I am running (Phalcon 3 - PHP 7 - Centos 7).

When I check to see if the extension is installed it is clear that it is not installed as it is not seen under the php info page. (viewing the php info. http://localhost/info.php). I also checked what extensions are running using ( php -m ) and list

[2017-01-18 15:07] sergeyklay commented on #962
This is install issue/question related to the Phalcon, not to the Devtools.
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the Phalcon framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-01-18 15:07] #962 closed

[2017-01-22 09:46] AstmDesign opened #965 "installation issue `"identifier (T_STRING)"' or `"variable (T_VARIABLE)"' or `'{'' or `'$''"
Dear All,
I'm trying to install the Phalcon command on my Mac OSX 10.9.4, After run the  commands

[code]

and when I typing the command ` $Phalcon`  I'm usually got this issue on the terminal

`Parse error: parse error, expecting `"identifier (T_STRING)"' or `"variable (T_VARIABLE)"' or `'{'' or `'$'' in /Users/astm/phalcon-devtools/phalcon.php on line 53
`

BTW, I'm using PHP Version 5.6.7 and I

[2017-01-22 19:32] sergeyklay commented on #965
Dear Abd El Sameia Talaat,

First of all I need to notice the phrases:

What exactly do you need to do? To install **Phalcon Framework** or **Developer Tools**? Note: the command `git clone https://github.com/phalcon/phalcon-devtools.git` will clone Developer Tools not Phalcon Framework.

There is no `$Phalcon` command. After installing Developer Tools you will be able to use "`/usr/bin/phalcon`”

[2017-01-23 12:20] shareil23 opened #966 "phalcon dev tools permission denied"
i have install phalcon devtools, but when i try phalcon --help the result always like this

[code]

when i use sudo the result like this
[code]

[2017-01-23 15:19] AstmDesign commented on #965
Hi @sergeyklay,
First I would like to thank you for replaying me and let me discripe to you what I mean
I'm usually got this error with the phalcon devtools if I tried to run it for example if I want to create new Phalcon application and tried to type in my terminal this command

`$ phalcon create-project my_app_name `

it's alert me

`Parse error: parse error, expecting `"identifier (T_STRING)"'

[2017-01-23 16:00] sergeyklay commented on #965
Provide please PHP version

[2017-01-23 16:18] Green-Cat commented on #965
Is your phalcon dev tools version matching your phalcon version?

[2017-01-23 16:35] AstmDesign commented on #965
@sergeyklay my PHP Version is: 5.6.7 and my Phalcon version is 3.0.0

[2017-01-23 19:23] sergeyklay commented on #966
Phalcon extension isn't installed, follow these instructions to install it: https://docs.phalconphp.com/en/latest/reference/install.html

[2017-01-23 19:23] #966 closed

[2017-01-23 19:25] sergeyklay commented on #965
@AstmDesign Could you please provide output from:

`/usr/bin/phalcon info `

[2017-01-24 08:33] AstmDesign commented on #965
@sergeyklay  when I'm typing the command `/usr/bin/phalcon info` I get the same error

`Parse error: parse error, expecting `"identifier (T_STRING)"' or `"variable (T_VARIABLE)"' or `'{'' or `'$'' in /Users/astm/phalcon-devtools/phalcon.php on line 53`

[2017-01-24 10:14] sergeyklay commented on #965
Could you please provide output of:
[code]

and

[code]

and

[code]

[2017-01-24 14:25] AstmDesign commented on #965
@sergeyklay
[code]

[code]

[code]

[2017-01-24 16:13] sergeyklay commented on #965
We don't support PHP 5.4

You have to install Phalcon extension

[2017-01-24 16:13] #965 closed

[2017-01-25 10:58] Bobyblanco opened #968 "Problem installing devtools on mac osx"
After some troubles with the phalcon installation, this part is now done and seems to work perfectly
Now I am working on the devtools installation. I am going to explain step by step what i have done:

As the documentation say:
First, i created a folder Phalcon in my documents, from here with the terminal i execute this commande:
`git clone git://github.com/phalcon/phalcon-devtools.git`

This crea

[2017-01-31 07:52] engsere opened #971 "Micro Template issue in notFound declaration"
### Expected and Actual Behavior

using in cli `phalcon project example --type=micro`
devtools correctly create project.
when i type in browser `example.com` it work fine, but when i type `exmaple.com/foo-bar-404-route` i have exception

Default declaration in app.php

[code]
Correctly declaration in app.php

[code]

### Versions:
  Phalcon DevTools Version: 3.0.4
  Phalcon Version: 3.0.3
* Operat

[2017-01-31 15:06] jrcscarrillo commented on #872
Good morning,
I have experienced a similar behavior. But with the webtools.css and webtools.js file and I got a 404 not found error. Would you please give me a hand with that.
I am using phalcon-devtools v3.0.4 in a windows 10 laptop, apache 2.4.23 and php  5.6.25
Thank you in advance.

[2017-01-31 15:42] sergeyklay commented on #872
@jrcscarrillo https://github.com/phalcon/phalcon-devtools/issues/961

[2017-01-31 22:15] Nomadzy opened #972 "The project --name option is ignored"
The project --name provided is ignored every time, creates project named "1" instead.
[code]
Can be misleading for beginners as the command line help says :

[code]

* Sysinfo : Phalcon 3.0.3 Devtools 3.0.4 PHP 7.0.13 Ubuntu 16.04.1 x86-64

[2017-02-07 14:03] VijayTanikella opened #973 "phalcon create-controller --name="hep" --directory="app\frontend\controllers" Phalcon DevTools (3.0.2) **Error: This command should be invoked inside a Phalcon project directory.**"
phalcon create-controller --name="hep" --directory="app\frontend\controllers"

Phalcon DevTools (3.0.2)

**Error: This command should be invoked inside a Phalcon project directory.**

shows up.

Details
I am in the project directory and I want the controller to create in app\frontend\controllers.
Phalcon version: (php --ri phalcon)
phalcon => enabled
Author => Phalcon Team and contributors
Version

[2017-02-07 15:25] sergeyklay commented on #973
You have to use this command inside a Phalcon project directory.

* https://forum.phalconphp.com/discussion/1143/error-this-command-should-be-invoked-inside-a-phalcon-project-di

[2017-02-07 17:10] VijayTanikella commented on #973
Thanks for the link.
But,  Before I posted, I read through the forum and I have .phalcon folder  already existing. But it did not help. So, I posted this issue for a solution from the team.
I also had updated the phalcon dll before posting for help.

To clarify again, I am in the project directory.
Am I missing anything inadvertently ?

[2017-02-08 09:35] duchao1990 opened #974 "windows phalcon commands"
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

ERROR: The environment variable PTOOLSPATH is outdated! Current value: "D:\phalcon-devtools\\". New v

[2017-02-08 09:52] sergeyklay commented on #974
As described in error message you have to modify `PTOOLSPATH` environment variable  from `D:\phalcon-devtools\` to `D:\phalcon-devtools`

[2017-02-08 09:52] #974 closed

[2017-02-09 00:49] vladimirprieto opened #975 "ERROR: Phalcon extension isn't installed"
### Expected and Actual Behavior

error came up after running ./phalcon.sh

[code]

from this:

[code]

to this

[code]

### Details

* Phalcon Framework version: 3.0.3
* PHP Version: 5.5 && 5.6 && 7.0 && 7.1  <<<<----here is the problem!
* Operating System: ubuntu 16.10
* Server: Nginx

the problem is that i only install Phalcon on PHP 7.0.  so, php (that point to 7.1) not recognize phalcon.

sug

[2017-02-09 01:04] vladimirprieto commented on #975
same goes to phalcon.php

change this
[code]

to this

[code]

[2017-02-09 07:20] sergeyklay commented on #975
Instead of this you can create symlink from `php7.0` to the `php`. Isn't it?

[2017-02-09 10:45] vladimirprieto commented on #975
that would fix **this** problem, but will create others: i have those versions of PHP but my main PHP line is 5.6.  another one: Ubuntu by default put 7.1.

i think the correct way would be what i said.

[2017-02-09 10:49] vladimirprieto commented on #975
i got another problem here and i think is what i did to get this working:

as a user, i get this:

[code]

as root, got no problems.  i check permissions on symlink /usr/bin/phalcon and is 777.  i also check the downloaded scripts wich point that symlink and is 755.  so don't now what to do to fix that.

[2017-02-09 15:59] advcha opened #976 "Cannot create model via devtools but can create controller"
I can create controller via the devtools (and webtools) but I can't create model. Here is the command:
[code]
The result:
[code]

I also can't do it via webtools. I fill the form like the table name and click 'Generate'. The weird thing happened. it said 'Models were created successfully' but I see nothing.

I also found the url for the webtools is a bit weird (it's working though). when I opened

[2017-02-11 21:13] xX-VGER-Xx opened #977 "Devtools file permissions"
[WARNING] E_WARNING: Phalcon\Assets\Manager::output(js/webtools-ie.js): failed to open stream: Permission denied in /var/www/test/cache/Phalcon_Web_Tools_Views_layouts_webtools.php on line 18
[WARNING] E_WARNING: Phalcon\Assets\Manager::output(css/webtools.css): failed to open stream: Permission denied in /var/www/test/cache/Phalcon_Web_Tools_Views_layouts_webtools.php on line 20
[WARNING] E_WARNI

[2017-02-12 17:51] WebworkStudios commented on #976
Same problem.

[2017-02-14 10:55] cottton opened #979 "\Phalcon\Builder\Options usage of constant "key""
I think this is a typo: https://github.com/phalcon/phalcon-devtools/blob/3.0.x/scripts/Phalcon/Builder/Options.php#L55

    public function has($key)
    {
        return (isset($this->key) || array_key_exists($key, $this->toArray()));
    }

`$this->key` should be `$this->$key`.
I also would suggest using `$this->{$key}`. We then would have seen an fatal error at typo `$this->{key}` like `undefin

[2017-02-14 13:01] sergeyklay commented on #979
Fixed in the `3.0.x` branch. Thanks

[2017-02-14 13:01] #979 closed

[2017-02-16 16:05] Jurigag opened #980 "[NFR]Configuration file"
I would like to see some option to have configuration file for phalcon devtools which could be read. Maybe something like
`devtools.json` or `phalcon.json` or something like this in project root where we can configure all options for all commands so for example:
[code]

Running just `phalcon migration generate` will have same effect as
`phalcon migration generate --config=App/Config/db.ini --migra

[2017-02-16 18:22] rudiservo commented on #936
Solution on #981 maybe simpler, just change type to protected so it can be extended

Another way would be to have a resetConnection function that would simply put $_storage = null;

[2017-02-16 21:44] #936 closed

[2017-02-16 21:57] Jurigag commented on #980
It's not only about migrations, this was just example, i would like to see setting it for any command.

[2017-02-18 21:38] Chuvisco88 commented on #973
Same problem here. I have a `.phalcon` directory in my project and I get the error when using `--name` and `--directory`.
Interestingly when I don't use double dashes I get `Error: Please specify a controller directory.`

[2017-02-21 15:06] kaioken opened #982 "Getting connection gone away"
### Expected and Actual Behavior

Running this command
phalcon model company  --namespace="Incursio\Models" --extends="Baka"

Warning: PDO::query(): Error reading result set's header in /root/vendor/phalcon/devtools/scripts/Phalcon/Builder/Model.php on line 243
ERROR: SQLSTATE[HY000]: General error: 2006 MySQL server has gone away

[code]

### Details

* System info and versions (if possible): (`p

[2017-02-24 13:57] #977 closed

[2017-03-02 21:31] DannyVin commented on #976
+1.
![02-03-2017 23-16-38](https://cloud.githubusercontent.com/assets/12594208/23527434/985e6a40-ff9e-11e6-8021-abba7e3a3550.jpg)

Configured server with PuPHPet.

app/config/config.php
[code]

`http://localhost/works/phalcon/store/public/webtools.php/webtools.php/webtools.php/webtools.php/webtools.php?_url=/controllers/list.`
Change 'baseUri' to '/' . This may disable adding "/webtools.php/" in e

[2017-03-03 02:41] advcha commented on #976
Hi @DannyVin, I can't change 'baseUri' to your suggestion. It dont work. Here is my app/config/config.php

[code]
If I change it, the url would be like http://localhost/webtools.php?_url=/models. It dont work. the url should be like http://localhost/works/phalcon/store/public/webtools.php?_url=/models

[2017-03-03 08:59] wmathes opened #987 "phalcon.bat sets wrong PTOOLSPATH"
Just a quick find after updating to current master. I haven't updated probably since 3.0.2 so i can't pinpoint the origin quickly (it's friday after all... :P)

### Expected and Actual Behavior

On windows (aka using the phalcon.bat) will always result in
`ERROR: The environment variable PTOOLSPATH is outdated! Current value: "<path with extra slash>".`

### Details

Environment::
  OS: Windows NT

[2017-03-03 09:07] DannyVin commented on #976
Hi @advcha ,  it's another bug of webtools. I have multiplies url when create project in subfolder of app. "www.app.dev/projectname/" . In Vagrant, I removed folder "app" and create phalcon project with name "app", then changed setting 'baseUri' to '/' .
I really hope that bugs with models and uri fixed soon.
P.S: Sometimes i have webtools without css or with error 403. I'm killed so many time to

[2017-03-03 09:22] wmathes commented on #595
How about adding wildcard support?

`phalcon migration generate --table=users*`

[2017-03-03 10:00] #775 closed

[2017-03-06 15:10] marcelloh opened #988 "migration batchInsert can't handle NULL in .dat files"
if we use a .dat file with null values, like this:
1,1,superadmin,"First name Last name",email@test.com,,NULL,NULL
the NULL's are imported as strings and become "NULL"

this is wrong.

### Expected Behavior
Have one record in the database with 2 columns with a NULL value

### Workaround
We have a self written batchInsert that is almost the same, except for the value part:
[code]
### output
INSERT

[2017-03-08 11:21] le51 commented on #976
Hi,

for advcha, regarding your urls problems:

* first be sure that you've got .htaccess files in works/phalcon/store and in works/phalcon/store/public
* set baseUri and staticUri to /works/phalcon/store/

[2017-03-08 14:45] advcha commented on #976
Hi @le51, Thanks for the suggestion. It's working. the url problem is fixed. Here is my final app/config/config.php
[code]
Actually the baseUri and staticUri values are not exactly same. To make it work, I removed the last forward slash (/) for baseUri.

[2017-03-16 14:47] alisovpv opened #990 "SQLSTATE[08006] [7] invalid connection option "charset" - PostgreSQL"
### SQLSTATE[08006] [7] invalid connection option "charset" - PostgreSQL

[code]

[code]

[code]

[code]
DB encoding - UTF-8, Collate - ru_RU.UTF-8, Ctype - ru_RU.UTF-8
I tried without Phalcon to run the code, everything worked fine
[code]
### Details

* Phalcon Framework version: 3.0.0
* PHP Version: 7.0.16
* Operating System: Ubuntu 14.04
* Server: Nginx
* Other related info (Database, table sch

[2017-03-17 18:17] AnatolyAstapov opened #992 "phalcon migration generate reference onDelete &onUpdate empty in postgresql"
Hello, have a problem:
run command for generate migration:
`phalcon migration generate`

in all table files empty reference on update and on delete.

result example:
[code]

its really onUpdate -> 'NO ACTION'
onDelete -> 'CASCADE'

i in manual set in all files correct reference,
after "phalcon migration run" - all reference set in correctly, but if generate new migration, reference reset again. (f

[2017-03-18 08:45] sergeyklay commented on #990
I'll try to sort out as soon as I can

[2017-03-18 08:47] sergeyklay commented on #976
Cc: @dschissler

[2017-03-18 08:48] sergeyklay commented on #987
@wmathes Could you please send PR to the 3.1.x branch?

[2017-03-18 22:29] dschissler commented on #976
It would be my sacred honor to fix this bug.  Just give me several days to start it.

[2017-03-21 22:20] DannyVin commented on #976
@dschissler that will be great!

[2017-03-21 22:28] dschissler commented on #976
I'm squashing bugs today and I'll have a few minutes to start this today but I'll need to play in another VM that I haven't used in a while.

[2017-03-21 22:51] dschissler commented on #976
I'm first going to fix the baseUri issue with web tools since I was the one who mucked that up.  Then I'll see about the models creation.

[2017-03-22 06:01] dschissler commented on #976
@sergeyklay I'm not really sure but I think that `public/css` is not being filled with the CSS files when the web tools option is enabled.  I've gone back and forth between looking for the CSS files to be provided by something related to the route and a dynamic PHP interaction and looking for the files to be created during web tools enabling on the command line but I cannot find proof about how it

[2017-03-23 12:52] Jurigag commented on #980
Well created PR with it.

[2017-03-23 13:21] Jurigag commented on #953
I think zephir on some point is adding properties to Config object as camelcased anyway. There will be no difference if using lowercase with dashes or camelCase.

[2017-03-24 15:10] Jurigag opened #998 "[NFR]Psr Option"
Add `--psr` option, which will cause to get namespace, check path according to PSR rules and create controller/model class in provided path if exists, if not maybe just create?

[2017-03-24 16:20] Jurigag commented on #998
Well it's also could be added to models/controllers etc stuff.

[2017-03-24 16:35] #980 closed

[2017-03-24 16:35] Jurigag commented on #980
Implemented in 3.1.x

[2017-03-24 20:39] SimBioT1954 opened #1000 "Issue with model --force"
Hello!
 @sergeyklay

https://forum.phalconphp.com/discussion/15747/phalcon-devtools-issue

**Relies.php**
[code]

With command **phalcon model replies --namespace=MyProject\Models --force**

I'm getting an error:

[code]

So I'm not able to update my models!

It happens to me on localhost Windows and Ubuntu 16.04

I know this error occured only if existing model extends BaseModel.

Also I've notic

[2017-03-30 09:30] alisovpv commented on #990
Не дождался решения от вас, решил попробовать на рабочей машине, конфиг тот же, единственное изменение это
Phalcon DevTools Version	3.1.0
Phalcon Version	3.1.1
но теперь вместо ошибки просто белый экран. Вобщем какая то беда со связкой Phalcon + PostgreSQL

[2017-03-30 10:03] alisovpv commented on #990
В версии 3.1.1 проблема решилась удалением конфига 'charset', без него все работает, в 3.0.0 этот фокус не проходит. Проблема решена, топик можно закрывать.

[2017-03-30 10:40] #990 closed

[2017-03-31 14:47] winminsoe opened #1001 "Got Notice Error when try to run shell script"
### Expected and Actual Behavior

Following this document https://docs.phalconphp.com/en/3.0.2/reference/mactools.html
[code]

### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* Phalcon Framework version: (`php --ri phalcon`)

[code]
* PHP Version: (`php -v`)
[code]
* Operating System: Mac
* Server: Nginx | Apache | Other - Apache
* Other related info (Database, table

[2017-04-01 14:34] trulave opened #1002 "PostgreSQL migration rollback fail"
Hi! I want to rollback my database to older version with command:
[code]
So after that it fails with error:
[code]
I was storage my migration history in database. Delete migration [here is](https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Migrations.php#L541) in master branch. But I think there is a syntax error, cause PostgeSQL [doesn't allow limits in delete syntax](https:

[2017-04-01 22:11] sergeyklay commented on #1001
Fixed in the `3.1.x` branch. Thanks

[2017-04-01 22:11] #1001 closed

[2017-04-01 22:34] sergeyklay commented on #990
https://github.com/phalcon/phalcon-devtools#database-adapter

[2017-04-04 22:08] dschissler commented on #976
@sergeyklay Hey so I think that the webtools CSS is not being generated.  Either that or the bundle is built on each execution but then I don't see any routes for that.

[2017-04-05 10:22] sergeyklay commented on #976
I'll take a look asap

[2017-04-05 15:25] fenixphp commented on #884
Windows 10  (DevTools 3.1.1)

[code]

In the file "phalcon.bat" need to change ``` set PTOOLSPATH="%~dp0\" ``` to  ``` set PTOOLSPATH=%~dp0 ```

[2017-04-05 15:37] sergeyklay commented on #884
@fenixphp Could you please submit PR?

[2017-04-05 16:02] fenixphp commented on #884
@sergeyklay Maybe I'm doing something wrong but in all cases I get the answer "you do not have permission".

![image](https://cloud.githubusercontent.com/assets/3776512/24714837/515a894a-1a32-11e7-8806-6d6cec623c1a.png)

[2017-04-06 12:01] marcelloh commented on #1002
same effect here. The thing is, that the limit should never be there in the first place, since 'it' wants to delete a version (which should be unique) and that deleting all version 1.0.5 is just as good as deleting the first occurrence of version 1.0.5.

[2017-04-08 18:53] febriyan1302 opened #1006 "Error: Constant COMPATIBLE_VERSION already defined"
Please how to solve this error ?

### Error phalcon devtools :

[code]

### Details

* Phalcon Framework version: 3.1.2
* PHP Version: PHP 5.6.30
* Operating System: CentOS
* Server: Nginx

[2017-04-08 20:44] sergeyklay commented on #1006
@febriyan1302 Could you please provide steps to reproduce?

[2017-04-09 13:02] selden1992 commented on #1006
me too

[2017-04-10 07:39] febriyan1302 commented on #1006
Hi @sergeyklay , i don't know what happen, but today when i try to call #phalcon it works perfectly, btw thanks for your response.

![screen shot 2017-04-10 at 2 37 24 pm](https://cloud.githubusercontent.com/assets/18423871/24850756/77f834c2-1dfb-11e7-9e6b-777870b77a87.png)

[2017-04-11 02:12] lansn opened #1007 "404error: http://localhost/js/webtools.js?v=3.1.2 http://localhost/css/webtools.css?v=3.1.2"
### Expected and Actual Behavior

I use `phalcon.bat project learn --enable-webtools`, after the base url is `localhost/learn`, but url http://localhost/learn/webtools layout http://localhost/js/webtools.js?v=3.1.2 http://localhost/css/webtools.css?v=3.1.2  show 404 error, the css and js url wrong

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version:

[2017-04-11 07:14] qjacquet commented on #1006
Hi !
Have the same issue here, but `#phalcon` not works.

### Details
- Phalcon Framework version: 3.1.2
- PHP Version: PHP 7.1
- Operating System: Windows 7
- Server: Apache

[2017-04-11 08:46] sergeyklay commented on #1006
I'll try to sort out ASAP.

[2017-04-11 18:45] sergeyklay commented on #1006
Fixed in the 3.2.x branch.

Cc: @Jurigag

[2017-04-11 18:45] #1006 closed

[2017-04-12 09:19] someson commented on #951
ping! The BUG is getting pesky

[2017-04-12 19:42] Kachit opened #1008 "Remove ide stubs from devtools"
Remove ide stubs from devtools for fix multiple autocompletion problem in IDE (use https://github.com/phalcon/ide-stubs)

[2017-04-12 20:19] sergeyklay commented on #1008
Fixed in the `3.2.x` branch.

[2017-04-12 20:19] #1008 closed

[2017-04-14 12:30] limingxinleo commented on #1000
you can command like --namespace=MyProject\\Models

[2017-04-14 12:30] limingxinleo commented on #1000
@dreamsxin 您好，又打扰到您，我这里也存在这个问题

[2017-04-14 13:10] limingxinleo commented on #1000
@SimBioT1954
hello, you can change your config.ini .
`
[devtools]
loader         = "app/models/Model.php"
`
[my phalcon project](https://github.com/limingxinleo/simple-subcontrollers.phalcon)

[2017-04-14 16:16] dreamsxin commented on #1000
不能加载？@limingxinleo

[2017-04-14 22:06] limingxinleo commented on #1000
可以加载了，但是需要在config.ini里主动把文件写进来。@dreamsxin

[2017-04-14 23:33] limingxinleo opened #1009 "Th class library will be deleted when the model is enforced created"
### Details
* The model
[code]
When I enforced created the model by devtools. My library will be deleted.
* The result
[code]

Environment::

  OS: Darwin MacBook-Pro.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64
  PHP Version: 7.0.17
  PHP SAPI: cli
  PHP Bin: /usr/local/Cellar/php70/7.0.17_9/bin/php
  PHP Extension Dir: /usr/l

[2017-04-18 13:10] marvasDE opened #1011 "PHP Fatal error: Maximum recursion depth exceeded"
### Expected and Actual Behavior

I just run "phalcon" and it outputs:

"Phalcon DevTools (3.1.0)

#!/usr/bin/env php
PHP Notice:  Constant COMPATIBLE_VERSION already defined in /../phalcon-devtools/bootstrap/autoload.php on line 106"

... in a loop. At the end it terminates with:
'PHP Fatal error:  Maximum recursion depth exceeded in /../phalcon-devtools/bootstrap/autoload.php on line 115'

I clo

[2017-04-18 13:42] sergeyklay commented on #1011
Fixed in 3.2.x branch.

[2017-04-18 13:42] #1011 closed

[2017-04-18 13:43] sergeyklay commented on #1011
Cc: @Jurigag

[2017-04-18 17:43] n0nag0n opened #1012 "Webtools on PHP Built in Server Gives 404 error"
Hey,

I can't seem to get webtools working for me. I'm using Phalcon 3.1.2, Devtools 3.1.2, on macOS Sierra using PHP 7.1.4.

I'm trying to get it working using PHP's built in webserver and I think it's working, but something inside webtools itself isn't working....

So I used this to see if I could get it working... https://docs.phalconphp.com/en/3.0.1/reference/built-in.html

And I get this
![sc

[2017-04-20 06:59] sergeyklay commented on #1012
I'll try to sort out as soon as possible

[2017-04-21 09:26] mzf commented on #951
+1 not fixed yet in 3.1.1

[2017-04-21 10:49] sergeyklay commented on #951
Fixed in the 3.2.x branch

[2017-04-21 10:49] #951 closed

[2017-04-22 12:10] lydbupt opened #1015 "error in running install script"
### Expected and Actual Behavior

Following the instruction, I run ". ./phalcon.sh" in my phalcon-devtools dir, but I got an error as follow.
"init:3: = not found"
Seems the script tried to run in runlevel 3, but not success.

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System: Ubunt

[2017-04-28 04:20] Lanhuabao opened #1016 "I got an error when installing devtools"
I do all the step as what the docs say, finally when I use the phalcon script ,it thrown an error like this:

Constant COMPATIBLE_VERSION already defined in /soft/devtool/bootstrap/autoload.php on line 106
PHP Fatal error:  Maximum recursion depth exceeded in /soft/devtool/bootstrap/autoload.php on line 115

My OS is ubuntu 16.04.   PHP VERSION 7.0.12

[2017-04-28 23:53] arthurcn opened #1019 "Generating annotation by using table column's comment"
expectant future:

**Terminal:**

`phalcon model user --doc`

auto-generate summary for class and property.

**e.g.**

**table's schema:**

[code]

**auto-generated model class file:**

[code]

[2017-04-30 21:12] WebworkStudios opened #1020 "Blank page for modules with INI usage"
When I start a modulating project with INI-Config, there is a white page.
It works with Array Config. (You're now flying with Phalcon.)

Am I perhaps just too stupid? :)

[2017-04-30 21:13] sergeyklay commented on #1007
@lansn Actually we need more info to reproduce the issue. I don't have Windows, so I want to ask you to do this test:

1. Create a project
2. Then enable WebTools by using `phalcon.bat webtools enable`

Is this workaround works?

[2017-04-30 21:19] sergeyklay commented on #1007
Also, as I remember @dschissler has changed the templates to use non-standard `baseUri`. In fact, since he did that I constantly hear about problems with this. Could you play just for test with `baseUri` (see application config).

[2017-04-30 21:21] sergeyklay commented on #1016
@Lanhuabao Fixed in 3.2.x branch

Cc: @Jurigag

[2017-04-30 21:21] #1016 closed

[2017-04-30 21:21] sergeyklay commented on #1016
Refs: https://github.com/phalcon/phalcon-devtools/issues/1006, https://github.com/phalcon/phalcon-devtools/issues/1011

[2017-04-30 21:25] sergeyklay commented on #1015
Could you please provide more info: Devtools version, PHP version, installation method (git, composer), etc.

Thanks

[2017-04-30 21:27] sergeyklay commented on #1012
@n0nag0n  You have to configure `PTOOLS_IP` constant. See `public/webtools.config.php`.

[2017-04-30 21:27] #1012 closed

[2017-04-30 21:30] sergeyklay commented on #1020
@WebworkStudios Could you please provide a bit more info to reproduce the issue? I mean minimal script to reproduce, PHP & DevTools version , OS, configuration, etc.

Thanks.

[2017-04-30 21:42] sergeyklay commented on #1019
This is not DevTools issue.

Phalcon does not support column's comment. You can open new feature request in [Phalcon repo](https://github.com/phalcon/cphalcon).

[2017-04-30 21:46] #1019 closed

[2017-04-30 21:51] sergeyklay commented on #987
Fixed, thank you

[2017-04-30 21:51] #987 closed

[2017-04-30 21:53] #975 closed

[2017-04-30 21:54] sergeyklay commented on #834
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-04-30 21:54] #834 closed

[2017-04-30 21:57] sergeyklay commented on #836
This is not DevTools issue. For Phalcon related issues use the [phalcon/cphalcon](https://github.com/phalcon/phalcon-devtools).

[2017-04-30 21:57] #836 closed

[2017-04-30 23:48] dschissler commented on #1007
@sergeyklay I was attempting to fix that but the latest webtools didn't seem to generate the CSS and I could not find some special routing for it.  This was stated in the other issue.  I believe that there is more than one issue here.

[2017-05-01 10:42] WebworkStudios commented on #1020
On the scripts I had nothing changed.
Command: phalcon project kickerscup --type = modules --enable-webtools --use-config-ini
**Environment**
-   OS: macOS Sierra
-   Server: Nginx (with MAMP)
-   PHP SAPI: cli
-   PHP Bin: /Applications/MAMP/bin/php/php7.1.3/bin/php
-   PHP Extension Dir: /Applications/MAMP/bin/php/php7.1.3/lib/php/extensions/no-debug-non-zts-20160303
-   PHP Bin Dir: /Applicatio

[2017-05-01 12:50] sergeyklay commented on #1020
I'll try to sort out

[2017-05-02 10:39] valorize commented on #704
I'm quite confused why this is not a bug in devtools??? If I run `migration generate` I would assume that the script itself created the `DOUBLE` or `DOUBLE(M, D)` for me.

[2017-05-04 22:24] sergeyklay commented on #1020
Fixed in the 3.2.x branch

[2017-05-04 22:24] #1020 closed

[2017-05-04 22:25] sergeyklay commented on #1015
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-05-04 22:25] #1015 closed

[2017-05-06 18:33] shijij commented on #1006
Just happened today.

To fix this, checkout the 3.2.x branch.

`git checkout 3.2.x`

[2017-05-09 15:40] n0nag0n commented on #1012
No luck with changing the IP to anything else. localhost, 127.0.0.1, 127, my home public IP, nothing makes it want to work. I did a `var_dump($_SERVER['REMOTE_ADDR'])` and it printed out `string '::1'`, IPv6 style. Maybe it's not configured to handle IPv6?

![image](https://cloud.githubusercontent.com/assets/2322095/25859356/236fcc5e-3493-11e7-93f3-f0788b835e62.png)

[2017-05-09 22:51] sergeyklay commented on #1012
You have to use 192.168.xxx.xxx, not 127.0.0.1.

Addresses lying in range of `127.0.0.0` to `127.255.255.255` are **Class A** addresses and are reserved for [Loopback](http://en.wikipedia.org/wiki/Loopback) functionality, data sent to Class A address only reach till Network layer, and is used for testing and experimentation. Whereas 192 series (i.e `192.0.0.0` to `223.255.255.255`) represents **Cl

[2017-05-09 22:58] n0nag0n commented on #1012
`defined('PTOOLS_IP') || define('PTOOLS_IP', '192.168.'); // also 192.` still gives me a 404 error. Here is the output from the php webserver
[code]

Here's the view from Chrome devtools.
![image](https://cloud.githubusercontent.com/assets/2322095/25876128/1af18e40-34d0-11e7-9f25-ae91d9451fe8.png)

[2017-05-09 23:03] sergeyklay commented on #1012
Did you check your real IP? (for example by using `ifconfig`/`ipconfig`)

[2017-05-09 23:12] n0nag0n commented on #1012
So my IP is actually 10.1.10.*, but I tried that and it didn't work, I even tried 10. with no luck either. :(

[2017-05-10 06:22] sergeyklay commented on #1012
Could you please paste full output of `ifconfig`/`ipconfig`

[2017-05-14 06:56] sunchuo opened #1021 "Phalcon\Mvc\Url Generate url"
[code]

### Details

Phalcon DevTools (3.2.0 ALPHA 1)

Environment:
  OS: Linux localhost.localdomain 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64
  PHP Version: 7.1.4
  PHP SAPI: cli
  PHP Bin: /usr/local/php/bin/php
  PHP Extension Dir: /usr/local/php/lib/php/extensions/no-debug-non-zts-20160303
  PHP Bin Dir: /usr/local/php/bin
  Loaded PHP config: /usr/local/php/etc/ph

[2017-05-14 07:09] #1021 closed

[2017-05-16 21:12] fanchyfanch commented on #1007
Up. :-D

[2017-05-30 08:11] sergeyklay commented on #973
Actually you have to use `--output`, not `--directory`. Please double check the help.

[2017-05-30 08:11] #973 closed

[2017-05-31 08:56] sergeyklay commented on #1007
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-05-31 08:56] #1007 closed

[2017-06-01 01:55] dschissler commented on #1007
Thanks @sergeysviridenko.  Now the Phalcon team will need to work a bit harder to be able to blame me.

[2017-06-01 05:09] sergeyklay commented on #1000
This is fixed in the 3.2.x branch.

[2017-06-01 05:10] sergeyklay commented on #1000
Regarding not found model see: https://github.com/phalcon/phalcon-devtools/issues/571

[2017-06-01 05:10] #1000 closed

[2017-06-03 18:36] nastasache opened #1025 "Project name and namespaces regexp issue"
When try to create a modules type project, the project name is restricted by namespaces validator.
For example:
$ phalcon project --name www.mysite.com --type=modules
Error: Invalid namespace syntax!

Phalcon  3.1.2, PHP 7, Linux, Apache

[2017-06-03 19:03] sergeyklay commented on #1025
Actually it is not bug. Phalcon Devtools uses `--name` to create namespace.

[2017-06-03 19:03] #1025 closed

[2017-06-08 09:15] sergeysviridenko commented on #833
I couldn't reproduce it.

[2017-06-08 09:18] sergeyklay commented on #833
Can't reproduce. I want to close this issue because I don't want a bunch of these lying around.
I'm closing since this is a not a bug report. Feel free to discuss on the [official forums](https://forum.phalconphp.com), and/or the internals repo.

[2017-06-08 09:18] #833 closed

[2017-06-08 14:37] sergeyklay commented on #694
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-08 14:37] #694 closed

[2017-06-08 19:48] sasa-b commented on #273
I get this error in multi module applications, using Phalcon 3? I can't find anything on the internet for my specific use case.

[2017-06-08 19:57] sergeyklay commented on #273
Did you used the 3.2.x branch?

[2017-06-08 20:53] sasa-b commented on #273
No I used the 3.1.2, but I tried the 3.2.0 ALPHA 1 still does not work.

This is my config
` 'application' => [
        'appDir'         => APP_PATH. '/',
        'migrationsDir'  => APP_PATH. '/migrations/',
        'pluginsDir'     => APP_PATH. '/plugins/',
        'modelsDir'      => APP_PATH. '/Models/',
        'libraryDir'     => APP_PATH. '/Library/',
        'cacheDir'       => BASE_PATH .

[2017-06-08 20:54] sergeyklay commented on #273
@sergeysviridenko Could you please take a look

[2017-06-09 23:22] alejosv commented on #1006
In my case, this error happen if a run the command `phalcon` into of phalcon-devtools folder. If I exit the phalcon-devtools folder and run again the command `phalcon` work fine.

[2017-06-12 11:14] sergeysviridenko commented on #956
I couldn't replicate. I've generated and run migration. All is ok.
Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.1.2

[2017-06-12 11:21] #956 closed

[2017-06-13 04:42] zjcf opened #1026 "Why we have to call the last morph function in the previous migration when rollback"
### Descripition

### Case
I have three migrations as follows:

[code]

[code]

[code]
In the above case, if I want to rollback migration to migration2 or migration1 version, it will get problems.

If we only want to rollback to migration2, it will also drop column f1, because it called the morph method of migration1.

If we want to rollback to migration1, it will get sql error when call the down

[2017-06-13 09:07] sergeysviridenko commented on #273
@sasa-b, could you show your steps

[2017-06-13 19:17] sasa-b commented on #273
you have my config above, when I type the `phalcon controller Name` without a directory path param, I get this error

because it is a multi module app and every module has it's own controllers directory

When I run the command with the directory param I get this error

Even if I provide the base path

Here is the link to my repo you can clone it to reproduce https://github.com/sasa-b/phalcon-boile

[2017-06-14 08:24] sergeysviridenko commented on #319
I can't reproduce.
Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.1.2

[2017-06-14 08:28] #319 closed

[2017-06-15 11:16] sergeysviridenko commented on #557
I couldn't reproduce.
Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.1.2

[2017-06-15 11:49] #557 closed

[2017-06-15 22:01] IvanDelsinne opened #1030 "Recursive include on script start"
[tuto]: https://phalconphp.com/en/download/tools

### Expected behavior

I am following the installation procedure described [here][tuto], trying to install it with Composer.

I made the file exactly as it is presented on the download guide.

When running either `vendor/phalcon/devtools/phalcon.sh` or `vendor/phalcon/devtools/phalcon.php`, the script enters in an infinite inclusion loop.

Is it a

[2017-06-15 22:08] IvanDelsinne commented on #1030
[repo]: https://github.com/phalcon/phalcon-devtools
[git]: git@github.com:phalcon/phalcon-devtools.git

### Update

I instead tried to clone the repository located [here][repo], following [this git url][git], and, by running either `phalcon.php` or `phalcon.sh`, everything now seems fine.

### Output with `phalcon.php`

[code]

[2017-06-15 22:08] #1030 closed

[2017-06-15 23:12] sergeyklay commented on #1030
https://github.com/phalcon/phalcon-devtools/issues/1006
https://github.com/phalcon/phalcon-devtools/issues/1016
https://github.com/phalcon/phalcon-devtools/issues/1011

[2017-06-16 12:45] sergeysviridenko commented on #273
In a multi module project you should use param '--output' for creation the controller. Param '--directory' using when the command running from not a project folder.

For example:
if you are in a project directory run:
`phalcon controller --name=testContr --output=app/Backend/Controllers`.
This command creates 'TestContrController.php' in '/your_project/app/Backend/Controllers'

[2017-06-16 12:47] #273 closed

[2017-06-16 12:54] sasa-b commented on #273
That's it, thank you very much :)

[2017-06-16 15:05] sergeysviridenko commented on #440
I couldn't reproduce both of these situations.
Phalcon DevTools Version: 3.2.0 ALPHA 1
Phalcon Version: 3.1.2

[2017-06-16 15:06] #440 closed

[2017-06-23 08:20] ghost opened #1032 "ERROR: Your Phalcon version isn't compatible with Developer Tools, download the latest"
ERROR: Your Phalcon version isn't compatible with Developer Tools, download the latest at: https://phalconphp.com/download

how to fix it ?

[2017-06-23 08:40] #1032 closed, assigned to nobody

[2017-06-27 09:26] sergeysviridenko commented on #408
I couldn't reproduce.
You should use absolute path or relative path from your location, then template-path works well.
Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.1.2

[2017-06-27 11:11] #408 closed

[2017-06-30 14:15] sergeyklay commented on #556
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-07-01 15:41] Weenuspenus opened #1034 "Custom module in multi module project not accessible through URL"
Some info about the project I'm setting up, so that it's easier to refer to certain parts in this issue:
Project name: testproject
Project modules: frontend (default), portal (custom), cli (default, but not used)

**Setup:**
I created a new project using Devtools with the type "modules", created a new module inside of the new project with Devtools. Manually added module to `$application->registerM

[2017-07-01 18:16] Jurigag commented on #1034
The answer is really trival - by default phalcon doesn't have automatic routes to modules, you need to add such, you can find similar threads on forum with answer.

[2017-07-01 18:39] Weenuspenus commented on #1034
@Jurigag The devtools generate a router file with what seems to have automatic module routing, as seen below:

[code]

I've tried following advice from around the net, such as https://stackoverflow.com/questions/36503009/phalcon-multi-module-routes-for-other-modules, and replacing all code from my router.php with something like this:

[code]
There is a reason why I've posted this issue in the Phal

[2017-07-03 18:15] ritox842 opened #1035 "phalcon dev tools system path variable"
I'm trying to add phalcon dev tools to my path variables (As shown [here][1]) but I'm getting this error (When I try to use phalcon in cmd):

    ERROR: The environment variable PTOOLSPATH is outdated!
    Current value: "C:\Program Files (x86)\phalcon-devtools".
    New value: C:\Program Files (x86)\phalcon-devtools

This is my phalcon.bat:

    @echo off

    set PTOOLSPATH="%ProgramFiles(x86)%\

[2017-07-03 19:54] sergeyklay commented on #1035
@sergeysviridenko Could you please take a look

[2017-07-04 09:35] sergeysviridenko commented on #1035
Could you try `set PTOOLSPATH=%ProgramFiles(x86)%\phalcon-devtools`.

[2017-07-04 20:09] ritox842 commented on #1035
It does't work... It looks like in ignores everything after the first space...

c:\Program

That's it..

[2017-07-04 20:47] sergeyklay commented on #1035
@ritox842 Well, could you install DevTools to the path without spaces? For example C:\Phalcon. Just for test

[2017-07-04 21:05] ritox842 commented on #1035
When the path doesnt contains spaces it works...
Its fine for now but I do prefer the dev tool dir will be under program files..

[2017-07-05 09:06] sergeyklay commented on #1035
@ritox842 Fixed in the `3.2.x branch`. Could you please try now the `3.2.x branch`?

[2017-07-06 15:21] mehmetgelmedi commented on #976
If you do database config, add the products table with phpMyAdmin or anything

[2017-07-07 18:49] sergeyklay commented on #976
@sergeysviridenko Could you please take a look

[2017-07-10 09:56] lchjczw opened #1043 "I hope the official can add a new command to automatically generate RESTful API"
I hope the official can add a new command to automatically generate RESTful API

[2017-07-10 13:21] sergeysviridenko commented on #976
@dschissler Problem with generating CSS and JS files was resolved.

[2017-07-10 13:29] sergeysviridenko commented on #976
I can't reproduce no one issue.
Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.2.0

@advcha Could you make sure that table `products` is exist? I've tried create model using bash commands `phalcon all-models`, `phalcon model foo-bar` and with `webtools` - all works fine.

[2017-07-10 13:43] advcha commented on #976
@sergeysviridenko sorry, I haven't got time lately to try the newest phalcon devtools. but if you said this bug don't appear on v3.2.0, it'd be very good. If anyone can confirm this, i'll close this issue.

[2017-07-10 17:04] sergeyklay commented on #320
I want to close this issue because I don't understand what exactly happens here. No script to reproduce or relevant information and lack of any reaction. I'll open it again if the need arises

[2017-07-10 17:04] #320 closed

[2017-07-11 05:11] CrazyWorkers opened #1047 "phalcon-devtools ide-helper errors"
In response to a problem， in the current version of phalcon-devtools,  the code prompts like failure after configured in the phpstorm , as if because the ide folder lack the stubs folder, which should be the Phalcon code to achieve prompt function code.

[2017-07-11 05:32] sergeyklay commented on #1047
https://github.com/phalcon/phalcon-devtools/issues/1008

[2017-07-11 05:33] sergeyklay commented on #1047
The IDE stubs was migrated to the https://github.com/phalcon/ide-stubs repo

[2017-07-11 05:33] #1047 closed

[2017-07-11 08:52] sergeysviridenko commented on #971
@engsere Could you provide more information about your issue? I can't reproduce exception. I've no one problem. All works fine.

Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.2.0

[2017-07-11 10:44] CrazyWorkers commented on #1047
thank you for your aswer.

[2017-07-11 15:27] ChangePlaces opened #1048 "Mysql root user is inaccessible except for su user"
When creating a project, the config file is populated with a standard mysql database, with user root and blank password. This was fine, however mysql now prevents the root user from being used except by a system su user. This poses a few questions which maybe the community, developer needs to answer:

- maybe the default config should be changed to something else?
- maybe a reminder should be outp

[2017-07-12 06:15] sergeyklay commented on #663
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-07-12 06:15] #663 closed

[2017-07-16 15:03] ph4r5h4d opened #1052 "Possibility to change Namespace from command line"
It would be great if it would be possible to change namespace of application (regardless of application type) from command line.

This is not a high priority NFR but it would be good if somewhere in the middle of development, someone consider this feature.

[2017-07-17 13:37] sergeyklay commented on #1052
Cc: @sergeysviridenko

[2017-07-17 13:40] sergeyklay commented on #1048
I don't think it's necessary or we can do it universally.

Agree for 100%.

[2017-07-17 13:41] sergeyklay commented on #1048
Cc: @sergeysviridenko

[2017-07-17 13:44] sergeyklay commented on #971
Closing, this is implemented/fixed. Feel free to ping @phalcon/collaborators if the problem appears again. Thank you for contributing.

[2017-07-17 13:44] #971 closed

[2017-07-17 16:53] ChangePlaces commented on #1048
if you go the way of asking for a mysql username, then it should not allow the username 'root' with the above explanation.

[2017-07-19 10:53] sergeyklay commented on #976
Closing, this is fixed. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-19 10:53] #976 closed

[2017-07-19 13:56] sergeysviridenko commented on #438
`describeReferences` method works fine. @Arrim fixed this problem for Postgresql and MySQL. I guess this issue can be closed.

Phalcon DevTools Version 3.2.0
Phalcon Version | 3.2.1

[2017-07-19 13:57] #438 closed

[2017-07-20 07:58] sergeysviridenko commented on #487
As to ON UPDATE/DELETE, it was fixed and works fine now.

As to column type - Phalcon uses types that are general for several DB, not just for MySQL.
And #178 is for this issue.
I assume this issue can be closed.

Phalcon DevTools Version - 3.2.0
Phalcon Version - 3.2.1

[2017-07-20 08:18] #487 closed

[2017-07-23 23:58] ninjapanzer opened #1054 "Prompt the user to create a .phalcon directory if missing from the project"
Example:
`$ phalcon migration new_mgration .`

will result in:
[code]
The unfortunate part of this is we are not exposing to the use what the devtools are upset about.
This command should either tell the user to create a `.phalcon` directory in the project or ask them to confirm and generate it for them.

[2017-07-24 05:44] sergeyklay commented on #1054
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-24 05:44] #1054 closed

[2017-07-25 12:07] sergeysviridenko commented on #1009
I couldn't reproduce this issue, because if file with model is exist - devtools throw exception like 'Error: The model file "someModel.php" already exists in models dir'.
Could you provide commands?
Have you used `--force`, `--output`?
Could you provide models dir path?

Phalcon DevTools Version - 3.2.0
Phalcon Version - 3.2.1

[2017-07-25 12:15] sergeysviridenko commented on #1035
I propose close this issue. If it appear again - we'll open new issue.

[2017-07-25 16:36] #1035 closed

[2017-07-26 21:35] ChangePlaces opened #1056 "Class name is changed when user specifies it"
### Expected and Actual Behavior
When creating a model and passing in the expected output name, it appears to be converted to lowercase except for the first letter. e.g. `phalcon model MyFooBar --name=my_foo_bars` creates a model called `Myfoobar` instead of `MyFooBar`.

### Details

* System info and versions (if possible): phalcon tools 3.2.0
* Phalcon Framework version: (`php --ri phalcon`) 3.2

[2017-07-27 08:07] sergeysviridenko commented on #925
It was fixed in devtools #1033 and in cphalcon https://github.com/sergeysviridenko/cphalcon/commit/9d6dfaad52db16cf57980a02bdae23b9fca8d895.
I guess this issue can be closed.

[2017-07-27 08:20] sergeysviridenko commented on #913
`phalcon all-model` doesn't have `--camelize` command.
`phalcon model` has `--camelize` command.
You can use `phalcon all-models --help` to get list of commands.

Phalcon DevTools Version - 3.2.0
Phalcon Version - 3.2.1

[2017-07-27 08:21] sergeyklay commented on #821
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-27 08:21] #821 closed

[2017-07-27 08:23] sergeyklay commented on #913
@sergeysviridenko Is it possible to implement `--camelize` feature for the `all-model` command?

[2017-07-27 08:24] #925 closed

[2017-07-27 08:52] sergeysviridenko commented on #913
I guess it's possible.

[2017-07-27 10:19] sergeyklay commented on #913
Implemented in the 3.2.x branch.

[2017-07-27 10:19] #913 closed

[2017-07-27 13:20] ChangePlaces commented on #562
dupes:
- #10216
- #11139

[2017-07-28 08:41] sergeysviridenko commented on #278
I guess it problem is fixed, because I can't reproduce. I have a proper config file and creating models very well.

Phalcon DevTools Version - 3.2.0
Phalcon Version - 3.2.1

[2017-07-28 08:58] sergeysviridenko commented on #278
I propose close this issue. If this problem appear again, we'll reopen it.

[2017-07-28 17:48] sergeyklay commented on #953
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-07-28 17:48] #953 closed

[2017-07-28 17:48] #278 closed

[2017-07-28 18:10] sergeyklay commented on #203
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-28 18:10] #203 closed

[2017-07-31 08:29] sergeysviridenko commented on #234
I guess this issue can be deleted.

[2017-07-31 09:27] limingxinleo commented on #1009
yes,I used --force

[2017-07-31 10:57] sergeysviridenko commented on #1009
If you use command `--force` devtools will rewrite model that was created. This is not a but.

[2017-07-31 11:00] Cvetomird91 commented on #308
Hello,

Do we have an update on the subject? Time tables continue to be displayed as VARCHAR after running migrations.

[2017-07-31 11:21] sergeyklay commented on #238
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-31 11:21] #238 closed

[2017-07-31 11:22] #234 closed

[2017-08-01 07:34] sergeysviridenko commented on #972
I guess this PR can be closed.

[2017-08-01 07:54] #1009 closed

[2017-08-01 07:54] #972 closed

[2017-08-01 08:31] sergeysviridenko opened #1067 "Controller and view generation when hyphen's are in table name or column name"
If a table name or column name contain hyphen - devtools creates wrong controller and view.
For reproduce:
[code]

after this command:
`phalcon scaffold --get-set --table-name=foo-bar`

I got not that I expected. This is part of controller that I got (variables have got hyphens).
[code]

And part of view `search.phtml`
[code]

* System info and versions: UBUNTU 16.04 LTS
* Phalcon Framework versio

[2017-08-01 08:34] sergeyklay commented on #1067
Fixed in the `3.2.x branch`.

[2017-08-01 08:34] #1067 closed

[2017-08-01 11:33] sergeysviridenko commented on #622
I couldn't reproduce this problem. Migration looks like to work fine. This is my test data for migration version 1.0.0
[code]
And after generating migration 1.0.1. There I added foreign key.
[code]
When I running migration `phalcon migration --action=run` and `phalcon migration --action=run --version=NumberVersion` I've seen executing queries.

Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.2.

[2017-08-01 11:54] #622 closed

[2017-08-01 12:21] sergeysviridenko commented on #1052
Could you provide more information about your proposition?

[2017-08-01 15:59] f4rsh4d commented on #1052
Sure,
For example we have a module named Frontend and the corresponding namespace is /MyCompany/Frontend/Controller
It's possible to happen a typo or in some cases someone tries to change the module name or company name or anything so for a change we want our new namespace like /MyNewCompany/Front/Controller

Frameworks such as Laravel does have this ability in their command line (artisan) and it'

[2017-08-01 17:40] sergeyklay commented on #1048
Implemented in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing!

[2017-08-01 17:40] #1048 closed

[2017-08-01 19:20] ChangePlaces commented on #1048
thanks!

[2017-08-02 08:50] sergeyklay commented on #1056
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-08-02 08:50] #1056 closed

[2017-08-03 11:41] midem opened #1070 "Field names in generated model start with uppercase"
### Expected and Actual Behavior

I generate models from mysql database using _model_ or _all-models_ command. My field names in database are in lowercase (for example "user_id"), but in generated model the names start with uppercase (for example "public $User_id;", but I expect "public $user_id;").

### Details

* Phalcon DevTools version: 3.2.0
* Phalcon Framework version: 3.2.1
* PHP Version: 7

[2017-08-06 09:23] Zheness commented on #1070
Hi,
Same problem for me.

My field name is `createdBy` and when generating models, the name is in lowercase except the first letter (`Createdby`).
-> Expected `createdBy`

- Debian 8 (jessie)
- PHP 7.0.20
- Phalcon 3.2.1
- Phalcon DevTools 3.2.0
- MySQL 5.7.19
- nginx 1.12.1

[2017-08-06 09:40] sergeyklay commented on #1070
Cc: @sergeysviridenko

[2017-08-07 09:36] sergeyklay commented on #1070
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-08-07 09:36] #1070 closed

[2017-08-07 09:43] sergeyklay commented on #1070
[Just released v3.2.2](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.2.2).

[2017-08-08 13:35] kornerita opened #1075 "[NFR] IDE Stubs improvement"
Hello,

Since Zephir it's both typed and dynamically typed language, the gen-stubs feature could use it to add the [phpdocs](https://www.phpdoc.org) for methods at least.

i.e. Zephir:

[Phalcon\Mvc\Application::useImplicitView](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L87)
[code]

Stubs generated (actual behavior):

[code]

What it would be nice (expected behavi

[2017-08-08 13:55] kornerita opened #1076 "[Bug] IDE Stubs generation errors"
### Expected and Actual Behavior

Strings constants are not quoted and generates invalid php code.

i.e. [Zephir](https://github.com/phalcon/cphalcon/blob/master/phalcon/config.zep#L55)

Generated PHP:
[code]

Expected PHP:
[code]
### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* Phalcon Framework version: (`php --ri phalcon`)
[code]
* PHP Version: (`php -v`)
[code]

[2017-08-09 13:09] kornerita commented on #1052
Hi,

First of all, I think this feature should be part of the [devtools](https://github.com/phalcon/phalcon-devtools) rather part of Phalcon itself.

Second, there is a lot of things that this would have to support, personally I manage all the classes in the model with an UML modeler [BoUML](http://www.bouml.fr) in which a change of namespace regarding the model it's quite easy, and would also be

[2017-08-09 16:04] sergeyklay commented on #1075
This issue was moved to phalcon/zephir#1570

[2017-08-09 16:04] #1075 closed

[2017-08-09 16:05] sergeyklay commented on #1076
This issue was moved to phalcon/zephir#1571

[2017-08-09 16:05] #1076 closed

[2017-08-09 16:21] sergeysviridenko commented on #1052
Thank you for reply. I'll think what can we do as soon as possible.

[2017-08-12 20:57] hugo9099 opened #1077 "WebTools doesn't know where the models directory is"
### Expected and Actual Behavior

I'm trying to create a Model using the Web Interface provided by webtools.php
However, I'm getting these error messages:

**Sorry, WebTools doesn't know where the models directory is. Please add to application section modelsDir param with real path.**

It seems to be affecting Models and Controllers directories since Scaffold is disabled as well.

### My environme

[2017-08-12 21:37] midem opened #1078 "Scaffold - some first characters in controller are incorrectly capitalized"
### Expected and Actual Behavior

I ran command **phalcon scaffold users** which created UsersController.php with $Users, $User, $User->Email (expected $users, $user, $user->email).
It is not possible to create an user or see data in search result using generated code.

Minimal script to reproduce the issue can be found in Phalcon Cookbook, chapter 2.

### Details

* System info and versions (if p

[2017-08-17 02:15] dreamsxin opened #1081 "Add stubs to phpstorm"
I wish someone could finish the work
See https://github.com/JetBrains/phpstorm-stubs

[2017-08-19 13:16] sergeysviridenko commented on #1077
I couldn't reproduce this issue. Could you check your settings in `config.php`? This problem can appear when folder where `WebTools` will put created model didn't set. If you use CLI, you can use option `--output=s`. If you use page `/webtools.php?_url=/models/generate` you can set `Model Directory`, this parameter uses path which set in your `config.php` file.

[2017-08-19 17:23] sergeyklay commented on #1078
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-08-19 17:23] #1078 closed

[2017-08-19 17:35] hugo9099 commented on #1077
That is (I think) the issue. This new version is not using config.php but instead uses config.ini.
Somehow is not loading correctly the configuration from the .ini file.

[2017-08-21 10:40] sergeysviridenko commented on #1077
@hugo9099 Could you provide data about model directory from your `.ini` file?

[2017-08-21 12:27] chinalu opened #1084 "How to supress rowcount before create/update"
Before create a new model,  Phalcon will `SELECT COUNT(*) "rowcount" FROM `table` WHERE `id` = ?`, how to supress exists check?

[2017-08-21 12:29] #1084 closed

[2017-08-21 14:59] nadorator opened #1086 "Model generation error in getter and setter name"
### Expected and Actual Behavior

 phalcon model --name=robot --get-set
I got caracter '-' in getter and setter function naming.

[code]

### Details

The error is in Model.php source code where the delimiter for camelize function is
[code]
 instead of
[code]
  It should be
[code]

and Utils and Text class should be updated to use array delimiters instead of simple delimiter as those classes use e

[2017-08-23 14:31] sergeysviridenko commented on #982
I couldn't reproduce this issue.

Phalcon DevTools Version: 3.2.0
Phalcon Version: 3.2.1

[2017-08-23 15:46] sergeysviridenko commented on #1086
I couldn't reproduce this issue. Could you provide more information for reproduce? Which version devtools do you use? Could you provide table from DB for reproducing?

[2017-08-24 20:23] topotru commented on #556
It seems that removing
self::$_connection->query('SET FOREIGN_KEY_CHECKS=0');
crashes migrations.

For the first table created, we need a foreign key to the table that has not yet been created.

And we get an error: SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint

Migrations, which previously worked well now fall with an error.

[2017-08-24 21:50] sergeyklay commented on #556
// cc: @sergeysviridenko

[2017-08-25 06:29] sergeyklay commented on #982
@kaioken Can you try latest stable DevTools?

[2017-08-28 07:30] sergeysviridenko commented on #556
@topotru Could you provide more information and steps for reproduce?

[2017-08-28 07:44] sergeysviridenko commented on #988
@marcelloh could you provide information about table and steps to reproduce?

[2017-08-28 08:16] marcelloh commented on #988
nope, this was an issue  along time ago and we solved it by the workaround mentioned.

I think the insert statement reflects the structure of the table, and I did write enough to reproduce.
What data I used is also mentioned. so no, you have to figure it out yourselves. (If you wanted this, you should have reacted way sooner.)

[2017-08-28 10:01] sergeysviridenko commented on #988
@marcelloh sorry for the long reaction. We try to help to all users as soon as possible.
I won't be able to reproduce this issue without SQL for inserting table and data

[2017-08-28 10:13] marcelloh commented on #988
ehm, when I see this:
`
INSERT INTO "users" ("id", "login_type_id", "username", "name", "email_addr", "password", "phone_num", "token_id") VALUES (?, ?, ?, ?, ?, null, ?, ?)
`
You can create a table out of it, that's not hard.
and the data was mentioned also:
if we use a .dat file with null values, like this:
`
1,1,superadmin,"First name Last name",email@test.com,,NULL,NULL
`
the NULL's are import

[2017-08-28 11:32] topotru commented on #556
Oh sure.
Just two tables for example.
[code]

And their migrations:
[code]
The reason is that migration files are processed in alphabetical order.
And the first file (NotesMigration_100) can't set the foreign key (FK_notes_users) on a non-existent table (users).

You can take code for reproduce here https://github.com/topotru/phalcon-migrations-test.git

Thank you for your contributing!

[2017-08-30 11:50] sergeysviridenko commented on #988
@marcelloh I'd like to see your SQL with parameters for inserting table in DB. It's very important for accurate reproducing.

[2017-08-30 12:09] sergeysviridenko commented on #968
@Bobyblanco as I understand the problem was solved on the [forum](https://forum.phalconphp.com/discussion/15405/problem-installing-webtools-on-mac-osx) and we can close this issue?

[2017-08-30 12:31] sergeysviridenko commented on #954
@rogervila for installation with github there is step by step instruction for using command `phalcon` instead `phalcon.php`. Could you try latest stable version?

[2017-08-30 13:21] marcelloh commented on #988
I hope it's this one:
CREATE TABLE public.users (
	"id" SERIAL,
	"login_type_id" INTEGER NOT NULL,
	"username" VARCHAR(255) NOT NULL,
	"name" VARCHAR(255) NOT NULL,
	"email_addr" VARCHAR(255) NOT NULL,
	"password" VARCHAR(255) NOT NULL,
	"phone_num" BIGINT NULL,
	"token_id" BIGINT NULL,
	CONSTRAINT users_pkey PRIMARY KEY ("id"),
	CONSTRAINT users_username_unique UNIQUE ("username")
);

[2017-08-30 14:49] sergeysviridenko commented on #948
@myemuk this isn't `phalcon` problem. This problem with snmp package in php. The problem like this was solved [here](https://stackoverflow.com/questions/21257589/ubuntu-typing-php-in-terminal-shows-a-lot-of-errors)

[2017-08-30 14:50] sergeysviridenko commented on #556
@topotru This problem because referenced table isn't exist. You can add foreign key after creating second table.

[2017-08-30 15:36] topotru commented on #556
Do you suggest creating another migration file to add foreign keys?
And what about the existing versioned migration?
I have versions from 1.0.0 to 1.9.9
Each of them contains the installation of foreign keys.
And I can't do it - I haven't versions between existing nums.
And in general it is not correct. The keys must be directly applied in the migration file for a particular table.
My backward cam

[2017-08-30 16:42] topotru commented on #556
Or maybe will be better to realise command line option like --foreign-key-check=false (by default - true) on migration run command.

[2017-08-30 18:29] #968 closed

[2017-08-30 18:30] sergeyklay commented on #954
Actually this is fixed in latest stable release.

[2017-08-30 18:30] #954 closed

[2017-08-30 18:30] #948 closed

[2017-08-30 22:23] topotru commented on #556
Also I want to note that the migrations generated by the "generate" command will also be invalid.
The migration files listed above are created by the "migration generate" command, but they can not be executed by the "migratory run" command.

[2017-08-30 22:25] topotru commented on #556
@sergeyklay what do you think about it?

[2017-08-31 14:51] sergeysviridenko commented on #1026
@zjcf could you provide please table SQL, SQL on every step for reproducing?

[2017-08-31 15:32] sergeysviridenko commented on #556
@topotru At the moment migration generate foreign key in `morph` method. After generating migration you can change code.

[2017-08-31 15:38] sergeysviridenko commented on #61
It works in latest stable version. I suggest close this issue.

[2017-08-31 15:48] sergeysviridenko commented on #66
I suppose it's for creating new project?

[2017-08-31 17:20] sergeyklay commented on #556
We only accept **bug reports**, **new feature requests** and **pull requests** in GitHub.

For questions regarding the usage of the DevTools, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-08-31 17:21] #61 closed

[2017-08-31 18:14] topotru commented on #556
What are you talking about?!
Now dev-tools generate invalid migrations!

I expect that the migration files generated by the "migration generate" command can be executed by the command  "migration run" without any changes, and execute without any errors.
It's not NFR!
It's broken migrations module.

[2017-09-01 13:30] sergeysviridenko commented on #144
@calinrada Could you provide more information about your suggestion?

[2017-09-01 13:31] sergeysviridenko commented on #142
@sigeje could you provide more information about your suggestion?

[2017-09-01 18:13] sergeysviridenko commented on #556
@topotru Actually migration works fine. Foreign key is very specific object. You should take care about conditions for it. At the moment logic of work creating migrations in creating table with condition. There're many way to solve your problem(for example - you can execute SQL code for creating foreign key after running migration).

[2017-09-01 19:10] sergeyklay commented on #66
Implemented in the 3.2.x branch.

[2017-09-01 19:10] #66 closed

[2017-09-01 19:11] sergeyklay commented on #1002
Fixed in the 3.2.x branch

[2017-09-01 19:11] #1002 closed

[2017-09-01 19:18] #556 closed

[2017-09-04 07:32] #1077 closed

[2017-09-04 07:35] sergeysviridenko commented on #307
@ruudboon when migration would using dialect, it won't be compatible with other databases. Could you provide more information about your suggestion?

[2017-09-04 07:43] sergeysviridenko commented on #215
@nazwa I suppose it useful because I can control process generate/run migration and I can see all errors and all SQL queries which executed. But i agree we can wright SQL queries in `log` file or screen. Is this your suggestion?

[2017-09-04 07:46] ruudboon commented on #307
Looking at this now I think it's something more fundamental. If it should be possible to use the migrate script to migrate from PostgreSQL to MySQL then we can only use SQL standards and shouldn't we support columns like enum or time.
In my case I'm using the migrate script to push changes from development to production where we will have the same database.

[2017-09-04 08:01] sergeysviridenko commented on #307
@ruudboon yes, you're right generated migration must be general and must work on all databases without constraint.

[2017-09-04 08:19] sergeyklay commented on #587
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-09-04 08:19] #587 closed

[2017-09-04 08:27] ruudboon commented on #307
@sergeysviridenko I do agree it should work on all database.
We could convert for example time fields to a varchar so It's still "working" ?

[2017-09-06 14:13] sergeysviridenko commented on #680
@Paradoxis actually you can use  `--directory=s` option if you aren't inside project. @alexbusu is right - good practice would be added `--config=s` option for `phalcon model` command

[2017-09-06 19:05] #680 closed

[2017-09-07 07:08] sergeysviridenko commented on #988
I suppose this issue can be closed

[2017-09-07 07:23] #988 closed

[2017-09-07 07:53] sergeysviridenko commented on #585
It works fine for me. I created table
[code]
I've had in migration file
[code]

Phalcon DevTools Version: 3.2.3
Phalcon Version: 3.2.1

[2017-09-07 07:58] sergeysviridenko commented on #982
There is no reaction. I propose close this issue. If problem will appear again we'll reopen this issue.

[2017-09-07 08:06] sergeysviridenko commented on #423
@EpicJhon could you provide more information about your suggestion?

[2017-09-07 08:10] sergeysviridenko commented on #144
@calinrada Maybe [this PR](https://github.com/phalcon/phalcon-devtools/pull/1098/files) help you?

[2017-09-07 08:38] sergeysviridenko commented on #295
@rianorie devtools support PostgreSQL now. Could try latest stable version?

[2017-09-07 08:41] rianorie commented on #295
@sergeysviridenko I'll just close this then :) I added the issue back then because there were requests for it.

[2017-09-07 08:41] #295 closed

[2017-09-07 08:49] sergeysviridenko commented on #169
@liesislukas migration works with many databases and must work with general fields. Enum works just with MySQL and can't be executed in other DB.

[2017-09-07 08:50] sergeyklay commented on #144
Closing, this is implemented. If there are bugs, we can follow up in separate issues.

[2017-09-07 08:50] #144 closed

[2017-09-07 08:51] #169 closed

[2017-09-07 08:52] sergeyklay commented on #585
Closing, this is implemented/fixed. If there are bugs, we can follow up in separate issues.

[2017-09-07 08:52] #585 closed

[2017-09-07 08:52] #982 closed

[2017-09-09 08:03] mikhailmakarov opened #1100 "Problem with migration system"
### Problem with migration system

I generated migrations and now I have this list of versions:
1.0.0
1.0.1
1.0.10
1.0.11
1.0.12
1.0.2
1.0.3
1.0.4
1.0.5
1.0.6
1.0.7
1.0.8
1.0.9

On line 229 in file ./phalcon-devtools/scripts/Phalcon/Migrations.php:
[code]
method getCurrentVersion returns 109, but my version is 1.0.12. It's because the method gets the last string from the file. Dev-tool generated w

[2017-09-09 09:05] ahmadfauzirahman commented on #16
please help me , this my problem when i install phalcon
![phalcon problem](https://user-images.githubusercontent.com/17350730/30238789-969c097c-9578-11e7-913c-01c92c8a881d.png)

[2017-09-10 10:36] sergeyklay commented on #16
@ahmadfauzirahman Open please a new issue with steps to reproduce

[2017-09-11 11:44] sergeyklay commented on #1100
Fixed in the `3.2.x branch`. I'll plan to release 3.2.5 in next hours. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-09-11 11:44] #1100 closed

[2017-09-13 13:16] sergeysviridenko commented on #1086
I propose close this issue, because there is not any reaction. If issue appears again, we'll open new or reopen it.

[2017-09-13 15:32] #1086 closed

[2017-09-14 08:36] sergeysviridenko commented on #992
@AnatolyAstapov It has been fix earlier. Could you try latest stable version?
Added foreign key and after generating migration I had this
[code]

I propose close this issue, because problem was fixed.

Phalcon DevTools Version: 3.2.3
Phalcon Version: 3.2.1

[2017-09-15 07:40] sergeysviridenko commented on #664
@makerlabs  Problem with option `--merge` are how it can merge if part of code was changed, resolve conflicts and I guess developer must see  different between old code and new added code? Actually you can generate new model and merge after deep analyze old and new code.

[2017-09-18 14:32] bhupender005 opened #1106 "Creating project in Phalcon 3.2.2 is php version specific i.e. php 5.6 or php 7.0"
In short : So if I install php5-phalcon (3.2) on local machine with php 5.6, can I easily move code to machine with php7.0 or is code version specific?

Detail scenario :

Local machine has following configuration :

Ubuntu 14.04
PHP 5.6
Phalcon 3.2.2 (installed using command php5-phalcon)
Phalcon devtools 3.2.5

Docker Image / Server Image has following config :

Ubuntu 16.04
PHP 7.0
Phalcon 3.2.

[2017-09-18 21:26] sergeyklay commented on #1106
There is no difference in codebase between `Phalcon 3.2 compiled for PHP 5` and `Phalcon 3.2 compiled for PHP 7` (at least at user land). Also as I know we don't use PHP version specific stuff in DevTools. The same code should work well for PHP 5 as well for PHP 7.  Anyway feel free to open a new issue if any problem appears.

[2017-09-18 21:26] #1106 closed

[2017-09-20 13:01] hakimio commented on #1081
There is already a separate repository for Phalcon stubs: https://github.com/phalcon/ide-stubs

[2017-09-20 13:09] hakimio opened #1108 "Update app skeleton generation"
### Expected and Actual Behavior
I would expect app config in yaml format and services to be registered in a ServiceProvider class when new app skeleton is generated with Phalcon developer tools.

[2017-09-27 12:03] sergeyklay commented on #992
Closing, this is fixed. If there are bugs, we can follow up in separate issues.

[2017-09-27 12:03] #992 closed

[2017-09-27 12:41] sergeysviridenko commented on #307
@ruudboon All fields convert to varchar if  it's common type.

[2017-09-27 13:51] sergeysviridenko commented on #911
@phackwer could you provide more information about your suggestion? For realize this proposition it very helpful.

[2017-09-27 14:56] sergeysviridenko commented on #888
@juanreynolds could you provide a little bit more information and example what you'd like to have?

[2017-09-27 15:18] sergeysviridenko commented on #862
@Jurigag I'm not sure deleting is good way. FK is problem when migration is generating or running. Maybe we can organised working with FK like with `data`. For example - user runs command `generate --FK` and in migration folder creating file `foreignKey` with SQL generating all FK and after that we can delete it from DB. I guess this way is better. How do you think about?

[2017-09-28 06:48] sergeysviridenko commented on #521
@DroneZzZko It works fine for me. I've `'referencedSchema' => 'vokuro'`.
Could you try latest stable version?

Phalcon DevTools Version: 3.2.5
Phalcon Version: 3.2.1

[2017-09-28 20:43] #521 closed

[2017-09-30 17:04] vinaysikarwar commented on #518
I used like this for unique column and worked fine for me in version 2.
// Define new unique index
$index_unique = new \Phalcon\Db\Index(
    'column_UNIQUE',
    [
        'column',
        'column'
    ],
    'UNIQUE'
);

[2017-10-03 12:26] frontman82 opened #1114 "Scaffold - some first characters in controller are incorrectly capitalized"
### Expected and Actual Behavior

I run the command **php scaffold products** which created the controller with the first letter of the public vars in capitals
$product->Name = $this->request->getPost("name");
$product->Price = $this->request->getPost("price");
$product->Quantity = $this->request->getPost("quantity");
_expected_
$product->name = $this->request->getPost("name");
$product->price = $

[2017-10-03 22:28] nadorator opened #1115 "error while creating controller with command line"
When generating scaffolding for tables with command line like:

[code]
we get an error in the Controller generated. All properties of the news models  were with uppercase whereas the model itself is in lowercase in function saveAction and createAction.

The SQL code is here:

[code]

[2017-10-04 10:56] sergeyklay commented on #1115
@nadorator Could you please provide the generated code

[2017-10-04 11:10] sergeysviridenko commented on #215
I guess we can close this issue.

[2017-10-04 11:10] sergeysviridenko commented on #215
I guess we can close this issue.

[2017-10-04 11:25] #215 closed

[2017-10-04 19:47] sergeyklay commented on #1114
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-04 19:47] #1114 closed

[2017-10-04 20:16] #1081 closed

[2017-10-04 22:24] nadorator commented on #1115
Here is the generated code as you can see the fields names are wrong because they have a capitalized first letter, as in the pull request you already have, the problem is the Text:camelize functionin the scaffold procedure  that does include this unecessary capitalisation because the camelize function should be use for class name or controller name camelisation but not for members/fields/actions n

[2017-10-04 23:00] nadorator commented on #1115
as on phalcon documentation https://docs.phalconphp.com/en/3.2/api/Phalcon_Text   camelize function should not be used for members in the controller scaffolding.  Instead you should use the field of the model as is. I will also do a test tomorrow with a model field name in the database like `key_test-one`.

[2017-10-05 06:35] Urvin opened #1118 "PostgreSQL migration error"
### Expected and Actual Behavior

I've created a migration using devtools and now i'm trying to run it on a clean PostgreSQL database.
Both cli- and web- interface give me an exception.

Here's the cli output:

You see, there's a wrong sql command **DEFAULT true"id" SERIAL NOT NULL**, there's no backspace and presents an unneeded command _DEFAULT true_.

Here's my morph part of the migration:

[co

[2017-10-05 12:59] sergeysviridenko commented on #1115
@nadorator you're right `Text::camelize` returns `FooBar` value. For this we\he created new method `Utils::lowerCamelizeWithDelimiter` can return `fooBar`. I fixed this problem yesterday. Could you update your devtools?
I've created table `news` and controller looks good.
[code]

[2017-10-05 15:05] #1115 closed

[2017-10-06 16:50] benwills opened #1119 "When scaffolding, DB field names get capitalized in controllers, but not in model. createAction() does not work."
## Summary:
When running `scaffold`, the PHP that is generated capitalizes the field names in xxxController.php, but not in xxxModels.php. They do not get capitalized in any of the Views. I believe the Controller capitalization should not be happening and is a bug.

As a result, createAction() does not work, but searchAction(), viewAction(), and updateAction() all work as expected...though I'm uns

[2017-10-06 17:07] benwills commented on #1119
It looks like this might be a duplicate of https://github.com/phalcon/phalcon-devtools/issues/1115

[2017-10-08 22:27] sergeyklay commented on #1118
@Urvin Could you please try latest stable version?

[2017-10-08 22:28] sergeyklay commented on #1119
@benwills Could you please try latest stable DevTools version?

[2017-10-08 22:31] sergeyklay commented on #1043
@lchjczw Could you please explain a bit more? What exactly do you need. Some examples or ideas will helps

[2017-10-09 06:16] Urvin commented on #1118
It's OK now

[2017-10-09 06:26] #1118 closed

[2017-10-09 07:03] sergeysviridenko commented on #595
I propose close this issue.

[2017-10-09 08:27] sergeyklay commented on #595
The wildcard support has been introduced in v3.2.6

[2017-10-09 08:27] #595 closed

[2017-10-12 11:49] sergeysviridenko commented on #1119
@benwills it has been fixed. Could you try to update your devtools?

[2017-10-12 12:16] #1119 closed

[2017-10-12 14:06] sergeysviridenko commented on #673
@staticall could you try to use latest version?

[2017-10-12 17:07] sigeje commented on #142
@sergeysviridenko thanks for following it up. I'm not sure if the latest version already support this.
If I can recall it correctly, at that time it only generate empty controller. What I expect was it generate controller with basic actions like add, edit, delete, get and get by id. Looking at recent trend that many apps using RESTful API, maybe it's cool and more relevant if controller is generat

[2017-10-12 17:28] sergeyklay commented on #673
I'm think it works in latest stable release. If there are bugs, we can follow up in separate issues.

[2017-10-12 17:28] #673 closed

[2017-10-12 18:11] sergeyklay commented on #903
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-12 18:11] #903 closed

[2017-10-12 18:11] #376 closed

[2017-10-12 18:25] sergeyklay commented on #142
Closing in favor of #1043

[2017-10-12 18:25] #142 closed

[2017-10-17 12:47] 4iloveg opened #1126 "Make a skeleton in the current or existing folder (phalcon project)"
[code]

[code]

An error when deploying to an existing folder may be caused by the intention not to damage the files that are located.
But I would like to be able to implement the deployment forcibly.

[2017-10-20 03:14] nguyenphucthinh opened #1127 "Migration with Multiple Databases with separate migration log"
I hope in the next version of phalcon-devtools, we can have the multiple databases support

My webapp should connect to 2 differents DB ( not the same tables)

I want control the migration with multiple differents DB, actually, i found 2 solution

- migration with differents config.ini => but i can't separate the migration log/file in .phalcon/migration-version

- modify the code of Migrations.php

[2017-10-20 17:39] bogusbd opened #1130 "Warning: mkdir(): File exists in ..../phalcon-devtools/scripts/Phalcon/Initializable.php on line 240"
https://github.com/phalcon/phalcon-devtools/blob/c77ddde6802224c2a498159c9f702d9a5e546187/scripts/Phalcon/Initializable.php#L240

quick solution:

[code]

[2017-10-23 08:53] sergeysviridenko commented on #1130
@bogusbd you provide a little bit more information about you suggestion?
[code]

This is double code, because above 240 line we have `!is_dir($cacheDir)`
[code]
This is all part of code.

[2017-10-24 07:41] sergeysviridenko commented on #1130
I propose to close this issue.

[2017-10-24 17:47] #1130 closed

[2017-10-24 18:50] n4ndo opened #1132 "White Page on Webtools.php"
I create a new project with the command for test webtools (Webtools.php and Webtools.config have no modification)

`phalcon project --name=newproject --enable-webtools `

All works fine, but, when i go to localhost/newproject/webtools.php i see this:

![image](https://user-images.githubusercontent.com/820868/31962012-f9efa79c-b8c1-11e7-9936-08282591d24a.png)

devtools.log

### Details

* System in

[2017-10-24 19:07] YujiShen commented on #956
I also got this problem...

dat file
[code]
will become this in database:
[code]

Phalcon DevTools (3.2.8)
Phalcon Version: 3.2.4
PHP 7.1.9
Databse: Mariadb
OS: Docker (Alpine Linux)

[2017-10-24 19:52] sergeyklay commented on #956
@YujiShen Could you please open new issue with steps to reproduce

[2017-10-24 20:01] sergeyklay commented on #1132
Did you use php as fast cgi?

[2017-10-24 20:06] n4ndo commented on #1132
hello @sergeyklay  Well this is clean xampp installation, so not sure, let me check.

[2017-10-24 21:45] sergeyklay commented on #1132
I'm pretty sure this issue related to https://github.com/phalcon/cphalcon/issues/12056
Let's use original issue.

[2017-10-24 22:30] n4ndo commented on #1132
Just not that i install fcgi and the problem persist, swich to WTServer.

[2017-10-25 13:50] sergeyklay commented on #1132
@n4ndo Fixed in the [latest stable release](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.2.9).  Thank you for the report, and for helping us make Phalcon better.

[2017-10-25 13:50] #1132 closed

[2017-10-25 14:06] victorhramos commented on #1108
maybe Solid too?

[2017-10-26 15:23] Mateozmaldonado17 opened #1135 "Difference between 'all-models' and 'model' commands with the file name."
When i download my entity from my db with the command 'all-models' this generates one php file, but its different with  the 'phalcon model'. for example:

with 'phalcon all-models' it downloads 'MyModel.php' and 'phalcon model mymodel' downloads 'Mymodel.php' ¿Why?

[2017-10-29 19:01] DroneZzZko commented on #562
Any updates? 2 years have passed...

[2017-10-30 02:05] sergeyklay commented on #562
@sergeysviridenko Could you please deal with this

[2017-10-30 08:44] sergeysviridenko commented on #562
@DroneZzZko I'll try to sort out with this as soon as possible.

[2017-10-30 16:45] Nyde opened #1136 "PR #1134 leads to Fatal PHP error"
### Expected and Actual Behavior

[code]
### Reproducing

Create project with
[code]
with or without any other parameters.

Then access http://localhost/PROJECT/webtools.php

For discussion on this, see my forum posts;

Initial: https://forum.phalconphp.com/discussion/17165/webtools-blank-page-on-webtoolsphp
Error: https://forum.phalconphp.com/discussion/17165/webtools-blank-page-on-webtoolsphp#C5

[2017-10-30 21:24] sergeyklay commented on #1136
cc: @sergeysviridenko

[2017-10-31 19:28] YujiShen opened #1137 "Migration - Extra escaping after running migration"
### Expected and Actual Behavior

I except the migration data will generate same result as it should be.

A VARCHAR filed before migration:
[code]

A TEXT filed before migration:
[code]

VARCHAR filed after migration:
[code]

TEXT filed after migration:
[code]

Here is the command I use to migrate
[code]

config.yaml
[code]

Actually, I also encounter same escaping problem when I use raw sql in Ph

[2017-10-31 19:28] YujiShen commented on #956
@sergeyklay I open a new one #1137

[2017-11-01 09:41] jonkofee commented on #1118
У меня такая же проблема, стоит последняя версия.

[code]

[code]

А должно быть
[code]

[2017-11-01 14:39] sergeysviridenko commented on #1137
@YujiShen I'll try to sort out with this as soon as possible. Thank you for report about it.

[2017-11-01 14:45] sergeysviridenko commented on #1118
@jonkofee could you open new issue with steps to reproduce, please?

[2017-11-01 15:01] Urvin commented on #1118
It's a cphalcon bug, see https://github.com/phalcon/cphalcon/issues/13132

[2017-11-01 17:30] sergeysviridenko commented on #1136
@Nyde could you try latest version?

[2017-11-01 17:31] sergeysviridenko commented on #1136
I suppose close this issue.

[2017-11-01 18:07] markhilton commented on #562
hello guys! any updated on fixing ENUM, maybe ETA?

[2017-11-01 23:31] victorhramos opened #1140 "Scaffold project from a repository"
What about if we could have a repository of skeletons to use with command phalcon create --type?

[2017-11-02 23:57] Nyde commented on #1136
Working as intended, thank you!

[2017-11-02 23:57] #1136 closed

[2017-11-03 09:56] sergeysviridenko commented on #562
@markhilton Sorry, but at the moment there isn't any update. Enum field is spec field for MySQL db. Command migration creates files which can be use on different DB. For example - if we create migration with `ENUM` field, we won't use it on PostgreSQL db. Do you have any proposition about implementing this field?

[2017-11-03 13:14] sergeysviridenko commented on #1026
I propose close this issue. There isn't any reaction and question about product working is on the forum

[2017-11-03 15:02] markhilton commented on #562
@sergeysviridenko nope, I just ported a database to Phalcon and noticed this error while doing migrations, so wanted to get an update to determine direction for my project. Thanks for taking time to answer, appreciate it!

[2017-11-04 20:54] sergeyklay commented on #1026
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-11-04 20:54] #1026 closed

[2017-11-06 13:20] sergeysviridenko commented on #1135
@Mateozmaldonado17 I couldn't reproduce this bug. I've created table `mymodel` and generate model. All works fine. I've got both of `Mymodel.php` files. Which version of devtools do you use?

[2017-11-06 15:23] sergeyklay commented on #1137
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-06 15:23] #1137 closed

[2017-11-08 10:45] dstuecken opened #1143 "Camel-case table names are not reflected in created models"
### Expected and Actual Behavior

I am having a camel-case table name in my mysql database: changeRequests
If I am using the model creator the created model will be named like this: Changerequests.php and Changerequests. So the upper case R is not reflected within the filename and class name.

What I do as a workaround is using the --name flag for model parameter so that I can decide that the mode

[2017-11-08 16:02] dstuecken commented on #1143
Do you guys think I can create a PR for my fix?

[2017-11-09 09:20] sergeysviridenko commented on #1143
@dstuecken I couldn't reproduce this bug with command `phalcon model`. But I could reproduce this with `all-models`. Thank you for report. I'll fix this bug.

[2017-11-09 15:11] sergeyklay commented on #1135
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-09 15:11] #1135 closed

[2017-11-09 15:11] sergeyklay commented on #1143
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-09 15:11] #1143 closed

[2017-11-10 15:38] Niko9911 opened #1147 "Webtools does not create css."
### Expected and Actual Behavior

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
`Phalcon DevTools (3.2.11)

Environment:
[code]
* Phalcon Framework version: (`php --ri phalcon`)
[code]

[2017-11-11 22:21] Niko9911 opened #1148 "DevTools doesn't detect .phalcon folder."
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
[code]

* Phalcon Framework version: (`php --ri phalcon`)
[code]
* Operating System:
[code]

[2017-11-13 08:09] atianbang opened #1149 "could not find driver"
Phalcon DevTools (3.2.8)
when i run command ```phalcon model --name test ```,just throw the error ```could not find driver```,
i can get data from Di->db,is there some config for DevTools?

by the way,i use docker ,mysql dbhsot is not localhost or 127.0.0.1,is there need something to change?

anyone can help me?thx!

[2017-11-13 08:25] chilimatic commented on #1149
that usually means you don't have the pdo|mysql extensions compiled / installed. if you're executing inside of the docker container try to check if you got the extensions installed/enabled

usually they are in /etc/php/<here-different-linux-distros-have-different-paths>

[2017-11-13 10:32] sergeysviridenko commented on #1148
I couldn't reproduce this issue. It works fine for me. `.phalcon` and model create very well.
  Phalcon DevTools Version: 3.2.11
  Phalcon Version: 3.3.0
  AdminLTE Version: 2.3.6

If I could right understand - `.phalcon` was created but model didn't create. Could you take a look `.log` file?

[2017-11-13 10:48] atianbang commented on #1149
you notice me.just run the command and fetch data in two different container.i will have a try

[2017-11-13 12:20] sergeysviridenko commented on #1147
I propose to close this issue.

[2017-11-13 18:02] sergeyklay commented on #1147
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-13 20:23] sergeyklay commented on #1149
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-11-13 20:23] #1149 closed

[2017-11-14 07:00] Niko9911 commented on #1148
Will check this issue ASAP. I'm just today and maybe tomorrow little too busy.

[2017-11-17 07:47] Niko9911 commented on #1147
@sergeyklay Nothing were fixed.... It's still same issue after updating...

[2017-11-17 07:50] Niko9911 commented on #1148
@sergeysviridenko

Well, console gives this output:

[code]

Any ideas where I can find more info?

[2017-11-17 07:51] Niko9911 commented on #1148
I can create .phalcon using webtools command.

[2017-11-17 07:52] Niko9911 commented on #1148
`drwxrwxrwx  2 niko niko  4096 marra 17 09:45 .phalcon`

=>

[code]

[2017-11-17 07:54] Niko9911 commented on #1148
@sergeysviridenko

Can you tell me where I can disable .phalcon check. If I could bypass that check it might help me find the real problem...

[2017-11-17 08:48] oscarmolinadev commented on #1148
@Niko9911 https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Commands/CommandsListener.php#L55

[2017-11-17 10:40] Niko9911 commented on #1148
@oscarmolinadev Thanks!

Now I have this error: `Error: Builder doesn't know where is the models directory.` How I can set models location into config.json?

[2017-11-17 10:52] oscarmolinadev commented on #1148
Mmm.. you can put var_dump to see if direcotry exists?

https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Commands/Builtin/Model.php#L111

[2017-11-17 22:23] sergeyklay commented on #1147
/cc @sergeysviridenko

[2017-11-18 07:33] Niko9911 commented on #1148
@oscarmolinadev

[code]

[2017-11-18 08:00] oscarmolinadev commented on #1148
@Niko9911  You need modelsDir too.

https://github.com/phalcon/phalcon-devtools/blob/18e352c1db6d6875bdcbfede934266deaaa38013/scripts/Phalcon/Builder/Model.php#L156

[2017-11-18 11:35] Niko9911 commented on #1148
@oscarmolinadev Can I set models fir into config.json? Is it possible?

[2017-11-18 11:41] Niko9911 commented on #1148
I had to put full path to the models directory...

[code]

[2017-11-20 12:15] ninjapanzer commented on #1148
@Niko9911 is this issue what spawned `https://github.com/phalcon/docs/issues/1417`

[2017-11-20 14:21] sergeysviridenko commented on #1118
@Urvin This problem was [solved](https://github.com/phalcon/cphalcon/pull/13165).

[2017-11-22 04:49] virendpatel0 opened #1152 "Problem with webtools"
I have installed Phalcon on FreeBSD 11 with out any error. Phalcon running without any error. I did install Phalcon-devtools through github. Followed all step I think.

![untitled1](https://user-images.githubusercontent.com/33887664/33110491-cc0b6f98-cf0d-11e7-9dcd-b4a87ea45710.png)

When I click on link just blank page.

![untitled2](https://user-images.githubusercontent.com/33887664/33110550-27c

[2017-11-22 06:38] sergeyklay commented on #1152
@ virendpatel0 Is there any related web-server/php logs?

[2017-11-22 06:38] sergeyklay commented on #1152
@virendpatel0 Is there any related web-server/php logs?

[2017-11-22 13:23] sergeysviridenko commented on #1147
@Niko9911 Have you updated your devtools after last merge?

[2017-11-22 13:45] Niko9911 commented on #1147
@sergeysviridenko I updated my devtools 5 days ago. I will update it again asap.

[2017-11-22 13:58] sergeysviridenko commented on #1147
@Niko9911 I still can't reproduce it. Could you take a look any errors in php log?

[2017-11-22 22:49] virendpatel0 commented on #1152
Nginx Access log

27.0.0.1 - - [22/Nov/2017:16:45:49 -0600] "GET /webtools.php HTTP/1.1" 200 6465 "-" "Mozilla/5.0 (X11; FreeBSD amd64; rv:55.0) Gecko/20100101 Firefox/55.0"
127.0.0.1 - - [22/Nov/2017:16:45:49 -0600] "GET /css/webtools.css?v=3.2.11 HTTP/1.1" 200 253410 "http://127.0.0.1/webtools.php" "Mozilla/5.0 (X11; FreeBSD amd64; rv:55.0) Gecko/20100101 Firefox/55.0"
127.0.0.1 - - [22/Nov/2017

[2017-11-23 07:08] junliuxian opened #1153 "Code hints are incomplete"
Phalcon is a very good framework, and I like it for it. When I use phalcon-devtools to generate prompt, there is no return value and no parameter explanation. Can strengthen it?

[2017-11-23 10:09] Niko9911 commented on #1147
@sergeysviridenko
Well, I had small brain fart... I did download the "update" from 3.1.x branch... Sorry for inconvenience!

[2017-11-23 10:40] Niko9911 commented on #1147
And issue after that was fixed. It was with /tmp/phalcon permissions...

[2017-11-23 13:53] sergeyklay commented on #1153
@junliuxian Could you please explain a bit more?

[2017-11-24 01:58] junliuxian commented on #1153
gen-stubs.php generated phalcon code, there is no method description, such as parameters and return value description, resulting in PHPStorm does not recognize

[2017-11-24 06:31] sergeyklay commented on #1153
Ah :) We use `zephir stubs` command for that. Personally I never used it. I think we need to remove this file from the repository to avoid confusion.

[2017-11-26 00:45] CeRBeR666 commented on #1147
stiil same on me. I pull 3.2.x but nothing changed

[2017-11-26 01:09] Niko9911 commented on #1147
@CeRBeR666 Any logs?

[2017-11-26 10:48] CeRBeR666 commented on #1147
This is my phalcon devtools version

[code]

This is my phalcon.bat config

[code]
This is my config.php base_uri array

`'baseUri'        => preg_replace('/public([\/\\\\])index.php$/', '', $_SERVER["PHP_SELF"]),`

But
![phalcon1](https://user-images.githubusercontent.com/504973/33239313-38eea0a8-d2b0-11e7-8e06-7b3022517188.png)
![phalcon2](https://user-images.githubusercontent.com/504973/3323932

[2017-11-26 10:57] sergeyklay commented on #1147
/cc @sergeysviridenko

[2017-11-28 18:58] regis123 opened #1154 "webtools without css - xampp with PHP Version 7.1.7"
### Expected and Actual Behavior

![phalconwebtools without css](https://user-images.githubusercontent.com/3351895/33338266-aed345d2-d45c-11e7-9c7e-b1a3f23e6449.PNG)
![webtools phalcon without css](https://user-images.githubusercontent.com/3351895/33338387-1c358e64-d45d-11e7-9f30-5ac87f48065c.PNG)

[code]

[code]

### Details
Where i need to change in my code.  Help...
* System info and versions (

[2017-11-28 23:09] sergeyklay commented on #1154
/cc @sergeysviridenko

[2017-11-28 23:10] sergeyklay commented on #1154
Refs:
* https://github.com/phalcon/phalcon-devtools/issues/1152
* https://github.com/phalcon/phalcon-devtools/issues/1147

[2017-11-29 00:54] regis123 commented on #1147
$root = new SplFileInfo($path . 'public' . DS);
        $fsUtils->setDirectoryPermission($root, ['js' => 0777, 'css' => 0777]);

        $tools = rtrim(str_replace(["\\", '/'], DS, PTOOLSPATH), DS);

        copy($tools . DS . 'webtools.php', $path . 'public' . DS . 'webtools.php');

[2017-11-29 00:56] regis123 commented on #1147
I tested on wamp64 and xampp32, unsuccessfully

[2017-11-29 22:13] FlameStorm opened #1155 "Phalcon 3.2 "ide/stubs/Phalcon" directory are missing"
Good day, Phalcon team!

The phalcon-devtools/ide/stubs/Phalcon directory with all of it content are missing in branch 3.2.x .

We are moving to Phalcon 3.2 and changing to branch of phalcon-devtools to 3.2.x there are many problems in typehinting. But it was all good on phalcon-devtools 3.1.x branch.

Please, fix this asap.
Thank you!

* Phalcon Framework version: 3.2.4
* PHP Version: 5.6 x64
* O

[2017-11-30 10:48] sergeysviridenko commented on #1147
@CeRBeR666 Do you see `.js` file in your HTML tree?

[2017-11-30 10:51] sergeysviridenko commented on #1147
@regis123 I still can't reproduce this issue. I've created new project - all work fine.

Could you provide more information?

[2017-11-30 11:17] sergeysviridenko commented on #1152
@virendpatel0 Do you use latest stable version. Could you try to update? I can't reproduce this issue.

[2017-11-30 11:24] sergeysviridenko commented on #1154
@regis123 could you provide more bit information and any steps to reproduce. It works fine for me.
OS: Ubuntu 16-04
Phalcon DevTools Version: 3.2.11
Phalcon Version: 3.3.0

[2017-11-30 14:11] regis123 commented on #1154
![phalconinvo](https://user-images.githubusercontent.com/3351895/33434771-6f391b74-d5c7-11e7-92fa-2bcdda6fd9f0.PNG)

with virtualhost create, now is 100%. No more problems, tks guys!

[2017-11-30 14:22] sergeysviridenko commented on #1154
@regis123 could we close this issue?

[2017-11-30 14:23] regis123 commented on #1154
All right!

[2017-11-30 14:23] #1154 closed

[2017-11-30 14:28] regis123 commented on #1154
sergeysviridenko,

Yes ..! You Can close!

[2017-11-30 14:28] sergeysviridenko commented on #1154
@regis123 Could you give more information about how you were able to solve this issue?

[2017-11-30 14:42] regis123 commented on #1154
WampServe 64, windows 7, php 5.6.
1- I create virtualHost Name (http://invo/)
2-Change... to  'baseUri'        => '/',
3-Tool.php =  $fsUtils->setDirectoryPermission($root, ['js' => 0777]);
test create : TestController , fine!
Steps 2 e 3 i read in here.
Thats all!

[2017-11-30 14:48] sergeysviridenko commented on #1154
@regis123 Thank you very much.

[2017-11-30 16:17] sergeysviridenko commented on #1152
@virendpatel0 as I can see on the second pic you've got URL - `localhost/webtools.php`. Could you provide your config

[2017-11-30 23:34] virendpatel0 commented on #1152
With FreeBSD and Nginx please give me installation procedure with config for webtools. I might have missed some steps possibly.  Thanks in advance.

[2017-12-01 20:12] CeRBeR666 commented on #1147
@sergeysviridenko hi sergey i see js file in my html but path doesn't correct
my js path
`http://localhost/js/webtools.js?v=3.2.11`
But i try on fresh setup on phalcon and i never change any code.
Thank you.

[2017-12-02 04:22] selden1992 commented on #1155
phpstom ide not tip

[2017-12-02 08:01] oscarmolinadev commented on #1155
Stubs have a new repo:

https://github.com/phalcon/ide-stubs

[2017-12-02 08:04] FlameStorm commented on #1155
Does it have any matter? See above.

For me I just forced to take phalcon/cphalcon repository, fetch latest stable (3.2.4) cphalcon to local, modify constant `CPHALCON_DIR` at row in file `ide/gen-stubs.php` to valid for me path `__DIR__ . '/../../../../../cphalcon/ext/'` and run `php ide/gen-stubs.php`. It made the folder `ide/3.2.4/Phalcon` with all need classes.
So, _my_ typehinting now fine. B

[2017-12-02 08:11] FlameStorm commented on #1155
@oscarmolinadev thank for a hint! May be it will be useful. But it is not obvious.
May be it's a good idea to add info about `Stubs` repo to `devtools` Readme once "phalcon devtools politics about Stubs" is changed (as I understand this)?

[2017-12-04 08:41] sergeysviridenko commented on #1147
@CeRBeR666 could you provide your `config` file. Do you use xampp or other? Which web-server do you use?

[2017-12-04 08:48] sergeysviridenko commented on #1152
Do you use xampp or other? Could you provide your config file and index page URL

[2017-12-04 18:34] regis123 commented on #1147
I think if you make virtualHost in wamp64 and other steps:

****http://localhost/add_vhost.php***

1- I create virtualHost Name (http://nameproject/)

2-Change... to 'baseUri' => '/',

3-Tool.php = $fsUtils->setDirectoryPermission($root, ['js' => 0777]);

[2017-12-04 19:05] Edreadman opened #1156 "Problem with camelize models"
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: 3.2.4
* PHP Version: 7.1
* Operating System: RHEL7
* Server: Apache
* Other related info (Database, table schema): MYSQL 5.x

[2017-12-04 19:29] Edreadman commented on #1156
Found the problem in phalcon-devtools\scripts\Phalcon\Builder\Model.php on lane 436

Change this:
$fieldName = Utils::lowerCamelizeWithDelimiter($field->getName(), '-', false);

For:
$fieldName = Utils::lowerCamelizeWithDelimiter($field->getName(), '-');

then my field name "ProductType" outputs " $this->ProductType = $ProductType;" instead of "$this->productType = $productType;"

[2017-12-05 19:49] sergeyklay commented on #1155
https://github.com/phalcon/phalcon-devtools/pull/398

[2017-12-05 19:49] #1155 closed

[2017-12-06 08:52] sergeyklay commented on #1152
@virendpatel0 We'll need:
* Application config (please remove passwords or private data)
* Nginx configuration (mostly `server` section)

[2017-12-06 10:42] sergeysviridenko commented on #1147
@regis123 I think too.

[2017-12-09 21:15] CeRBeR666 commented on #1147
@regis123 its working. I make a vhost on my wamp server and phalcon tools working werry well.
Thank you.
U can closed the issue ?

[2017-12-09 21:35] #1147 closed

[2017-12-13 15:49] amnuts commented on #562
@sergeysviridenko I wouldn't say that they're specific to MySQL.  [PostgreSQL has enums](https://www.postgresql.org/docs/8.3/static/datatype-enum.html), for example.  However, beyond that others mayb not (Oracle or SqlServer) for example.

Perhaps you could generate a commented out block for the specific db type on which the migration generation was run?  Chances are someone is doing that because

[2017-12-13 15:56] ChangePlaces commented on #562
Wow, I'm surprised this project is still going! I thought it was dead!

[2017-12-13 16:02] amnuts commented on #562
@ChangePlaces hope not, because I've only just started to use Phalcon and its migrations!  Does seem to have gone on for quite some time, though - a couple years at least, it seems.  There seems to be an assumption that the tool can only be generic and support all databases and not give the specifics that the user may choose to use because it suits their needs.  I'd rather it works so that I can t

[2017-12-14 03:09] amsharma9 opened #1162 "Hardcoding schema in init"
DevTools hard codes `schema` in `initialize()` function of generated models. Is this a good idea? Hard coding database name into the code creates so many issues and reduces flexibility. Does it serve any purpose? See this query [Phalcon tools setSchema by default now?](https://forum.phalconphp.com/discussion/15823/phalcon-tools-setschema-by-default-now) on the forum.

Is there a way to avoid this.

[2017-12-14 07:25] sergeyklay commented on #1162
@amsharma9 Could you please provide typical not neatly generated initialize method?

[2017-12-14 07:50] amsharma9 commented on #1162
Here is a sample of code generated:

[code]

[2017-12-14 09:33] sergeyklay commented on #1162
@amsharma9 The last thing I need - steps to reproduce :)

[2017-12-14 11:00] amsharma9 commented on #1162
Normal DevTools command for model generation. It generates this code with or without any options AFAIK.
[code]

[2017-12-15 03:05] amsharma9 commented on #1154
@sergeysviridenko I don't think this is resolved. Even #1152 is the same issue. To recreate create a blank project with latest devtools on Wamp on Windows:
[code]
Go to http://localhost/test. It will show you a page without CSS.
Doesn't show the page without `staticUri`. See

- [Css webtools 3.1.2 is not loaded](https://forum.phalconphp.com/discussion/15931/css-webtools-312-is-not-loaded)
- [Webto

[2017-12-15 13:14] sergeysviridenko commented on #1154
@amsharma9 could you open new issue and provide steps to reproduce?

[2017-12-15 17:15] amsharma9 opened #1164 "Webtools page doesn't use CSS by default for any new project"
Webtools doesn't show the proper page without `staticUri` being specified in `config.ini`. See

- [Css webtools 3.1.2 is not loaded](https://forum.phalconphp.com/discussion/15931/css-webtools-312-is-not-loaded)
- [Webtools can not load css if using different baseUri](https://forum.phalconphp.com/discussion/15111/webtools-can-not-load-css-if-using-different-baseuri)

are all same issue. Just create

[2017-12-18 12:19] amsharma9 opened #1165 "Make provision to skip fields when generating Views"
NFR: I wanted to know if we can add a provision to skip fields specified in `config.ini` file while generating `Views` like this:
[code]
Developers might not want these fields to be placed in generated `views` as they are mostly updated in the background. If this feature is acceptable to DevTools team then I already have some code written which I can commit.

[2018-01-04 12:42] alexbusu opened #1169 "Incomplete annotation definition in Model generator"
Generating Models with annotations does not specify the column name on the `@Column` property.

Therefore having camelized Model properties will result in column map mismatch.
Using Annotations Model Metadata Strategy (AMMS) make the Model->columnMap() method useless, as the AMMS will parse Model annotations and [look for "column" parameter](https://github.com/phalcon/cphalcon/blob/master/phalcon/

[2018-01-04 13:07] sergeyklay commented on #1169
Refs: https://github.com/phalcon/phalcon-devtools/issues/589

[2018-01-04 20:36] #1169 closed

[2018-01-05 08:47] sergeysviridenko commented on #1164
@amsharma9 could you try to set virtual host? [Here](https://github.com/phalcon/phalcon-devtools/issues/1147) is solution to resolve problem like this.

[2018-01-05 09:00] sergeysviridenko commented on #1148
@Niko9911 was your problem solved or still appear?

[2018-01-05 09:22] alexbusu commented on #664
I have encountered the same issue as @makerlabs - I also agree that it would be nice to keep "extra" data in Models (like constants, use statements in file head, use traits statements inside Model class body, later added methods, etc).
As per @victorhramos comment, maybe relationship changes between the Models is easier to manage in Annotations (metadata) - I'm not sure how relationships are defin

[2018-01-05 09:48] sergeysviridenko commented on #1156
@Edreadman method `Utils::lowerCamelizeWithDelimiter()` has third default param is `false`.
If I understood correctly you 'd like to have variable like `$ProductType`. This isn't default name of variable. We always use $productType. If you'd to have `$ProductType`, you can change this manually.

[2018-01-05 12:14] sergeysviridenko commented on #664
@alexbusu Could you explain what do mean `extra` data? This issue is connected to option `merge`. Let's separate them. Could you please create new issue with your proposition and detail description? Then we'll try to sort out it.

[2018-01-05 13:02] Niko9911 commented on #1148
@sergeysviridenko This can be close. Tough phalcon/docs#1417 will continue.

[2018-01-05 13:02] #1148 closed

[2018-01-05 13:18] sergeysviridenko commented on #1148
@Niko9911 Thank you.

[2018-01-05 13:49] alexbusu commented on #664
Sure, @sergeysviridenko
![image](https://user-images.githubusercontent.com/4104165/34611322-e3855580-f21c-11e7-9751-14b49e963cce.png)
As the issue author says, the `use` statements are not preserved. From this before-and-after model generation diff image I notice the constants are not preserved either. Nor the phpdoc or random class comments.
Moreover the setters and getters are replaced (I think

[2018-01-05 14:28] sergeysviridenko commented on #664
@alexbusu All data generating with snippet. generator creates some methods, I'd say model skeleton. I guess if your project is started earlier and your model already has some extra code, then model generating isn't need for you and you already have this methods. As I've said earlier merge option has many problem (a little bit part of them I've describe above) and require add huge module and big co

[2018-01-06 11:14] sergeyklay commented on #664
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that. IMO it is hard to implement.

[2018-01-06 11:14] #664 closed

[2018-01-06 11:43] #1164 closed

[2018-01-09 07:16] beatwade commented on #562
@markhilton Hi, you can use query in migration with up function. this is very flexible.
such as this
``php
    /**
     * Define the table structure
     *
     * @return void
     */
    public function morph()
    {
        $this->morphTable('user_house_privilege', [
                'columns' => [
                    new Column(
                        'id',
                        [

[2018-01-09 07:17] beatwade commented on #562
@markhilton you can use connection with query in migration up method

[2018-01-09 09:13] sergeysviridenko commented on #1156
@Edreadman this isn't bug. It is normal and expected behavior, so I propose to close this issue.

[2018-01-09 09:27] #1156 closed

[2018-01-09 09:30] sergeysviridenko commented on #308
@Cvetomird91 There isn't update. We will try to sort out with this asap.

[2018-01-09 22:56] ronindesign commented on #976
Not sure if this is the same issue, but I'm getting multiplying URI when trying to use phalcon devtools' WebTools.

Example of requested URL when clicking "System Info" from WebTools dashboard:
`http://127.0.0.1:8000/webtools.php/webtools.php?_url=/info`

And, yes, setting `app/config/config.php`:
[code]
fixes this issue.

Additional context:
https://forum.phalconphp.com/discussion/15105/webtools-

[2018-01-10 04:20] atef201080 opened #1174 "PHP Fatal error"
i dont like using xampp or wamp in my pc so i decided to download php and installed phalcon on it..
and downloaded phalcon devtools using composer. when i tried creating project and tried to serve it using phalcon devtools i got this error..
i even tried downloading pear and still the same error. i really don't get it..

[Wed Jan 10 06:17:36 2018] PHP Warning:  Unknown: failed to open stream: No s

[2018-01-10 11:13] sergeyklay commented on #1174
@aaaqqqq We'll need a bit more info DevTools version and steps to reproduce

[2018-01-10 11:14] sergeyklay commented on #1174
What `pear` do you download? Could you elaborate on this?

[2018-01-11 11:27] atef201080 commented on #1174
i used DevTools using composerr which from here https://packagist.org/packages/phalcon/devtools
and this pear https://pear.php.net/manual/en/installation.php
I had fresh install of php 7.2 NTS on windows 10 64 bit

[2018-01-11 11:57] sergeyklay commented on #1174
There is no official PEAR DevTools. You have to use either Git way or Composer way. Also could you please provide steps to reproduce? We'll need step by steep all what you do to understand the problem.

[2018-01-22 09:49] javacty opened #1177 "version show "Phalcon DevTools (1.3.2)" ?"
When I  git clone git://github.com/phalcon/phalcon-devtools.git or download from release (v3.2.12) and install,  the version both show 1.3.2 ?

[2018-01-22 11:17] sergeysviridenko commented on #1177
@javacty could you provide a little bit more information and steps to reproduce?

[2018-01-22 11:34] javacty commented on #1177
ok
ubuntu 17.10 x64
php -v
PHP 7.2.1-1+ubuntu17.10.1+deb.sury.org+1 (cli) (built: Jan  5 2018 13:55:19) ( NTS )
php -m
[PHP Modules]
calendar
Core
ctype
date
dom
exif
fileinfo
filter
ftp
gettext
hash
iconv
json
libxml
mbstring
openssl
pcntl
pcre
PDO
pdo_pgsql
pgsql
phalcon7
Phar
posix
readline
Reflection
session
shmop
SimpleXML
sockets
sodium
SPL
standard
sysvmsg
sysvsem
sysvshm
tokenizer
volt
wdd

[2018-01-22 11:47] sergeyklay commented on #1177
@javacty Could you please provide output of:

[code]

[2018-01-22 12:04] javacty commented on #1177
php --ri phalcon
Extension 'phalcon' not present.

Phalcon7 Version => Phalcon7(Dao7)-1.3.2
Build Date => Jan 21 2018 12:42:26
Sync => enabled

Directive => Local Value => Master Value
phalcon.debug.enable_debug => Off => Off
phalcon.orm.events => On => On
phalcon.orm.virtual_foreign_keys => On => On
phalcon.orm.not_null_validations => On => On
phalcon.orm.length_validations => On => On
phalcon.or

[2018-01-22 12:06] sergeyklay commented on #1177
You have to install **official** latest Phalcon to use DevTools v3

[2018-01-22 12:06] #1177 closed

[2018-01-25 14:01] eokenned opened #1178 "scaffolder has a problem with capitalisation in field names"
### Expected and Actual Behavior
Trying to scaffold a database table with Capital letters in the field names and use the resultant CRUD

The tables scaffolds without error but the resultant code has issues.

If I use --get-set then createAction() and saveAction() set all field values in the DB to null.
If I don't use --get-set when scaffolding then createAction and saveAction has no effect on exis

[2018-01-26 06:32] ronindesign commented on #1077
I have this same error.

Docs say to put `config.ini` in project root, this is incorrect.
WebTools wouldn't read config.ini until I placed at `app/config/config.ini`

After this, my database settings are being correctly read from `config.ini`, and at least now the page is not blank / white and loads.
However I get error:

I've tried changing the section in my config.ini from `[phalcon]` to `[appli

[2018-01-26 07:40] ronindesign commented on #1077
Looks like I was victim of the documentation again...
Removing `'` (single quote) from all paths fixed my issue and entries are being used correctly.

[2018-02-03 15:36] amq opened #1179 "Store migration version in database itself"
### Expected and Actual Behavior

Currently, the version is stored in `.phalcon/migration-version` which requires a persistent storage. In a container environment this adds a lot of complexity.

If the version would be stored in the database itself, the containers running Phalcon could be fully immutable, while I don't see any real disadvantage. Even on the contrary, imagine that someone imports a

[2018-02-03 17:49] sanjay-arya opened #1180 "WebTool showing plain html, no css and js"
### Expected and Actual Behavior

<img width="1067" alt="screen shot 2018-02-04 at 12 17 10 am" src="https://user-images.githubusercontent.com/8967480/35769912-01cd4b98-0941-11e8-9df7-777fa4b5cf3e.png">

### Details

* System info and versions :
[code]

* Phalcon Framework version:
[code]

* PHP Version:
[code]

* Operating System: macOS Sierra(10.12.6)

* Server: Nginx | Apache | Other
MAMP with

[2018-02-06 08:21] Robinouh commented on #1180
Hi,

You have to add an entry in _application_ array in _app/config/config.php_:

'staticUri' => '/phalcon/dev/'

[2018-02-06 11:52] sanjay-arya commented on #1180
Thanks, It's working

[2018-02-07 06:47] trentramseyer opened #1181 "Project Create Template : Simple suggestions"
While creating a project from  `phalcon create project_name` there are a couple steps I have to repeat to make it a base of what I use.

One, the `index.php` loads the `router.php` file before the `$config=>$di->getConfig()` command.  This causes a problem because I like to create an array of endpoints in my config file that I loop through to create REST calls for them in the router file. It would

[2018-02-08 15:11] jrcscarrillo opened #1182 "Field names in generated model do not start as they were defined in MySQL"
I have created this model using the following command:

[code]

My field names in this table start with a uppercase (for instance `TxnID`, `TimeCreated`, `TimeModified` ...), but in generated model the names start with lowercase ( `public $txnID;`, but I expected `public $TxnID;`).

In the past I have created other models but they were created perfectly, my only change since the last time that I h

[2018-02-08 15:41] ruudboon opened #1183 ".phalcon directory required when running migrations with --log-in-db"
When running
[code]
Phalcon ask for the creation of a .phalcon directory, don't think this is needed and would be nice if this check could be removed for automatic deployment.

[2018-02-08 16:21] ruudboon opened #1184 "Renaming primary column fails in mysql"
When renaming the the primary auto increment key in mysql the migration fails.

For example if you rename an auto index column called test_id into id you get the following error
[code]

[2018-02-08 18:31] #1180 closed

[2018-02-12 12:56] sergeysviridenko opened #1185 "Incorrect link to to outer resources"
Devtools has incorrect link to outer resources like `https://docs.phalconphp.com/en/latest/reference/install.html`. Correct link is `https://docs.phalconphp.com/en/latest/installation`

[2018-02-12 14:54] sergeysviridenko commented on #1184
@ruudboon could you provide a little bit more information and steps to reproduce, please?

[2018-02-12 23:24] #1152 closed

[2018-02-13 07:27] sergeyklay commented on #562
@sergeysviridenko Could you please deal with this

[2018-02-13 09:49] sergeysviridenko commented on #562
Ok. I'll try to sort out.

[2018-02-13 18:00] alexholoo commented on #1180
For me, it works after I added this line after baseUri at application section in the app/config/config.ini file:
`staticUri = /myPhalconProjectFolder/public/`

[2018-02-15 16:50] ruudboon commented on #1184
@sergeysviridenko
Steps:
- Created table in mysql with primary id: "test_id".
- phalcon migration --action=generate (1.0.0)
- Rename test_id to id
- phalcon migration --action=generate (1.0.1)
- Delete table or create empty database
- Phalcon migration --action=run

Results in:
[code]

Migration files
[code]
1.0.1
[code]

[2018-02-16 17:51] eokenned commented on #1178
I went back and checked and this problem seems to start in dev-tools v3.2.3. v3.2.2 doesn't handle --get-set at all. But 3.20 is fine and doesn't have the issue with upper-case in field names.  v3.2.0 doesn't have the issue. The issue persists in v3.2.12. Hope this helps

[2018-02-16 17:53] eokenned commented on #1178
I do think this qualifies as a bug though.

[2018-02-16 18:07] sergeysviridenko commented on #1178
@eokenned Thank you for report. Could you provide a little bit more information? I'd like to have to take a look your configuration, your data that you have at the start and the end. Steps to reproduce would very helpful.

[2018-02-16 18:15] sergeysviridenko commented on #1182
@jrcscarrillo thank you for report.
Could you provide a little bit more information, data that you had at the start and at the end. Steps to reproduce would be very helpful.
Could you try to use latest stable version?

[2018-02-16 18:23] sergeysviridenko commented on #1184
@ruudboon thank you. I'm in process of rewriting migration part of devtools. I'll try to deal with this asap.

[2018-02-16 18:25] ruudboon commented on #1184
Awesome! Thnx

[2018-02-16 18:30] sergeysviridenko commented on #1183
@ruudboon I agree with you. I'd to take into consideration your suggestion in new version of migration, but in the future devtools always be in need `.phalcon` directory.

[2018-02-16 18:35] ruudboon commented on #1183
@sergeysviridenko Ok. Not really a big issue, in my deployment of the container I'm currently just creating the dir and then run the migration but feels a bit unnecessary. Feel free to close this.

[2018-02-16 18:39] sergeysviridenko commented on #1181
@trentramseyer thank you for report.
We're in the process of rewrite devtools. Possibility to add custom configuration is envisaged. Creating project will be rewrite to.

[2018-02-16 18:46] sergeysviridenko commented on #1183
@ruudboon in `.phalcon` folder devtools will put config file. There are users can modify it and save their custom configuration and connect their own modules. I hope it will be helpful.

[2018-02-16 18:46] #1183 closed

[2018-02-17 10:14] rabrowne85 opened #1188 "Migration Run: Disable FK Checks Before Creating FKs and Updating Data"
When running migrations with Foreign Keys defined, it's possible for the order of the migration files to be such that the referenced table does not exist yet. Most DBs have the capability to temporarily disable foreign key checks and then enable them again later on.

I'm suggesting that foreign keys be disabled after this line:
https://github.com/phalcon/phalcon-devtools/blob/f7d474ae5eb953729f2b9

[2018-02-22 13:46] ruudboon commented on #1184
@sergeysviridenko What SQL do yo need? Running the posted migration files should do the trick.

[2018-02-27 17:10] YujiShen opened #1190 "Can't create MIGRATION_LOG_TABLE due to Index column size too large"
I try to use --log-in-db option in migration, but when run the migration, I got the error:

[code]

I think it is because I use `utf8mb4` for my database. Maybe reduce the `version` column size? Now it is 255. And it will exceed max limit for indexing.

https://github.com/phalcon/phalcon-devtools/blob/b62a35e88433c8db1d34fdf2fb7cdfef50a48403/scripts/Phalcon/Migrations.php#L447

Here is a related q

[2018-03-04 01:48] kumarnabin opened #1191 "correction should be made in relative links."
css and js file did not load while accessing project through apache  url (`localhost/<project_name>/webtools.php`) and also url concatenated each time with new link.
 I made little change in `app\config\config.php` ie.
[code]
and worked fine with server `phalcon serve localhost`
with  url `localhost:8000/webtools.php`
but not totally solved for apache url.

### Details

 System info and versions :

[2018-03-09 14:46] sergeysviridenko commented on #1191
@kumarnabin could you provide information about your problem a little bit more? Please, add full information to correct reproduce your problem.

[2018-03-09 14:49] sergeysviridenko commented on #1190
@YujiShen Could you provide a little bit more information to correct reproduce, please?

[2018-03-09 14:56] sergeysviridenko opened #1193 "Brand New Phalcon Developr Tools"
Main Goals:

- [ ] Brand new plugin system
- [ ] Fully modular system
- [ ] Minimal supported PHP is v7.0
- [ ] Ability to change Devtools configuration using custom, per application configuration
- [ ] Using [ChangeLog](https://keepachangelog.com/en/1.0.0)

----

Refs:

- [Phalcon  Forum: Future of the Phalcon Devtools](https://forum.phalconphp.com/discussion/9409/future-of-phalcon-devtools)

[2018-03-12 11:24] kumarnabin commented on #1191
Is there any better idea? please reply

[2018-03-12 11:49] sergeysviridenko commented on #1191
@kumarnabin You should change defauld setting for XAMPP.
Could you try [solution](https://github.com/phalcon/phalcon-devtools/issues/1147)

[2018-03-13 12:01] lajosbencz commented on #1193
I might be behind current version, but it would be neat to have proper IDE hinting when generating model classes.
In particular, related model hinting.

[code]

[2018-03-15 10:01] oscarmolinadev commented on #1193
It would be nice if use Phalcon\Cli\Console and help to improve it. :)

[2018-03-15 11:46] sergeysviridenko commented on #1193
@oscarmolinadev Sure. there will be used it

[2018-03-15 16:47] sergeysviridenko commented on #1193
@lajosbencz We'll take it to consideration

[2018-03-16 00:31] YujiShen commented on #1190
I think the key to reproduce this is to set your Character Set of database to utf8mb4. Then try to generate the migration.

[2018-03-17 13:17] andygithubchen opened #1207 "PHP Fatal error: Uncaught Error: Call to undefined function tests_path()"
I do "phalcon model products", show:

[code]

[2018-03-21 16:25] amnuts commented on #1184
I'm running into this same issue when trying to morph a new primary column and change the previous on only to be a regular index.  What's the latest on the devtools?

[2018-03-22 10:53] alvlapo opened #1210 "Tool generate wrong sql statement when default parameter is set"
### Syntax error: 7 ERROR:  syntax error at or near "DEFAULT"

When i add default parameter to my field

[code]
and run migration, i have error report in console
[code]
and in postgresql log a see

[code]

### Details

Environment:
*  OS: Linux 407ad79a6c95 4.13.0-37-generic #42-Ubuntu SMP Wed Mar 7 14:13:23 UTC 2018 x86_64
*  PHP Version: 5.6.11-1ubuntu3.4
*  PHP SAPI: cli
*  PHP Bin: /usr/bin/ph

[2018-03-22 11:15] alvlapo commented on #1210
Migration file was generated by phalcon devtool

[2018-03-27 15:17] #1207 closed

[2018-03-28 09:48] sergeysviridenko commented on #1210
@alvlapo Could you try phalcon version 3.3? This problem was fixed in 3.3.x branch.
 [PR link](https://github.com/phalcon/cphalcon/pull/13165)

[2018-03-28 10:50] sergeysviridenko opened #1211 "Config doesn't define when scaffold is generating"

[2018-03-28 10:56] sergeysviridenko opened #1213 "Add codestyle (PHP_CodeSniffer) tests support to the 3.3.x branch"

[2018-03-29 12:03] #1211 closed

[2018-03-30 12:29] sergeysviridenko commented on #308
We'll try to implement in [branch 4.0.x](https://github.com/phalcon/phalcon-devtools/tree/4.0.x)

[2018-03-30 12:33] sergeysviridenko commented on #1213
I close this issue, because [implement](https://github.com/phalcon/phalcon-devtools/pull/1214) in 3.3.x branch

[2018-03-30 12:33] #1213 closed

[2018-03-30 12:34] sergeysviridenko commented on #562
We'll try to implement in 4.0.x branch

[2018-03-30 12:53] ruudboon commented on #308
@sergeysviridenko Awesome

[2018-03-30 18:35] sergeysviridenko commented on #1184
@ruudboon @amnuts Migration in devtools provide useful migration tools, but it can work with common situation. But it's very specific situation and I'm not sure it can be automated. I guess it must be user responsibility, because automation can create new problems. For example work with table data from file will be broken. There're the few ways to solve this problem. For example change a migration

[2018-03-31 19:52] #1184 closed

[2018-04-01 20:38] jbenner-radham opened #1215 ""Main Navigation" links are broken in Phalcon WebTools"
### Expected and Actual Behavior
When I navigate to the "Main Navigation" section and expand the "Models" dropdown and click the "List all" link I expect to be taken to the "Models List" page. Instead I am taken to the Phalcon project's `index.volt` page.

### To Reproduce the Issue
1. `$ phalcon.php project example-phalcon-lab --enable-webtools --template-engine="volt"`
2. `$ cd example-phalcon-l

[2018-04-02 08:28] sergeysviridenko commented on #1215
I wasn't able to reproduce this issue. It works fine for me. Could you provide app config?

[2018-04-02 08:50] sergeysviridenko commented on #1188
@rabrowne85 It isn't a bug. Devtools provides tools to work this migration. Migration mustn't be depend on specific DB. I think enable/disable checking FK - isn't good way to solve this problem, because it specific situation and it isn't universal. We will try to implement other way - add FK after create/run migration in 4.0.x branch.

[2018-04-02 09:24] sergeysviridenko commented on #1178
@eokenned Could you provide your controller and model?

[2018-04-02 09:30] sergeysviridenko commented on #1174
@atef201080 Did you install devtools?

[2018-04-02 11:03] sergeysviridenko commented on #1153
@junliuxian Could you provide an example? I checked if method described in zephir, it described in stubs.

[2018-04-02 11:13] #1188 closed

[2018-04-02 13:39] jbenner-radham commented on #1215
I'm not on a LAMP stack right now, just using the `phalcon.php serve` PHP server, sorry for any miscommunication at all. Regardless I looked through that issue and didn't see anything relevant to my setup (e.g. no `add_vhost.php` file). Here's the config files as requested:

### `app/config/config.php`
[code]

### `public/webtools.config.php`
<?php

/*
  +------------------------------------------

[2018-04-03 09:26] sergeysviridenko commented on #1215
@jbenner-radham Thank you for report. Clear. Could you change your `baseUri` to '/'. It must help you.

[2018-04-03 20:42] jbenner-radham commented on #1215
@sergeysviridenko Yes, changing the `baseUri` fixed the problem. Thank you.

[2018-04-03 22:17] #1215 closed

[2018-04-04 02:29] #1153 closed

[2018-04-04 02:30] junliuxian commented on #1153
Sorry, I failed to shut it down in time. Actually, this problem has been solved.

[2018-04-04 11:50] sergeysviridenko commented on #1043
https://forum.phalconphp.com/discussion/16645/feature-request-restful-controller-skeleton

[2018-04-08 09:20] kg-web opened #1216 "Don't work，why？"
![image](https://user-images.githubusercontent.com/20922287/38465652-14665816-3b51-11e8-8f87-e7e23eefa27c.png)
![image](https://user-images.githubusercontent.com/20922287/38465655-1d91149e-3b51-11e8-8517-ecad22edd2f2.png)
![image](https://user-images.githubusercontent.com/20922287/38465659-2701e1de-3b51-11e8-880f-7ee5c14486ab.png)
![image](https://user-images.githubusercontent.com/20922287/3846566

[2018-04-23 13:52] birdshark opened #1218 "import data"
### Expected and Actual Behavior

[code]

[code]

[code]

### Details

  OS: Windows NT HEAVEN 10.0 build 16299 (Windows 10) AMD64
  PHP Version: 7.2.4
  PHP SAPI: cli
  PHP Bin: G:\wamp64\bin\php\php7.2.4\php.exe
  PHP Extension Dir: C:\php\ext
  PHP Bin Dir: C:\php
  Loaded PHP config: G:\wamp64\bin\php\php7.2.4\php.ini
Versions:
  Phalcon DevTools Version: 3.2.12
  Phalcon Version: 3.3.2
  Admi

[2018-04-26 12:24] loeken opened #1219 "migrations generated by devtools cannot be reimported"
### Expected and Actual Behavior

I have a few tables with foreign key relations I export them using the migration function, i then clear the database and try reimporing those generated migration files

An unexpected error has occurred. SQLSTATE[HY000]: General error: 1005 Can't create table `databasename`.`tablename` (errno: 150 "Foreign key constraint is incorrectly formed")

### Details
lets sa

[2018-04-27 16:07] jorwan commented on #229
Hi @raja-aitlahrir1
Could you please explain how did you solved it ?
Thanks

[2018-04-30 12:13] hakimio commented on #1216
Try the following script:
[code]

[2018-05-02 01:44] kg-web commented on #1216
Thank you. I've solved it.

[2018-05-02 06:46] #1216 closed

[2018-05-09 13:53] jorwan commented on #635
hi, same problem here. whoe did you fix it ?
Thanks

[2018-05-17 08:55] cryptolio commented on #562
Any quick fix for this stupid issue?

[2018-05-17 10:13] sergeysviridenko commented on #562
@cryptolio there it can't be quick. We will try to implement it in 4.0.0 branch.

[2018-05-30 06:46] KVSocial opened #1226 "Migrations issue : Foreign Key constraint is incorrectly"
Hello all!

I have a small issue with Phalcon migration.

When I use the command : phalcon migration run
I get error "Foreign Key constraint is incorrectly formed"

That is because the table of the FK isn't created yet, how to best solve this issue?
I am using Phalcon Dev Tools 3.2.12

Thank you

[2018-05-30 16:29] n0nag0n commented on #1012
Interestingly enough, I just upgraded to devtools 3.2.13 on 3.3.2 of Phalcon and I still get this error. I tried diving into the webtools code to find out where PTOOLS_IP is used, and I get nowhere. I output `$_SERVER['REMOTE_ADDR']` and I get "::1" my local ip on my network at home is 10.1.10.*. I've tried all sorts of combinations of things to get it to work, partial ip addresses, blank, null, e

[2018-05-30 16:55] sergeyklay commented on #1012
@n0nag0n Do you still use macOS? Did you tried something like https://kb.wisc.edu/helpdesk/page.php?id=6526

[2018-05-30 17:17] n0nag0n commented on #1012
Yeah, I've tried my real IP, the subnet, the gateway, the local ip (all with many variants), localhost, 127.0.0.1 even though I know it won't work. I just don't know where the code is that's making the IP comparison so I can figure out what it's trying to find on my local dev environment.

[2018-05-30 17:23] sergeyklay commented on #1012
@n0nag0n It is here https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Access/Policy/Ip.php#L62

Could you try to debug this function to determine the actual IP?

[2018-05-30 17:39] n0nag0n commented on #1012
Great news!!! It doesn't actually get to hit that function...... :-/ I won't output my var_dump() and exit; lines. Still gives me the 404 error.

[2018-05-30 18:09] sergeyklay commented on #1012
How about this line?

https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Access/Manager.php#L62

[2018-05-30 18:13] n0nag0n commented on #1012
[code]

End up with this.
[code]

[2018-05-30 18:15] n0nag0n commented on #1012
In ErrorController on line ~93, I added
[code]

And I get the following
[code]

[2018-05-30 21:41] sergeyklay commented on #1012
Phalcon\Dispatcher::dispatch can't find route matching. It seems something wrong with application routing configuration or webserver setup.  @sergeysviridenko could you please take a look?

[2018-05-30 21:44] n0nag0n commented on #1012
I'm using PHPs built in webserver (I'm not running PHP 7.2.5) and the file is in `public/webtools.php` and `public/webtools.config.php`. In my browser I go to `localhost:3000/webtools.php` and am presented with the 404 error.

[2018-05-30 22:04] sergeyklay commented on #1012
Ah! Any chance to try a real web server e.g. Nginx or Apache? https://docs.phalconphp.com/en/3.3/webserver-setup

[2018-05-30 23:00] n0nag0n commented on #1012
Just cause I need to say it....I hate configuring apache. But I got it to work on my live server. Couldn't get it configured on my local apache server for whatever reason and I've got better things to do. It keeps trying to serve my IP over IPv6 and not IPv4 for whatever reason. But once I whitelisted the correct IP, I can see it on my live server. Just not sure why I can't see it running on my lo

[2018-05-30 23:01] n0nag0n commented on #1012
And it looks like if I refresh the page.....it works fine now working between pages. Something bad must have been cached and need a page reload to purge it...

[2018-05-31 04:55] sergeyklay commented on #1012
@n0nag0n Could you try to use `phalcon serve` command  from the project root instead of `php -S ...`

[2018-05-31 07:17] sergeysviridenko commented on #1226
@KVSocial actually it is expected behavior if table isn't exist. At this moment you can solve this problem using many ways. For example you can create FK after migrations or create table before running other migrations or other.

[2018-05-31 08:04] #1226 closed

[2018-05-31 13:16] n0nag0n commented on #1012
@sergeyklay Same result. Tried 0.0.0.0:8000, localhost:8000, 127.0.0.1:8000, all with same result (but my web app works just fine).
![image](https://user-images.githubusercontent.com/2322095/40784297-1d568b18-649a-11e8-9c21-62379c87bb41.png)
![image](https://user-images.githubusercontent.com/2322095/40784304-23a4a72a-649a-11e8-983b-cb95e0bfa9b6.png)

[2018-06-01 06:33] sergeyklay commented on #1012
It seems to me its all about missing `_url` GET param

[2018-06-01 15:12] n0nag0n commented on #1012
@sergeyklay So this is my .htrouter file. I've tried both the commented and uncommented portions. I'm using the uncommented portion now as it wasn't recognizing any custom parameters inside a ?
[code]

[2018-06-04 05:50] sergeyklay commented on #1012
So, is it works now?

[2018-06-04 14:27] n0nag0n commented on #1012
It works under apache, and it works under Cherokee running as FCGI, but I still haven't been able to make it work with the PHP dev server which honestly is the easiest way to do this. @sergeyklay

[2018-06-07 09:47] sergeyklay commented on #1210
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-06-07 09:47] #1210 closed

[2018-06-07 09:48] sergeyklay commented on #1182
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2018-06-07 09:48] #1182 closed

[2018-06-07 11:58] sergeysviridenko commented on #1162
@amsharma9 If I understood correctly, you would like to create model without `$this->setSchema("testdb");` in `initialize`. you can add option `--schema=''`.

Could you try run
[code]

[2018-06-07 12:37] amsharma9 commented on #1162
@sergeysviridenko It didn't work. It is looking for the table `co_bank_m` in blank database and it gives error:

[code]
If I change `schema` to my DB name `testdb` then it goes through.

[2018-06-07 13:50] sergeysviridenko commented on #1190
@YujiShen which `version` do you have? like `1.0.0`?

[2018-06-07 13:55] sergeysviridenko commented on #1162
@amsharma9 Look I have table `member`. I've run `phalcon model --name member --get-set --namespace=Baseapp\Models --mapcolumn --extends=ModelBase --schema=''` and all works fine. Model has been created without `$this->setSchema("testdb");`.
Could you try to use this command with created table.

[2018-06-07 13:56] YujiShen commented on #1190
@sergeysviridenko Have you tried timestamp?

[2018-06-07 14:00] sergeysviridenko commented on #1190
@YujiShen nope. Could you provide all steps to reproduce?

[2018-06-07 16:22] sergeysviridenko commented on #1034
@Weenuspenus have you tried to use generated code without any changing?

[2018-06-07 17:16] amsharma9 commented on #1162
Ok, what you wrote works but I had to remove the empty quotes. With single quotes after schema it still gave `ERROR: Table "co_bank_m" does not exist.`. I am on Windows 7 using Wamp so could that be a reason for it not to work. This is what I gave on command line when it worked:
[code]

[2018-06-08 01:31] birdshark commented on #1218
..............
432             foreach ($row as $key => $value) {
433                 $value = iconv('UTF-8','GBK',$value);
434                 if (isset($numericFields[$key])) {
    ..............
868             $values = array_map(
869                 function ($value) {
870                     $value = iconv('GBK','UTF-8',$value);
    ..............

php inside function `fgetcsv` can't recogni

[2018-06-08 08:43] #1191 closed

[2018-06-08 08:47] sergeysviridenko commented on #1218
@birdshark without data that I asked you I won't be able to help you. Could you provide it?

[2018-06-08 08:52] sergeysviridenko commented on #1219
@loeken Actually it is expected behavior in case of table absence. There is a lot of approaches to address this issue. For instance you can create FKs immediately after generating the migration or create a related table before running other migrations. It isn't a bug.

[2018-06-08 08:53] #1219 closed

[2018-06-08 11:16] amsharma9 commented on #1162
I have rechecked and tried with other tables, the tables exist. When I give `--schema=` it works but when I give `--schema=''`, it doesn't work.

[2018-06-08 14:23] k1T4eR opened #1232 "Access to undeclared static property:$_connection on >3.2.12"
### Expected and Actual Behavior

Fetching record from table. Works on 3.2.12.

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
Phalcon DevTools (3.4.0)
Environment:
  OS: Linux 6801fde352f6 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64
  PHP Version: 7.0.27-1+ubuntu16.04.1+deb.sury.org+1
  PHP SAPI: cli
  PHP Bin: /usr/bin/php7.0
  PHP Ext

[2018-06-08 16:39] birdshark commented on #1218
here is [sql file](https://github.com/birdshark/phalcon_multimodule_example/blob/master/sql/forge.sql)

1. create a database named `forge` and  select `utf8` as it default charset
2. import the sql file to database `forge`
3. create a simple phalcon project and set `forge` as it database;
4. genarate migration file with command `phalcon migration generate`
5. change db config and import data with

[2018-06-09 01:36] amsharma9 commented on #1162
@sergeysviridenko The code was generated perfectly, when using `--schema=""` there was no `setSchema()` call in `initialize()`- as expected.

[2018-06-11 08:35] #1162 closed

[2018-06-12 19:29] yn4v4s opened #1233 "phalcon serve (phalcon-devtools 3.4.0) is looking for .htrouter.php in the wrong place"
I started using phalconphp framework recently and phalcon-devtools as well, then I have a test project, but when I type `phalcon serve` inside my project's folder and go to http://localhost:8000 I get this output on the shell

![screenshot_20180612_145739](https://user-images.githubusercontent.com/35275827/41312387-ea87db96-6e54-11e8-902c-3f2782b56ccc.png)

but .htroute.php place is project's root

[2018-06-14 20:31] #286 closed

[2018-06-18 20:58] JoseB07 commented on #976
i have this problem anybody can help me with this please

![gg](https://user-images.githubusercontent.com/40371013/41561793-7a483fa4-7310-11e8-8512-49af68a8ebdd.png)

[2018-06-18 21:03] JoseB07 opened #1234 "An unexpected error has occurred: Option config has't been defined"
please anybody can help me

I would thank you a lot
![gg](https://user-images.githubusercontent.com/40371013/41562066-2d05e484-7311-11e8-84c2-af41f2ea07b5.png)

[2018-06-21 20:46] JeremySwiat opened #1235 "ERROR: Option namespace has't been defined"
### Expected and Actual Behavior
 I'm currently trying to scaffold a table from my database. Just trying to follow some tutorial at first. (learnphalcon.com) and i get this error :
"ERROR: Option namespace has't been defined"

after using this command :

phalcon scaffold Booking --get-set

WITH this table :

[code]

If I remove the foreign keys, the scaffold works. But... The foreign keys just are

[2018-06-21 22:03] sebabaillet commented on #1234
Same error here. Have you been able to solve it?

[2018-06-22 09:45] eokenned commented on #1235
I've had a look at this.

There seems to be a conflict somewhere in the code between the --namespace option and tables that have Foreign Keys referencing them.

The problem doesn't occur for tables that do not have Foreign Keys referencing them.

The problem does not occur if you introduce
 --namespace=""

i.e.
phalcon scaffold member --get-set --namespace=""

- OS: Windows NT LPT-50017010 10.0 bu

[2018-06-22 20:41] TriPSs opened #1236 "Migrations with mysql column type json are not created correctly"
### Expected and Actual Behavior

Actual Behavior:

Expected:

[2018-06-24 06:58] git-no opened #1237 "Errror the requested PHP extension phalcon is missing from your system using compose install"
### Expected Behavior
```composer install``` with file compose.json
[code]
should install Phalcon Dev-Tools.

### Actual Behavior
Instead it breaks with error

### Details

* MacOS 10.13.5,
* MAMP 4, PHP 7.2.1
* php_phalcon.so 3.4 is copied into the extension directory and inserted into php.ini from [php-phalcon-mamp](https://github.com/majksner/php-phalcon-mamp/blob/master/php7.2.1/)
[code]
* Apa

[2018-06-24 09:00] git-no commented on #1237
Issue could be solved.

Seems MAMP does use [two configurations pathes](https://stackoverflow.com/questions/24883329/can-you-change-which-ini-file-mamp-loads), one for web and CLI.

```php.ini```

### Solution
Adding the extension ``èxtension=php_phalcon.so``` into the second php.ini solved the problem.

[2018-06-24 09:00] #1237 closed

[2018-06-26 19:05] JoseB07 commented on #1234
no :CC

[2018-07-03 14:25] sergeysviridenko commented on #1234
@sebabaillet @JoseB07 Could you take a look [here](https://github.com/phalcon/phalcon-devtools/issues/1154)

[2018-07-04 09:57] sergeysviridenko commented on #1232
@k1T4eR Could you provide a bit more information, steps to reproduce?

[2018-07-05 05:22] sergeyklay commented on #1232
Right. There is no $_connection parameter. To create a sql queries to the database you'll need to create or get pdo connection.

[2018-07-05 05:22] #1232 closed

[2018-07-05 10:03] sergeysviridenko commented on #976
@JoseB07 could you provide your `baseUri`?

[2018-07-11 23:23] codecrafting-net opened #1238 "Change the bat file from "phalcon.php.bat" to "phalcon.bat" for Windows installations"
### Expected and Actual Behavior

### Details

Phalcon DevTools (3.4.0)

Environment:
  OS: Windows NT BA7400ET223 6.2 build 9200 (Windows 8 Enterprise Edition) AMD64
  PHP Version: 7.1.5
  PHP SAPI: cli
  PHP Bin: C:\Users\c115556\AppData\Local\Programs\PHP\php.exe
  PHP Extension Dir: C:\php\ext
  PHP Bin Dir: C:\php
  Loaded PHP config: C:\Users\c115556\AppData\Local\Programs\PHP\php.ini
Versio

[2018-07-16 11:56] murxie commented on #308
Until dev tools does not support TYPE_TIME you can use following code, works fine for me

public function up()
    {
        self::$_connection->query(
            'alter table `TABLE_NAME` change `COLUMN_NAME` `COLUMN_NAME` time'
        );
    }

[2018-07-16 21:59] pedromtalavera commented on #1235
Hi @eokenned,

I tried adding --namespace="", but i got
`Error: Unknown parameter 'namespace' `

I've noticed that phalcon scaffold command doesn't have a "namespace" option.

Environment:
-   OS: Linux x86_64
-   PHP Version: 7.0.30
-   PHP SAPI: cli
-   PHP Bin: /usr/bin/php
-   PHP Extension Dir: /usr/lib64/php/modules
-   PHP Bin Dir: /usr/bin
-   Loaded PHP config: /etc/php.ini

Versions:
  P

[2018-07-17 15:13] pedromtalavera commented on #1235
Hi,

@eokenned the scaffold command doesn't have a "namespace" option.

@JeremySwiat you can use --ns-models="Store\Models" --ns-controllers="Store\Controllers", but first you need to set up the namespaces.

["If models have relationships they must include the namespace too"](https://docs.phalconphp.com/en/3.3/namespaces )

[2018-07-18 03:29] zong0828 opened #1239 "wrong url when the create search is clicked !!"
When I clicked any hyper link, that will alway show....

[2018-07-18 05:15] #1239 closed

[2018-07-21 11:07] JABirchall opened #1241 "Newer version of dev-tools >3.2.3 doesnt generate Model Anotations Metadata"
I recently updated dev tools to to 3.4 version, but noticed when generating models it doesnt generate the metadata in the models. Since i use the anotations metadata strategy this is needed, and I wouldnt want to all this manually.

I've been using dev tools 3.2 before updating and metadata generates fine, even after rolling back. Dont know what version specifically this happens in since i skipped

[2018-07-26 13:49] sergeysviridenko commented on #1236
@TriPSs It isn't a bug.

[2018-07-27 12:35] sergeysviridenko commented on #1241
@JABirchall Could you try to use `--annotate` option? It has to help you. Your command must be something like `phalcon model --name=foobar --annotate`

[2018-07-27 12:39] sergeysviridenko commented on #1236
@sergeyklay I propose to close this issue due lack any reaction. It is not a bug. This behavior is expected.

[2018-07-27 12:43] sergeysviridenko commented on #1234
@sebabaillet @JoseB07 Have you solved this problem?

[2018-07-27 15:19] sebabaillet commented on #1234
Left it unsolved and moved back to previous versión of devtools. Will try to solve in the future when I have more time available.

El 27 jul. 2018, a la(s) 09:43, Sergii Svyrydenko <notifications@github.com> escribió:

[2018-07-29 01:13] JABirchall commented on #1241
Ahh thanks, that worked.

[2018-07-29 01:13] #1241 closed

[2018-09-02 21:06] byteworksng opened #1243 "Running migrations with foreign key references on empty database fails"
### Expected and Actual Behavior

I dumped my SQL to the database (Postgres 9.4) and used devtools to generate ts-based migration files stored in db afterwards. All went well. However, after dropping the database and creating afresh, then attempting to run the same migrations generated by devtools (just simulating a fresh deployment), the migration fails with an error :
`ERROR: SQLSTATE[42P01]: Un

[2018-09-08 15:24] jimmyphong opened #1245 "Migration command error : Migration class cannot be found"
when i run command
`phalcon migration run`
i got error

here is my system

[Phalcon DevTools Version | 3.4.0
Phalcon Version | 3.4.0
OS | Darwin MACBOOKs-MacBook-Pro.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
PHP Version | 7.2.8](url)

and here is my migration file
[code]

What i am wrong ?

[2018-09-14 01:45] KarenSlame commented on #1234
me podrían ayudar con este error

[2018-09-14 01:46] KarenSlame commented on #1234
can you help me with this error

[2018-09-14 14:18] sebabaillet commented on #1234
Hello. I had to move forward with the project so went back to webtools 2.0. I’ll let you know when I find a solution for this.

Regards,

Seba.

El 13 sep. 2018, a la(s) 22:46, KarenSlame <notifications@github.com> escribió:

[2018-09-17 07:27] moledet commented on #990
Таже проблема Phalcon Framework 3.3.2
PDOException: SQLSTATE[22021]: Character not in repertoire: 7 ERROR: invalid byte sequence for encoding "UTF8": 0xf0 0xba 0xf0 0xb8
Притом на 3.1 все работает нормально,  'charset'     => 'utf8' не помогает

[2018-09-26 23:02] theofidry opened #1248 "Upgrade to Box 3"
I saw that you are using Box2, since the original repo is a bit dead I think a heads up is worth it. So Box 3 has been released on the fork [humbug/box](https://github.com/humbug/box) and should make it way easier to build the PHARs. If you are interested, don't hesitate to ping me about it, otherwise feel free to close that issue :)

[2018-09-27 06:55] terrasoff commented on #1245
I'd experienced same issue on same phalcon/devtools configuration.
The problem is `Phalcon\Mvc\Model\Migration` not found.
Seems something changed and no such a class anymore.

[2018-09-28 12:10] TriPSs commented on #1236
@sergeysviridenko Thanks for your response, is there a particular reason why only general column types are supported?

[2018-09-28 15:16] eokenned opened #1249 "Phalcon Devtools Version 3.4 use of Bootstrap 4.0 breaks scaffolded views use of pager class"
### Expected and Actual Behavior
Upgrade to boostrap 4.0 in devtools 3.4 does not take account of some changes in bootstrap from versrion 3 to version 4.

The pager class is no longer supported so the next and previous buttons on the search page and other pagination buttons on other scaffolded pages do not work.

This breaks the all the scaffolded pages and distorts them with the header floating o

[2018-10-01 12:45] amnuts commented on #1232
Has this changed, though?  I am able to run migrations just fine with devtools 3.2.11 but the same migrations using devtools 3.4.0 gives errors such as:
`PHP Fatal error:  Uncaught Error: Access to undeclared static property: AccountAbilitiesMigration_113::$_connection in /vagrant/service/identity/migrations/1.1.3/account_abilities.php:19
Stack trace:
#0 /home/vagrant/phalcon-devtools/scripts/Phal

[2018-10-09 13:14] ararunaufc commented on #1025
I was trying to create a project and stumbled upon this problem, but I had no clue why it happened until I saw this report. It would be best if the error message in this case was clearer, because nowhere in the command parameters' names or help we find a reference to namespaces.

Should a new issue be opened?

[2018-10-11 15:33] LorenRodriguez opened #1251 "I have a problem with Scaffold"
### Expected and Actual Behavior
When I try to generate Scaffold, the page goes blank and is not generated the Scaffold

### Details

OS Windows 7
Phalcon Version 3.4.1
Devtools Version 3.4.0
PHP version 7.2.9

[2018-10-12 11:01] Nazariy commented on #1235
This issue is caused by typo in Builder/Model.php
We should call ```$this->modelOptions->hasOption('namespace')``` instead of ```$this->modelOptions->getOption('namespace')```

[2018-10-15 18:54] faublak opened #1254 "Problem with webtools interface Closed #1254"
I have a problem when viewing webtools.
It is installed on a local computer with windows 10, under xampp.

[
![error_webtools](https://user-images.githubusercontent.com/44176394/46971347-b6286e00-d089-11e8-8099-8eee214e7473.jpg)
](url)

[2018-10-21 18:18] Style87 commented on #1254
I recently ran into this issue. The problem is the server isn't sending the css files. On nginx I had to modify the www.conf file to allow the .css extension then add a specific location block for .css files in my default.conf file. As you're using xampp and therefor I believe Apache you'll need to check apache configs and .htaccess files. Webtools tries to load the css/js from localhost/css/webto

[2018-10-21 20:42] faublak commented on #1254
Thank you @Style87 . But I solved this problem by adding the following lines to my name_project / app / config / config.php file

'baseUri'       =>'/project/',
'staticUri'     =>'/prpject/'

![error_webtools](https://user-images.githubusercontent.com/44176394/47272203-2a628600-d550-11e8-86c1-1cab412b12f1.jpg)

[2018-10-24 08:09] ImTheJano commented on #1234
I got the same problem.. did anybody solve it_

[2018-11-01 15:39] eokenned opened #1256 "Line in /public/index.php which strips carriage-return, newline and tabs causes problems for javascript"
### Expected and Actual Behavior
The following types of javascript code placed within a view will not run

- javascript comments using //
- multiple functions contained within the same script tag

This appears to be caused by the fact that carraige-return, and newline characters are stripped

The problem is caused by the following line of code on line 42 of  /public/index.php
`echo str_replace(["\

[2018-11-10 10:34] sergeyklay commented on #1249
@montaccep Could you please take a look

[2018-11-12 14:12] montaccep commented on #1249
In Bootstrap 3, a pagination component was created by applying the pagination class to any ul element. However Bootstrap 4 demands one to properly indicate pagination and link items using page-item as well as page-link class.

Check out the bootstrap docs: https://getbootstrap.com/docs/4.0/getting-started/introduction/

[2018-11-13 23:40] daviidco commented on #976
como? @sergeyklay  a mi me tocó crear el modelo por consola pero me gustaría por el medio gráfico

[2018-11-14 00:01] sergeyklay commented on #976
C'mon man :) This issue is too old to discuss it now. File a new issue with steps to reproduce and provide screenshots (if any)

[2018-11-28 13:58] rjbick commented on #1234
The problem is webtools doesn't appear to be pulling custom config.php at the point of model creation.

Below is a crap hack since I'm to busy to fix it correctly:
in scripts/Phalcon/Builder/Model.php
Change line 91 from:
$this->modelOptions->setOption('config', $this->modelOptions->getOption('config'));
to:
$this->modelOptions->setOption('config', include '[path to your custom config]');

One of

[2018-12-06 13:18] 6562680 commented on #1234
Just add damn extends \Phalcon\Di\Injectable to scripts/Phalcon/Builder/Component.php
then replace
[code]
to this
[code]

[2018-12-12 23:30] tigerstrikemedia opened #1258 "create-project segfault"
### Expected and Actual Behavior
Im getting a segfault and a coredump when trying to use phalcon create-project

Anyone have any insight into this?

`phalcon create-project test`

Output here:

[code]
Core dump stack Trace:
[code]

### Details

`phalcon info`

[code]

[2018-12-13 08:13] sergeyklay commented on #1258
@tigerstrikemedia Hmm.. Interesting. Is problem reproducible using PHP 7.2 ?

[2018-12-13 12:59] tigerstrikemedia commented on #1258
@sergeyklay no, PHP7.2 runs normally but makes a complete bollocks of the rest of my setup :(

[2018-12-14 00:03] sergeyklay commented on #1258
@tigerstrikemedia Could you please locate the code causes the segfault. It may be a Phalcon issue but I'm not sure. Actually I'll need the script to reproduce as small as possible.

[2018-12-14 13:13] tigerstrikemedia commented on #1258
@sergeyklay How do I debug the phalcon code inside the CLI for devtools?

[2018-12-14 15:17] sergeyklay commented on #1258
@tigerstrikemedia the `n/a` in your backtrace means that you use a "production" build w/o debug symbols. First of all you have to build [PHP on debug mode](http://www.phpinternalsbook.com/build_system/building_php.html). The next steps is to [generating a backtrace](https://docs.phalconphp.com/en/latest/generating-backtrace)

[2018-12-15 08:02] tigerstrikemedia commented on #1258
@sergeyklay This one might be a bit more interesting to you. Took a lot of messing around to get to this point.

[code]

[2018-12-18 00:04] sergeyklay commented on #1258
@tigerstrikemedia Could you please provide the full output of the command `php --ri phalcon`

[2018-12-22 16:03] chipco opened #1259 "error running migrations with database log"
### Expected and Actual Behavior

Trying to use the migrations tool with database log leads to error:

[code]

leads to:

[code]

It looks like the database dialect is not set in the `connectionSetup` function of `\Phalcon\Migrations` before [this line](https://github.com/phalcon/phalcon-devtools/blob/4294150ea6300e3c87094775a8ef31c12a5a5022/scripts/Phalcon/Migrations.php#L430)

### Details

Envir