[2018-12-26 19:35] tigerstrikemedia commented on #1258
@sergeyklay Sorry for the delay, I must have missed the github notification.

[code]

[2018-12-27 16:34] aissat commented on #1258
have same issues on Archlinux distro
`phalcon i `

[code]

`php --ri phalcon
`

[code]

[2018-12-27 21:56] sergeyklay commented on #1258
@aissat @tigerstrikemedia

FYI: Phalcon 3.4.2 builded by Zephir 0.10.14-975ad02db4 should not work with PHP 7.3.0. You have to use PHP <= 7.2.*

[2018-12-27 21:56] #1258 closed

[2018-12-28 19:40] aissat commented on #1258
@sergeyklay Did you mean it does not work with PHP 7.3.0 :(

[2018-12-30 09:13] sergeyklay commented on #1258
@aissat Yes, because it was compiled by Zephir 0.10.*

[2018-12-30 22:56] jturbide commented on #1258
@aissat phalcon4 will support php 7.3, but I'm getting a segfault when I extends phalcon classes, it's still in alpha right now

[2019-01-01 00:48] aissat commented on #1258
@jturbide  thnx

[2019-01-20 23:23] follypimpin opened #1262 "Can't use the phalcon-devtools with phalcon 4.0？"
### Expected and Actual Behavior

I am trying to install phalco-devtools and it seems phalcon-devtools version is currently not compatible with phalcon v4.0.0 alpha

When I execute phalcon commands help etc this error is displayed in the console:

![20190117124703](https://user-images.githubusercontent.com/29546364/51446456-54237880-1d0a-11e9-95ef-88d54a6c6d7f.png)

[code]

cd ~
    git clone http

[2019-01-21 16:47] merovinh commented on #1262
Have the same error. Looks like phalcon-devtools not updated yet to work with the Phalcon v4.0.0-alpha1. If you want to use phalcon-devtools, you can switch back to Phalcon V3.4.2, it's works for me.

[2019-01-22 18:05] Zaszczyk opened #1264 "Invalid column size during migration in Mysql Adapater"
### Expected and Actual Behavior

Actual behavior: I generate migration of MySQL table with column MEDIUMTEXT and get size=1 of this field
SQL DDL:
[code]
Phalcon migration:
[code]

Expected behavior: Phalcon migration should ommit size with MEDIUMTEXT field. When I manually remove 'size' =>1 then migration works fine.

### Details

Phalcon DevTools (3.4.0)

Environment:
  OS: Linux 085ce900582b 4

[2019-01-28 14:56] mikeglennshl commented on #1256
+1 with the above, spent hours trying to figure out what I was doing wrong, i wasn't.. :(

[2019-01-28 23:04] CameronHall commented on #1256
@mikeglennshl can you please submit a pull request to rectify the behavior?

[2019-01-29 22:40] CameronHall commented on #1256
Fixed in https://github.com/phalcon/phalcon-devtools/commit/4b103c4132332488246eb7332c20b59a83b00b58

[2019-01-29 22:40] #1256 closed

[2019-02-07 12:30] chipco opened #1268 "migration timestamp incorrect version class name"
I have defined timestamped based migrations, saved in database. When I run `phalcon migrations run` on a 32 bit system I get an error:
[code]
The class name actually ends with 1545486321396341 and not the queried 2147483647.

The problem lies in `Phalcon\Version\TimestampedItem->getStamp()` which returns an int. On the test platform PHP_INT_MAX is 2147483647.

[2019-02-13 12:30] mraspor commented on #1262
Same issue with Phalcon version 4.0.0-alpha.2.

composer.json file:
`{
    "require-dev": {
        "phalcon/devtools": "~4.0@dev"
    }
}`

Error:

[2019-02-13 12:32] ruudboon commented on #1262
Phalcon Devtools isn't v4 compatible yet. Before starting development we need to be in beta at least.

[2019-02-20 11:21] zzroche opened #1270 "Mysql charset utf8mb4_unicode_520_ci "ERROR: SQLSTATE[HY000] [2019] Unknown character set""
### Expected and Actual Behavior

in config.php i tryed to use:         'charset'     => 'utf8mb4_unicode_520_ci',
but when I launch this command: "phalcon scaffold --table-name studi"

the output is:

"ERROR: SQLSTATE[HY000] [2019] Unknown character set"

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
Phalcon DevTools (3.4.0)

Environment:
  OS: Windows NT

[2019-02-20 11:36] zzroche commented on #1270
solve: put only "utf8" in config.php charset

[2019-02-20 11:36] #1270 closed

[2019-02-26 08:39] zzroche opened #1271 "scaffold in search view"
There is a problem with case sensitive table.

Scaffold create this code:

foreach ($page->items as $studi):

Studi_ID ?>
## Instead of this:

foreach ($page->items as $Studi):

Studi_ID ?>

### Expected and Actual Behavior

[code]

[code]

### Details

    * Phalcon version: (`php --ri phalcon`)

Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contri

[2019-02-28 10:43] systoms opened #1272 "When performing all "generate" operations, the browser displays a blank screen."
When performing all "generate" operations, the browser displays a blank screen.

### Details

* System info and versions (if possible):  Darwin suiyueshentou.local 18.2.0 Darwin Kernel Version 18.2.0: Thu Dec 20 20:46:53 PST 2018; root:xnu-4903.241.1~1/RELEASE_X86_64 x86_64
* Phalcon DevTools Version: 3.4.0
* Phalcon Framework version:3.4.1
* PHP Version: 7.2.13
* Operating System:MacOS
* Server:

[2019-02-28 10:54] systoms commented on #1272
Does not support modules

[2019-02-28 10:54] systoms commented on #1272
Does not support modules

[2019-02-28 10:54] #1272 closed

[2019-02-28 12:47] 976293711 opened #1273 "Segmentation fault"
### Problem

[2019-02-28 13:06] 976293711 commented on #1273
php 7.3

[2019-02-28 13:47] ruudboon commented on #1273
What phalcon version are you using?

[2019-02-28 13:48] 976293711 commented on #1273
3.4.0

[2019-02-28 13:49] ruudboon commented on #1273
Can you first try to upgrade to Phalcon 3.4.3

[2019-03-05 04:49] Ultimater commented on #1273
Do any of these work?

- `phalcon info`
- `phalcon help`
- `phalcon serve`

What OS is this being run under?

And can you get us a backtrace?
See https://github.com/phalcon/phalcon-devtools/blob/master/CONTRIBUTING.md#bug-report-checklist

Thanks.

[2019-03-05 06:09] Ultimater commented on #1233
I'm also running into this issue. Currently conducting an investigation.

[2019-03-05 11:17] Ultimater commented on #1233
After some investigating, I found that this is an issue caused by PHP itself breaking how the CLI server used to work in a manner that Phalcon was using.

Devtools currently uses the following command:
`php -S 0.0.0.0:8000 -t public .htrouter.php`
The above command works in php5.6 and in 7.0.12
However it fails for me on 7.0.33 complaining about the directory not being found.
That's the case wheth

[2019-03-05 13:59] verde3ro opened #1274 "Error Phalcon DevTools Models Oracle"
I have the following problem when generating the models of an Oracle database.

[code]

I hope you can help me.

[2019-03-07 03:57] #1262 closed

[2019-03-09 16:10] phil-directedge opened #1277 "ide/gen-stubs.php has Hardcoded user path"
Currently the Source has a very specific user path to define the directory to the cphalcon project which is almost guaranteed to fail.

[code]

What I recommend is more of a generic solution that checks for some of the most common storage paths. For example, here is the one that I have that works with composer, and includes OS safe paths:

[code]

[2019-03-11 10:10] Jeckerson commented on #1251
What command do you execute?

[2019-03-11 10:23] #911 closed

[2019-03-11 10:31] Jeckerson commented on #1271
Name of variable in PHP must not depend of case of table in DB. Especially when it declares as temporary variable inside `foreach` cycle.

[2019-03-11 12:12] sergeyklay commented on #1249
Fixed in the `3.4.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-03-11 12:12] #1249 closed

[2019-03-11 12:13] #1271 closed

[2019-03-11 14:05] #1259 closed

[2019-03-11 14:07] #1254 closed

[2019-03-11 14:15] Jeckerson commented on #1245
Did you not forget to install phalcon dev tools or do `composer dump-autoload`?

[2019-03-11 15:29] Jeckerson commented on #1238
Can you tell where you found file with name `phalcon.php.bat` ?

Because I can find only `phalcon.bat` and it is located in root of project
https://github.com/phalcon/phalcon-devtools/blob/3.4.x/phalcon.bat

[2019-03-11 23:10] codecrafting-net commented on #1238
Well, I not so sure about where the file is, but after installation on the vendor/bin folder the file have the name "phalcon.php.bat". I think the file is generated based on composer.json file which have a "bin" config with the name "phalcon.php".

[2019-03-11 23:19] CameronHall commented on #1238
[That would be correct.](https://getcomposer.org/doc/articles/vendor-binaries.md#what-about-windows-and-bat-files-)

We can remove `phalcon.bat` and rename `phalcon.php` to `phalcon`.

[2019-03-11 23:44] CameronHall opened #1278 "[Discussion] Remove Phalcon Migrations"
I propose that we remove the Phalcon Migrations feature  in the 4.0 revision of the Phalcon Developer Tools, in favor of [CakePHP's Phinx](https://github.com/cakephp/phinx).

It seems there are regular issues with the Migrations component, with 21.3% of the issues for this project related to the migrations tool alone. It makes sense, for us to offload this maintenance debt to Phinx as it is alread

[2019-03-12 00:21] Jeckerson commented on #1278
Agree!

[2019-03-12 01:42] ruudboon commented on #1278
Agree. I would love to see the wrapper to handle the config parsing etc.

[2019-03-12 08:17] Ultimater commented on #1233
@yn4v4s This issue has been fixed on the 3.4.x branch.

[2019-03-12 08:36] Ultimater commented on #1278
Wrapper sounds like fun.

[2019-03-12 08:52] sergeyklay commented on #1278
I'm ok with this. I think this may be implemented in the v4.0.x . But note we'll need to update the docs  to refer to previous dev-tools version when mentioning previous implementation of migrations. We must also provide at least minimal documentation for the new implementation. And finally, what do you thing guys about a migration converter or a solution (at least a tip) to use old migrations wit

[2019-03-12 09:20] Jeckerson commented on #1278
@sergeyklay All what you mentioned is possible.

[2019-03-12 10:00] CameronHall commented on #1278
@sergeyklay this suggestion is only for `v4.0.x`. I suggest it now, as there is already a mass of backward incompatibilities between Phalcon 3 and 4, it's an appropriate time (at least I believe it to be) to also introduce backward incompatibilities to the developer tools as well.

[2019-03-14 07:25] Ultimater commented on #1233
Noticing issues with my solution.  Apparently:
`php -S 0.0.0.0:8000 -t .htrouter.php -t public`
actually means:
`php -S 0.0.0.0:8000 -t public`
It looks like a proper solution would need to detect the PHP version then use either one of the following two commands:
Older PHP:
`php -S 0.0.0.0:8000 -t public .htrouter.php`
Newer PHP:
`php -S 0.0.0.0:8000 .htrouter.php -t public`

The syntax changed at

[2019-03-15 17:04] #1273 closed

[2019-03-15 17:05] #1245 closed

[2019-03-15 22:22] Jeckerson commented on #1052
Closing for now due personal opinion: "It can be mass replaced manually in any popular IDE nowadays".

[2019-03-15 22:22] #1052 closed

[2019-03-15 22:58] Jeckerson commented on #1274
@verde3ro Can you provide example models when it occurs?

[2019-03-15 23:05] #1218 closed

[2019-03-16 06:48] seonpua opened #1280 "No response on create-project command"
When i ran the phalcon create project command there is no any response and project folder is  not created. Is any one encounter this issue before?

![Untitled](https://user-images.githubusercontent.com/48373271/54471818-79a89c00-47fa-11e9-8c96-fbe25ae91ffb.png)
![Untitled4](https://user-images.githubusercontent.com/48373271/54471866-f0459980-47fa-11e9-87d2-403ed4d7d4b1.png)

![Untitled2](https://u

[2019-03-16 09:55] Jeckerson commented on #1280
Did you tried any another commands from list?

[2019-03-16 10:08] Jeckerson commented on #1280
Also, try to upgrade devtools from 3.4.0 to 3.4.1 version

[2019-03-16 10:49] Jeckerson commented on #1248
Changed to milestone 4.0.0 due requirement of php ^7.1

[2019-03-16 10:54] #1251 closed

[2019-03-16 23:03] Jeckerson opened #1282 "Drop support of PHP5 for 4.x version"
And make minimum version of PHP: 7.2.

[2019-03-16 23:03] Jeckerson commented on #1248
#1282

[2019-03-16 23:05] Jeckerson commented on #1248
https://github.com/phalcon/phalcon-devtools/issues/1248 - Drop support of PHP5 for 4.x version

[2019-03-17 07:42] seonpua commented on #1280
Yes other command is fine

ok will try

[2019-03-17 10:04] seonpua commented on #1280
tested with 3.4.1 version it still no works for me and found it stop on this script

 $builder = new ProjectBuilder([
            'name'           => $projectName,
            'type'           => $projectType,
            'directory'      => $projectPath,
            'enableWebTools' => $enableWebtools,
            'templatePath'   => $templatePath,
            'templateEngine' => $templateEngine,

[2019-03-17 14:02] Jeckerson commented on #1280
@seonpua send please output of `php -m` command. Want to see if you have all needed PHP modules installed.

[2019-03-17 14:05] Jeckerson commented on #1280
Also, I noticed that you have PHP 7.3 on screenshots, which could be the problem.

[2019-03-17 15:26] sergeyklay commented on #1280
Phalcon v3.4.3 is the known version to works with PHP 7.3

[2019-03-17 15:30] bgastaldi opened #1284 "Phalcon DevTools not working Phalcon Lib v3.4.3 - PHP 7.3"
I installed Phalcon v3.4.3 to run with PHP 7.3 but phalcon dev-tools doesn't work. When I execute any command nothing happens.

Can someone help me?

Tks

[2019-03-17 15:43] Jeckerson commented on #1284
Can you specify what specific commands doesn't work form list below?

[code]

[2019-03-17 15:45] #1277 closed

[2019-03-17 15:45] Jeckerson commented on #1277
Example of new usage:

[code]

[2019-03-17 15:46] Jeckerson commented on #1238
Implemented

[2019-03-17 16:03] Jeckerson commented on #888
I don't see any problem with current aliases. Closing for now...

[2019-03-17 16:03] #888 closed

[2019-03-17 16:08] Jeckerson commented on #647
Closing for no interest for any another person during 3 years counting from now to current feature.

[2019-03-17 16:08] #647 closed

[2019-03-17 16:14] Jeckerson commented on #1034
You need properly to configure vhost of webserver. Closing.

[2019-03-17 16:14] #1034 closed

[2019-03-17 18:27] bgastaldi commented on #1284
All commands

![1](https://user-images.githubusercontent.com/3454381/54496024-19346000-48c9-11e9-9faa-0ac30a049eb3.png)

![2](https://user-images.githubusercontent.com/3454381/54496025-1cc7e700-48c9-11e9-9aec-8292ebad88ce.png)

[2019-03-17 19:12] bgastaldi commented on #1284
@Jeckerson , I upgraded PHP to version 7.3.3 and now it's working.

[2019-03-17 19:18] Jeckerson commented on #1284
One of possible answer is that there is some bug in 7.3.2 version...

[2019-03-17 23:40] CameronHall commented on #1284
@Jeckerson can we please consider updating the version constraint for PHP to `>=5.6 < 7.3.2 || >7.3.3`?

[2019-03-18 09:27] Jeckerson commented on #1284
@CameronHall For hotfix it can be solution, but we don't know if all works in another minor versions. Any way I'll create PR for this specific case.

[2019-03-18 12:13] #1284 closed

[2019-03-18 13:52] Jeckerson commented on #1280
@seonpua Upgrade from PHP 7.3.1 to PHP 7.3.3 and try again.

[2019-03-18 13:58] sergeyklay commented on #1280
And upgrade Phalcon to v3.4.3

[2019-03-18 13:58] #1280 closed

[2019-03-18 20:18] talal424 opened #1286 "typo and extra backslash in Phalcon\Builder\Model.php"
version 3.4.0

line #183 getOption should be hasOption
[code]

line #201 getOption should be hasOption
same thing but at line #210 using $this->getEntityClassName would produce backslash if namespace option is not used
possible solution:

[code]

[2019-03-18 21:27] Jeckerson commented on #1286
@talal424 Hi!

1. Can you specify files, because there are only lines?
2. Can you tell if that typo bring some errors of logic?
3. Can you make PR with explanations?

[2019-03-18 21:29] Jeckerson commented on #1286
Probably similar issue - #1235

[2019-03-19 12:34] Jeckerson commented on #1278
Another option is doctrine migrations - https://github.com/doctrine/migrations

[2019-03-19 12:40] talal424 commented on #1286
Can you specify files, because there are only lines?
```scripts/Phalcon/Builder/Model.php```
Can you tell if that typo bring some errors of logic?
throws InvalidArgumentException when setting relations ```hasMany``` and ```belongsTo```
Can you make PR with explanations?
yes i made #1287
Can you upgrade to latest (3.4.1) devtools and check if your problem still occurs?
yes the issue is also in 3.4.

[2019-03-19 12:59] Ultimater commented on #1233
This is a known PHP bug apparently:
https://bugs.php.net/bug.php?id=75604
PHP 7.0.25 (and all versions before) looks for the router file relative to the current working directory.
PHP 7.0.26 looks for the router file relative to the document root.
The old behavior gets stored again via this commit:
https://github.com/php/php-src/commit/9e98e99a3a88f98d1377d5b2a43b7ad223d8a61f
That would mean check

[2019-03-19 14:52] verde3ro commented on #1274
Occurs when generating models with Phalcon DevTools or Web Tools.

![2019-03-19 08_50_03-Window](https://user-images.githubusercontent.com/13452905/54615753-3d588400-4a24-11e9-8687-2ff58a0a15c6.png)
![2019-03-19 08_50_44-Window](https://user-images.githubusercontent.com/13452905/54615755-3d588400-4a24-11e9-9719-5ea5a3b960c6.png)

[2019-03-19 15:03] sergeyklay opened #1288 "Recheck and update all WebTools' links at sidebar"
/cc @Jeckerson

[2019-03-19 15:32] Jeckerson commented on #1274
@verde3ro Please execute model generation per single table and provide output of `SHOW CREATE TABLE` of tables where it occurs.

[2019-03-19 17:46] verde3ro commented on #1274
@Jeckerson,  Execution generation of model per single table:

Table:
[code]

Configuration:

[code]
Execution:

![2019-03-19 08_50_44-Window](https://user-images.githubusercontent.com/13452905/54629136-8b798180-4a3c-11e9-9fa1-7e03ca44ae27.png)
![2019-03-19 11_38_27-Window](https://user-images.githubusercontent.com/13452905/54629137-8c121800-4a3c-11e9-9fad-03430bd4b953.png)
![2019-03-19 11_38_39-Wi

[2019-03-20 11:34] Jeckerson commented on #1235
Fixed

[2019-03-20 11:34] #1235 closed

[2019-03-20 11:34] Jeckerson commented on #1286
Fixed

[2019-03-20 11:34] #1286 closed

[2019-03-20 12:21] sergeyklay opened #1289 "Introduce blackbox testing"
I propose to introduce blackbox  testing via [Sharness](https://github.com/chriscool/sharness). I hope this will allow us to write tests quickly and easy.

To better understand what tasks this will cover, for example, look at this: https://github.com/phalcon/phalcon-devtools/pull/1287#issuecomment-474792374

Implementation example: https://github.com/phalcon/zephir/blob/6a2d0b157df9421438a2ee26d8c

[2019-03-21 10:21] Jeckerson commented on #1289
Need more discussions and more tools to check...

Marking to 4.0 milestone for now.

[2019-03-21 15:29] Jeckerson opened #1290 "Fix PTOOLS_IP in docker container (web tools)"
### Actual Behavior

https://github.com/phalcon/phalcon-devtools/blob/54a77f25a48c10e927728078e6fa6442cdccf481/templates/webtools.config.php#L30

### Expected Behavior

Change constant to dynamic value that will work in all cases.

[code]

### Details

* System info and versions (if possible): 3.4.x
* Phalcon Framework version: 3.4.x
* PHP Version: 7.x
* Operating System: Docker
* Server: Other

[2019-03-21 15:43] sergeyklay commented on #1290
Since this is just a template and not a real project, the end user can (and should, apparently) itself take care of the relevance of this value. We can add a detailed comment to the template.

[2019-03-21 15:47] Jeckerson commented on #1290
@sergeyklay Which is probably would be better solution. Not only in template but after `phalcon webtools enable` command execution.

[2019-03-22 16:21] Jeckerson commented on #1288
Rechecked

[2019-03-22 16:21] #1288 closed

[2019-04-02 15:06] Jeckerson commented on #1274
`Option config hasn't been defined` is related to another task. That means that your table name will be generated after #1292 will be merged.

Try to find another table that generate this error:
`ERROR: SQLSTATE[HY000]: General error: 24337 OCIStmtExecute: ORA-24337: statement handle not prepared (ext\pdo_oci\oci_statement.c:159)`

[2019-04-02 16:24] verde3ro commented on #1274
I did not understand the comment:

Any table in the schema generate the error when created the model.

[code]

![2019-04-02 10_20_21-Error Phalcon DevTools Models Oracle · Issue #1274 · phalcon_phalcon-devtools](https://user-images.githubusercontent.com/13452905/55418972-06f52b80-5531-11e9-90c2-5321ebc37551.png)

[2019-04-02 16:38] Jeckerson commented on #1274
`I did not understand the comment:`

You posted screenshot where error is different
https://user-images.githubusercontent.com/13452905/54629138-8c121800-4a3c-11e9-87fd-f0ea4daa64d0.png

[2019-04-02 16:39] Jeckerson commented on #1274
So your issue is actual.

[2019-04-02 16:46] verde3ro commented on #1274
yes it's actual

[2019-04-02 16:48] verde3ro commented on #1274
[code]
![2019-04-02 10_20_21-Error Phalcon DevTools Models Oracle · Issue #1274 · phalcon_phalcon-devtools](https://user-images.githubusercontent.com/13452905/55420683-db744000-5534-11e9-9850-147736fe9a05.png)

[2019-04-02 21:26] Jeckerson commented on #1234
Fixed

[2019-04-02 21:26] #1234 closed

[2019-04-02 21:27] Jeckerson commented on #1190
Fixed by decreasing size of field from 255 to 195.

[2019-04-02 21:27] #1190 closed

[2019-04-02 21:33] #178 closed

[2019-04-03 13:38] Jeckerson commented on #1290
Added note in code.

[2019-04-03 13:38] #1290 closed

[2019-04-03 13:40] Jeckerson commented on #1264
Fixed

[2019-04-03 13:40] #1264 closed

[2019-04-09 05:34] CameronHall opened #1297 "Update Model Template Generation"
@CameronHall @Jeckerson Can we add an issue to the devtools so that this becomes part of the template generating models? Thanks

_Originally posted by @niden in https://github.com/phalcon/cphalcon/pull/13950#issuecomment-480831033_

[2019-04-18 11:58] Fuhunter opened #1301 "Segmentation Fault for every project related action (create-model,.....)"
Relating to this Forum Post: https://forum.phalconphp.com/edit/discussion/19579

Hey Guys,

I set up a new environment on macOS 10.14.4 using MAMP with PHP 7.3.1.
The Phalcon extension is working fine, but I always get a segmentation fault when generating a model.

### Details

* System info and versions (if possible): (`phalcon info`): Phalcon DevTools (3.4.0)

Environment:
  OS: Darwin 18.5.0 Da

[2019-04-18 12:01] ruudboon commented on #1301
Thnx for your report.
Can you list your extensions also? It could be that there is an extension missing.

[2019-04-18 12:14] Fuhunter commented on #1301
@ruudboon

Here it goes:

`[PHP Modules]
bcmath
bz2
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
imap
intl
json
libxml
mbstring
mysqli
mysqlnd
openssl
pcre
PDO
pdo_mysql
pdo_pgsql
pdo_sqlite
pgsql
phalcon
Phar
posix
readline
Reflection
session
SimpleXML
soap
sockets
sodium
SPL
sqlite3
standard
tokenizer
wddx
xml
xmlreader
xmlwriter
xsl
zip
zlib`

[2019-04-18 12:24] ruudboon commented on #1301
@Fuhunter Looks like you got them all.
Where did you get the Phalcon.so from?

[2019-04-18 12:26] Fuhunter commented on #1301
@ruudboon
Compiled from source Branch v3.4.X

[2019-04-18 12:27] ruudboon commented on #1301
@Fuhunter Did you build it on the same Mac?

[2019-04-18 12:28] Fuhunter commented on #1301
@ruudboon yes

[2019-04-18 12:34] Izopi4a commented on #1301
Compiled from source Branch v3.4.X

if you used zephir 0.11 = don't. for phalcon 3 use zephir 0.10.

If you used ext/install take a look at this commit ( this commit exists on my fork only ! )

https://github.com/Izopi4a/cphalcon/commit/a138e23047f3bd785e4b9401126c3822e9a47427

[2019-04-18 18:21] Fuhunter commented on #1301
@Izopi4a I used the ./build/install file/folder

What does your change with the CFLAGS do? Whats the reason for it?

[2019-04-18 18:53] Izopi4a commented on #1301
https://en.wikipedia.org/wiki/CFLAGS
http://sdf.org/~riley/blog/2014/10/30/march-mtune/

[2019-04-23 09:09] Fuhunter commented on #1301
But doesn't the devtools just use Phalcon itself? Connect to the database, read the table columns and finally build a php model file? (Much simplified, I know)

Where does those CFLAGS optimisations about my processor fit in?

(Am I the only one affected by it?)

[2019-04-23 09:13] Jeckerson commented on #1301
@Fuhunter Try to upgrade to `v3.4.1`

[2019-04-23 09:21] Fuhunter commented on #1301
I deleted my local phalcon devtools folder, cloned it again from this repository and it still says Version 3.4.0

[2019-04-23 09:49] Jeckerson commented on #1301
Try to download from releases page - https://github.com/phalcon/phalcon-devtools/releases

[2019-04-23 10:39] Izopi4a commented on #1301
segfault comes from phalcon. As i said i remember some problems compiling it yourself on mac. If you know what you are doing then probably is fine. otherwise i suggest you use pre-compiled phalcon extension

[2019-04-26 03:49] ZhangRuiMingZRM opened #1302 "Declaration of Phalcon\Devtools\Version::_getVersion() must be compatible with Phalcon\Version::_getVersion(): array in /root/phalcon-devtools/scripts/Phalcon/Devtools/Version.php on line 44"
php version: PHP 7.2.17-0ubuntu0.18.04.1
phalcon-devtools version :  3.4.0

I have already installed phalcon-devtools;
When i  typed `phalcon`
[code]
It seems to be caused by inconsistent return types

You should add return type(array)  for Phalcon\Devtools\Version::_getVersion() in phalcon-devtools/scripts/Phalcon/Devtools/Version.php on line 44
[code]

[2019-04-26 06:17] ruudboon commented on #1302
Looks like you're running Phalcon v4 alpha that isn't compatible with phalcon-devtools 3.4.0.
There isn't a v4 release for devtools yet. Work is currently being done in the 4.0.x branch

[2019-04-26 09:31] #1302 closed

[2019-05-02 09:48] sergeyklay commented on #1301
@ruudboon As I remember you're created a PR to Phalcon repo to fix this? Could you send the same path to 3.4.x branch so that we'll have at least ready to git clone branch.

[2019-05-02 10:48] ruudboon commented on #1301
@sergeyklay No problem. But don't think this is related. My fix was an issue where you could not run docker on a different machine (with older cpu)

[2019-05-02 13:49] sergeyklay commented on #1301
@Fuhunter Could you please re-install Phalcon using 3.4.x branch and test again? Just clone the 3.4.x branch, go to build directory and call `./install` script

[2019-05-14 16:32] AnatolyAstapov commented on #1232
in 3.4 found ...  they has renamed =)
in migration
self::$connection->query("SELECT * FROM subscriptions")->fetchAll();

[2019-05-20 14:09] Jeckerson commented on #1178
Fixed

[2019-05-20 14:09] #1178 closed

[2019-05-24 02:00] TOP-OWN commented on #1301
This is a nice framework, but the installation process is too cumbersome to extend（composer）;  For example --laravel ,The installation is very simple，

[2019-05-24 18:26] Fuhunter commented on #1301
@sergeyklay Sorry for the late response

Installed Phalcon from 3.4.x Branch, but still get the segmentation fault within phalcon-devtools when creating a model

[2019-05-25 20:53] sergeyklay commented on #1301
I'll try to sort out as soon as I can

[2019-06-06 18:10] player903 commented on #1301
I have the same problem   ，Command Line       ，/works/phalcon-devtools-3.4.1/phalcon.sh: line 151: 53469 Segmentation fault: 11  php "$devtools/phalcon.php" $*

[2019-06-06 18:11] player903 commented on #1301
Phalcon DevTools (3.4.0)

Environment:
  OS: Darwin 192.168.0.114 18.5.0 Darwin Kernel Version 18.5.0: Mon Mar 11 22:26:31 PDT 2019; root:xnu-4903.251.3~5/RELEASE_X86_64 x86_64
  PHP Version: 7.3.1
  PHP SAPI: cli
  PHP Bin: /Applications/MAMP/bin/php/php7.3.1/bin/php
  PHP Extension Dir: /Applications/MAMP/bin/php/php7.3.1/lib/php/extensions/no-debug-non-zts-20180731
  PHP Bin Dir: /Applications/

[2019-06-19 21:23] AdnanBabakan opened #1305 "URL Query problem with phalcon serve"
### Expected and Actual Behavior

When using ``phalcon serve`` as a development serve when trying to have url query for GET parameters development server cannot recognize it correctly.

``http://icriticize.local/x/login?_m=SUCC_LOGOUT`` will cause the error below:
[code]
and using the url ```http://icriticize.local/x/login/?_m=SUCC_LOGOUT``` with a ``/`` at the end of the route before the query wi

[2019-06-19 21:35] sergeyklay commented on #1301
@player903 Could you provide core dump ?

[2019-06-24 18:06] AdnanBabakan opened #1306 "Typo in generate models part in webtools"
In the webtools models' generate part there is typo which instead of "Namespace" there is "Table name":

![Image of typo](https://media.discordapp.net/attachments/310910488152375297/592685291396136970/unknown.png?width=1040&height=516)

Phalcon Info:
[code]

[2019-06-28 13:05] Jeckerson commented on #1268
Current issue will be fixed in 4.x with new migrations system. At that moment use x64 bit system.

[2019-06-28 13:05] #1268 closed

[2019-06-28 13:30] Jeckerson commented on #1233
After some tests with PHP versions, and looking for previous comments. What you just need is update to latest patch PHP version (7.x.patch) and it will work, because it was reverted in next releases.

[2019-06-28 13:30] #1233 closed

[2019-06-28 15:14] Jeckerson commented on #1305
Can you post here the routes that handles `/x/login?_m=SUCC_LOGOUT`?

[2019-06-28 17:10] AdnanBabakan commented on #1305
Here you are:
[code]

[2019-06-30 11:17] Jeckerson commented on #1306
Fixed

[2019-06-30 11:17] #1306 closed

[2019-07-29 18:02] maxttor commented on #562
What about SET type?

[2019-07-30 00:25] CameronHall commented on #1305
@Ultimater would this have anything to do with the changes you've made?

[2019-07-30 07:57] Ultimater commented on #1305
@CameronHall Negative. The changes you speak of I had Jackerson revert so I wouldn't be holding back the 3.4.2 release, the version being used here is 3.4.0 and thus wouldn't have been affected anyways.

@AdnanBabakan Are you able to edit your index.php file and compare the output of the following between Apache and `phalcon serve` to see if you notice any differences?

[code]

[2019-08-06 13:47] someson commented on #1238
you just broke all the generated app without any vendors (composer) for just generating db models for windows users. After git pull (3.4.*) the .bat file is gone. There is no other way to run executables as .exe/.com/.bat and now instead of just instead of documented command like

`phalcon all-models --namespace=App\Shared\Models\Base --extends=\Library\Models\ModelBase`

i have to use

`php {MYPA

[2019-08-06 13:57] Jeckerson commented on #1238
If you install devtools via composer, you have `vendor/bin/phalcon` bat file, which is generated automatically.

[2019-08-06 14:08] someson commented on #1238
as i just said, no composer used!
1. clone the repo
2. use command as recommended: `phalcon commands` → already broken! Which next steps? `phalcon` on windows platform references to `phalcon.bat`, where is no such.

please, update https://docs.phalconphp.com/3.4/en/devtools-installation#installation-windows now

[2019-08-06 14:35] Jeckerson commented on #1238
`phalcon.bat` will be back in next minor version. To make possible code execution in cases when devtools is installed through `git clone`

[2019-08-06 19:03] Jeckerson commented on #1238
Fixed in [v3.4.3](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.4.3) release.

[2019-08-06 19:03] #1238 closed

[2019-08-07 07:14] SergImmortal commented on #1236
I have the same problem (fields JSON and LONGTEXT)
![image](https://user-images.githubusercontent.com/22959931/62602232-f3e9d200-b8fb-11e9-83a8-d712015e5576.png)

[2019-08-08 05:15] mehdi-zarrin opened #1312 "generating migration for Postgres does not add primary key"
When generating a migration for a table in PostgreSql database the output is like this for the id primary key:
`new Index('users_pkey', ['id'], null)`
which should be
`new Index('users_pkey', ['id'], 'PRIMARY KEY')`

I believe this is because of this line:
[https://github.com/phalcon/cphalcon/blob/a0b25edcfc143b780ec69d5b92cae9c0c37c1987/phalcon/Db/Dialect/Postgresql.zep#L93](url)

PostgreSQL vers

[2019-08-20 11:12] dbinhua commented on #1302
First, you find this error file, and add a return tyoe to the function.
`protected static function _getVersion() : array
{
       return [3, 4, 0, 4, 0];
}`

[2019-08-21 08:57] ruudboon opened #1315 "V4 Upgrade"
For the release of Phalcon v4 we want to make sure devtools are compatible.
Some work is already done in the 4.0.x branch. I would like to use this issue to track progress.

- [x] https://github.com/phalcon/phalcon-devtools/issues/1321 - Remove ide stubs
- [x] https://github.com/phalcon/phalcon-devtools/issues/1282 - Drop support of PHP5
- [x] https://github.com/phalcon/phalcon-devtools/issues/132

[2019-08-21 08:58] ruudboon commented on #1278
Related https://github.com/phalcon/phalcon-devtools/issues/1315

[2019-09-06 02:06] bokunodev opened #1316 "can not build phalcon.phar"
![Screenshot_1](https://user-images.githubusercontent.com/54968427/64395797-a771ed80-d085-11e9-92c6-45761cad6dfb.png)

[2019-09-06 05:00] ruudboon commented on #1316
What versions are you using?

[2019-09-06 05:40] Jeckerson commented on #1316
And what PHP version?

[2019-09-12 02:54] bokunodev commented on #1316
7.4

*B*

Pada tanggal Jum, 6 Sep 2019 pukul 12.41 Anton Vasiliev <
notifications@github.com> menulis:

[2019-09-12 02:54] bokunodev commented on #1316
php*7.4*

Pada tanggal Kam, 12 Sep 2019 pukul 09.53 Abdul Wahab <bokunocode@gmail.com>
menulis:

[2019-09-12 05:15] sergeyklay commented on #1316
@bokunodev Nor Phalcon, nor Dev Tools does not works with PHP 7.4 right now.

[2019-09-12 05:16] #1316 closed

[2019-09-14 07:56] lmfmaier opened #1317 "Class constants vanish when model is regenerated with --force"
Phalcon DevTools Version: 3.4.0
Phalcon Version: 3.4.4

After regenerating a model with `phalcon model <model> --force` class constants defined at the top of the class definition are gone. Custom class methods and members defined before the regeneration are still there

[2019-09-26 13:27] Radio opened #1318 "Failed to create symbolic link .../phalcon-devtools/phalcon: File exists"
### Expected and Actual Behavior

I am trying to install devtools following this instructions: https://docs.phalcon.io/3.4/en/devtools-installation#installation-macos

I'm getting error, below is my output:

[code]

`phalcon.sh` expects that `phalcon` file is not present in the repository root, while it is.

### Details

* Operating System: MacOS

[2019-09-26 14:46] Jeckerson commented on #1318
What is phalcon-devtools version?

[2019-09-26 14:47] Radio commented on #1318
I've tried on `master` and `v3.4.3`. Result is the same.

[2019-09-26 14:58] Jeckerson commented on #1318
Current documentation is deprecated. Just write

[code]

[2019-09-26 15:02] Radio commented on #1318
Thanks for your response. After doing this and running `phalcon` I get:
[code]

[2019-09-26 15:05] Jeckerson commented on #1318
Well, now you need to install the Phalcon. :nerd_face:

[2019-09-26 15:51] Radio commented on #1318
Ah, you are right, sorry. I was thinking this was about the phalcon-devtools extension.

[2019-09-26 15:52] sergeyklay commented on #1318
I'm closing since this is a not a bug report. Feel free to discuss on the [official forums](https://forum.phalconphp.com), and/or the internals repo.

[2019-09-26 15:52] #1318 closed

[2019-09-28 18:54] quickdunk opened #1319 "Create one model take too long with Postgre"
### I expected the model was created without any relationship unless I specified by command line.

I solved modifying:
Phalcon\Builder\Model.php

[code]
And I found the 'reference List' is not send by command line, so the if clause never return that value.

### Details
* System info and versions:
`Environment:
  OS: Linux pop-os 5.0.0-21-generic #22+system76-Ubuntu SMP Tue Jul 16 19:57:52 UTC 2019

[2019-10-06 21:44] luisfelipeharo opened #1320 "No response (White Screen) when generating Scaffold Webtools"
Trying to generate a Scaffold and I get no response & white screen.

https://ibb.co/vxDwnGb

Added ('staticUri'      => '/CRUD/',) and changed 'baseUri'        => '/CRUD',  as CRUD is the project name

### Details

Phalcon DevTools (3.4.0)

Environment:
  OS: Windows NT FELIPE 10.0 build 18362 (Windows 10) AMD64
  PHP Version: 7.1.32
  PHP SAPI: cli
  PHP Bin: D:\Xampp\php\php.exe
  PHP Extension

[2019-10-07 19:45] Jeckerson commented on #1320
Check your web server logs. Maybe there are some errors.

[2019-10-07 21:05] Jeckerson commented on #1193
Closing in favor https://github.com/phalcon/phalcon-devtools/issues/1315

[2019-10-07 21:05] #1193 closed

[2019-10-07 21:07] Jeckerson commented on #1301
Closing for now, as there are new `3.4.x` versions related to seg faults. Feel free to re-open if problem still exist.

[2019-10-07 21:07] #1301 closed

[2019-10-07 21:15] Jeckerson opened #1321 "Remove ide stubs"
With v4 there are possibility to generate stubs directly from cphalcon:
[code]

Or, just include https://github.com/phalcon/ide-stubs as dev composer dependency and use during development.

Parent issue - #1315

[2019-10-08 09:27] Jeckerson commented on #1321
Implemented.

[2019-10-08 09:27] #1321 closed

[2019-10-09 10:37] Ruzgfpegk commented on #1320
Same here.

No error, just:
`"POST /webtools.php?_url=/scaffold/generate HTTP/1.1" 200 -`

Win10 1903 / XAMPP 7.3.9
PHP Version 7.3.9
Phalcon DevTools Version 3.4.0
Phalcon Version 3.4.4

So maybe this has to do with a default setting of XAMPP's PHP7.
I'll let you know if I find something.

I had no issue generating models though.

[2019-10-09 20:50] Jeckerson commented on #1320
@luisfelipeharo @Ruzgfpegk Can you provide your config file?

[2019-10-09 22:39] luisfelipeharo commented on #1320
Sure, this is my config file.

[config.zip](https://github.com/phalcon/phalcon-devtools/files/3709676/config.zip)

[2019-10-10 05:43] Jeckerson commented on #1282
Implemented.

[2019-10-10 05:43] #1282 closed

[2019-10-10 05:46] Jeckerson opened #1324 "Fix, cleanup and add new tests for v4"
- [x] Clean deprecated or unused tests (ex.: migrations)
- [x] Fix tests in `4.0.x` branch
- [x] Add more tests to cover much possible and make refactoring easier
- [x] Update `.travis.yml`

[2019-10-10 05:53] Jeckerson opened #1325 "Refactor legacy code to PHP 7"
After merge of https://github.com/phalcon/phalcon-devtools/issues/1324 iteration.

- [x] Header license
- [x] Return types
- [x] declare strict_types
- [x] Integrate **psalm** and enable it in .travis.yml
- [x] Code refactor and code cleanup
- [x] Enable phpstan in .travis.yml and fix all errors (Related bug https://github.com/phalcon/cphalcon/issues/14481)
- [x] Write tests (if possible or/and ne

[2019-10-10 06:01] Ruzgfpegk commented on #1320
Alright.

[config.zip](https://github.com/phalcon/phalcon-devtools/files/3710617/config.zip)

The structure of this->option in [Scaffold.php](https://github.com/phalcon/phalcon-devtools/blob/3.4.x/scripts/Phalcon/Builder/Scaffold.php) just before the error on line 91 is as follows:
[code]
No trace of 'config' there.

I may be suggesting a completely wrong fix as I'm not familiar with the Phalcon c

[2019-10-10 23:59] luisfelipeharo commented on #1320
Tried it, but not working for me.

[2019-10-11 02:38] Ruzgfpegk commented on #1320
After patching the class I also got the blank screen if I forgot to put the namespace or if files from a previous run were still present.

[2019-10-13 11:32] Jeckerson commented on #1320
Released new version [v3.4.4](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.4.4)
Try to update and check if now it works.

Closing for now, feel free to re-open or leave a comment, if problem continues.

[2019-10-13 17:37] luisfelipeharo commented on #1320
Still not working, got this in error log.

[php7:error] [pid 15264:tid 1984] [client ::1:52215] PHP Fatal error:  Uncaught Error: Access to undeclared static property: Phalcon\\Di::$_default in D:\\Xampp\\phalcon-devtools\\scripts\\Phalcon\\Bootstrap.php:150\nStack trace:\n#0 [internal function]: Phalcon\\Di->__construct()\n#1 D:\\Xampp\\phalcon-devtools\\scripts\\Phalcon\\Bootstrap.php(150): Phal

[2019-10-13 18:23] Jeckerson commented on #1320
@luisfelipeharo
Current problem is related with Phalcon on Windows and PHP versions below `<7.2`.
Can you upgrade your PHP version to `7.2` or `7.3` ?

Reference: https://github.com/phalcon/cphalcon/issues/12056

[2019-10-13 19:48] sergeyklay commented on #1320
Or use Nginx

[2019-10-14 03:52] zhangmazi opened #1329 "[bug] dev-tool 3.4.4 can not create project"
### Details
Environment:
  OS: Darwin rickmac.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64
  PHP Version: 7.2.23
  PHP SAPI: cli
  PHP Bin: /usr/local/Cellar/php@7.2/7.2.23/bin/php
  PHP Extension Dir: /usr/local/Cellar/php@7.2/7.2.23/lib/php/20170718
  PHP Bin Dir: /usr/local/Cellar/php@7.2/7.2.23/bin
  Loaded PHP config: /us

[2019-10-14 05:41] Jeckerson commented on #1329
Try to create **not** on the root of your file system. AFAIK MacOS doesn't like that.
Normally you create all stuff inside your home dir
[code]

[2019-10-14 05:44] Jeckerson commented on #1324
Implemented.

[2019-10-14 05:44] #1324 closed

[2019-10-14 09:51] Jeckerson opened #1330 "Update AdminLTE to 3.0.0"
Wait until v3.0 is released - https://github.com/ColorlibHQ/AdminLTE/releases

And wait for v3.0 upgrade guide
https://adminlte.io/docs/2.4/upgrade-guide

Sections to rewrite:
- [x] Home
- [x] Controllers - Generate
- [x] Controllers - List All
- [x] Controllers - Edit
- [x] Models - Generate
- [x] Models - List All
- [x] Models - Edit
- [x] Scaffold - Generate
- [x] Migrations - Generate
- [x] Mi

[2019-10-14 10:28] KozakIvan commented on #1329
# phalcon i

Phalcon DevTools (3.4.0)

Environment:
  OS: Linux archlinux 5.3.5-arch1-1-ARCH #1 SMP PREEMPT Mon Oct 7 19:03:08 UTC 2019 x86_64
  PHP Version: 7.3.10
  PHP SAPI: cli
  PHP Bin: /usr/bin/php
  PHP Extension Dir: /usr/lib/php/modules
  PHP Bin Dir: /usr/bin
  Loaded PHP config: /etc/php/php.ini
Versions:
  Phalcon DevTools Version: 3.4.0
  Phalcon Version: 3.4.4
  AdminLTE Version: 2.

[2019-10-14 10:42] ruudboon commented on #1329
@KozakIvan Looks like you're running Devtool 3.4.0. Can you upgrade to the latest (3.4.4) and try again

[2019-10-14 10:55] KozakIvan commented on #1329
[user@archlinux ~]$ cd ~/projects/php/phalcon-devtools/
[user@archlinux phalcon-devtools]$ git pull
Already up to date.
[user@archlinux phalcon-devtools]$ ./phalcon

Phalcon DevTools (3.4.0)

Available commands:
  info             (alias of: i)
  commands         (alias of: list, enumerate)
  controller       (alias of: create-controller)
  module           (alias of: create-module)
  model

[2019-10-14 11:36] KozakIvan commented on #1329
when install latest 3.4.4 version from release page, ./phalcon show same 3.4.0 version

[2019-10-14 11:41] sergeyklay opened #1332 "when install latest 3.4.4 version from release page, ./phalcon show same 3.4.0 version"
when install latest 3.4.4 version from release page, ./phalcon show same 3.4.0 version

_Originally posted by @KozakIvan in https://github.com/phalcon/phalcon-devtools/issues/1329#issuecomment-541626369_

[2019-10-14 12:21] ruudboon commented on #1329
@KozakIvan Looks like default installation is root instead relative dir.
You can work around this issue by specifying the directory
[code]

[2019-10-14 12:53] ruudboon commented on #1332
Fixed in 3.4.x branch

[2019-10-14 12:53] #1332 closed

[2019-10-14 13:02] ruudboon commented on #1329
Fixed in 3.4.x branch. Thnx for reporting!

[2019-10-14 13:02] #1329 closed

[2019-10-14 15:09] KozakIvan opened #1336 "config.php - No such file or directory"
[user@notebook qwe]$ phalcon i

Phalcon DevTools (3.4.5)

Environment:
  OS: Linux userbook 5.3.5-arch1-1-ARCH #1 SMP PREEMPT Mon Oct 7 19:03:08 UTC 2019 x86_64
  PHP Version: 7.3.10
  PHP SAPI: cli
  PHP Bin: /usr/bin/php
  PHP Extension Dir: /usr/lib/php/modules
  PHP Bin Dir: /usr/bin
  Loaded PHP config: /etc/php/php.ini
Versions:
  Phalcon DevTools Version: 3.4.5
  Phalcon Version: 3.4.4
  Ad

[2019-10-14 15:27] ruudboon commented on #1336
@KozakIvan Can you try to specify the project type (cli, micro, simple or modules).
[code]

[2019-10-14 17:26] Dmitrijlin commented on #1336
Hello, I have the same problem. I tried everything, but always I have this. I found only config.ini and nothing more.

D:\php-7.3.10\php.exe D:\Apache24\htdocs\Phalcon\qwe\run

Warning: include(D:\Apache24\htdocs\Phalcon\qwe/app/config/config.php): failed to open stream: No such file or directory in D:\Apache24\htdocs\Phalcon\qwe\app\config\services.php on line 7

Warning: include(): Failed openin

[2019-10-16 06:48] Ruzgfpegk commented on #1320
For me it's the same as before after updating through composer, I had to add `'config'            => $this->config,` to ScaffoldController.php (line 69) for the scaffolding process to work through the webtools, else I got a blank screen.

Phalcon DevTools Version 	3.4.5
Phalcon Version 	3.4.4
AdminLTE Version 	2.3.6

[2019-10-17 08:51] Woosy opened #1338 "Error when using relative paths with "create-project" command"
### Expected and Actual Behavior

I'm very new to Phalcon and PHP frameworks. I just installed the devtools on Ubuntu 18.04 using git & a symlink to /usr/bin (tutorial from the README).
The `phalcon` command works fine, but when I do `phalcon create-project test`, I'm getting the following output :

[code]

It seems that it's trying to create the project "test" at the root of my system.
So I tried

[2019-10-19 09:26] Jeckerson opened #1339 "Move Phalcon Migrations into separate repository"
Implement Phalcon Migrations as separate repository with composer package.

[2019-10-19 09:26] Jeckerson commented on #1278
Closing in favor - https://github.com/phalcon/phalcon-devtools/issues/1339

[2019-10-19 09:26] #1278 closed

[2019-10-19 21:06] Jeckerson commented on #1339
Implemented.

[2019-10-19 21:06] #1339 closed

[2019-10-20 19:48] Jeckerson opened #1341 "Tests for v4"
As almost half of project (migrations) were moved into separate repository and big refactor was done, now it is time to increase stability of existing code base.

Make sequence of tests with code review/refactor.

- [x] Rename folder `scripts` to `src`
- [x] Rename package namespace to `Phalcon\DevTools`
- [x] Fix Psalm and phpstan errors
- [x] Code cleanup and refactor
- [x] Review console tests

[2019-10-20 19:52] Jeckerson commented on #1330
According to author of AdminLTE

https://github.com/ColorlibHQ/AdminLTE/issues/2338

[2019-10-21 11:06] Jeckerson commented on #1325
Implemented.

[2019-10-21 11:06] #1325 closed

[2019-10-25 22:33] FI-LIFE commented on #1336
Problem in  96d8c4948d150b0255cbcdf079d6ae33ef08e3f1

`git checkout a51c53bdf86c010e893b9c082021b17b77415ff3`

and try again

[2019-10-27 18:09] Jeckerson commented on #1338
Fixed.

[2019-10-27 18:09] #1338 closed

[2019-10-28 12:38] KozakIvan commented on #1336
PHP Warning disappeared and file config.php on it's own place

[2019-10-28 13:22] Jeckerson commented on #1336
@KozakIvan Can you please explain what you did to warning disappeared?

[2019-10-29 03:44] KozakIvan commented on #1336
git pull && git checkout a51c53bdf86c010e893b9c082021b17b77415ff3

[2019-10-29 06:38] Jeckerson commented on #1336
@KozakIvan Can you try it with latest release `v3.4.5` ?

[2019-10-29 06:42] KozakIvan commented on #1336
phalcon serve

Phalcon DevTools (3.4.5)

Preparing Development Server
  Host: 0.0.0.0
  Port: 8000
  Base: .htrouter.php
  Document Root: public
Starting Server with /usr/bin/php -S 0.0.0.0:8000 -t public .htrouter.php

[Tue Oct 29 10:41:12 2019] PHP Warning:  include(/home/user/projects/php/phalcon/qwerty/app/config/config.php): failed to open stream: No such file or directory in /home/user/proje

[2019-10-30 06:31] Jeckerson commented on #1336
@KozakIvan Please update to version `3.4.6` and check if problem is gone.
Feel free to re-open the issue.

[2019-10-30 06:31] #1336 closed

[2019-10-30 13:05] Iamzz-cn opened #1348 "migration"
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2019-10-30 13:06] #1348 closed

[2019-10-31 15:31] Jeckerson opened #1349 "Add new option 'no init schema' for Models Builder"
Basing on PR - https://github.com/phalcon/phalcon-devtools/pull/1255
Implement in `4.0.x` branch.

[2019-11-03 19:53] Jeckerson commented on #1305
Fixed in `3.4.7`. Feel free to re-open in case new occurrences.

[2019-11-03 19:53] #1305 closed

[2019-11-03 19:53] Jeckerson commented on #1320
Further fixes will be done into `4.0.0` branch.

[2019-11-06 21:57] Jeckerson opened #1355 "Write Acceptance tests for Web Tools GUI"
Write specific tests for WebTools. Use `phalcon serve` + Codeception built-in webserver.

Example of .travis CI implementation for acceptance tests:
* https://github.com/phalcon/vokuro/blob/4.0.x/.travis.yml

Home
- [x] Enter to Home

Controllers
- [x] Enter to Controllers -> Generate
- [x] Enter to Controller -> List All
- [x] Fill form and Generate Controller
- [x] Enter to Edit Controller
- [x]

[2019-11-06 22:08] Jeckerson opened #1356 "Separate initialization of service providers"
Move out init methods from `Bootstrap` (`Initializable` trait) class to separate Providers classes.

[2019-11-07 06:42] Jeckerson commented on #1341
Implemented.

[2019-11-07 06:42] #1341 closed

[2019-11-10 09:19] Jeckerson commented on #1356
Implemented.

[2019-11-10 09:19] #1356 closed

[2019-11-10 11:37] Jeckerson commented on #998
Probably it will be default behavior, as Phalcon 4 is PSR compliant.

[2019-11-10 16:57] Jeckerson commented on #1320
Fixed in `v3.4.8` release and in `4.0.x` branch.

Feel free to re-open if problem continues.

[2019-11-10 16:57] #1320 closed

[2019-11-10 17:19] Jeckerson commented on #1248
Implemented in `v4.0.0-beta.1` release.

[2019-11-10 17:19] #1248 closed

[2019-11-10 17:20] Jeckerson commented on #1315
Released https://github.com/phalcon/phalcon-devtools/releases/tag/v4.0.0-beta.1

[2019-11-10 17:20] #1315 closed

[2019-11-10 17:23] Jeckerson opened #1363 "Unify Github token env variable in .travis.yml"
Currently there are 2 variables which contains same value:
* `$GITHUB_TOKEN`
* `$GH_TOKEN`

Remove `$GITHUB_TOKEN` from travis.yml and from Repository settings (ask any Phalcon member with admin access).

[2019-11-16 13:13] Jeckerson opened #1365 "Enable Codecov"
Working config examples:
* https://github.com/phalcon/migrations/blob/master/.codecov.yml
* https://github.com/phalcon/cphalcon/blob/master/.codecov.yml

[2019-11-16 20:45] Jeckerson commented on #1365
Implemented.

[2019-11-16 20:45] #1365 closed

[2019-11-16 20:52] Jeckerson opened #1368 "Add compression for phalcon.phar"
To decrease final size of `phalcon.phar`, add compression in box.json configurations.

Reference:
https://github.com/phalcon/zephir/blob/900bd5f76696805c0a161bed5b0a4626b16258d6/box.json.dist#L64

[2019-11-17 12:48] phalcorine opened #1370 "[BUG]: [XAMPP/Windows] phalcon devtools v4.0.0-beta.1 seemingly not compatible with phalcon v4.0.0-rc.3"
**Description**
The phalcon devtools v4.0.0-beta.1 is seemingly not compatible with phalcon php extension v4.0.0-rc.3 on Windows (XAMPP). This can be discovered when trying to install dependencies for the phalcon devtools using Composer. Two issues arise:

1. the php-posix extension, which is required by the devtools, isn't available on Windows. But its a hard dependency in the devtools.
2. the de

[2019-11-17 17:53] Jeckerson commented on #1368
Implemented.

[2019-11-17 17:53] #1368 closed

[2019-11-17 17:54] Jeckerson commented on #1363
Implemented.

[2019-11-17 17:54] #1363 closed

[2019-11-17 18:05] Jeckerson commented on #1370
Fixed in `v4.0.0-beta.2` release.

[2019-11-17 18:05] #1370 closed

[2019-11-19 06:42] Jeckerson commented on #1355
Implemented.

[2019-11-19 06:42] #1355 closed

[2019-11-19 21:21] caleuanhopkins opened #1374 "Router.php on Project Command"
Devtools: v4 (pulled from 4.0.x branch)
Phalcon: v4 RC-3

I ran command `project` and project generated find but `config/router.phg` is missing the `$_SERVER["REQUEST_URI"]` variable in `$router->handle();`. Without the server variable the following error is returned:
[code]

See: https://docs.phalcon.io/4.0/en/routing

[2019-11-20 06:41] Jeckerson commented on #1374
Merged. Didn't noticed that one. Thank you!

[2019-11-20 06:41] #1374 closed

[2019-11-20 20:50] Jeckerson opened #1376 "CLI Tests and fixes"
- [x] Manual commands review and execution
- [x] Bug fixes and small refactors
- [x] Add more tests, if needed

[2019-11-23 11:41] #1376 closed

[2019-11-23 20:16] ruudboon opened #1378 "Support global usage"
When installing devtools (v4.0.0-beta.2) globally you will get the following error:
[code]
Please add support for global installation.

[2019-11-23 20:55] sergeyklay commented on #1378
Do you mean [phalcon.phar](https://github.com/phalcon/phalcon-devtools/releases/download/v4.0.0-beta.2/phalcon.phar)?

[2019-11-23 21:39] Jeckerson commented on #1378
@sergeyklay No, when you install package globally: `composer global install`.

[2019-11-27 11:05] jenovateurs opened #1380 "CompiledPath and CompiledSeparator deprecated"
After installing phalcon-devtools from branch 4.0.x, I tried to create a new project with `volt ` by using this command:
`phalcon project --name=test --type=simple --template-engine=volt`
I loaded the new project in the browser and these errors appeared :
[code]

[2019-11-27 11:51] Jeckerson commented on #1380
Fixed.

[2019-11-27 11:51] #1380 closed

[2019-11-27 13:30] jenovateurs opened #1383 "v4 - Command project - Trouble with args"
Tested with Debian Stretch.

With Phalcon DevTools (3.4.8), the command :
`phalcon project hello_world simple –-template-engine=volt`
Does this:
[code]
The created folder is **hello_world**

With Phalcon DevTools (4.0.0-beta.2) from the branch 4.0.x
Does this:
[code]
The created folder is **–-template-engine=volt** not **hello_world**.

[2019-11-28 22:10] Jeckerson commented on #1383
What is even more strange, is that it creates both, correctly and incorrectly just randomly...

![image](https://user-images.githubusercontent.com/3289702/69833445-d387af80-122b-11ea-98cb-757e390ac95c.png)

[2019-11-28 22:48] Jeckerson commented on #1383
Well, it doesn't work for you, because you have special character in your command:
[code]

[2019-11-28 23:25] Jeckerson opened #1385 "Integrate Phalcon cli-options-parser"
Instead current old implementation, use common one:
* https://github.com/phalcon/cli-options-parser

[2019-11-28 23:29] #1383 closed

[2019-11-29 09:58] jenovateurs commented on #1383
@Jeckerson Good catch, thanks for taking the time to look at it.
To give you some context, I have copied the original command from a Word file. I think that when two dash follow one another, Word converts the dash into a special character.

[2019-12-04 13:58] k1T4eR commented on #1232
Correct, thanks.

[2019-12-06 21:52] Jeckerson commented on #1330
Implemented.

[2019-12-06 21:52] #1330 closed

[2019-12-14 15:57] Jeckerson opened #1392 "Cannot copy launcher.bat during project modules generation"
![error](https://cdn.discordapp.com/attachments/314381544888336386/655428636525985823/unknown.png)

[2019-12-14 16:29] Jeckerson opened #1394 "Review flash messages in WebTools"
Not in all places appears flash messages after actions.
Example: run migration, generate model, edit controller.

[2019-12-14 16:34] Jeckerson commented on #1392
Fixed.

[2019-12-14 16:34] #1392 closed

[2019-12-14 23:00] Jeckerson opened #1395 "Change volt deprecated options"
Find and change:
* `compiledPath`  to `path`
* `compiledSeparator` to `separator`
* `compiledExtension` to `extension`

Here is one of example
https://github.com/phalcon/phalcon-devtools/blob/c41271f02789d20ed073337bc6c4bb4340b2eed0/templates/project/modules/services.php#L55

[2019-12-15 13:02] bnlambert opened #1396 "flash does not set errors"
### Flash message is supposed to be set

[code]

[code]

### Details
Phalcon 4.0 modules app on win 10 running php 7.2.3 apache

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2019-12-15 20:53] Jeckerson commented on #1396
Is this core example is generated by devtools?

[2019-12-15 20:54] Jeckerson commented on #1396
Also, inside flash service provider, try use `$flash->setImplicitFlush(false);`

[2019-12-15 21:23] Jeckerson commented on #1395
Fixed.

[2019-12-15 21:23] #1395 closed

[2019-12-15 22:32] bnlambert commented on #1396
No @Jeckerson, the code sample provide is an attempt to implement flash during form validation.

[2019-12-16 11:44] zak-wojtek77 opened #1399 "double and length 1"
If I have table "test" with field type of "DOUBLE" and run command:
vendor/bin/phalcon migration generate --table=test
then is generate such file:
[code]
where size = 1

Next when I run command:
vendor/bin/phalcon migration run --verbose
I have error:
ALTER TABLE `test` MODIFY `price` DOUBLE(1) NOT NULL AFTER `id`ERROR: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in y

[2019-12-16 16:43] Jeckerson commented on #1394
Reviewed.

[2019-12-16 16:43] #1394 closed

[2019-12-16 19:07] ruudboon opened #1400 "Scaffold produces broken controller"
On DevTools V4-RC.1
With table:
[code]
Run:
[code]
`app/controllers/UsersController.php`
[code]
Expected
[code]
Empty namespace should be removed. Same goes got User model (show's warning)

[2019-12-16 19:35] Jeckerson opened #1401 "Adapt all .php files in PSR-12 format"
As PSR-2 is marked as depreated, let's start to use PSR-12
Also, do not forget about generated `.php` files

**Links**
* https://www.php-fig.org/psr/psr-12/

[2019-12-16 19:36] Jeckerson commented on #1396
And what about `setImplicitFlush(false)` ?

[2019-12-16 20:01] ruudboon opened #1402 "Scaffold requires sessionBag"
When using scaffold the controller contains reference to `persistent`
Persistent requires sessionBag to be available in the di.
We got 2 solutions.
1. Add sessionBag by default in al the services.
2. Rewrite scaffold

[2019-12-16 20:12] Jeckerson commented on #1402
I suggest to remove it, as I did in other projects like Vokuro and Invo, during update to v4.

[2019-12-18 13:19] ruudboon opened #1403 "Allow to run skeleton project from subdirectories."
Some users are running Phalcon from a subdirectory.
For example '/store/' will show the index.
Can yo add some tests and make sure this is possible?
These test should give a clear view if changes are required from the Phalcon handle() see https://github.com/phalcon/cphalcon/issues/14559

[2019-12-19 21:54] Jeckerson commented on #1403
After some tries, I ended to fail because of PHP built-in web-server that we are using for serving WebTools...

We need to add Apache/Nginx configs or try to rewrite .htrouter.php. But main approach of serving devtools for local development is to serve single app. This also was discussed little bit with @sergeyklay .

[2019-12-20 09:34] Jeckerson commented on #1400
Fixed.

[2019-12-20 09:34] #1400 closed

[2019-12-20 09:34] Jeckerson commented on #1402
Fixed.

[2019-12-20 09:34] #1402 closed

[2019-12-20 09:40] Jeckerson commented on #1396
Here is example, why flash sessions wasn't working (because session wasn't started, nor passed as 2nd parameter):
https://github.com/phalcon/phalcon-devtools/pull/1398/files#diff-590ae0955193258f813489d1dedb09c9R43-R45

_Closing this, due not related to devtools._

[2019-12-20 09:40] #1396 closed

[2019-12-20 10:22] ruudboon commented on #1403
I agree on the dev tools / WebTools part. Running it on the build

From my point of few Skeletons can be used to start a new project that you would like to run on a production server. So for the generated skeletons users should be ready for nginx/apache

[2019-12-20 16:09] bnlambert commented on #1396
NB: This project was generated by devtools and `setImplicitFlush(false) ` was not part of it.
Thank you for the support.

[2019-12-20 19:19] Jeckerson commented on #1396
@bnlambert But you told before that this code is not generated by devtools
https://github.com/phalcon/phalcon-devtools/issues/1396#issuecomment-565853947

[2019-12-20 19:26] bnlambert commented on #1396
May be it was a typo, sorry!  it is the case. I remember saying this on discord

https://discordapp.com/channels/310910488152375297/311108658031362058

[2019-12-20 19:27] Jeckerson commented on #1396
Anyway, I already fixed generation

https://github.com/phalcon/phalcon-devtools/blob/caabde2f9ccfa954c6d24e94d0549d21bab5ad7d/templates/project/modules/services_web.php#L43

https://github.com/phalcon/phalcon-devtools/blob/caabde2f9ccfa954c6d24e94d0549d21bab5ad7d/templates/project/modules/services_web.php#L54

[2019-12-20 19:28] bnlambert commented on #1396
Thanks i have implemented the changes you mentioned as well and it works great. Thanks!

[2019-12-21 15:29] Jeckerson commented on #1399
Fixed in [3.4.11](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.4.11)

[2019-12-21 15:29] #1399 closed

[2019-12-23 08:06] zak-wojtek77 opened #1409 "mysql enum"
If I have table "test" with field type of "ENUM" and run command:
vendor/bin/phalcon migration generate --table=test
then is generate such file:
[code]
where type = "char" and size = 1

Next when I run command:
vendor/bin/phalcon migration run --verbose
is doing such SQL:
1577088221.3511: ALTER TABLE `test` MODIFY `type` CHAR(1) NOT NULL AFTER `id`  => 1577088221.3776 (0.026492834091187)

Finally

[2019-12-24 08:43] ruudboon opened #1410 "New project always enables webtools"
When creating a new project under v4.
[code]
Webtools will be added.
Expecting webtools only to be included when running
[code]

[2019-12-26 04:46] stmkjp opened #1411 "v4 - It seems that some of templates for scaffolding need to be updated (tested in PHP 7.4)"
Hi,
thanks for all the efforts on the product!
I'm new to phalcon and trying to install & follow tutorials, so please understand if the issues described below are nothing but my ignorance.
### Expected and Actual Behavior

When scaffolds are generated, search page produces errors:

1.  **template for generating controller file needs to be updated**
 `Fatal error: Uncaught Error: Call to undefined

[2020-01-01 16:08] Jeckerson commented on #423
@EpicJhon Feel free to re-open in case providing extra information how-to. Thanks.

[2020-01-01 16:08] #423 closed

[2020-01-03 11:49] zak-wojtek77 opened #1412 "webtools don't work (404)"
### Expected and Actual Behavior
After run command:
vendor/bin/phalcon webtools enable
and run webside:
http://myWebside/webtools.php

I get 404

### Details

* System info and versions (if possible): Phalcon-devtools 4.0.0
* Phalcon Framework version: 4.0.0
* PHP Version: 7.4
* Operating System: Linux Debian
* Server: Nginx
* Other related info (Database, table schema): Mysql 8

[2020-01-03 15:41] Jeckerson commented on #1412
Known bug, use `/` at the end, like that: `webtools.php/`

[2020-01-04 19:29] zak-wojtek77 commented on #1412
Really now if I add at the end "/" I can see website. But still don't know how I can generate something. This problem was not in Phalcon 3.4.1.

[2020-01-04 23:58] Jeckerson commented on #1412
Now you can't use both: `notFound()` and `setDefault*()` in Router. If you declare `notFound()`, then any routes that are not in the list - will send to you 404 action.

[2020-01-04 23:59] Jeckerson commented on #1412
Fixed in #1413

[2020-01-04 23:59] #1412 closed

[2020-01-06 05:40] zak-wojtek77 opened #1414 "generate model - option namespace has't been defined"
### Expected and Actual Behavior
When I run such command:
vendor/bin/phalcon model --name=myTable
I get such error:
"Option namespace has't been defined"

This problem was in version 3.4.1 but has been resolved and again come back.

* System info and versions (if possible): 4.0.x-dev
* Phalcon Framework version: 4.0.0
* PHP Version: 7.4
* Operating System: Debian
* Server: Nginx

[2020-01-06 05:48] zak-wojtek77 opened #1415 "generate entity from webtools does not work"
### Expected and Actual Behavior
Generate entity from webtools does not work. After click button "Generate" nothing do. Also I don't see any errors on screen.

![Phalcon WebTools](https://user-images.githubusercontent.com/39909344/71798004-b3c88000-3050-11ea-967a-342d04d790b9.jpg)

* System info and versions (if possible): 4.0.x-dev
* Phalcon Framework version: 4.0.0
* PHP Version: 7.4
* Operating

[2020-01-12 22:24] Ladinstar commented on #1414
I have the same problem

[2020-01-16 19:30] DeaDSouL commented on #1414
same issue in phalcon 4.0.2 and devtools 4.0.1

[2020-01-16 21:19] DeaDSouL opened #1417 "dev-tools 4.0.1 loads router.php before services.php when it creates project"
### Expected and Actual Behavior
in public/index.php
it should load services.php before router.php

accessing `$di->getConfig()->application->baseUri;`

### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* Phalcon Framework version: (`php --ri phalcon`)
[code]
* PHP Version: (`php -v`)
[code]
* Operating System: debian9 docker image on centos7
https://hub.docker.com/r/d

[2020-01-16 21:37] DeaDSouL opened #1418 "baseUri is not being used when resolving the url"
baseUri is not being used when resolving the url. Also, the setting in app\config.php is not right (the default value is / ).

### Expected and Actual Behavior
baseUri should be treated as directory/ies not as controllers .

I'm trying to host my phalcon-project inside a folder called phalcons/ . but the thing is that when I try to do that, phalcon fails to recognize 'phalcons/' as directory inste

[2020-01-19 17:35] Jeckerson commented on #1418
Current choice is basing by developer and his webserver vhost configurations.

If you are using PHP Built-in Web Server, it will work only inside single directory and won't run another project inside another.

In case of Apache, here is example how to make working 2 projects, when one is inside another.

[code]

[2020-01-19 17:50] Jeckerson opened #1420 "Move CI from Travis to Github Actions"
* Look at `.ci` folder and `.travis.yml` file
* Add CI for PHP 7.4

[2020-01-19 17:58] Jeckerson opened #1421 "Remove BuildPharDockerfile in 4.0.x branch"
Due native `.phar` building each release, current files are useless for Phalcon DevTools since version 4.

Files to remove:
* `build/BuildPharDockerfile`
* `Makefile`

/cc @MilesChou please tell if you still need this files for v4.

[2020-01-19 18:03] Jeckerson commented on #1411
Related - #1420

[2020-01-19 18:07] Jeckerson commented on #1417
Fixed in #1419

[2020-01-19 18:07] #1417 closed

[2020-01-19 18:31] DeaDSouL commented on #1418
Hi,
`/var/www/html/phalcons` is just a normal directory, it is not a phalcon project. While `/var/www/html/phalcons/proj1` is a phalcon project.

It is just or organizing my projects.

It is not a project inside a project

[2020-01-19 18:45] Jeckerson commented on #1418
Ah, then this is normal Phalcon behaviour. By default `new Router()` class is using default routes. So if it can't find controller by URI - it will throw exception.

For that you have 3 options:
1. Write handling of that exception - https://github.com/phalcon/invo/blob/1.0.0/src/Plugins/NotFoundPlugin.php#L44
2. Use `notFound()` method - https://docs.phalcon.io/4.0/en/routing#not-found-404
3. Use

[2020-01-19 19:12] DeaDSouL commented on #1418
but it is not "Not-Found" issue.
the default phalcon routing is just fine.

the thing is that phalcon thinks it's living in the root directory of apache (`/var/www/html`) which is not correct. that's why it thinks `phalcons` is a controller and `proj1` is an action. which is again not true.

the $baseUri shloud inform phalcon where it lives. but phalcon some how doesn't care about the value of $ba

[2020-01-19 21:18] Jeckerson commented on #1418
In that case, you need to submit an issue inside https://github.com/phalcon/cphalcon repository, as it is not devtools issue. Because we are starting to speak about Phalcon itself, not devtools ;)

[2020-01-19 21:20] Jeckerson commented on #1418
Probably related - #1403

[2020-01-19 21:20] Jeckerson commented on #1418
Related - phalcon/cphalcon#14559

[2020-01-20 03:25] MilesChou commented on #1421
Got it, I will download `.phar` file from [GitHub Releases](https://github.com/phalcon/phalcon-devtools/releases)

[2020-01-20 09:50] Jeckerson commented on #1415
Can you specify what exactly entities or which part of WebTools?

[2020-01-20 09:57] zak-wojtek77 commented on #1415
For every entity does not work.

[2020-01-20 10:07] Jeckerson commented on #1415
![image](https://user-images.githubusercontent.com/3289702/72717753-8f9a9200-3b6c-11ea-9512-f847ec8a2e81.png)

Do you have SQL error message?

[2020-01-20 10:10] Jeckerson commented on #1421
Done in #1422

[2020-01-20 10:10] #1421 closed

[2020-01-20 10:36] Jeckerson commented on #1414
Hm, probably it may be related with PHP 7.4, because I'm testing with PHP 7.2...

Will try with another PHP version.

[2020-01-20 20:50] Jeckerson commented on #1414
Related - #1420

[2020-01-21 05:22] zak-wojtek77 commented on #1414
I think maybe difference is because we use different code. Please you write what shoul I write in composper.json?

[2020-01-21 07:40] zak-wojtek77 commented on #1414
I have upgraded devtools from 4.0.x-dev caa898c to v4.0.1 and is good. I have checked for PHP 7.2 and PHP 7.4.

[2020-01-21 07:40] #1414 closed

[2020-01-21 08:09] zak-wojtek77 commented on #1415
I have not any SQL error. I have upgrade devtools to v4.0.1 but still the same problem.

I click: Models -> Generate and next click button "Generate":
![Przechwycenie obrazu ekranu_2020-01-21_09-07-18](https://user-images.githubusercontent.com/39909344/72786342-aa810b00-3c2d-11ea-89eb-5e6b9dbb1239.png)
![Przechwycenie obrazu ekranu_2020-01-21_09-07-30](https://user-images.githubusercontent.com/399

[2020-01-21 08:58] zak-wojtek77 commented on #1414
thank you

[2020-01-21 11:09] Jeckerson commented on #1415
What fields and checkboxes do you select?

[2020-01-21 11:11] zak-wojtek77 commented on #1415
Exactly how is on the screen.

[2020-01-22 11:08] DeaDSouL commented on #1418
indeed it is.
Thanks

[2020-01-24 16:00] tidytrax opened #1423 "Create All-Models Schema, ManyToMany not being generated"
When i execute the below code, gererate all models fine, with all relations between then, but
methods belongs to and manyToMany does **not** make reference to fk of another schema.

`phalcon all-models --schema=user --namespace=App\\Models\\Abstracts\\User --extends=\\System\\Mvc\\Model --output=/var/www/html/vztus-cms/app/models/Abstracts/User --config=/var/www/html/vztus-cms/app/config/config_we

[2020-01-24 16:49] Jeckerson commented on #1423
What devtools version?

[2020-01-24 18:00] tidytrax commented on #1423
4.0.1 Phalcon 4.0.2 Postgres 12.1 Php 7.4.2 Nginx 1.6.11

[2020-01-24 18:02] tidytrax commented on #1423
It does make the relation between same schema, only another schema(same db) it does not create the fk relation belongs and many

[2020-01-25 13:46] izapantis22 opened #1424 "Call to undefined method Phalcon\Config::has() in .../phalcon-devtools/src/Builder/Component/Project.php:60"
### Expected and Actual Behavior
Success!

Trying to create my first project (phalcon project test) with phalcon and I'm getting an error for undefined method

[code]

### Details

* System info and versions (if possible):
[code]

* Phalcon Framework version: (`php --ri phalcon`)
[code]
* PHP Version: (`php -v`)
[code]
* Operating System: Ubuntu 19.10
* Server: Nginx | Apache | Other
* Other relat

[2020-01-25 18:56] Jeckerson commented on #1424
You phalcon version if not the same as devtools.

[code]

Use Phalcon `4.0.x` instead of `3.4.5`

[2020-01-25 18:56] #1424 closed

[2020-01-25 19:10] Jeckerson commented on #1418
Closing in favour of phalcon/cphalcon#14559

[2020-01-25 19:10] #1418 closed

[2020-01-26 01:01] tidytrax opened #1425 "Column Annotation"
Column anotation does not generate type boolean for postgresql.

Also does not generate the default value for any columns.

DevTools 4.0.1 Phalcon 4.0.2 Postgres 12.1 Php 7.4.2 Nginx 1.6.11

[2020-01-26 11:33] wmamrak commented on #1425
Similarly, SMALLINT, MEDIUMINT and TINYINT are annotated as strings.

DevTools 4.0.1, Phalcon 4.0.3, MariaDB 10.4.11, PHP 7.4.1, Apache 2.4.41

[2020-01-26 13:24] tidytrax commented on #1425
Yep, so is useless, I was triyng to use because of this bug, bit I did make a fix, if you have the same problem as column type and default value, you can do like this.

https://github.com/phalcon/cphalcon/issues/14722#issuecomment-578501004

[2020-01-28 19:40] talal424 commented on #1376
#1376 - Fix finding correct config.php file

the added slash '/' in `preg_match` returns false in windows environment.

would it be simpler if swapped with `preg_match('/config\.php$/i', $f->getFilename())`

[2020-01-28 19:57] sergeyklay commented on #1376
@talal424 Could you please open a new issue with description of the problem and minimal steps to reproduce? Thank you.

[2020-01-29 11:10] talal424 opened #1426 "#1376 broke finding correct config.php file in windows"
### Expected and Actual Behavior

#1376 [committed on Nov 21, 2019](https://github.com/phalcon/phalcon-devtools/commit/a033e99b2a18deab99129fca2ca0c84a35dc4221)

the added slash in `preg_match` returns false in windows

[code]
throws exception: `Error: Builder can't locate the configuration file`

target file: `src/Builder/Path.php`

change line # 63

[code]

change line # 71

[code]

### Details

[2020-01-29 11:10] talal424 commented on #1376
done #1426

[2020-01-29 19:20] tidytrax commented on #1423
For some reason now i have generated again and relations was created

[2020-01-29 19:20] #1423 closed

[2020-01-29 22:46] tidytrax opened #1427 "[BUG]: Not Generating Materialized View, Postgres 12.1"
Generate View but not Materialized View.

Command

`phalcon all-models --schema=dispatcher --namespace=App\\Models\\Abstracts\\Dispatcher --extends=\\System\\Mvc\\Model --output=/var/www/html/tkl-cms/app/models/Abstracts/Dispatcher --config=/var/www/html/tkl-cms/app/config/config_webtools.php --doc --relations --fk --annotate --force --get-set --abstract --force 2>&1
`

**_DevTools 4.0.1 Phalcon 4

[2020-02-01 09:04] tidytrax opened #1428 "[NFR] Get-Set param camelCase"
Now

[code]

Could Be?

[code]
and if possible also declaration type

For code analyse and review... or maybe an option --get-set-camelCase

Thank you

[2020-02-07 21:11] ahmetbibi opened #1429 "scaffold doesn't work properly with phalcon dev-tools 4.0.1"
When I tried to create a scaffold and execute it I got these errors.

``
Fatal error: Uncaught Error: Call to undefined method Phalcon\Paginator\Adapter\Model::getPaginate() in /shared/httpd/tennis-club/tennisClub/app/controllers/MemberController.php:47
Stack trace:
#0 [internal function]: MemberController->searchAction()
#1 [internal function]: Phalcon\Dispatcher\AbstractDispatcher->callActionMet

[2020-02-08 08:17] charbelmhanna commented on #654
hello,

my xamp show that falcon is enabled but when i use composer to install it show

------
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - phalcon/devtools v4.0.1 requires ext-phalcon ^4.0.0 -> the requested PHP extension phalcon is missing from your system.
    - phalcon/devtools v4.0.0 requires ext-phalcon ^4.0.0 -> the requested PHP extension ph

[2020-02-08 08:25] charbelmhanna opened #1430 "Phalcon extension missing"
I have a problem making phalcon work on my xamp locally.

I added the extension php_falcon for the version I have, also added php_psr and enable them in php.ini on php 7.3.5 version operation system X64 VC15.

On my wamp it seems that phalcon is enable but when I run composer to install devtools

Your requirements could not be resolved to an installable set of packages.
------------------------

[2020-02-08 08:28] ruudboon commented on #1430
Can you switch to discord or the forum for support questions? We would like to use this for bugs etc only.

[2020-02-08 08:28] #1430 closed

[2020-02-08 11:17] Jeckerson commented on #654
@charbelmhanna Probably you included `extension=phalcon.dll` in incorrect `.ini` file.

If you are in CLI env, use one of this:
* `php -i | grep php.ini`
* `php --ini`

and add it there the extension

[2020-02-13 10:48] ariborneo commented on #1207
how you do that?

[2020-02-28 23:51] ekmst opened #1431 "[BUG] phalcon.phar not work on php 7.4.3"
I get an error when starting:

[code]

### Details

* Phalcon Framework version: `4.0.4`
* Devtools Version: `4.0.1`
* PHP Version: `7.4.3`
* Operating System: `Ubuntu 18.04`

[2020-03-07 07:35] vhanla commented on #1431
Error here too on installation with composer.

[code]

[2020-03-12 17:46] tallande commented on #1415
Exactly de same trouble

[2020-03-26 00:07] disxo opened #1434 "i installed by composer, when i use phalcon, it seems not work."
how can i fix it ?
thanks

![image](https://user-images.githubusercontent.com/20137434/77597090-bc866f00-6f38-11ea-8127-2c6ba616e860.png)

[2020-03-26 03:39] brunomerod opened #1435 "PHP Fatal Error - Creating controller"
Trying to create a controller from phalcon-devtools command line. It's working on every project except this one...

## Command
`phalcon controller test
`
### Expected Behavior
[code]

### Actual Behavior (Fatal Error Output)
[code]

### Details

* System info and versions

* Phalcon

* PHP Version

* Server: Apache
* Other related info (MySQL):

[2020-03-26 21:12] Jeckerson commented on #1435
What is your config file?

[2020-03-26 21:13] Jeckerson commented on #1434
What version of devtools you installed?

[2020-03-27 01:40] sushirod commented on #1435
It's the default one. Jus recently created this project with 'phalcon project PROJECT_NAME'.

* app/config/config.php

`<?php

defined('BASE_PATH') || define('BASE_PATH', getenv('BASE_PATH') ?: realpath(dirname(__FILE__) . '/../..'));
defined('APP_PATH') || define('APP_PATH', BASE_PATH . '/app');

/*
 * Using Json connections
 */
return new \Phalcon\Config([
    'database' => [
        'adapter'

[2020-03-29 07:22] jenovateurs commented on #1429
Fix in #1436

[2020-03-29 07:22] #1429 closed

[2020-03-29 07:24] jenovateurs commented on #1411
Fixed in #1436

[2020-03-29 07:24] #1411 closed

[2020-03-29 07:29] jenovateurs opened #1437 "Add tests to check if Scaffold files works"
The idea is to create Acceptance tests, that checks if the generated works well with Phalcon.
All the template files needs to be checked with all the variants (phtml/volt).

[2020-03-29 17:39] wajdijurry opened #1438 "[BUG]: Phalcon WebTools wrong migration directory"
Hello,

I am using Phalcon WebTools to manage my app staff, it reads from "config.php" file where I specified all my app configs like modelsDir, controllersDir and migrationsDir, this is a part of my config.php file:
[code]
so when I came to Migrations view to create a new migration, it creates the migration file in a wrong directory, under root dir (/1.0.0), while it is supposed to create it unde

[2020-03-29 22:25] Jeckerson commented on #1438
Hello

This is v3.4, which is deprecated. Do you really need it in v3.4? As it has been fixed in v4.

[2020-03-30 08:30] wajdijurry commented on #1438
Yes, I am still using v3.4, it is compatible with Phalcon v3.4.4, I did not upgrade to Phalcon 4 since it lacks many features and the most is ODM.

[2020-03-30 20:31] Jeckerson commented on #1438
Released in [v3.4.12](https://github.com/phalcon/phalcon-devtools/releases/tag/v3.4.12)

[2020-03-30 20:31] #1438 closed

[2020-03-31 11:38] wajdijurry commented on #1438
Thank you!

[2020-04-01 20:12] jenovateurs opened #1440 "Fatal Error - Creating cli project with Windows"
### Expected and Actual Behavior

With Windows, I did a
`.\phalcon project test cli`

The console answer:

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
[code]

* Phalcon Framework version: 4.0.5
* PHP Version: PHP 7.2.18
* Operating System: Windows 10
* Server: Apache
* Other related info (Database, table schema):

[2020-04-02 06:35] #1440 closed

[2020-04-03 07:56] jenovateurs commented on #1420
Currently working on it : https://github.com/les-enovateurs/phalcon-devtools/actions

[2020-04-04 16:10] Bedov93 opened #1442 "DevTools not work 4.0.1"
Phalcon DevTools (4.0.1)

ERROR: Wrong version number provided
➜  phalcon migration run --version=1.0.0

[2020-04-04 16:14] Bedov93 commented on #1442
Resolved by use Phinx thanks

[2020-04-04 17:06] #1442 closed

[2020-04-04 20:15] Bedov93 commented on #1442
Its a BUG!

[2020-04-04 20:26] Bedov93 opened #1443 "Phalcon DevTools Version: 4.0.0/4.0.1 not work"
I have folders with migrations
db
└── migrations
    └── 1.0.0
        ├── comments.php
        └── posts.php

[code]

[2020-04-04 21:23] Bedov93 commented on #1443
Changed config to default

[2020-04-04 21:23] #1443 closed

[2020-04-05 20:10] 1vanov opened #1444 "Wrong migration for Column::TYPE_DECIMAL"
_ERROR: SQLSTATE[42000]: Syntax error or access violation: 1427 For float(M,D), double(M,D) or decimal(M,D), M must be >= D (column 'discount')_

Here're the migration files for the same table, but with different versions of devtools:

**phlacon-devtools 3 (working):**
[code]

**phlacon-devtools 4 (not working):**
[code]

As you can see, in the new migration I made using the updated devtools, ther

[2020-04-05 22:39] Bedov93 opened #1445 "phalcon scaffold"
### Expected and Actual Behavior

[code]

### Details

Environment:
  OS: Linux homestead 4.15.0-91-generic #92-Ubuntu SMP Fri Feb 28 11:09:48 UTC 2020 x86_64
  PHP Version: 7.2.29-1+ubuntu18.04.1+deb.sury.org+1
  PHP SAPI: cli
  PHP Bin: /usr/bin/php7.2
  PHP Extension Dir: /usr/lib/php/20170718
  PHP Bin Dir: /usr/bin
  Loaded PHP config: /etc/php/7.2/cli/php.ini
Versions:
  Phalcon DevTools Ver

[2020-04-05 22:49] Bedov93 commented on #1445
Needs --ns-models param
phalcon scaffold posts --ns-models="Application\Models"

[2020-04-05 22:49] #1445 closed

[2020-04-07 09:02] shuqiangzhou opened #1447 "migrate can't work"
![2020-04-07 16-38-41 的屏幕截图](https://user-images.githubusercontent.com/26402118/78648551-b4daa900-78ee-11ea-9bb0-e5ba4f83c72b.png)
phalcon version 4.0.5

![2020-04-07 16-39-11 的屏幕截图](https://user-images.githubusercontent.com/26402118/78648602-c3c15b80-78ee-11ea-9a3a-60669811c0a0.png)

phalcon devtool version 4.0.1

use phalcon migration generate command it's get me a error:
that say
![2020-04-07 1

[2020-04-10 08:47] jenovateurs commented on #1420
Issue finished: https://github.com/phalcon/phalcon-devtools/pull/1446

[2020-04-10 08:47] #1420 closed

[2020-04-10 09:20] Druid33 commented on #1012
Hi everyone.
I have the same problem with phalcon 4 nad webtools 4.
After hours of crying, googling and depresion a start debuging devtools code. As soon as i display routes from router i realize, that problem is, as usual, between chair and keyboard :).

You need to write /webtools.php**/** to url not /webtools.php

The last backslash is important!

[2020-04-10 18:32] Jeckerson commented on #1447
Related phalcon/migrations#88

[2020-04-10 18:32] #1447 closed

[2020-04-11 16:46] #1410 closed

[2020-04-17 08:51] jenovateurs opened #1452 "[Test] Add Windows CI"
The goal is to test phalcon-devtools with Windows - GitHub Actions.

[2020-04-17 08:53] jenovateurs opened #1453 "[Test] Add sqlite tests"
Check that phalcon-devtools works with sqlite (create project...).

[2020-04-19 06:52] jenovateurs commented on #1437
Fixed with #1454

[2020-04-19 06:52] #1437 closed

[2020-04-23 20:31] Jeckerson opened #1455 "Change code of PHP code generation"
Instead of own implementation, use external library to do that dirty job.

https://github.com/nette/php-generator

[2020-04-25 13:55] faridanthony commented on #1378
Hi, is this solved yet? I'm getting the same:
ERROR: Please run composer install

[2020-04-26 09:17] Jeckerson opened #1458 "Update README.md"
Update all information from `v3` to `v4`.

[2020-05-03 15:47] Bounderx opened #1459 "PHP Fatal error: create controller, module, model, scaffold"
### Expected and Actual Behavior

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
Phalcon DevTools (4.0.3)
Environment:
  OS: Linux project-x 5.3.0-46-generic #38-Ubuntu SMP Fri Mar 27 17:37:05 UTC 2020 x86_64
  PHP Version: 7.3.11-0ubuntu0.19.10.4
  PHP SAPI: cli
  PHP Bin: /usr/bin/php7.3
  PHP Extension Dir: /usr/lib/php/20180731
  PHP Bin Dir: /usr/bin
  Loaded

[2020-05-08 04:05] sinetik commented on #1414
im having the same problem with phalcon 4.0.2 + php 7.4.0

[2020-05-22 20:13] ae-bogdan opened #1460 "Upgrade lucas/phpdotenv dependency to v4"
### Expected and Actual Behavior

I am currently using lucas/phpdotenv in my project and it is at version 4. However if I want to install phalcon-devtools, it requires me downgrade the phpdotenv in my project to 3.6.

![image](https://user-images.githubusercontent.com/17846988/82706273-ebdc0280-9c81-11ea-9185-ff2a1c629dce.png)

I would be able to make a pull request if you also feel like this can

[2020-05-23 18:36] mocallu commented on #1415
I had the same problem. I solved removing the options from config's database array.

[code]
After create the models, return with the options.

It's happening because before adapter instance, there are some lines creating a condition that removes all database config in ``$configArray`` overriding just with options.
[code]
It's a little weird, I tried to understand why, but I can't.

That's the file

[2020-05-25 07:59] #1434 closed

[2020-05-25 22:22] Hembi commented on #1426
The mentioned solution fixed this problem on Windows 10:
[code]

[2020-05-27 01:45] quinnjr commented on #1460
Taking a cursory look over the library, I can't find any actual invocation of Dotenv. The only uses of environment variables are through `getenv()`.

Perhaps the requirement should be dropped altogether since Dotenv v5 is also available?

[2020-05-28 02:44] ermya opened #1461 "ide folder is not found"
Hello everyone
ide autocomplete is deprecated on devtools V4 ?
it has been deleted from the project

[2020-05-28 16:43] sergeyklay commented on #1461
Yes. Please use this project https://github.com/phalcon/ide-stubs

[2020-05-28 16:43] #1461 closed

[2020-06-01 19:29] PerezRE opened #1462 "Missing PHP Phalcon module"
### Expected and Actual Behavior
Hello! After installing phalcon in latest version (v.4) and also psr extesions on Windows 10 with xampp, and obviously restarting httpd service, evertything seems to be okay from php info page. Phalcon and PSR are 'loaded' and shown un such page. But in CLI, if i type `php --ri phalcon` or `php -m` none phalcon life sign there in spite of `php --ini` shows pointing

[2020-06-01 20:12] ruudboon commented on #1462
Can you check in your phpinfo if more ini files are used?

[2020-06-01 22:33] PerezRE commented on #1462
Not sure if type whole output here, but if it's required for future consultations I'll put it.
By now, I leave a temporary .[html](https://we.tl/t-pO8q0PQbWy) file

[2020-06-02 08:17] ruudboon commented on #1462
You php cli is using: `C:\App\xampp\php\windowsXamppPhp\php.ini`
Your webserver is using: `C:\App\xampp\php\php.ini`

[2020-06-02 14:26] PerezRE commented on #1462
Thanks a lot. I didn't realise about that. I've changed the php cli path pointing to webserserver `php.ini` as well.

[2020-06-02 14:26] #1462 closed

[2020-06-03 21:48] Nyde opened #1463 "[BUG] Mismatch of capitalization between model properties and column names in generated model files"
Please see the discussion on the forum (https://forum.phalcon.io/discussion/20661/modelsave-saves-not-the-entire-model-return-xy-is-required) and the accepted answer (https://forum.phalcon.io/discussion/20661/modelsave-saves-not-the-entire-model-return-xy-is-required#C63301).

### Actual Behavior

When you create a model from a table that has capitalized columns, the property is saved in lower cas

[2020-06-09 22:07] Jeckerson opened #1464 "Bump migrations to v2.x"
Update from `v1` to `v2` and check if all works.
Also check if migrations from `v1` are compatible with `v2`. If so, release it with devtools `v4.1` instead of `v5.0`

[2020-06-24 06:20] foroughfadaei commented on #1378
me too

[2020-06-29 13:18] olegatro opened #1465 "Default value as ''"
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
* Phalcon Framework version: v3
* PHP Version: 7.2
* Operating System: ubuntu 16.04
* Server: Apache
* Other related info (Database, table schema):

Hello in the 3v version. I have a problem - in some situation if I change field from requiement - to the field with defaul value

[2020-07-12 10:30] mrdipesh1 commented on #1378
Samething happened to me for 2 days, but finally it is solved.
I did,

1. Installed composer, by downloading composer.exe

2. Open composer.json which is located at C:/user/Your PC USERNAME/appdata/roaming/composer and pasted
{
"require-dev": {
"phalcon/devtools": "~4.0"
}
}

3. run `composer global require phalcon/devtool` in cmd. It will take time to download, you have to wait.
Note: I have inst

[2020-07-12 12:11] fagai commented on #1378
Will this support not be merged into 3.x?

[2020-07-20 09:52] zzMeow opened #1466 "4.x not found .ide"
4.x not found .ide ？ why

[2020-07-20 16:37] Jeckerson commented on #1466
Not it is separate repository

https://github.com/phalcon/ide-stubs

[code]

[2020-07-20 16:37] #1466 closed

[2020-07-21 00:44] zzMeow commented on #1466
Thanks

[2020-07-23 06:23] sergeyklay commented on #1465
@Jeckerson Could you please take a look

[2020-07-23 09:09] Jeckerson commented on #1465
@sergeyklay It has been fixed in v2 of migrations.

[2020-07-23 22:03] olegatro commented on #1465
Thank you guys. I will close issue

[2020-07-23 22:03] #1465 closed

[2020-07-28 20:25] gianks opened #1467 "WebTools: models generated with no namespace specified are broken because line is not omitted"
### Expected and Actual Behavior

[code]

[code]

### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* PHP Version:
[code]

* Operating System:
[code]
* Server: Nginx
* Other related info (Database, table schema): MariaDB

### My Easy Fix (run it in models folder after generation):
[code]

[2020-07-29 00:25] andersonmendess opened #1468 "scaffold: wrong getPost type"
### Expected and Actual Behavior
[code]

[code]

I'm just following documentation: https://docs.phalcon.io/4.0/en/devtools
issue:
the controller generated by scaffold are setting ->getPost("field","int") for all data type, even text.

[code]

just follow the official guide https://docs.phalcon.io/4.0/en/devtools

### Details

* System info and versions (if possible): (`phalcon info`)
[code]
* Phal

[2020-08-27 09:55] flaussinot opened #1469 "Devtools Migrations Column type ENUM"
### Expected and Actual Behavior

I tried to implement migrations and I noticed that enum column type is generated as Column::TYPE_VARCHAR with size 1 and there is no option to change to set/enum.

[code]

[code]

The model generated by webtools.php:
[code]

### Details

* Phalcon DevTools Version: 3.4.11
* Phalcon Framework version: 3.4.5
* PHP Version: 7.3.14
* Operating System: Linux CentOS
* S

[2020-08-28 22:26] Jeckerson commented on #1469
ENUM type support was added since v2 `phalcon/migrations`. If possible, please use as separate package inside your composer.json file.

https://github.com/phalcon/migrations

[2020-10-08 20:45] Jeckerson commented on #1378
Related #1431

[2020-10-09 11:12] pgalocha opened #1471 "Webtools fatal error in Bootstrap file"
[code]
This happened after:

- php /srv/phalcon project webtools
- php /srv/phalcon webtools enable
- php /srv/phalcon serve

And when I try to open the webtools page, the fatal error was throwed.

[2020-10-09 14:08] #1471 closed

[2020-10-13 07:15] studyzhanglei opened #1475 "Methods of class Phalcon\Logger don't have return type restriction like "errors" "info""
![image](https://user-images.githubusercontent.com/43992249/95827877-e08b8f80-0d66-11eb-92e5-eee0764eb1b4.png)

![image](https://user-images.githubusercontent.com/43992249/95827969-f9944080-0d66-11eb-8fcf-3fc18f2babea.png)

[2020-10-13 07:17] studyzhanglei commented on #1475
![Uploading image.png…]()

[2020-10-13 07:18] studyzhanglei commented on #1475
![image](https://user-images.githubusercontent.com/43992249/95828214-47a94400-0d67-11eb-9d80-6ad890f36bad.png)

[2020-11-19 18:29] AndrewMarkUK opened #1477 "Scaffolding with Webtools"
When I navigate to the view in the browser I get this:

Fatal error: Uncaught Error: Call to a member function getRecordId() on array in C:\xampp\htdocs\tennisClub\app\views\account_management\search.phtml:67 Stack trace: #0 [internal function]: unknown() phalcon/cphalcon#1 [internal function]: Phalcon\Mvc\View\Engine\Php->render('C:\\xampp\\htdocs...', Array, true) phalcon/cphalcon#2 [internal fu

[2020-11-21 14:53] RajP7Jowa commented on #1431
you can use with this `composer.json`

`{
    "name": "phalcon/devtools",
    "type": "library",
    "description": "This tools provide you useful scripts to generate code helping to develop faster and easy applications that use with Phalcon framework.",
    "keywords": ["framework", "phalcon", "devtools", "webtools", "phar"],
    "homepage": "https://phalcon.io",
    "license": "BSD-3-Clause",

[2020-12-03 01:09] someson commented on #1431
`Fatal error: Uncaught Error: Class 'Phalcon\DevTools\Version' not found in phar:///usr/local/bin/phalcon/phalcon on line 35`
php 7.4.13

[2021-01-06 12:59] ankushkatiyar opened #1478 "Scaffold Generate"
I got an error when create scaffold using cli, i have users table and i'm using  phalcon scaffold users with cli

Fatal error: Declaration of Users::findFirst($parameters = NULL) must be compatible with Phalcon\Mvc\Model::findFirst($parameters = NULL): ?Phalcon\Mvc\ModelInterface

I also tried to create scaffold from webtools after enable in application

[2021-01-08 08:19] ankushkatiyar commented on #1478
via cli function generated like that public static function findFirst($parameters = null)
Need to change to public static function findFirst($parameters = null): \Phalcon\Mvc\ModelInterface
It will work fine

[2021-01-13 22:08] yassinrais opened #1479 "[IDEA] ERROR: could not find driver - Should be more explained"
When a Database Driver Extension is missed

its should say
**ERROR: could not find php extension driver _postgress_**

because its take more time to understand that the extension who is missed and not an issue about the name of adapater

Thanks :D !

[2021-01-18 13:05] DebugTheCode commented on #1378
Going into the phalcon-devtools folder (e.g. /Users/[username]/phalcon-devtools and run `composer install`, fixed it for me.

[2021-02-22 10:24] javad4481 commented on #1378
run this in terminal
below in [username] insert your own username  like   "/home/javad/phalcon-devtools"
`cd /home/[username]/phalcon-devtools/`
`composer install`
if " phalcon " command not found
`alias phalcon=/home/[username]/phalcon-devtools/phalcon`

[2021-02-24 20:21] assadnazar opened #1480 "Error: Call to undefined function Vokuro\root_path()"
When i use the following command to create a model:

I get the following error:

Here is my setup info

Any update will be appreciated.

[2021-03-02 08:16] misantron commented on #1460
Any updates here? Will be great to update `lucas/phpdotenv` to actual version.

[2021-03-08 17:55] BeMySlaveDarlin commented on #1378
(click image to see fullsize)
Debian installation OK
<details>
<img src="https://user-images.githubusercontent.com/10584911/110360097-57476300-804f-11eb-80fe-8e0b28843343.PNG" data-canonical-src="https://user-images.githubusercontent.com/10584911/110360097-57476300-804f-11eb-80fe-8e0b28843343.PNG" />
</details>
Centos installation OK
<details>
<img src="https://user-images.githubusercontent.com/10

[2021-03-09 11:07] Jeckerson commented on #1431
Checked in #1378

[2021-03-09 11:07] #1431 closed

[2021-03-09 11:07] #1378 closed

[2021-03-10 21:37] Jeckerson commented on #1444
Will be fixed when `phalcon/migrations` will be updated to `v2.x`

[2021-03-10 22:12] Jeckerson opened #1483 "Move phar release generation to GA"
Migrate logic from Travis to Github Actions.

[2021-03-11 20:48] #1458 closed

[2021-03-11 22:02] Jeckerson commented on #1460
Will be released in next version.

[2021-03-11 22:02] #1460 closed

[2021-03-11 22:32] #1483 closed

[2021-03-11 22:49] Jeckerson commented on #1444
Related #1464

[2021-03-11 23:02] Jeckerson commented on #1469
Related #1464

[2021-03-11 23:19] Jeckerson commented on #1475
Not related to devtools.

[2021-03-11 23:19] #1475 closed

[2021-03-14 06:07] flyingangel commented on #1478
With question mark as it can return null `?\Phalcon\Mvc\ModelInterface`. Please fix

[2021-03-14 15:16] BeMySlaveDarlin commented on #1480
This issue related to Vokuro way of getting BASE_PATH. Looks like you are using global devtools.
Because of Vokuro function `root_path()` used in config.php, which is not autoloaded in cases of global devtools usage, this error occurs.
You can try the way advised in issue https://github.com/phalcon/vokuro/issues/158.
Or you can create webtools with default config, and after that using webtools ins

[2021-03-14 15:23] BeMySlaveDarlin commented on #1459
This is Vokuro related issue.
As we see in https://github.com/phalcon/vokuro/blob/master/src/Helpers.php, there is `return callback call_user_func_array([$default, 'get'], $args);` usage, where `$default = Di::getDefault();` .
I suppose there was some error on getting `bootstrap` container, which could had broken service declaration.

[2021-03-14 15:32] BeMySlaveDarlin commented on #1435
This error appears in cases, when you have config.php and config.ini at the same time in you configs folder or when other conflicting changes we done after default installation to files structure.
Driving through trace can detect `Phalcon\DevTools\Builder\Path->getConfig('ini')` call at last stack, where 'ini' should be NULL by `$type = null` methods signature, if no option were provided by input.

[2021-03-14 15:54] BeMySlaveDarlin commented on #1415
[code]
It was added in `https://github.com/phalcon/phalcon-devtools/pull/1432` due to 'fix' PdoFactory behavior. Unnecessary and breaking addition.
Fixed in #1486

[2021-03-14 16:20] Jeckerson commented on #1415
Will be released in next version.

[2021-03-14 16:20] #1415 closed

[2021-03-14 16:40] Jeckerson commented on #1459
Closing this one in favor of https://github.com/phalcon/vokuro/issues/162

[2021-03-14 16:40] #1459 closed

[2021-03-14 16:41] BeMySlaveDarlin commented on #1426
Because of preg_match is too sensitive and `getPathName` returns different data on differend platforms, replaced regex matching to less stict `strpos` in #1487

[2021-03-14 17:57] #1426 closed

[2021-03-14 19:49] #1480 closed

[2021-03-17 14:00] ZPaskov-GEA commented on #635
Seems that the issue is dead.. but the problem persists. Even with latest version of DevTools, I'm not able to run the migrations without some hacks. Will this issue be fixed or not ?

[2021-03-17 15:13] #1435 closed

[2021-03-17 15:15] Jeckerson commented on #1469
Closing if favor of #1464

[2021-03-17 15:15] #1469 closed

[2021-03-17 15:24] Jeckerson commented on #1444
Closing in favor #1464

[2021-03-17 15:24] #1444 closed

[2021-03-17 15:27] Jeckerson commented on #1289
Will be used Codeception CLI module instead.

[2021-03-17 15:27] #1289 closed

[2021-03-17 15:37] Jeckerson commented on #1274
Can be fixed only when Incubator DB Component is ready for Phalcon v4.

https://github.com/phalcon/incubator-db

[2021-03-19 04:18] belougae opened #1490 "In phalcon3.3.2 composer updatephpunit/phpunit 4.5.0 requires phpunit/php-file-iterator ~1.3.2 -> no matching package found."
{
  "require": {
    "illuminate/validation": "4.2.*",
    "phalcon/incubator": "^2.0",
    "phpunit/phpunit": "~4.5"
  }
}

  - phpunit/phpunit 4.5.1 requires phpunit/php-file-iterator ~1.3.2 -> no matching package found.
    - phpunit/phpunit 4.5.0 requires phpunit/php-file-iterator ~1.3.2 -> no matching package found.
    - Installation request for phpunit/phpunit ~4.5 -> satisfiable by phpunit

[2021-03-19 08:00] Jeckerson commented on #1490
You are using deprecated versions of devtools which isn't supported.

[2021-03-19 08:00] #1490 closed

[2021-03-21 10:09] flyingangel commented on #1274
Error `Option namespace hasn't been defined` when generating a class with constraint relation.

There's 2 typos in the file Model.php

`if ($this->modelOptions->hasOption('namespace'))` instead of `if ($this->modelOptions->getOption('namespace'))`

Devtool tag 4.0.5

[2021-03-21 11:36] Jeckerson commented on #1274
@flyingangel I think your issue isn't related to this one. Please create separate one.

[2021-03-21 15:55] flyingangel opened #1491 ""Option namespace hasn't been defined" on generating model"
Error `Option namespace hasn't been defined` when generating a class with constraint relation.

There's 2 typos errors in the file `Model.php`

Used `if ($this->modelOptions->getOption('namespace'))` instead of `if ($this->modelOptions->hasOption('namespace'))`

A quick, dirty fix is to put `--namespace=""` in the command line

Devtool tag 4.0.5

[2021-03-21 18:33] BeMySlaveDarlin commented on #1479
This is base message related to PHP core \Exception
[code]
As its created outside of phalcon, we cannot properly customize message.
Available options is:

[2021-03-21 19:13] Jeckerson commented on #1479
@BeMySlaveDarlin Ok, we will return to this in next major version.

[2021-03-21 20:54] BeMySlaveDarlin commented on #1477
- Checked on clean project with table having field record_id as pk.
- Created scaffolding for table with `--get-set` option.
- Issue doesn't reproduces, but its legit there is no trailing semicolon after getters in search page view foreach.
Anyways added trailing semicolons as you said it fixed your issue.

[2021-03-21 21:15] BeMySlaveDarlin commented on #1491
Fixed check behavior for `namespace` and `abstract` options on model creation

[2021-03-21 21:44] BeMySlaveDarlin commented on #1468
There was wrong typecheck during creating request codes. Fixed.

[2021-03-21 22:02] BeMySlaveDarlin commented on #1467
Added empty string checks on namespace templating

[2021-03-21 22:53] BeMySlaveDarlin commented on #1463
This is NFR.
Wont be done, because of `camelize` behavior, which is needed for fields named like `group_id`.
Changing template behavior to make `Barcode` be consistent breaks snake_cased fields name mutation.
As said in forums thread, ill recommend to rename fields such as `Barcode` to `barcode` or manually change columnMap() method to fulfill that needs.

[2021-03-21 23:23] BeMySlaveDarlin commented on #1297
Done.

[2021-03-22 10:40] Jeckerson commented on #1478
Fixed in #1492
Will be released in next patch version.

[2021-03-22 10:40] #1478 closed

[2021-03-22 10:42] Jeckerson commented on #1477
Fixed in #1493

[2021-03-22 10:42] #1477 closed

[2021-03-22 10:45] Jeckerson commented on #1491
Fixed in #1494

[2021-03-22 10:45] #1491 closed

[2021-03-22 10:47] Jeckerson commented on #1468
Fixed in #1495

[2021-03-22 10:47] #1468 closed

[2021-03-22 10:49] Jeckerson commented on #1467
Fixed in #1496

[2021-03-22 10:49] #1467 closed

[2021-03-22 10:50] Jeckerson commented on #1297
Fixed in #1497

[2021-03-22 10:50] #1297 closed

[2021-03-22 21:05] BeMySlaveDarlin commented on #1317
Fixed this bug and some other bugs related to `--force`

[2021-03-22 21:31] BeMySlaveDarlin commented on #1463
Somehow fixed in #1498

[2021-03-22 21:58] #1463 closed

[2021-03-22 21:58] #1317 closed

[2021-04-01 00:45] luisrom661 opened #1500 "Phalcon Devtools error: generate controllers, models and scaffold not working (404 not found page)"
(this text is automatically translated from Spanish to English.)

Hello, I would like to ask about this error that Phalcon devtools shows when generating a controller, model or scaffold:

![image](https://user-images.githubusercontent.com/57530289/113227494-70ab8b80-9258-11eb-8b3f-14c3f9f43ad4.png)
![image](https://user-images.githubusercontent.com/57530289/113227542-87ea7900-9258-11eb-89a2-f89eab

[2021-04-01 20:59] BeMySlaveDarlin commented on #1500
1. Fixed handle error in #1501
2. For better workflow i recommend to add into your nginx vhost config
[code]

[2021-04-02 01:10] luisrom661 commented on #1500
thanks for your answer, I am not very clear where I should add those lines of code from the location /webtools, can you please tell me? thanks a lot.

[2021-04-02 01:12] BeMySlaveDarlin commented on #1500
While you have Nginx or Apache webserver, you can add this directive into your website configuration under that webserver.

[2021-04-02 15:44] luisrom661 commented on #1500
Thank you!

[2021-04-04 21:52] #1500 closed

[2021-04-04 22:12] Jeckerson commented on #1427
Problem in Phalcon Adapter.

[2021-04-04 22:13] Jeckerson commented on #1319
Problem in Phalcon Adapter.

[2021-04-05 00:46] BeMySlaveDarlin commented on #1425
Fixed in attached PR.

[2021-04-09 21:36] #1425 closed

[2021-04-09 21:36] #1464 closed

[2021-04-25 20:49] CeRBeR666 opened #1505 "Debugbar on Multi Module Phalcon Project Not Working"
Hello
I try using your debugbar on my project. But i have an error code like

[code]

My bootsrap_web.php
[code]
How can i fix this ?

### Details

Environment:
  OS: Darwin volkan-mbp 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:06:51 PST 2021; root:xnu-7195.81.3~1/RELEASE_ARM64_T8101 arm64
  PHP Version: 7.4.16
  PHP SAPI: cli
  PHP Bin: /opt/homebrew/Cellar/php@7.4/7.4.16/bin/php
  PHP Ex

[2021-04-25 20:58] Jeckerson commented on #1505
Hello,

You are using external library which isn't supported by Phalcon team, and according to it's repository there is no support for Phalcon v4.

You might fork it and fix by your self, but this is not related to the phalcon devtools.

Refs:
https://github.com/snowair/phalcon-debugbar

[2021-04-26 06:13] CeRBeR666 commented on #1505
Ups wrong repo.
Thank you for taking time and answering.

[2021-04-26 06:13] #1505 closed

[2021-06-27 19:44] goldmont opened #1506 "DevTools cannot create controllers"
Thank you for your efforts.

### Actual Behavior

Command:
`phalcon create-controller --name test`

Phalcon DevTools cannot create a controller. Crash log:

Stack trace:
#0 /opt/phalcon-devtools/scripts/Phalcon/Commands/Builtin/Controller.php(74): Phalcon\Builder\Controller->build()
#1 /opt/phalcon-devtools/scripts/Phalcon/Script.php(117): Phalcon\Commands\Builtin\Controller->run(Array)
#2 /opt/ph

[2021-07-05 11:57] Ultimater commented on #1506
I was able to recreate this on DevTools Version 3.4.11 as well as DevTools Version 3.4.12 (the latest which can be used with Phalcon 3)

The steps for me to recreate were:
[code]

I also tried this on DevTools Version v4.1.0 and was not able to recreate it on v4.1.0.

The cause of the issue is related to devtools not being able to find the config.php in the usual place, due to the rootPath path so

[2021-07-05 22:41] Ultimater commented on #1506
This is fixed in v3.4.13

[2021-07-05 22:41] #1506 closed

[2021-07-06 05:51] Ultimater opened #1508 "v4 shows phalcon version instead of devtools version"
I tried this with PHP 7.4.21, and Phalcon 4.1.0 in combination with:
Devtools:  v4.0.7, v4.1.0, and various others.
Ubuntu 20

The cause appears to be `phalcon-devtools/src/Version.php` using the method _getVersion() instead of getVersion() which then inherits from Phalcon itself, and thus the devtools code confuses the two versions with each other.

Merely typing: `phalcon` or `phalcon i` will in

[2021-07-06 06:06] Ultimater commented on #1479
Devtools provides tools which can save a developer a few minutes.
But a vague error like this will send a developer on a totally avoidable quest trying to figure out what's wrong.
In the spirit of devtools, where we want to save people time, I believe this issue is very important to fix.

I'll work on releasing a fix for this on 3.4.x, 4.0.x, and 4.1.x

[2021-07-07 09:37] goldmont commented on #1506
Thank you.

[2021-07-07 11:46] Ultimater commented on #1508
This is fixed in v4.0.8 and v4.1.1

[2021-07-07 11:46] #1508 closed

[2021-07-07 11:47] Ultimater commented on #1479
This is fixed in v3.4.14, v4.0.8 and v4.1.1

[2021-07-07 11:48] #1479 closed

[2021-07-08 09:46] Ultimater commented on #1126
I believe at the very least the error message should mention the existence of the `--force` flag.
I can see the use case of people creating a blank directory then cd'ing into it very common, and no reason to request the `--force` flag provided it is indeed a blank directory. If it's not a blank directory, I think showing an error message, which mentions the `--force` flag is in the best interest o

[2021-07-09 04:59] imakepossible opened #1515 "[BUG]: Class 'Phalcon\Version' not found in C:\wamp64\www\phal\vendor\phalcon\devtools\bootstrap\autoload.php:134"
Questions?
i have installed Phalcon version 5.0.0alpha3 on window and it is showing in phpinfo and in php --m
but when i run 'phalcon' on command line, i am getting error

**Describe the bug**
Fatal error: Uncaught Error: Class 'Phalcon\Version' not found in C:\wamp64\www\phal\vendor\phalcon\devtools\bootstrap\autoload.php:134
Stack trace:
#0 C:\wamp64\www\phal\vendor\phalcon\devtools\phalcon(46):

[2021-07-09 18:31] imakepossible opened #1514 "[BUG]: Class 'Phalcon\Version' not found in C:\wamp64\www\phal\vendor\phalcon\devtools\bootstrap\autoload.php:134"
Questions?
i have installed Phalcon version 5.0.0alpha3 on window and it is showing in phpinfo and in php --m
but when i run 'phalcon' on command line, i am getting error

**Describe the bug**
Fatal error: Uncaught Error: Class 'Phalcon\Version' not found in C:\wamp64\www\phal\vendor\phalcon\devtools\bootstrap\autoload.php:134
Stack trace:
#0 C:\wamp64\www\phal\vendor\phalcon\devtools\phalcon(46):

[2021-07-09 18:58] Ultimater commented on #1514
Devtools relies on the Phalcon\Version class to check Phalcon's version.
This class had some of its methods deprecated and stated it was going to be removed in V5.
But the getVersion() method didn't. Thus the class shouldn't have disappeared in V5.
This would be a bug in cphalcon, not devtools.

[2021-07-09 19:04] Ultimater commented on #1514
cc: @Jeckerson @niden

[2021-07-09 19:54] Ultimater commented on #1515
@niden Sorry for the confusion, I thought it was missing functionality being alarmed at seeing the class disappear without first deprecating the class with an alias class. But this would be a major version bump so can't be too picky as breaking changes are expected.

I'll work on implementing this in devtools.

[2021-07-13 06:12] imakepossible opened #1516 "ncaught TypeError: Argument 1 passed to Phalcon\Flash\AbstractFlash::error() must be of the type string, object given"
I have a form and when i validate it to check email address and when i enter wrong email it gives error message but it is not flashing and giving error
"Fatal error: Uncaught TypeError: Argument 1 passed to Phalcon\Flash\AbstractFlash::error() must be of the type string, object given in C:\wamp64\www\phaldemo\app\controllers\UsersController.php on line 152"

My code to get errors on submitting for

[2021-07-13 06:17] #1516 closed

[2021-07-19 13:35] Sa1ch opened #1517 "Error when working DevTools"
I have installed:

PHP Version: 7.3.22
Phalcon DevTools Version: 4.0.6
Phalcon Version: 4.0.6

After I installed swiftmailer via Composer I can't create a model and controller.

If you execute the command: phalcon controller testName

I see a mistake

PHP Warning:  Invalid argument supplied for foreach() in /home/public_html/vendor/swiftmailer/swiftmailer/lib/swiftmailer_generate_mimes_config.php

[2021-07-19 16:04] Sa1ch commented on #1517
Thanks to all! I figured out ☺
I used the command: phalcon controller test --output =app/controllers/

[2021-07-19 16:04] #1517 closed

[2021-08-03 07:57] Ultimater commented on #1515
This has been fixed in 4.2.0

[2021-08-03 07:58] #1515 closed

[2021-08-05 11:03] BeMySlaveDarlin opened #1518 "[NFR] Custom commands feature"
Right now we have possibility to use custom scripts via `\Phalcon\DevTools\Script::loadUserScripts()`, but the way it done is outdated and legacy, requires usage of temp folder `.phalcon`

[code]

New point is to implement better and flexible behavior: for example
config.php
[code]
Where `MyCustomCommand implements \Phalcon\DevTools\Commands\CommandsInterface`
And usage
`user@server:/var/www/app$

[2021-09-15 20:54] RomanRogut opened #1519 "devtools for alpha version"
Please add the extension version for the latest version of falcon v5.0.0alpha5

[2021-09-21 08:45] BeMySlaveDarlin commented on #1455
Done

[2021-09-21 08:45] #1455 closed

[2021-09-21 08:45] BeMySlaveDarlin commented on #1519
Done in #1520

[2021-09-21 08:45] #1519 closed

[2021-09-28 09:46] JohnGebraeel opened #1522 "webtools missing project name in URL"
### Expected and Actual Behavior

### Details

* System info and versions (if possible): (`phalcon info`)
* Environment:
  OS: Linux srv1 5.4.0-86-generic #97-Ubuntu SMP Fri Sep 17 19:19:40 UTC 2021 x86_64
  PHP Version: 7.4.24
  PHP SAPI: cli
  PHP Bin: /usr/bin/php7.4
  PHP Extension Dir: /usr/lib/php/20190902
  PHP Bin Dir: /usr/bin
  Loaded PHP config: /etc/php/7.4/cli/php.ini
Versions:
  Phal

[2021-10-09 07:57] crimsonskyrem opened #1524 "Scan the whole Database before generate one model"
### Expected and Actual Behavior

when I run phalcon to generate some model , like user_table in my database:
[code]

it will stuck in output and no more message
[code]
I check the database , SHOW_PROCESSLIST shows the process are checking some other tables,
[code]

then this sql goes again to generate the model
[code]
 since my database has 800+ tables, it always take a long time to generate one

[2021-11-25 10:15] BeMySlaveDarlin commented on #1522
@Jeckerson can you move this to devtools?

[2022-04-19 15:55] laceja commented on #1522
I am having the exact problem with the same configuration on ubuntu 20.04.  Would someone please provide some insight on why I'm having this problem?

[2022-06-06 17:04] blackjyn opened #1526 "PHP Fatal error: Uncaught Error: Class "Phalcon\Config""
`PHP Fatal error:  Uncaught Error: Class "Phalcon\Config" not found in C:\Users\...r\vendor\phalcon\devtools\src\Builder\Component\
AbstractComponent.php:48`

It thrown when running `phalcon project`  and `phalcon serve`

Phalcon Dev info:
[code]

Solution?

[2022-06-09 07:55] lemonCarlJ commented on #1526
I have the same problem

[2022-06-10 10:01] crimsonskyrem commented on #1524
I read this relative snippet in src/Builder/Component/Model.php:166
Now I figured out that whole schema scan mainly serves to find relations of the table which need to be generated
So I was considering to add some options like "--no-relation" to skip this whole schema scan ?
Is this solution acceptable ?

[2022-06-30 06:37] bsun0000 commented on #1526
In 5.0.0alpha7 (2021-11-16) Phalcon\Config was moved to Phalcon\Config\Config

[2022-06-30 07:44] Jeckerson commented on #1526
Change to v4.1.2

[2022-06-30 07:44] #1526 closed, assigned to nobody

[2022-08-07 18:09] lulcat commented on #1043
And there I was imagining a nice shiny coffin.

[2022-08-24 09:53] zeroone2005 opened #1528 "Fatal error: Uncaught Error: Class 'Phalcon\Config' not found"
phalcon project  xxx

`
Phalcon DevTools (4.2.0)
Fatal error: Uncaught Error: Class 'Phalcon\Config' not found in C:\Users\cl\AppData\Roaming\Composer\vendor\phalcon\devtools\src\Builder\Component\AbstractComponent.php:48
Stack trace:
#0 C:\Users\cl\AppData\Roaming\Composer\vendor\phalcon\devtools\src\Commands\Builtin\Project.php(74): Phalcon\DevTools\Builder\Component\AbstractComponent->__constru

[2022-08-25 15:39] Jeckerson commented on #1528
Devtools isn't support Phalcon v5 atm, please use Phalcon v4.

[2022-08-26 02:09] #1528 closed, assigned to Jeckerson

[2022-09-27 10:55] an-nguyen2101 opened #1529 "PHP Fatal error: Uncaught Error: Class "Phalcon\Config" not found in C:\Users\....\AppData\Roaming\Composer\vendor\phalcon\devtools\src\Builder\Component\AbstractComponent.php:48"
Hello there,

I ran a command to create a project by using Phalcon Devtoools (4.2.0) but it is always impossible and throw this error : PHP Fatal error:  Uncaught Error: Class "Phalcon\Config" not found in C:\Users\....\AppData\Roaming\Composer\vendor\phalcon\devtools\src\Builder\Component\AbstractComponent.php:48

Do you know how can fix this ?

Thanks,

### Expected and Actual Behavior

[code]

[2022-10-06 12:31] furopi commented on #1529
Me too is facing the same issue. My "phalcon info" reads "Phalcon DevTools (4.2.0)", Docs read for info "Phalcon DevTools (5.0.0)". Where can I get DevTools 5.0.0? Thank you! ❤️

[2022-10-07 02:01] an-nguyen2101 commented on #1529
Hello,

I saw the lasted version of devtools is 4.3 in github . so I could not work
 if i used php version greater than php v3 + phalcon 5.0 and devtool 4.3 .
Therefore i have to work with php v3, phalcon 4.0 and devtool 4.1 so far. I
think this is a weakness if we want to work with phalcon.

On Thu, 6 Oct 2022 at 19:31 furopi ***@***.***> wrote:

[2022-11-04 07:30] furopi commented on #1529
I heard some rumors about a devtools 5.0 release expected to drop end of October... Is there a rough estimate when we can expect to code in Phalcon 5.0 w/ working devtools? Just asking... Thank you for taking your time!

[2022-11-11 00:49] MateusJ commented on #1515
i'm having this same issue.

[2022-11-15 08:11] dovantien2911 commented on #1529
me tooooo