[2012-07-13 17:13] pavlovt opened #3 "Cannot find webtools.config.php"
Hi,
I am trying to use webtools but webtools.php requires webtools.config.php which I cannot find anywhere.
Could you please help me with this?

Thanks,
Todor

[2012-07-27 22:46] cybor0 opened #4 "Postgres config problem"
Warning: pg_query() [function.pg-query]: Query failed: ERROR: unrecognized configuration parameter "tables" in /phalcontools/phalcon-devtools/scripts/WebTools/controllers/ScaffoldController.php on line 28
Phalcon_Db_Exception: "ERROR: unrecognized configuration parameter "tables"" when executing "SHOW TABLES"
#0 /phalcontools/phalcon-devtools/scripts/WebTools/controllers/ScaffoldController.php(28)

[2012-09-06 13:12] jdevel opened #7 "phalcon scaffold-bootstrap tablename not working"
phalcon scaffold-bootstrap tablename is not working

Error: Phalcon_Db_Exception : "Table 'testdb.user' doesn't exist"  when executing "DESCRIBE `user`"

Thanks

[2012-09-20 01:09] adrlil opened #11 "php files in ide/phpstorm/0.5.0/ not match with api"
Please check it out:
          Application->modelsManager not found.
          Loader->registerDirs() returns void.
It is very useful for beginner when coding with these files included in PHPStorm or Eclipse.

[2012-09-20 22:54] rsilvestre opened #12 "no phalcon commands in phostorm"
Hi,

I'm trying to use phalcon commands in phpstorm but i have an issue :
phpstorm 5.0.1
cphalcon 0.5.0
php 5.4.7
phalcon-devtools 0.5.0

So,

I don't have command list when i type :
phalcon commands
## i have an error :

Phalcon DevTools (0.5.0)

PHP Notice:  Undefined property: Phalcon\Commands\Builtin\Enumerate::$_possibleParameters in /Users/steve/git/phalcon-devtools/scripts/Phalcon/Commands/

[2012-09-21 14:55] #12 closed, assigned to nobody

[2012-09-22 15:55] le51 opened #13 "Can't enable webtools"
`./phalcon.sh project test3 --directory=/var/www/phalcon --enable-webtools`

create the "test3" directory structure without any webtools stuff

phalcon v0.5.0 and phalcon-devtools v0.5.0

[2012-09-24 13:44] rizsc opened #16 "PHP Fatal error: Class 'Phalcon_exception' not found in"
Hello,

I getting following error when I create new project.

PHP Fatal error: Class 'Phalcon_exception' not found in

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Riz>phalcon
|----------------------
|-- Available commands:
|----------------------
- all-models
- controller
- enable-webtools
- migrate
- migration
- model
- project
-

[2012-09-26 09:26] #16 closed, assigned to nobody

[2012-09-27 05:16] niden opened #18 "Devtools for multiple does not seem to work"
As per the question in Stack Overflow, it appears that the devtools won't generate models on a multi project

http://stackoverflow.com/questions/12612475/how-to-use-phalcon-devtools-with-an-existing-project/12614500

[2012-10-30 11:05] salarmehr opened #21 "function signature are quite outdated for 0.5 and 0.6 version"
Function and Classes are quite outdated for 0.5 and 0.6 version , When new  stub files will be updated?

[2012-10-30 15:27] #11 closed, assigned to nobody

[2012-10-30 15:27] #4 closed, assigned to nobody

[2012-10-30 15:27] #3 closed, assigned to nobody

[2012-10-30 15:27] #18 closed, assigned to nobody

[2012-10-30 15:28] #7 closed, assigned to nobody

[2012-10-30 15:28] #13 closed, assigned to nobody

[2012-10-30 15:35] #21 closed, assigned to nobody

[2012-10-30 15:53] salarmehr opened #22 "Stub issue"
following is invalid according to stub:
$acl->addRole(new Phalcon\Acl\Role('guest'));
second parameter should become optional

also :
 <?php echo Tag::linkTo(array(
                    'session/register',
                    'Sign Up',
                    'class' => 'btn btn-primary btn-large btn-success',
                )) ?>
according to stub signature: (public static function Tag::linkTo($para

[2012-10-30 16:43] #22 closed, assigned to nobody

[2012-11-13 20:40] cybor0 opened #26 "Phalcon\Config\Adapter\Ini"
Helo there is some problem after enable webtools code in file phalcon-devtools/scripts/Phalcon/Web/Tools.php line 193 new Phalcon\Config\Adapter\Ini($configPath);. Script use namespace
namespace Phalcon\Web so the try to load  Phalcon\Web\Phalcon\Config\Adapter\Ini
Line 193 should looks like line 193 new \Phalcon\Config\Adapter\Ini($configPath);

[2012-11-17 23:21] akovardin opened #27 "Create new model with validators"
When create new model with validators, nothing added in "use".
For example, if I create a model of 'users' I have validator 'email' but to use the class Email, i need to add use Phalcon\Mvc\Model\Validator\Email;

[2012-12-06 07:33] mrspartak opened #29 "Cant configure devtools"
I've already done some work without webtools in my apps. So I wanted to automtic create migrations.

http://docs.phalconphp.com/en/0.7.0/reference/migrations.html#schema-dumping. i've Downloaded from git master and 0.7.0 releases of devtools and there is no command gen-migration avialable.

Dump of command list:
Available commands:
  commands (alias of: list, enumerate)
  controller (alias of: cre

[2012-12-13 13:16] lucasforchino opened #31 "class Color not found"
Fatal error: Class 'Phalcon\Script\Color' not found

I found the problem !!!!, you are using the Color class to show this error

"Phalcon extension isn't installed, follow these instructions to install it: http://phalconphp.com/documentation/install"

The Color class is part of the extension , so  you never see the real error, instead  you see the class not found.

[2012-12-31 05:10] milonas115 opened #32 "Webtools Not Enabling"
[root@localhost www]# phalcon create-project phalcon --enable-webtools

Phalcon DevTools (0.7.0)

  Success: Controller "index" was successfully created.

  Success: Project "phalcon" was successfully created.

But when I goto http://fw.miloads.com/webtools.php, all I get is

Congratulations!

You're now flying with Phalcon.

[2013-01-01 06:07] roman-kulish opened #33 "Class stubs independent of IDE"
I had problem with earlier Netbeans when importing stubs into my projects, but it seems that the recent NetBeans 7.2 can perfectly work with stubs now. Could you move IDE stubs one level higher to reside in "ide" directory instead of "phpstorm"?

[2013-01-02 19:31] #33 closed, assigned to nobody

[2013-01-02 19:31] #31 closed, assigned to nobody

[2013-01-02 19:31] #32 closed, assigned to nobody

[2013-01-02 19:32] #29 closed, assigned to nobody

[2013-01-10 16:23] lantian opened #34 "Migration problem: database type length."
Migration script doesn't support length of type varchar (or any other) , for example if we have table:

CREATE TABLE IF NOT EXISTS `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(64) NOT NULL,
  `password` varchar(32) NOT NULL,
  `email` varchar(128) NOT NULL,
  `creation_date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8;

Generating migrati

[2013-01-10 17:07] #34 closed, assigned to nobody

[2013-02-04 22:13] alvassin opened #35 "Models re-creation does not keep comments on methods"
For example:

[code]

for this example i've used following command:
[code]

P.S. I understand that perhaps it's not easy to write class in a smarty way, but when working with existing project - dropping comments for methods is not very good practice.

[2013-02-04 22:15] alvassin opened #36 "[NFR] add ability to auto-create models with namespaces"
For example, i have following table names:

[code]

as an idea - it would be nice to add parameter, that will enforce phalcon create models not like:

[code]

but as :

[code]

Also it would be nice if developers tools were able to define initialize() methods with setSource($table) method...

[2013-02-05 14:54] le51 opened #38 "[NFR] multiple databases support"
We should be able, when generating model, to choose wich database connection to use.
The created model should have the code to initialize the right db connection.
 ($this->setConnectionService('dbPostgres'); for example)

[2013-02-07 06:58] 3axap4eHko opened #39 "Service 'Module' wasn't found in the dependency injection container in 0.9"
after execution command:

[code]

The application throw exception:
    Service 'Module' wasn't found in the dependency injection container

[2013-02-07 10:51] jsymfony opened #40 "Fix stubs"
1. add `@return static` to Phalcon\Mvc\Model\Criteria::fromInput
2. add `implements XXXInterface` to classes DI, Flash, Escaper and others..

[2013-02-07 11:20] sirian opened #42 "Offer to add Dispatch Loop Events as methods to Injectable"
subj

[2013-02-07 11:26] sirian opened #43 "Difference between Annotations\Reader and Annotations\ReaderInterface"
Reader:

[code]

ReaderInterface:

[code]

[2013-02-07 22:49] #39 closed, assigned to nobody

[2013-02-11 16:00] pavlovt opened #45 "Problem running dev tools"
Hi,

I received the following error with dev tools on command:
phalcon commands
ERROR: Phalcon extension isn't installed, follow these instructions to install it: http://phalconphp.com/documentation/install

I use Ubuntu Linux server, PHP 5.3, Phalcon 0.9
I have the invo app installed and it works without any problem

Regards,
Todor

[2013-02-15 07:01] ghost opened #46 "gen-migration on phalcon v0.9.0"
hi, I want to migrantion database.

http://docs.phalconphp.com/en/latest/reference/migrations.html

I use 0.9.0

 Error: "migration" is not a recognized command
 Error: "gen-migration" is not a recognized command

what is the migration command ?

[2013-02-18 00:50] #43 closed, assigned to nobody

[2013-02-18 00:51] #45 closed, assigned to nobody

[2013-02-18 00:53] #40 closed, assigned to nobody

[2013-02-18 00:54] #26 closed, assigned to nobody

[2013-02-18 04:46] #46 closed, assigned to nobody

[2013-02-20 16:19] iforp opened #47 "Foreign key"
Phalcon DevTools v0.9.1

generates models like this

[code]

But method **\Phalcon\Mvc\Model::addForeignKey** doesn't exist.
Is it deprecated?

If so, how should I set foreign keys?

[2013-02-21 12:59] #47 closed, assigned to nobody

[2013-03-14 07:28] dreamsxin opened #54 "PDOException: SQLSTATE[08006] [7] invalid connection option "name""
![error](https://f.cloud.github.com/assets/314295/257844/7ad6472e-8c78-11e2-94df-7b15543cb08c.JPG)

config/config.php

[code]

[2013-03-19 13:12] xboston opened #55 "Migration error: Multiple primary key defined (mysql)"
Table:

[code]

generated migration:

[code]

generated sql:

[code]

error:  Error: SQLSTATE[42000]: Syntax error or access violation: 1068 Multiple primary key defined

phalcon 1.0.0 and 0.9.1, mysql server version: 5.5.29-0ubuntu0.12.10.1

example fix in /scripts/Phalcon/Mvc/Model/Migration.php s157-159:

[code]

[2013-03-28 08:30] stepozer opened #56 "Migration error: decimal column type"
My English is not very good, so I apologize.

Table structure is:

[code]

Generated migration for this table structure:

[code]

How i understand, Migration generator must generate Scale field. Because when i run migration result is:

[code]
Please help:)

[2013-04-01 15:08] dreamsxin opened #57 "PHP Parse error: syntax error, unexpected '$'"
phalcon scaffold --table-name=test

Phalcon DevTools (1.0.0)

PHP Parse error:  syntax error, unexpected '$' in /home/test/phalcon-devtools/scripts/Phalcon/Builder/Scaffold.php on line 479

and it can not be used for Postgresql.

[2013-04-01 19:54] #54 closed, assigned to nobody

[2013-04-01 20:39] #55 closed, assigned to nobody

[2013-04-02 02:17] dreamsxin opened #58 "Use Postgresql, has been Error: SQLSTATE[08006] [7] invalid connection option "adapter""
phalcon create-model --name accounts

Phalcon DevTools (1.0.0)

  Error: SQLSTATE[08006] [7] invalid connection option "adapter"

file:scripts/Phalcon/Builder/Model.php
line:178

[code]

change:

[code]

and,line:178

[code]

change:

[code]

[2013-04-06 02:35] donahuetrevor opened #60 "$config->database->name and dbname naming error"
Throughout the project, the database name is referenced by two different names:

sometimes as $config->database->**name** as in
/phalcon-devtools/scripts/Phalcon/Builder/ScaffoldDBM.php on line: 87

[code]

and sometimes as $config->database->**dbname**
/phalcon-devtools/templates/project/micro/services.php on line: 31

[code]

that gave me an error on latest update.

[2013-04-10 21:56] netblue opened #61 "Inconsistent Template File Generation"
Create project creates a skeleton based on volt templates.
The config/services.php is setup to load the volt engine.
The main view is index.volt

Running the scaffold command generates .phtml files and not .volt files.  Thus, the layouts don't really work unless manually converting all the files to .volt templates, or disabling the volt engine and converting the main layout to a .phtml file.

A us

[2013-04-13 00:46] dreamsxin opened #62 "Sorry, sent to the wrong location."
move to https://github.com/phalcon/cphalcon/issues/545

[2013-04-15 13:17] michaelkrone opened #63 "Custom content gets overwritten in Model classes"
Using Phalcon DevTools (1.0.1), any custom content of a model class will be removed when the model is reinitialized by calling
phalcon model [modelname] --force
or
phalcon create-model [modelname] --force

Be it a namespace, a getSource() method or any custom method.
On the website http://docs.phalconphp.com/en/latest/reference/tools.html#generating-models in the generating models video (http://vi

[2013-04-15 23:20] #63 closed, assigned to nobody

[2013-04-18 02:21] dreamsxin opened #65 "Generate Template files default use PHP itself as the template engine."
Generate Template files default use PHP itself as the template engine.

file:templates/project/simple/services.php
[code]
change to:
[code]
https://github.com/dreamsxin/phalcon-devtools/commit/51c10d646fcdf4400a47630a8e438209dd802151

[2013-04-18 02:46] dreamsxin opened #66 "Generate project add option: template-engine"
For example:

[code]

[2013-04-23 00:42] #62 closed, assigned to nobody

[2013-05-06 12:22] nazwa opened #74 "Webtools: PHP warning when generating new models"
When using Phalcon Webtools to generate new models, a following warning is generated:

_"Warning: Illegal string offset 'Field' in C:\inetpub\wwwroot\Tools\phalcon-dev-tools\scripts\Phalcon\Builder\AllModels.php on line 125"_

Environment:
- PHP 5.4
- IIS 7.5

The warrning ONLY appears when selecting _All_ Table names and ticking the _Define Relations_ box.

[2013-05-14 04:03] #60 closed, assigned to nobody

[2013-05-14 15:47] milchinskiy opened #76 "devtools migration bug?"
When I trying to generate the migration I getting an error:

phalcon migration run
Phalcon DevTools (1.1.0)

PHP Notice: Undefined property: Phalcon\Config::$adapter in /home/orion/.phalcon-devtools/scripts/Phalcon/Mvc/Model/Migration.php on line 70
PHP Stack trace:
PHP 1. {main}() /home/orion/.phalcon-devtools/phalcon.php:0
PHP 2. Phalcon\Script->run() /home/orion/.phalcon-devtools/phalcon.php:82

[2013-05-19 01:00] tbarderas opened #78 "webtools template cant find config file in multimodule project"
after creating a multimodule project with devtools, using type modules, a structure like this is created:
project \ apps \ frontend \ config

but in scripts\Phalcon\Web\Tools.php (L.200) when generating the webtools for the project an Exception is raised: Cant find config file

in code this script looks for "app/config/config.ini" (didnt check if its a multimodule project)

[2013-05-19 04:34] chuyskywalker opened #79 "Scaffolding is incompatible with getter/setter style models"
Example table:

[code]

Example model:

[code]

Examples of failing usage in scaffolding:

[code]

[code]

Etc, you get the idea.

[2013-06-04 19:31] gsouf opened #84 "Devtools were installed. But cant install it again after removing"
Devtools were placed into my Home/Documents/trash directory. I did remove the folder.

Now i want to install it again  and it says me :

[code]

[2013-07-08 08:53] firstactivemedia opened #88 "Model::hasManyToMany ide stub is wrong/out of date"
The current IDE stub docblock referser to the 6th parameter for Phalcon\Mvc\Model::hasManyToMany as  array $options but passing in an array causes an error; and the example <code> clearly passes in a string 'id'

[code]

[2013-07-09 01:43] #74 closed, assigned to nobody

[2013-07-09 01:44] #76 closed, assigned to nobody

[2013-07-09 01:44] #78 closed, assigned to nobody

[2013-07-09 01:47] #88 closed, assigned to nobody

[2013-07-18 15:20] mohammed-alsiddeeq opened #92 "Webtools cannot generate scaffold or models for postgresql"
I am using
 windows 7 , IIS 7.5, phalcon 1.2 nts dll,postgresql 9.2
when generating scaffold or a model  for a postgresql database tables, it gives a  'table does not exist'  message,although the table is listed in the select input.
![image](https://f.cloud.github.com/assets/5040354/820024/dbb38d02-efbc-11e2-9528-f9c6fee5e9e3.png)
And the wierd thing is that scaffolding mysql database in the same

[2013-07-22 02:48] slogsdon opened #94 "Generated migrations don't adhere to unsigned fields"
Suppose a table is created locally with `unsigned` fields similar to this:
[code]
The resulting migration that is generated for that table will try to create/alter the same table, but the `id` field would not be set as `unsigned`, i.e.:
[code]

For the most part, this would not cause issues, but say if the tables were initially imported from a schema file, subsequent migrations will fail when fore

[2013-07-24 23:46] #58 closed, assigned to nobody

[2013-07-25 02:28] #57 closed, assigned to nobody

[2013-07-30 11:20] #92 closed, assigned to nobody

[2013-08-06 20:39] meetmatt opened #97 "Migration generate ignores default values"
When generating migration default value for column is ignored.

[2013-08-09 16:14] bkristl opened #98 "multi-module help"
When we use help to determine how to use creation of project with command:
phalcon project help we get

---

Phalcon DevTools (1.2.1)

Help:
  Creates a project

Usage:
  project [name] [type] [directory] [enable-webtools]

Arguments:
  help  Shows this help text

Example
  phalcon project store simple

Options:
 --name               Name of the new project
 --enable-webtools    Determines if webt

[2013-08-11 18:43] #98 closed, assigned to nobody

[2013-08-18 05:51] parhamdoustdar opened #108 "Add create-module command"
When using the "modules" project type, there is no way of creating another module inside this project using the command line. It would be nice to have a new module created based on a template (something like frontend, but with empty config files).

[2013-08-20 19:56] blackbunny opened #109 "Pear repo is old"
Hello,
pear repo version is 0.8.0

[2013-08-21 16:40] Slyvampy opened #110 "Duplicate Column maps when forcing model creation"
if u do phalcon model {name} —force after changing something on the database it creates two column maps in the entity

[2013-08-22 09:19] denys-potapov opened #111 "Commands\Builtin\Migration ignores 'config' parametr"
There is no code in Migration Class responsible for handling 'config' parameter.

[2013-08-22 12:53] #111 closed, assigned to nobody

[2013-09-03 20:26] llundin opened #113 "Create controller is successful even if not"
I am trying to generate empty controllers from the the application root and the get success message even though nothing is added. It looks like the passed --directory is concatenated and never checked.
![image](https://f.cloud.github.com/assets/2023152/1075849/e1450e32-14d6-11e3-8e2d-ada912d9ef19.png)

[2013-09-05 17:45] llundin opened #114 "Stub composer package"
Would it be possible to provide the stubs in a separate composer package? It would help a lot and one could define exactly what phalcon version that is required without getting the whole devtool package.

[2013-09-21 12:32] #114 closed, assigned to nobody

[2013-09-28 14:36] nexik opened #118 "[NFR]Migration should be taken in account default value"
column default value is not setted when generating migrations with

[code]

[2013-10-10 15:55] mingalevme opened #119 "[BUG] Ignore Database Schema Param While "Migration Run""
I have a Database config:

[code]

When I generate migration - everything is ok, but when I run migration:

[code]

So the problem is:

[code]

Should be:

[code]

[2013-10-14 14:24] michaelhanekom opened #121 "Cannot resolve attribute "Id' in the model"
Small bug in developer tools scaffolding - phalcon/templates/scaffold/no-forms/Controller.php line 73 incorrectly generates findFirstById method in editAction of controller

Changing the line in Controller.php from:
$singularVar$ = $className$::findFirstById($pkVar$);

to:
$singularVar$ = $className$::findFirstBy$pk$($pkVar$);

fixes the problem. Hope this helps.

Thank you for an awesome framewor

[2013-10-14 14:48] #119 closed, assigned to nobody

[2013-10-16 21:55] douglaspossas opened #124 "templatepath and template engine"
Hey guys.

Im trying generate views with volt extension:

phalcon scaffold news --template-engine=volt

But, phalcon generated phtml:

/var/www/rr2013/app/config/../../app/controllers/NewsController.php
/var/www/rr2013/app/config/../../app/views/news/index.phtml
/var/www/rr2013/app/config/../../app/views/news/search.phtml
/var/www/rr2013/app/config/../../app/views/news/new.phtml
/var/www/rr2013/ap

[2013-10-24 09:54] tommasodargenio opened #125 "Exceeded limit of internal recursions on mod_rewrite rule - newly created project"
Hi there,

I'm using Phalcon 1.2.4 on PHP 5.4.16 (Windows 7), devtools just updated via composer. Never had this issue before it's just happening now after the update.

I've created a new project from CLI using: > phalcon create-project projectname --enable-webtools

The folder's structure created successfully as usual, but when I got to localhost/projectname/ or localhost/projectname/webtools.php

[2013-10-24 10:24] #125 closed, assigned to nobody

[2013-10-24 15:38] richmulhern opened #126 "generated getters and setters from field names that are all capital end with a capital letter."
I am running this command:

../phalcon-devtools/phalcon.sh all-models --relations=true --schema=WEBCORE --get-set=true --force

My tables have field names that are all capitals (PAGE_NAME, LABEL, UPDATE_DATE).

When the generator finishes running my get and set methods are setPageNamE, getPageNamE, setLabeL, getLabeL, getUpdateDatE, setUpdateDatE. This may be an issue with the phalcon camelize fun

[2013-10-24 21:59] #126 closed, assigned to nobody

[2013-10-26 07:45] #113 closed, assigned to nobody

[2013-10-27 12:48] zabugin-oleg opened #128 "$ phalcon project XXX puts IndexController to project base dir MAC OS X"
Hello!

1) When i try to create a new project in my projects folder with "phalcon project --name XXX --directory /path/to/projects/" it puts IndexController.php to XXX/IndexController.php

When i manually move it to Controllers i fly with the falcon

2) When i try to create a project with "phalcon project YYY" i get the following errors:
MacBook-Pro:dev2 gelous$ phalcon project YYY

Phalcon DevToo

[2013-10-27 20:01] #128 closed, assigned to nobody

[2013-10-29 18:26] #124 closed, assigned to nobody

[2013-11-03 10:00] romanlex opened #133 "Controllers was generated another folder or except Error: Unable to write"
Hello. I can't generated project, because ControllerPath is wrong. Controllers generated in the root directory where the command was. I change this line in scripts/Phalcon/Builder/Controller.php:

[code]

With default command `phalcon project name project` generated successfully, but with keys `--type=modules` or `--use-config-ini` project not generated correctly - controllersDir is defined uncorr

[2013-11-04 15:19] #133 closed, assigned to nobody

[2013-11-04 19:53] julianmolina opened #135 "Error phalcon webtools enable"
Currently entering command phalcon webtools enable in any project phalcon for ubuntu linux, it show this: Error: Document root cannot be located, this is error located in Webtools file from the next path: /Users/julianmolina/phalcontools/scripts/Phalcon/Commands/Builtin
![captura de pantalla 2013-10-29 a la s 4 59 56](https://f.cloud.github.com/assets/5854017/1467953/9cd818fe-458a-11e3-8e4e-a67623

[2013-11-05 15:59] #121 closed, assigned to nobody

[2013-11-08 18:48] #79 closed, assigned to nobody

[2013-11-09 02:11] lichnow opened #140 "Error: SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint"
when I use php bin/console.php migration generate --migrations=migrations
devtools says "Success: Version 1.0.2 was successfully generated " and It work very good,
but when My team's other people use php bin/console.php migration run --migrations=migrations it catch an error
like this
"Error: SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint",
the phalcon version1.2.4 get this

[2013-11-13 02:08] roman-kulish opened #141 "[NFR] Distribute IDE integration as part of Composer"
Guys, what about distributing IDE integration as part of the Composer? It's quite popular dependency manager and quite a lot of developers use it. Providing the ability auto-update stubs via Composer once you update phalcon module can be quite handy.

[2013-11-18 15:06] sigeje opened #142 "[NFR] generated controller doesn't support CRUD operation"
I think it would be good if this devtools is able to generate controller which supports CRUD operation. What do you think?

[2013-11-19 11:40] sigeje opened #143 "Failed to disable webtools"
![fault](https://f.cloud.github.com/assets/2736623/1571863/4c5d0a44-510e-11e3-8873-2bf465f21957.png)

Disabling webtools was failed on my laptop. I use Windows 7 x64, PHP 5.4.19 within XAMPP 1.8.2-2 x86, Phalcon 1.2.4 x86 NTS.

[2013-11-21 17:25] calinrada opened #144 "Enable option for path to config file"
Now, i am forced to have a config directory in app/ or where where i point it via --directory option. This is not very cool :). It's easy, fast and useful to add an option --config-path in Commands/Builtin/Model.php and change the _getConfig method in Builder/Component.php

[2013-11-30 19:11] dbk138 opened #151 "Undefined Index error in scripts\Phalcon\Builder\AllModels.php on line 185 when generating Models through devtools web interface,"
I received the following error when trying to run the phalcon-devtools through the web interfase to create my models:

`Notice: Undefined index: extends in C:\wamp\phalcon-tools\scripts\Phalcon\Builder\AllModels.php on line 185`

I am using 64-bit Windows 7, running on wamp server 2.4, apache 2.4.4, MySQL 5.6.12, and PHP 5.4.16. I included a screenshot below. My models created successfully but wit

[2013-12-04 08:08] 270955857 opened #152 "can't access the index.php"
Fatal error: Phalcon\Mvc\Application::handle(): Call to undefined method start() on class Phalcon\Mvc\Url in D:\xampp\htdocs\blog\public\index.php on line 27

[2013-12-04 16:15] #152 closed, assigned to nobody

[2013-12-08 20:29] eristoddle opened #153 "Dev Tools generates relative application paths in config but requires full paths"
I ran into an issue where dev tools will generate this:
[application]
controllersDir = ../app/controllers/
modelsDir      = ../app/models/
viewsDir       = ../app/views/
pluginsDir     = ../app/plugins/
libraryDir     = ../app/library/
baseUri        = /phalconBlog/
cacheDir       = ../app/cache/
But in order for Web Tools to work correctly or either to generate Models and CRUD, these paths have t

[2013-12-08 20:34] eristoddle opened #154 "Email validator does not get included in Model or Controller"
After generating a model and crud that had a column named email, a validator is used in the model and controller, but is not included. I manually edited the generated files to fix this. I added this to the model and controller files:

use Phalcon\Mvc\Model\Validator\Email as Email;

[2013-12-24 13:34] llundin opened #155 "Error creating model in micro projects"
There is an error for micro application when generating models. Nothing is created and the success message is shown together with the PHP warning:

[code]

[2014-01-08 16:02] #143 closed, assigned to nobody

[2014-01-08 16:02] #135 closed, assigned to nobody

[2014-01-08 16:03] #27 closed, assigned to nobody

[2014-01-08 16:07] nazwa opened #161 "Improved model generation and structure"
Hi everyone,

I think we can all agree that model building with dev tools is not ideal. Comments are lost, changes overwritten etc. People are not happy and neither was I.

After some digging around, this is what I came up with:
https://github.com/nazwa/phalcon-devtools

Basically, I've separated the '**base**' model (which is autogenerated) from the abstraction layer where you can happily overwri

[2014-01-16 02:04] ghost opened #164 "bad link generated on view for camelCase database"
hello,

[newzen@i5Desk camelCase]$ phalcon

Phalcon DevTools (1.2.4)

I have a given database which can't modify

[code]

after

`phalcon scaffold variantValue --template-engine=volt`

`http://localhost/camelCase/variantvalue`

get the index page for the new controller but if i click on search link

and i get `http://localhost/camelCase/variantValue/search`,

as you can see the controler name was

[2014-01-19 09:12] ryh opened #166 "Please add .htrouter.php for Using PHP Built-in webserver"
Please add .htrouter.php for Using PHP Built-in webserver to template `simple`, or a new dev  project template?(or How can I made my own?)

By the way, how to choose  `project template` (phalcon-devtools/templates,not template for view) while creating project?

Thanks.

[2014-01-25 17:24] ianbytchek opened #168 "PHPDoc in stubs for ide must use @return $this, not the actual class names"
Otherwise, when such classes are extended, ide gets confused by the chained methods. For example, MyBuilder extends Phalcon\Mvc\Model\Query\Builder. Chained methods from()->where() will return MyBuilder, but ide will think it will return Phalcon\Mvc\Model\Query\Builder, because PHPDocs tells it so.

[2014-01-28 13:08] liesislukas opened #169 "[NFR] when generating model add validation for enum fields"
when generating model add validation for enum fields. the possible values are known, so model could validate these

[2014-01-29 14:45] #161 closed, assigned to nobody

[2014-02-21 23:55] #118 closed, assigned to nobody

[2014-02-22 05:08] #36 closed, assigned to nobody

[2014-02-25 17:12] bond-os opened #178 "Cannot create migrations with mysql column type tinyint(1)"
Hello,

I have a database designed in MySQL Workbench, which sets boolean fileds as tinyint(1). When running migration generate i'm getting

[code]

Table is as follows:

[code]

Migration creation works only with tinyint(4), it fails on each table with boolean/tinyint(1) field.

[2014-03-04 08:45] kozakvoj opened #181 "Incorrect PHPDoc in Class Pdo"
Method query returns Phalcon\Db\Result\Pdo but the PHPDoc says \Phalcon\Db\ResultInterface. This error confuses an IDE.

[2014-03-11 17:42] cefalo19 opened #182 "Creating simple project using --use-config-ini does not work"
When I try to create a "simple" project using --use-config-ini, I receive this error:

    $ phalcon project phalconBlog simple --use-config-ini
    Error: Unable to write to '../app/controllers/IndexController.php'

I do not get this error when using `--use-config-ini` for other types of project (micro or modules).

[2014-03-18 08:21] taophp opened #184 "The name "Default" as namespace makes a fatal error."
I've just create a project using the Phalcon DevTools (1.2.6):
[code]
Well, the `.htaccess`file  was missing but this was easily fixed. But there is another problem. When I tried to access the page, I got a fatal error:
[code]
It seems that the word 'Default' cannot be used as namespace.

By the way, it should be great to have a command to easily create a new module...

[2014-03-19 09:10] komica2 opened #185 "pear.phalconphp.com hijacked"
http://pear.phalconphp.com is hijacked by a porn site.

[2014-03-19 16:58] scento opened #190 "Missing documentation"
The following functions lack of some PHPDoc:

<pre>Acl/Adapter/Memory::addInherit($roleName: string, $roleToInherit: string|object): boolean|null
Acl/Adapter/Memory::addResource($resource: \Phalcon\Acl\Resource|string, $accessList: array|string|null: boolean
Acl/Adapter/Memory::addResourceAccess($resourceName: string, $accessList: array|string
Acl/Adapter/Memory::dropResourceAccess($resourceName:s

[2014-03-19 21:40] CoDanny opened #191 "missing BuilderException use declaration"
When I run 'phalcon migration run' using the master branch I get:

Fatal error: Class 'Phalcon\Commands\Builtin\BuilderException' not found in /Users/daniel/phalcon-devtools/scripts/Phalcon/Commands/Builtin/Migration.php on line 112

This is due to the use declaration missing in the migration file. It's trying to find it in the namespace

[2014-03-20 00:04] #185 closed, assigned to nobody

[2014-03-24 20:04] ug19 opened #196 "creating model: not including set/getSource"
Hi everyone!

I would like to report an error with creating model in a console.

I have a table "users_flowers". The problem is that the name of generated model is "UsersFlowers" but there is no information about a real table name - I mean there is no setSource/getSoruce method.

By the way I have analizyed the docs and still do not understand the difference between setSource and getSource but may

[2014-03-25 14:54] fl0pp opened #197 ""No database selected" error in webtools"
I enabled webtools on my phalcon-project, and I can access /webtools.php
When I go to: /webtools.php?_url=/models I get the following error:

[code]

I have my config in apps/core/config/config.php, and my database-connection is OK within the app. Please help!

[2014-04-03 09:01] garethwi opened #203 "Controller Bug when using getters and setters"
There are two places in the controllers where direct access to the properties is being attempted when the get-set option has been chosen:

editAction

[code]

should be

[code]

And in saveAction

[code]

should be

[code]

[2014-04-03 12:43] julianseeger opened #204 "Dead option "data" for Migration command"
The migration command is able to use the "data" option (https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Commands/Builtin/Migration.php#L138) but as the `$_possibleParameters` array does not contain this option, there does not seem to be any way to pass this parameter in because an

is thrown. I would wan't to use this parameter to export the inital seed data into a migratio

[2014-04-08 17:48] patrioticcow opened #206 "Error: Unable to write to '../phalcon/apps/frontend/controllers/IndexController.php'"
hello,

i use Phalcon DevTools (1.3.1)

when i run  phalcon project --name phalcon --type modules
i get
Error: Unable to write to '../phalcon/apps/frontend/controllers/IndexController.php'

phalcon project -> works ok

ideas?

[2014-04-08 18:14] #206 closed, assigned to nobody

[2014-04-17 16:21] denver24312 opened #207 "Unable to write IndexController.php"
Using DevTools 1.3.1

When using the --use-config-ini command, I get the following error:
Error: Unable to write to '../app/controllers/IndexController.php'

Everything works fine if not specifying --use-config-ini.

[2014-04-22 14:18] rsignavong opened #208 "Webtools "Migrations" doesn't work on multi-module project"
Hi,

I've created a multi-module projet with devtools and enabled-webtools.

Then I changed application baseUri with '/' in /apps/frontend/config/config.php file.

When going to /webtools.php every link menu work like a charm except for Migrations "/webtools.php?_url=/migrations" that throw a php warning :

Warning: mkdir(): No such file or directory in phalcon-devtools/scripts/Phalcon/Web/Tools/c

[2014-04-27 09:39] fharsanto opened #209 "IndexController handler class cannot be loaded"
Hi,

I'm trying creating project with
phalcon project project-name --use-config-ini --trace

but any error occured "IndexController handler class cannot be loaded"
Its because IndexController not found in app/controller

Solution: move or rename controllersIndexController.php to IndexController.php
and move to app/controller/

I think its because webtools problem.

[2014-04-29 14:32] #209 closed, assigned to nobody

[2014-05-04 14:06] nazwa opened #215 "Migration showing sql profiles"
Hello everyone!

I was just thinking... every time migrations are generated or run, all sql queries are outputted to console. Do we really need that? For me it's just clutter, but do you think those profiles are actually useful to anyone?

[2014-06-06 10:15] scrnjakovic opened #222 "Builder doesn't know where is the models directory"
I get this error trying to generate models, although I can generate controllers O.o
That error I get when I try to generate ALL models, and when I try to generate only one, I get ```Database configuration cannot be loaded from your config file```
v 1.3.1
btw I'm using config as php, generated from devtools.

EDIT: Okay, there has to be something wrong with permissions and users. All the files crea

[2014-06-27 15:38] pedromcno opened #225 "Cannot run migrations for multiple databases"
When attempting to run migrations in a sequential manner (say to apply them to several databases instead of just the default one) I ran into an issue.
The migration files get ```require```'d in ```Phalcon\Mvc\Model\Migration@migrateFile($version, $filePath)```, which works fine when attempting to run migrations on a single call, but when doing something along the lines of:

[code]

I naturally get

[2014-06-28 04:01] dinhhoanglong91 opened #226 "[Migration] phalcon migration run do nothing"
I have executed ```phalcon migration run``` but my database don't change. The result of this command is only:
```Phalcon DevTools (1.3.2 ALPHA 1)```
When I removed ```.phalcon/migration-version``` file and executed the above command, ```.phalcon/migration-version``` is created with content is: ```1.0.0``` (It is about creating table).
But my database is still empty.
Can you help me fix this proble

[2014-07-09 14:10] raja-aitlahrir1 opened #229 "Error when trying to generate a volt file with scaffold"
Hello,

the command, phalcon scaffold blogs --template-engine=s volt , is not working
It displays this error

 Error: SQLSTATE[HY000] [2002] No such file or directory

Can you please help?

Regards

[2014-07-10 16:37] #229 closed, assigned to nobody

[2014-07-19 14:09] Rewt0r opened #231 "Foreign Keys not generating"
Take the below tables as an example:

[code]

[code]

Upon running the command `phalcon all-models --get-set --doc --relations --fk` the following two files are generated:

models/Users.php
[code]

models/UserGroups.php
[code]

Using `Phalcon DevTools (1.3.2 ALPHA 1)`

[2014-07-22 17:39] Rewt0r opened #233 "Throwing error within Dispatch cause blank page"
Not sure if this is by design but surely it should display the `Exception` that's thrown?

If we extend `Phalcon\Mvc\User\Plugin` and an `Exception` is thrown within `beforeDispatch` or `beforeDispatchLoop` the result is a blank page making things difficult to debug, this can be when throwing ANY type of `Exception`. I've only tested it with the 2 mentioned states.

[code]

[2014-07-22 17:41] #233 closed, assigned to nobody

[2014-07-26 02:49] RaTm7 opened #234 "model and all-models generate different code"
Hello,

when your generate model with "model"-command, u get other code then with "all-models".
For Example, your dont have the --fk/--validations/--relations options, but it would make sence.
Same with the Phalcon\Mvc\Model::initialize().

With "model" you get "setSource()", with "all-models" you dont, but it is needed, i guess?

About the get-/set-Methods, i would love to have type-casts there,

[2014-07-27 07:09] hanbz opened #235 "install step"
When you install the devtools you must set the folder "chmod 777" but the document don't have this step.
Maybe you can write a little FAQ ?

[2014-08-02 14:54] martin-georgiev opened #237 "DevTools does not generate models for Postgresql tables"
The following is related to this discussion http://forum.phalconphp.com/discussion/2981/devtools-cannot-create-models-from-postgresql-db#C9921

All comments are related to Phalcon 1.3.2 deployed on a Bitnamp WAPP Stack 5.5.15 with Win 7.

In devtools\scripts\Phalcon\Web\Tools\controllers\ControllerBase.php there is no fallback when on line 69 $dbTables = $connection->listTables() fails to provide

[2014-08-07 08:10] siciarek opened #238 "Migration adds fixed value of referencedSchema in references"
Migration adds fixed value of referencedSchema in references
it forces developer to use the same table name in dev, test and prod environments

Possible solution:

[code]

[2014-08-15 11:25] dostoevskiy-spb opened #239 "Missing FileInterface::getKey()"
Hello!
In IDE autocomplete mocks you miss FileInterface::getKey() function. Please, add it. Thx.

[2014-08-18 03:50] CodinCat opened #240 "Use utf8 to connect database by default"
I use devtools to generate project, it's very handy and convenient, but I have to add `'charset' => 'utf8'` every time, I wonder why not just use utf8 by default?

[2014-08-23 22:35] wlisesrivas opened #242 "Missing configuration in services.php"
When you create a project with the command tools, for MySql database work fine, but when you want to use PostgreSQL the services.php file don't add some important properties like:

![phalcon](https://cloud.githubusercontent.com/assets/1482092/4022069/5d654ac2-2b15-11e4-8cac-e25acb8f2109.JPG)

If you want to add the PORT or SCHEME must be added in the services.php directly because in the config.php

[2014-10-05 10:58] #84 closed, assigned to nobody

[2014-10-19 11:04] divined opened #254 "how to uninstall or move devtool directory?"

[2014-10-19 15:27] divined opened #255 "devtool always create files as root"
I login to ssh as webuser, create project. All files are root owned.

[2014-10-24 03:50] CheckMater opened #257 "Postgresql schema not set when creating new Db Adapter"
No matter which schema you set when creating the DbAdapter it always uses the public schema.

The only fix for this is manually setting the schema in the initialize method in the model object in this way:

public function initialize() {
        $this->getModelsManager()->setModelSchema($this, 'the_schema_name');
}

Which I think is unnecesary since the schema must be set in the adapter creation.

[2014-10-24 03:52] #257 closed, assigned to nobody

[2014-10-29 03:31] raxan opened #258 "issue with crud"
http://forum.phalconphp.com/discussion/3779/devtools-generated-models-dont-work

[2014-10-29 14:22] scrnjakovic opened #259 "Wrong implementation of Phalcon\Forms\Element\Radio"
I might be wrong, but I'm pretty sure it's not me but the way how Radios have been imlemented. There is no possible way to, say, have radio buttons for 'published' and 'not published' which would have their values set by default, since you'd have only $published in your model, and Phalcon does not search for values by name attribute, but rather by it's internal keys e.g. If you have:

[code]
When

[2014-11-01 08:52] kamov opened #260 "failed installation on mac"
Hi

I follow this tutorial: http://docs.phalconphp.com/en/latest/reference/mactools.html
but after running phalcon command is not found ...

Any suggestion?

[2014-11-03 11:34] #260 closed, assigned to nobody

[2014-11-05 01:26] yuanjiong199 opened #261 "execute phalcon controller command Prompt： Error: Unable to write to '../app/controllers/xxxController.php''"
My steps:
1、cd /usr/local/web
2、phalcon project Good --use-config-ini
3、cd Good
4、phalcon controller item
this step prompt: Error: Unable to write to '../app/controllers/ItemController.php''
my phalcon-devtools is latest version, please fix, thank you!

[2014-11-13 07:01] heiing opened #264 "all-in-one.php"
[code]

[2014-12-08 12:23] karborator opened #271 "WebTools bug"
If I try to click on models from WebTools i get this:

Phalcon\DI\Exception: Invalid service definition. Missing 'className' parameter
#0 [internal function]: Phalcon\DI\Service\Builder->build(Object(Phalcon\DI\FactoryDefault), Array, NULL)
#1 [internal function]: Phalcon\DI\Service->resolve(NULL, Object(Phalcon\DI\FactoryDefault))
#2 /home/bender/vendor/phalcon/devtools/scripts/Phalcon/Web/Tools.

[2014-12-09 10:32] blckshrk opened #272 "Adding @autogenerated documentation flag."
Hi,

I currently use `phalcon models` in a shell script to keep up to date my models. I was thinking, that it could be interesting to add comments to specify that this class has auto generated.

It's a minor update, but it could be useful, right ? Maybe with the `--doc` option only ?

Alexandre

[2014-12-09 13:30] blckshrk opened #273 "`--directory` argument do not work in controller creation"
Hi,

I think the `--directory` argument do not work. Actually, I try this :

[code]

or this

[code]

and I always get :

[code]

The only solution I found is to define a `controllersDir` in `app\config\config.ini`.

Any clue ?
Thanks!

[2014-12-12 11:13] tjamps opened #276 "Successive models generation produces invalid PHP classes."
Hi all,

I'm facing a big problem using Phalcon Dev Tools to generate my models.
When I issue the following command :

[code]

The following model gets generated (some lines are omitted for brievety) :
[code]

So far, so good.
But then, if I issue the exact same command on the same file without changing anything in the database (in other words, the command is issued twice without any other operati

[2014-12-24 08:27] geoidesic opened #277 "webtools doesn't work"
Phalcon v1.3.3
1. phalcon project --name multi --enable-webtools
     Success: Project 'multi' was successfully created.
2. browse to http://localhost/arc/multi
     Congratulations!
     You're now flying with Phalcon. Great things are about to happen!
3. browse to http://localhost/arc/multi/webtools
     WebtoolsController handler class cannot be loaded

[2014-12-26 20:22] revov opened #278 "create-model command fails to load config if directory option is not specified"
I was trying to generate a model using the `phalcon model` command but despite having a valid database configuration that works with other phalcon commands (e.g. `phalcon migration generate`) I kept getting

After several unsuccesfull attempts I decided to debug the issue.
First, the config that was loaded was not my user defined, but was instead one of the stubs from `vendor/phalcon/devtools/temp

[2015-01-06 23:51] trentramseyer commented on #277
It is attempting to find a controller in your app named WebtoolsController which isn't created by the webtools system. Webtools run independently of your apps.

[2015-01-09 14:22] vv3d0x opened #281 "Fix Phalcon\Http\Response method signature"
Response has a method called **setFileToSend** his signature has 3 args, but here only 2.

we have
[code]

but we should have
[code]

https://github.com/phalcon/cphalcon/blob/master/ext/http/response.c#L893

[2015-01-11 18:33] DonatEnikeev commented on #222
Thanks, valVk

Worked for me perfectly

[2015-01-14 14:23] Jeckerson opened #282 "phalcon migration generate - AUTO_INCREMENT"
Is there are some way to disable AUTO_INCREMENT generation from local tables?

Some times local rows could have different primary key counters or even have empty table, so AUTO_INCREMENT set current counter of local tables where migration was generated.

Could be, for example:
[code]

[2015-01-19 09:55] web777 opened #285 "DevTools not generate unique index in table"
I use Phalcon 1.3.2
I have model with this SQL DDL
[code]
DevTools generate this migration
[code]

After migration i have not unique index on ``uniq`` field

[2015-01-20 17:58] alfonsoperez opened #286 "Allow Migrating sizes of columns"
When **morphTable** is called, there is no check for changes on column sizes, so changing for example a column size and calling `phalcon migration run` , the change wouldn't be noticed, so.

Shouldn't be added to
"scripts/Phalcon/Mvc/Model/Migration.php"

[code]

this in order to detect size changes?:

[code]

Cheers,
Alfonso

[2015-01-25 12:37] saggafarsyad opened #288 "Cannot generate models"
I can't generate models in phalcon-devtools 1.2.5.

Using webtools.php returns error:

Using command-line it returns error like this:

I'm running phalcon on vagrant, using phalconbox which I download from http://phalconphp.com/en/download/vagrant

[2015-01-26 21:15] nathanielks opened #290 "migration run doesn't produce anything on postgres"
Heya!

Just provisioned a new server and am trying to get the database up and running. I'm running `phalcon migration run` and it spits out the tool version, but doesn't do anything else. I've checked the database to see if there's anything there and nothing. Does the database need existing tables in order for it to migrate the versions?

[2015-01-26 21:16] nathanielks commented on #290
Perhaps #237 is related?

[2015-01-26 21:16] rianorie commented on #290
I noticed the same and fixed it, just haven't gotten around to getting it on here.. give me a few minutes :)

[2015-01-26 21:16] nathanielks commented on #290
you're awesome @rianorie =D

[2015-01-26 21:22] rianorie commented on #290
I'm behind a few versions it seems, I'm gonna need a little more than a "few" minutes. I need to reproduce what I fixed before. Shouldn't be super long, though.

[2015-01-26 21:22] nathanielks commented on #290
okie doke :+1:

[2015-01-26 21:57] rianorie commented on #290
@nathanielks there you go. It has to be merged before you can use it though. Optionally use https://github.com/rianorie/phalcon-devtools but you want to do this only temporarily, it's likely my fork will end up lagging behind often.

[2015-01-26 21:57] nathanielks commented on #290
I'll give that a try and report back shortly!

[2015-01-26 22:35] nathanielks commented on #290
It didn't work :(

[2015-01-26 22:39] nathanielks commented on #290
aha! It did this time! But I don't know what it means =\

[code]

[2015-01-26 22:42] rianorie commented on #290
I'm not sure, that "Not implemented yet" message isn't part of the devtools. hm..

[2015-01-26 22:44] nathanielks commented on #290
It's popped up in #119 too. Context: this is my first phalcon project. Built off of https://github.com/jeteokeeffe/php-hmac-rest-api. I had to make a few adjustments to get it to work with phalcon devtools. `phalcon migration generate` works just fine, but the `run` action on the remote server isn't playing nicely. It's worked fine locally though.

[2015-01-26 22:46] rianorie commented on #290
different php versions? mysql versions? phalcon versions?

[2015-01-26 22:47] nathanielks commented on #290
Nope, all identical as I provisioned with Ansible. ( postgres, fwiw )

[2015-01-26 22:48] rianorie commented on #290
so locally both `generate` and `run` work, but not on the server?

[2015-01-26 22:52] nathanielks commented on #290
`generate` does, yup. `run` actually spits out the same errors in both locations.

[2015-01-26 22:54] rianorie commented on #290
any chance I can get you to share the migration you're trying to run?

[2015-01-26 22:54] nathanielks commented on #290
yup, let me put it together for you.

[2015-01-26 22:56] nathanielks commented on #290
http://trp.do/FvVbgwb

That'll be destroyed after the first download, so don't delete it too hastily ;)

[2015-01-26 23:01] AlfonsoPerez commented on #290
Dayum, I arrived too late :-)

[2015-01-26 23:02] nathanielks commented on #290
HA. I'll repost for you @AlfonsoPerez =p

http://trp.do/OWQEX4w

[2015-01-26 23:03] rianorie commented on #290
@nathanielks  your db is called `db_name` ? If it's not.. update your config file (`app/config/config.ini` probably) and try running your migrations again.

I did get a SQL error from the migrations, but overal they look fine. However I'm now noticing something funky in your earlier error message:
`1422311894.0557: SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM information_schema.tables WHER

[2015-01-26 23:04] nathanielks commented on #290
haha, no no, just changed it for googling reasons.

[2015-01-26 23:08] rianorie commented on #290
damn, well, in that case I'm sad to say I can't reproduce your problem. I have to add I'm using MySQL rather than Postgres though, so maybe that's messing things up. At which point you're back to the database not liking whatever you're trying to do to it. I'd probably remove all but the api migration and try to get that imported by removing columns and indexes until it works. Then re-add said elem

[2015-01-26 23:14] nathanielks commented on #290
Will do @rianorie! Thanks for looking into this!

[2015-01-27 16:05] nathanielks commented on #290
Hey @rianorie, here's the issue I do believe for future reference: http://forum.phalconphp.com/discussion/3593/phalcon-postgres-migration-run-error-not-implemented-yet

The features literally haven't been implemented yet.

[2015-01-27 16:05] nathanielks commented on #290
( for Postgres )

[2015-01-27 16:10] rianorie commented on #290
Well, that won't do at all. I'd be very open to pullrequests from someone with postgres experience. Though I believe it uses mostly the same dialect as MySQL so it may not be that big a hassle really.

Thanks for the headsup!

[2015-01-27 16:13] nathanielks commented on #290
Absolutely dude! Unfortunately this is my first time using Postgres too and it was mainly an experiment. Would love to use it in the future though!

[2015-01-27 19:14] nathanielks commented on #290
Le sigh. I've switched to Mysql, using your repo, and it's still not migrating on first run :(. It outputs the devtools version and that's it.

Edit: success! I followed [this tip](https://github.com/phalcon/phalcon-devtools/issues/226#issuecomment-47418449) and it worked! Need to update the migration-version and it ran.

[2015-01-29 22:48] 7thcubic commented on #288
i think it is something to do with your database adapter. show config?

[2015-01-29 22:49] 7thcubic commented on #285
new Index('sk_test_uniq', array('uniq'))
is same as key

[2015-01-29 22:50] 7thcubic commented on #281
i believe this is on the wrong section

[2015-01-29 22:51] rianorie commented on #281
For a second I thought so too, but he's talking about the IDE stubs, I think. I'll verify and put it in the codebase if it is

[2015-01-29 23:05] 7thcubic commented on #281
its cphalcon bro =d

[2015-01-29 23:09] rianorie commented on #281
actually, it's not. If you check the file he linked to you'll see the function is reading 3 parameters, while the stubs for 1.3.4 only have 2. The 2.0.0 stubs have all three though. See https://github.com/phalcon/phalcon-devtools/blob/master/ide/1.3.4/Phalcon/Http/Response.php#L299 and   https://github.com/phalcon/phalcon-devtools/blob/master/ide/2.0.0/Phalcon/Http/Response.php#L300

[2015-01-29 23:14] rianorie commented on #288
that path looks messed up as well..

[2015-01-29 23:28] rianorie commented on #285
@7thcubic is right.

The `uniq` column wasn't actually unique in your original schema either. If it was, the table dump would have looked like:
[code]
Note the `UNIQUE KEY` part.

I'm going to close this issue for now, I don't think it's a bug, but human error. They happen to all of us :)

[2015-01-29 23:28] #285 closed

[2015-01-29 23:30] #255 closed

[2015-01-29 23:30] rianorie commented on #254
I'm not sure what you're trying to do exactly.. closing this until further response

[2015-01-29 23:30] #254 closed

[2015-01-29 23:34] rianorie commented on #235
@hanbz You don't need 777, but the user you're executing the console script as needs permission to write or if you're using the webtools, the web user does.

Can you let me know which of the two you were using so we might enhance them?

[2015-01-29 23:35] #225 closed

[2015-01-29 23:37] rianorie opened #295 "Multiple database engine support"
Add support for the PostgreSQL database engine. Potentially other databases as well.

See #290 and #237

[2015-01-29 23:38] rianorie commented on #290
Created a new uncluttered endpoint for this, see #295.

[2015-01-29 23:38] #290 closed

[2015-01-29 23:38] rianorie commented on #237
Created a new uncluttered endpoint for this, see #295.

[2015-01-29 23:38] #237 closed

[2015-01-29 23:46] rianorie commented on #38
I just created a new ticket for this before I found this one. See #295, my bad! closing this one to avoid doubles

[2015-01-29 23:46] #38 closed

[2015-01-29 23:46] 7thcubic commented on #276
weird. i submitted a pull for this, doesnt show up though

[2015-01-29 23:47] rianorie commented on #276
#296 :)

[2015-01-29 23:51] rianorie commented on #61
lets have create project add a file to `.phalcon` with the template engine in it. Then scaffold can read this

[2015-01-29 23:52] rianorie commented on #109
@phalcon ping.. this seems like one for you, or at least you'll know who to delegate this to :)

[2015-01-29 23:55] #140 closed

[2015-01-30 00:00] rianorie commented on #215
perhaps an --output flag, something to think about.

[2015-01-30 00:36] 7thcubic commented on #295
boss. postgresql is supported

[code]

[2015-01-30 01:28] 7thcubic commented on #238
this is a known bug but its not because of migration. Its because of phalcon. I made a fix for 2.0
Dev tools does correctly generate it. Its just the creation part.

https://github.com/7thcubic/cphalcon/commit/2fbfe0a9cbb45bc843960b7511cfc6f1ee955632

[2015-01-30 01:39] 7thcubic commented on #226
Ideally this isnt a bug. You are not suppose to re-run the same version. If you have manually dropped the entire schema for your mysql,  you have to manually remove the migration-version file.

but i suppose its possible to add a --force command.

[2015-01-30 02:20] 7thcubic commented on #288
or is it because of chmod?

[2015-02-04 03:38] javagrails commented on #222
I download [ Phalcon 1.3.4 - Windows x86 for PHP 5.6.0 (VC11) ] this and download dev tools from [ https://github.com/phalcon/phalcon-devtools ] and create project with webdevtools and configure ip but my web interface of dev tools not working... give different errors like [database][adapter] ... and so on.... and some menu missing in web interface [ Configuration tab ] shown in video.... so what'

[2015-02-04 20:23] ruudboon commented on #178
Any updates on this? Enum is also not working, I guess it's related to some mysql specific implementation.

[2015-02-04 20:25] ruudboon commented on #282
+1 for that.

[2015-02-06 08:15] ruudboon opened #307 "[NFR] Support Phalcon\Db\Dialect for database migrations"
When using the db migration I'm missing some mysql specific fields like enum.
Probably caused by using describeColumns on the database adapter that has no support for database specific fields.

[2015-02-09 10:59] monkeyhead89 opened #308 "Class Phalcon\Db\Column no constant defined for datatype "Time""
Hi,

When creating a new column it appears that there is no option to use the "Time" datatype.
i.e
[code]
I suspect that this is down to a constant not being defined for it.

[2015-02-09 22:15] jbhamilton commented on #288
I just ran into this same issue. I fixed it by commenting out these lines in the file:

[code]
Not sure what the intent was with that if statement.

[2015-02-10 12:43] inksable commented on #288
Same problem for me resolved ... Thanks jbhamilton

[2015-02-15 16:02] massimoselvi commented on #277
try:
http://localhost/arc/multi/webtools.php

[2015-02-18 23:21] nurasto opened #310 "Migration directory error"
Got this following warning when accessing Migration Menu

Seems WebTools working directory at runtime is not under project directory. I wish MigrationController.php could read migration directory configuration defined in config.php/config.ini.

[2015-02-20 07:00] evgensoft2015 commented on #222
for create ini-file use command create project:
phalcon create-project PROJECT_NAME  --use-config-ini --enable-webtools

[2015-02-20 16:37] nathanielks commented on #226
Adding a force command would be super helpful.

[2015-02-22 13:34] alexglue commented on #310
There is a hardcoded value in MigrationController.php:
[code]
which does not exists on module-style project initialization
[code]
but there is an apps folder, and looks like you should to get current path from _getMigrationsDir()
or use from-config value.

[2015-02-22 13:43] alexglue opened #311 "Incorrect UrlResolver path on module project type"
DI config by default is:
*/project/config/services.php*

[code]

but this path should be taken from config:

[code]

[2015-02-25 14:57] valVk commented on #222
small changes

[code]

[2015-02-25 18:37] javagrails commented on #222
Builder can't locate the configuration file -- i can not identify it... why and where it comes from when i try to create controllers or model... above 2 suggestion i applied but still this problem going on

[2015-02-26 00:20] nightowl77 commented on #222
Hi Guys

Just ran into this myself.

This problem is not with Component.php (it would seem like it, because it is always returning 1). I added a debug message to check what Component was doing. This is the result

[code]

As you can see from this, it is checking for the wrong directory. It gets that from $path, which is set in Models.php

The wrong $path is set in Models.php on line 240

It looks

[2015-02-28 19:05] austerus commented on #310
strangely, even when I manually create "migrations" folder (writable by the webserver user) under "app" (and next to "config" and the others), the error remains so I am unsure where the webtools app is actually looking for that folder

[2015-02-28 19:09] austerus opened #314 "Sqlite doesn't seem to work with webtools"
I have modified the default config from

    'database' => array(
        'adapter'     => 'Mysql',
        'host'        => 'localhost',
        'username'    => 'root',
        'password'    => '',
        'dbname'      => 'test',
        'charset'     => 'utf8',
    )

to

    'database' => array(
        'adapter'     => 'Sqlite',
        'dbname'      => 'test.sqlite',
        'charset'     =

[2015-02-28 19:39] w2pc commented on #314
what is the exact error?

On Sat, Feb 28, 2015 at 1:09 PM, Andrei Dascalu <notifications@github.com>
wrote:

[2015-03-01 15:41] austerus commented on #314
The error returned in the UI in the Models section is "Adapter is not supported"

[2015-03-05 07:18] weboot opened #318 "PHP Parse error: syntax error, unexpected '[' in /../phalcon-devtools-master/scripts/Phalcon/Builder/Model.php on line 373"
Phalcon DevTools (1.3.4) version.

run phalcon model modelname

result: PHP Parse error:  syntax error, unexpected '[' in /../phalcon-devtools-master/scripts/Phalcon/Builder/Model.php on line 373

[2015-03-09 19:41] alexglue commented on #310
If your project was initialized with --module project-type option, then you should use _apps_ path! not app.

[2015-03-09 19:48] alexglue opened #319 "Migration filename failed with default empty value (multy module app)"
0) Make phalcon project $PROJECT_NAME modules --enable-webtools
0.5) fix directory bug (hardcoded app/migration path changed to apps/migration).
1) Open /webtools.php?_url=/migrations/generate
2) Run Generate (without typing everything).
3) Got error:

[code]

Filename is _.php_ without name part.
Classname is "Migration_100".

[2015-03-09 22:25] alexglue opened #320 "Scaffolding does not use namespace on module app-type"
Webtools scaffolding generates Controllers here:
namespace `MyProject\Frontend\Controllers`;

but those classes does not using namespace `MyProject\Frontend\Controllers`, so i have an error like this:

[code]

[2015-03-10 05:19] Bati9999 commented on #288
same issue with scripts/Phalcon/Commands/Builtin/Models.php;  script generate a mess path

[2015-03-10 09:01] jyyan commented on #318
in my ubuntu 12.04 also got this problem too.
--
$ php -v
PHP 5.3.10-1ubuntu3.16 with Suhosin-Patch (cli) (built: Feb 13 2015 20:15:04)
Copyright (c) 1997-2012 The PHP Group
Zend Engine v2.3.0, Copyright (c) 1998-2012 Zend Technologies
--

[2015-03-10 09:15] jyyan commented on #318
hi all . i found thats my php version 5.3.10 do not support the syntax , such as :

    $reference->getColumns()[0]

replace those codes to (line 37x & 39x )

	    $a = $reference->getColumns();
	    $b = $reference->getReferencedColumns();
            $initialize[] = sprintf(
                $templateRelation,
                'belongsTo',
                $a[0],
                $entityNamespace .

[2015-03-11 00:13] BonnieDoug opened #321 "Any reason for bootstrap 2.3 still and not updated to 3+?"
Any reason for bootstrap 2.3 still and not updated to 3.3.2 (current version).

Have just spent around an hour working out why my NavBar wasn't working, till I realized it was using the old Bootstrap files.

I have no problem creating a PR updating the classes etc, but don't want to do it if there is a legit reason not to.

[2015-03-11 05:23] haniefhan opened #322 "phalcon create-all-models wrong room"
I use this project builder
" phalcon project new micro"

then I use "phalcon create-all-models"
the result is
" Phalcon DevTools (1.3.4)

Warning: include(app/config/config.php): failed to open stream: No such file or directory in D:\new_xampp\phalcon-tools\scripts\Phalcon\Commands\Builtin\AllModels.php on line 83

Warning: include(): Failed opening 'app/config/config.php' for inclusion (include_p

[2015-03-11 22:27] agustinsaldias opened #323 "all-models --extends breaks on second run"
For some reason, when trying to generate all models after running the --extends parameter on the first run, devtools won't work as it can't include, for some reason, the extends class.

For example, if I had this in my model:
[code]
And then run
[code]
I get this as result
[code]
So everything seems to be running just fine...but...next time I try to run the generator with --force to override the m

[2015-04-01 20:48] cspeak opened #326 "[NFR] Support --mapcolumn for all-models"
Currently, you can use --mapcolumn when creating models

    phalcon model my_table --mapcolumn"

I would like to add this functionality to all-models as well.

    phalcon all-models --mapcolumn

[2015-04-01 21:06] #326 closed

[2015-04-04 22:42] rzZzv commented on #322
try this fix that i made https://github.com/phalcon/phalcon-devtools/pull/317
it worked for me

[2015-04-07 08:47] max91 commented on #295
[code]

https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Mvc/Model/Migration.php#L389

wtf? =/

[2015-04-10 14:49] valVk commented on #222
LOL.
Is that bug will be fixed or not? )

[2015-04-13 19:00] cgfix opened #329 "webtools config causing blank screen and missing directories"
I found the following bugs in webtools that prevented it from working at all
symptoms:
Controller page: "Please specify a controller directory"
Model page: "Database configuration cannot be loaded from your config file"
scaffold page :"Adapter was not found in the config. Please specify a config variable [database][adapter]"
migration page: blank screen

Solution I found:
1:  migrations config pat

[2015-04-17 09:15] lce-fr opened #330 "NFR : Generate entity with CLI"
Currently the only way to generate model is by setting the sql database structure (by raw sql, phpmyadmin, etc) and running phalcon model. However it is error prone, neither convienent nor fast. A more efficient tool would allow to generate the php class and updating the schema based on the class metatada so that sql database is updated  for you.

It would works like that :

$ phalcon create-model

[2015-04-18 23:34] oaass opened #331 "Declaration of Module::registerAutoloaders() not compatible with ModuleDefinitionInterface::registerAutoloaders"
I just executed the following command

[code]

The I nagivated to local URL in the borwser and was greeted by this message

[code]

[2015-04-20 20:24] thepatron opened #332 "\Phalcon\FilterInterface\sanitize returns void in phpstorm IDE Stub"
I believe this needs a @return mixed added in FilterInterface.php as PhpStorm thinks it should be returning void and blowing up my inspections :).

Thanks - love the framework!

[2015-04-20 21:18] thepatron opened #333 "Di.php IDE Stub incorrect namespace for Events Manager variable"
Hi,

I think that the following:

[code]
should be changed to the below as it creates an inspection error in PHPStorm:

[code]

In: devtools/ide/2.0.0/Phalcon/Di.php

[2015-04-23 09:22] webchen commented on #331
There is a bug in Dev-Tools.
After you create modules,you should change the belows:
from  public function registerAutoloaders()   to     public function registerAutoloaders(\Phalcon\DiInterface $di=null)

from public function registerServices($di)    to     public function registerServices(\Phalcon\DiInterface $di=null)

[2015-04-23 09:37] sergeyklay commented on #331
This is no bug. This is Phalcon 1.x feature

[2015-04-23 14:44] phalcon commented on #321
I think it must be updated

[2015-04-23 18:52] lukaszmargielewski commented on #45
I have the same problem on Mac Yosemite using MAMP webserver. phpinfo() shows phalcon extension loaded, but dev tools sclaims no extension loaded. What to do?

[2015-04-23 19:03] sergeyklay commented on #45
@lukaszmargielewski Can you please provide output of command?:
[code]

[2015-04-23 19:04] andresgutierrez commented on #45
@lukaszmargielewski or to locate the php.ini

[code]

[2015-04-24 20:46] vbojan opened #334 "Migration fails for immediate predecessor/successor version"
Migration doesn't execute correctly to an immediate previous/next version and only updates the current version, but doesn't make any changes to the database.
For example, rolling back from 1.0.3 to 1.0.2 will just update current version to 1.0.2, but will not execute database update. Same goes from 1.0.3 to 1.0.4.
However, migrating from 1.0.3 to 1.0.1, to 1.0.4, or any other version works fine.

[2015-04-25 07:10] sergeyklay commented on #334
Can u send PR please?

[2015-04-25 08:24] sergeyklay opened #336 "Confusion in order of passed arguments"
I noticed that the project generators contains several tangled order of passing arguments.

For example:
**`Phalcon\Builder\Project\Micro`**:
* `private function createConfig($path, $templatePath, $name, $type) {}`
* `public function build($name, $path, $templatePath, $options) {}`

I suggest using identical order:
* `private function createConfig($path, $templatePath, $name, $type) {}`
* `public

[2015-04-27 10:50] escribiendocodigo opened #339 "Model Commad: Incorrect generation of relations if table name is used in other database."
Example:
[code]

[2015-04-27 16:31] #336 closed

[2015-04-27 21:42] #339 closed

[2015-04-28 20:44] escribiendocodigo opened #342 "NFR: option to generate Abstract Class"
in commands model and all-models add abstract option to generate Abstract Class

Example:
[code]
[code]

Result:
[code]

[2015-04-29 07:53] #342 closed

[2015-04-29 11:15] sergeyklay commented on #322
@haniefhan Can u test now?

[2015-04-29 11:48] 7thcubic commented on #330
have to confirm something first, there's 3 way to go about this.

1: Make changes to the current builder/command
2: Make new builder/command
3: Make new builder/add additional parameter to command.

[2015-04-29 14:52] sergeyklay commented on #333
Fixed

[2015-04-29 14:52] #333 closed

[2015-05-02 08:50] sergeyklay commented on #272
Done

[2015-05-02 08:50] #272 closed

[2015-05-02 08:51] sergeyklay commented on #273
Fixed

[2015-05-02 09:16] 7thcubic commented on #323
i have a similar issue with model but its when i already generated the model once and made changes to the database so when i used --force it gave me 2 column map and getsource methods.

I believe its because the model builder is inheriting them from the previous files.

Could you post the files generated so i can better judge where its breaking.

[2015-05-02 09:23] 7thcubic commented on #323
well do you have a ModelOne anywhere?
Is your model namespaced?

As you can see if you have loaded Model one in a namespace you are required to provide the full class declaration.

Eg.
[code]

During run time of your phalcon web you would require a loader that has already loaded that model using the auto loaders.

And when you run the generate model you have to use --extends=Common\Model\ModelBase

[2015-05-02 09:24] 7thcubic commented on #169
enum only works with mysql though.

[2015-05-02 14:20] #318 closed

[2015-05-02 15:11] sergeyklay commented on #56
@dreamsxin  Thanks

[2015-05-02 15:11] #56 closed

[2015-05-02 15:28] sergeyklay commented on #94
Fixed

[2015-05-02 15:28] #94 closed

[2015-05-02 15:35] #281 closed

[2015-05-05 11:57] oleksandr-torosh commented on #178
Same problem with ENUM datatype

[2015-05-05 12:21] sergeyklay commented on #178
I will try to deal with this

[2015-05-05 21:04] sergeyklay commented on #334
@vbojan Can you try again please? It seems now works fine

[2015-05-06 18:32] pro100master opened #368 "nginx php-fpm new project error"
there r some errors
-1- try
root: /home/user/www
#cd /home/user
#phalcon project test
/home/user/test/ and /home/user/test/public/ - outside server root

-2- try
root: /home/user/www
#cd /home/user/www
#phalcon project test
created /home/user/www/test/ inside server root - ok, but project public directory not in www-root
ok, try 3rd variant

-3-
root: /home/user/test/public/
#cd /home/user
#phalco

[2015-05-06 21:28] sergeyklay commented on #368
[code]

You need to change the baseUri to your needs. See `baseUri` in config file.

[2015-05-06 21:31] #368 closed

[2015-05-07 19:14] sergeyklay opened #376 "Tests"
I created this issue to be referenced later.
We need use tests and cover the maximum code.

[2015-05-07 20:37] #271 closed

[2015-05-07 21:03] #261 closed

[2015-05-08 08:25] sergeyklay commented on #166
Fixed

[2015-05-08 08:25] #166 closed

[2015-05-08 08:28] sergeyklay commented on #109
@theDisco ping

[2015-05-08 19:31] #141 closed

[2015-05-08 19:32] #264 closed

[2015-05-09 10:42] sergeyklay commented on #321
@BonnieDoug Done. See 2.0.x branch

[2015-05-09 10:42] #321 closed

[2015-05-09 10:44] #42 closed

[2015-05-09 17:43] #181 closed

[2015-05-11 01:02] sergeyklay commented on #276
Fixed #392

[2015-05-11 01:02] #276 closed

[2015-05-11 01:07] sergeyklay commented on #110
Fixed in #392

[2015-05-11 01:07] #110 closed

[2015-05-11 01:09] sergeyklay commented on #35
Fixed in #392

[2015-05-11 01:09] #35 closed

[2015-05-11 01:10] sergeyklay commented on #310
Fixed in 2.0.x

[2015-05-11 01:10] #310 closed

[2015-05-11 01:11] #240 closed

[2015-05-11 09:22] sergeyklay commented on #329
Fixed in 2.0.x

[2015-05-11 09:22] #329 closed

[2015-05-11 12:42] sergeyklay commented on #288
Fixed in 2.0.x

[2015-05-11 12:42] #288 closed

[2015-05-11 12:45] #226 closed

[2015-05-11 12:46] sergeyklay commented on #155
Fixed in 2.0.x

[2015-05-11 12:46] #155 closed

[2015-05-11 12:48] sergeyklay commented on #191
Fixed in 2.0.x

[2015-05-11 12:48] #191 closed

[2015-05-11 12:54] #153 closed

[2015-05-11 12:56] #207 closed

[2015-05-11 12:56] sergeyklay commented on #207
Fixed

[2015-05-11 12:56] sergeyklay commented on #182
Fixed

[2015-05-11 12:56] #182 closed

[2015-05-11 13:36] #197 closed

[2015-05-11 13:40] #322 closed

[2015-05-11 14:05] Green-Cat commented on #65
@sergeyklay This is already implemented.
https://github.com/phalcon/phalcon-devtools/blob/master/templates/project/simple/services.php#L47

[2015-05-11 14:18] sergeyklay commented on #65
Yes

[2015-05-11 14:18] #65 closed

[2015-05-11 14:24] sergeyklay commented on #314
@austerus I just checked - everything is fine in 2.0.x branch

[2015-05-11 14:24] #314 closed

[2015-05-11 15:01] austerus commented on #314
Confirmed, thanks!

[2015-05-12 08:57] javagrails commented on #222
none of the above solution works properly sad :(

[2015-05-12 11:51] sergeyklay commented on #222
I'll try today

[2015-05-12 18:43] valVk commented on #222
:+1:

[2015-05-12 20:37] sergeyklay commented on #222
@javagrails Can you please try with 2.0.x branch? Probably I fixed this issue earlier

[2015-05-13 03:35] dadagama opened #396 "phalcon model command fails with micro projects"
for micro projects, **APP_PATH** is not defined when i execute `phalcon model <model_name>` command.

i guess it is because **APP_PATH** is defined at **public/index.php** file, and this file is not loaded from cli commands

output example:

[code]

[2015-05-13 07:22] sergeyklay commented on #396
@dadagama Can you check now please?

[2015-05-13 23:57] dadagama commented on #396
sorry for delay. it works now :)
thank you so much

[2015-05-13 23:57] #396 closed

[2015-05-14 00:01] sergeyklay commented on #396
:+1:

[2015-05-15 06:29] escribiendocodigo opened #402 "Error generating database connection in file services.php"
[code]

Correction $config->toArray()  to  $config->database->toArray()

[code]

[2015-05-15 07:30] sergeyklay commented on #402
Thanks. Fixed in 2.0.x

[2015-05-15 07:30] #402 closed

[2015-05-15 19:23] werdlv opened #405 "Passing whole config array when setting up database connection"

[2015-05-15 19:29] sergeyklay commented on #405
Possible refs #402

[2015-05-15 19:30] werdlv commented on #405
Ah, true

[2015-05-15 19:30] #405 closed

[2015-05-16 17:24] xerron opened #407 "Create model in Micro project ERROR: Use of undefined constant APP_PATH"
create project:

    phlacon project myproject --type=micro

and when I create a model:

    phalcon model user

Bug!

PHP Notice:  Use of undefined constant APP_PATH - assumed 'APP_PATH' in /Users/xerrron/Documents/Projects/Web/jobs-api/config/config.php on line 15
PHP Notice:  Use of undefined constant APP_PATH - assumed 'APP_PATH' in /Users/xerrron/Documents/Projects/Web/jobs-api/config/config.

[2015-05-16 18:23] sergeyklay commented on #407
Can you create PR please to 2.0.x?

[2015-05-16 19:12] xerron commented on #407
I use Devtools 2.0.0 and not --version exits.

    Phalcon DevTools (2.0.0)

    Help:
    Creates a project

    Usage:
    project [name] [type] [directory] [enable-webtools]

    Arguments:
    help	Shows this help text

    Example
    phalcon project store simple

    Options:
    --name               Name of the new project
    --enable-webtools    Determines if webtools should be enabled [o

[2015-05-16 22:02] xerron commented on #407
work in the branch 2.0.x

add line in config.php in micro template:

    defined('APP_PATH') || define('APP_PATH', realpath('.'));

thank you!,,     muchas gracias por la respuesta.

[2015-05-16 22:02] #407 closed

[2015-05-17 19:59] danialali1 commented on #242
Array to string conversion in app\config\services.php on line 57
help me solve this issue please

[2015-05-17 20:18] sergeyklay commented on #242
@danialali1 Create please separated issue and provide please app\config\services.php

[2015-05-18 03:18] vbojan commented on #334
I tested new version and incremental upgrades are now working fine, but incremental downgrades are still broken (i.e. 1.0.2 goes fine to 1.0.3, but doesn't do anything if you want to get from 1.0.2 down to 1.0.1).

[2015-05-18 14:39] danialali1 commented on #242
@sergerklay ThankYou for your feedback i sorted it out myself :P
Thank You once again :)

[2015-05-18 20:09] le51 opened #408 "[BUG] [2.0.x] using template-path when creating project"
Hi,

phalcon project test4 --template-path=tata --directory=toto

var_dump($this->options) returns in Phalcon\Builder\Project\Simple

[code]

"tata or 'tat' doesn't work as well.

[2015-05-18 20:47] le51 commented on #408
Solution:

in Phalcon\Commands\Builtin\Project

'template-path=s'   => 'Specify a template path [optional]',    // add the "s"

[2015-05-18 20:54] le51 commented on #408
But now

PHP Warning:  file_get_contents(tata/project/simple/.htrouter.php): failed to open stream

Right now tata folder and its content is in "templates" folder.

[2015-05-19 20:26] osse76 opened #414 "Function columnMap is added twice to the model"
Same problem - #276
Create model with force, the function columnMap is added twice to the model

[2015-05-19 20:27] sergeyklay commented on #414
Can you please try 2.0.x branch?

[2015-05-20 09:25] osse76 commented on #414
In this branch, the method columnMap is not generated anytime. But the methods find, findFirst and getSource be generated. This three methods were not generated in master branch.

[2015-05-20 10:15] sergeyklay commented on #414
The `master` branch is freezed. All improvements, fixes and new features appear in `2.0.x` first.
After release of Phalcon 2.0.2 we merge phalcon-devtools `2.0.x` into `master`.

[2015-05-22 18:15] Kr3m commented on #153
How exactly is anything that requires absolute paths and creates more work for server migrations not a bug?  This is even worse for Windows developers who develop locally and have to move to a linux production environment....

[2015-05-22 18:19] sergeyklay commented on #153
Any paths should be resolved with `realpath()` which it was done in `phalcon-devtools/2.0.x`
If no — create issue

[2015-05-25 23:08] sergeyklay commented on #414
@osse76 Check now in `master` please

[2015-05-25 23:09] sergeyklay commented on #408
@le51 copy to template `.htrouter.php`

[2015-05-25 23:10] sergeyklay commented on #334
@vbojan Can you test now `master` please?

[2015-05-25 23:11] sergeyklay commented on #331
Fixed

[2015-05-25 23:11] #331 closed

[2015-05-25 23:12] sergeyklay commented on #323
@agustinsaldias Can you test now please?

[2015-05-26 07:13] osse76 commented on #414
Works. :thumbsup:

[2015-05-26 07:16] #414 closed

[2015-06-01 03:59] kimthangatm opened #419 "Phalcon migration Generate/Run error with Postgresql"
Generate and run success with MySql but error on Postgres with SCHEMA.

I think team add new video demo for Postgres sample as Mysql (Youtube: https://www.youtube.com/watch?v=Vx-9GiZt68I)

[2015-06-02 03:02] mpparent opened #420 "Error in scaffold"
Phalcon Devtools (2.0.0) PHP 5.5 Mysql 5.5.34 Apache 2.2.27 I installed with compose I created a project I Created models with the phalcon models commands, it works. When I want to scaffold, the only answer I have is

Error: Parameter 'index' must be a string.

Like that: [~/public_html/xxxxxxxxxxxxxxx.com/etht]# phalcon scaffold Membre Phalcon DevTools (2.0.0)
Error: Parameter 'index' must be a s

[2015-06-02 06:06] sergeyklay commented on #420
[code]

[2015-06-03 15:28] mpparent commented on #420
Suddenly, I have Phalcon DevTools (2.0.1) instead of 2.0.0 and the error disappear. I was using "dev-master" in my composer.json file and it was 2.0.0 that appear. This morning I have now 2.0.1 and it works fine. :-)

[2015-06-03 15:28] #420 closed

[2015-06-04 15:28] vbojan commented on #334
Still the same :(
Upgrading works fine, but incremental downgrading doesn't.

[2015-06-04 18:33] EpicJhon opened #423 "[NFR] Add an skeleton from namespaced project"
add the option to create a skeleton project with namespaces

[2015-06-09 21:22] mattvb91 opened #424 "\Phalcon\Db\ColumnInterface Type: BLOB?"
Have just noticed that when I am generating migrations on a table that includes a field of type BLOB/MEDIUMBLOB/LONGBLOB there is no such column on ColumnInterface.

Currently it looks like it will just default it to varchar. Am I missing something obvious?

[2015-06-09 21:25] Green-Cat commented on #424
Phalcon does not have support for non-standard SQL types.
BLOB is MySQL specific.
Not sure if there is a work around.

[2015-06-10 11:33] mattvb91 commented on #424
Would it be possible for me to write my own \Phalcon\Db\ColumnInterface\Mysql adapter and that then be included in the project?

The dev tools are written in php so I shouldn't need any C level coding?

[2015-06-13 07:17] mattvb91 commented on #424
For anyone else that comes across this issue I have added a pull request to the main cphalcon repo.

https://github.com/phalcon/cphalcon/pull/10506

If this goes in I will also push an update for migration generation blob support to this repo.
What is the procedure for updating IDE stubs?

[2015-06-14 05:00] ryomo opened #425 "Installing via composer on local machine may fail"
To use IDE stubs, I tried to install devtools locally.
[code]
But failed because devtools depends on ext-phalcon which is not needed on local machine.
(Of course ext-phalcon is needed on the server or virtual machines.)

---
Below should work, but this may ignore other dependencies. :worried:
[code]

[2015-06-14 14:26] stefanchiriac opened #429 "default value not being set up"
Hello,

If I set a default value doesn't seems to be considered when I run the migration

[code]

There are any plans to add support for bigint, tinyint, timestamp?

Thanks

[2015-06-15 12:26] mattvb91 commented on #429
I have just recently added pull request to the main phalcon repo because I needed to support blob types.

When I get time I will push bigint,tinyint and timestamp too. Hopefully they will make it into the 2.0.4 release.

[2015-06-15 12:31] mattvb91 opened #430 "Process for updating IDE Stubs?"
Hi everyone,

What is the process in updating IDE stubs? I read somewhere for contributing to the dev-tools that IDE stubs should be changed in the main cphalcon repo?! Cant find that again so just checking.

I would be thinking just update the ide files within dev-tools and send a pull request here correct?

[2015-06-15 12:54] sergeyklay commented on #430
@andresgutierrez

[2015-06-15 13:08] stefanchiriac commented on #429
@mattvb91 That sounds nice. Do you have problems with default value not being set up or is just me?

[2015-06-15 13:25] mattvb91 commented on #429
I seem to be having the same issue as you. Running v2.0.3 of the devtools.

I will look into this the same time as adding support for the new datatypes. I will update this issue if I have a branch you can test on.

[2015-06-17 08:49] #425 closed

[2015-06-21 08:48] ilyaskorik opened #434 "Declaration of Models\Paginate::__construct() must be compatible with Phalcon\Paginator\AdapterInterface::__construct"
https://github.com/phalcon/cphalcon/issues/10521

[2015-06-22 19:09] sergeyklay commented on #434
Can you please create a PR fixes this?

[2015-06-22 19:32] ilyaskorik commented on #434
No, I am not competent. If you are the mainteiner of the project, you can add all-just one word in a single file to correct this problem.

[2015-06-22 23:04] sergeyklay commented on #434
Thanks. Fixed

[2015-06-22 23:04] #434 closed

[2015-06-22 23:07] sergeyklay commented on #430
@mattvb91 Can you please do PR to devtools?

[2015-06-27 09:59] whdigger opened #436 "Postgres new column type Json and Jsonb"
How can I add new type for Postgres Json and Jsonb, for the creation of migration. Please tell me where can i read about it

[2015-06-27 10:43] whdigger commented on #419
What manifest error ?

[2015-06-27 12:03] whdigger commented on #436
cphalcon#10555

[2015-06-30 21:21] whdigger opened #438 "Error duplicate columns while Auto-generate migration Postgres"
Not right create columns in file scripts/Phalcon/Mvc/Model/Migration.php

Generating File:

[code]

Sql File

[code]

[2015-07-02 23:26] mesgen commented on #438
root:~ mes$ ls -l com*
-rwxrwxrwx  1 mes  staff       68  3 Tem 02:20 composer.json
-rwxrwxrwx  1 mes  staff  1108836  3 Tem 02:20 composer.phar
root:~ mes$ php composer.phar install
Loading composer repositories with package information
Installing dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request

[2015-07-03 05:58] sergeyklay commented on #438
@mesgen
1. Not related problems should create in separate issue
2. You should install Phalcon 2.0 first. Or if you don't need Phalcon:
[code]

[2015-07-03 21:16] mesgen commented on #235
phalcon install complate but php warning

PHP Warning:  Module 'phalcon' already loaded in Unknown on line 0

why ?

[2015-07-03 22:04] mesgen commented on #277
phalcon, the installation has been completed but PHP is warning.

error:
PHP Warning: Module 'phalco the' already loaded in Unknown on line 0
Warning: Module 'phalco the' already loaded in Unknown on line 0

What is the reason? How do I fix it?

[2015-07-03 22:04] mesgen commented on #277
phalcon, the installation has been completed but PHP is warning.

error:

PHP Warning: Module 'phalcon the' already loaded in Unknown on line 0

Warning: Module 'phalcon the' already loaded in Unknown on line 0

What is the reason? How do I fix it?

[2015-07-03 23:56] sergeyklay commented on #235
Something like

http://stackoverflow.com/questions/28124200/php-warning-module-modulename-already-loaded-in-unknown-on-line-0

http://stackoverflow.com/questions/3518796/php-extension-module-hello-already-loaded-in-unknown-on-line-0?rq=1

[2015-07-04 05:24] mesgen commented on #235
through php.ini "extension = phalcon.so" erased and the error has been corrected now,
phalcon is running smoothly

[2015-07-07 04:19] kimthangatm commented on #419
Command error
[code]

[2015-07-07 07:22] whdigger commented on #419
Add please dump table bug_tracking or table_schema  cms_old

[2015-07-07 08:19] kimthangatm commented on #419
You need create new phalcon project with Postgres Dev Tool and Test migrate.

Sample:
Step 1: Create Db and create table
[code]
Step 2: generate migrate => version 1.0.0
[code]

Step 3: Add column and generate
[code]

Step 4: Remove column1 AND run migration
[code]

[2015-07-07 18:43] jrafaelg opened #440 ""Notice: Indirect modification of overloaded element..." and doubling relations"
When I generate models, with namespace setted, a get this error:

[code]

![sem titulo](https://cloud.githubusercontent.com/assets/4106965/8554053/d3a32fae-24bd-11e5-9a23-380764c80167.png)

line 321:

[code]

in the real file, [this line](https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Builder/Model.php#L272)

doubling of code:

[code]

[2015-07-10 07:23] salarmehr opened #441 "Old versions make devtools bulky"
When is simple command `php gen-stubs.php` can generate all stubs, is there any reason to keeping old versions stub on repository? I hvae to manually remove all of them so phpstorm can use the last version only.

[2015-07-10 09:48] salarmehr opened #442 "ext path"
Currently, ext path is hardcoded: `define('CPHALCON_DIR' , '/Users/micate/Code/cphalcon/ext/');` please consider get that via command line parameter.

[2015-07-10 19:14] sergeyklay commented on #441
Done

[2015-07-10 19:14] #441 closed

[2015-07-10 19:15] sergeyklay commented on #441
@salarmehr  about old versions https://github.com/phalcon/phalcon-devtools/pull/398

[2015-07-10 19:17] sergeyklay commented on #442
try to use scripts/Phalcon/Generator/Stub.php

[2015-07-10 19:17] #442 closed

[2015-07-20 06:30] DestinyMKas commented on #178
same with smallint & bigint

[2015-07-25 11:23] Rajeshr34 opened #453 "Error: Migration Generate Create its default directory"
has in titile it does'nt take folder from config. when i run `Phalcon migration generate` cmd it should create migration class in `migrationsxxx` folder right? but instead of it create under 'migrations' folder.

Note: `migrationsxxx` folder has (0777) mode

[code]

[2015-07-29 11:11] dParadiz opened #456 "Missing functions in Phalcon\Session\BagInterface"
Shouldn't following function be defined in Phalcon\Session\BagInterface?

[code]

[2015-07-29 14:20] virgofx opened #457 "Remove the IDE stubs for every version and sync with versions"
Please remove the included every version of the IDE stubs. This makes it very annoying within the IDEs to have 20+ copies for autocomplete as well as duplicating code which is very bad practice -- this defeats the whole purpose of version control.

If I wanted phalcon-devtools for 1.3.5 I would checkout or pull via composer the specific version.

The version in source control should correspond to

[2015-07-29 14:26] rianorie commented on #457
+1

[2015-07-29 14:51] sergeyklay commented on #457
Possible refs #398

[2015-07-29 14:51] #457 closed

[2015-07-30 17:14] qetee opened #459 "the error about Build .phar"
<img width="1440" alt="qq20150731-1 2x" src="https://cloud.githubusercontent.com/assets/2811986/8989918/bf115b4e-3721-11e5-9be8-fa38e7125cc8.png">
I used box to build phalcon.phar successfully, but when i excute "phalcon.phar project xxx", the error bellow shows:

PHP Warning:  file_get_contents(phar:///Users/viggo/Desktop/phalcon-devtools 2/phalcon.phar/templates/project/simple/config.php): faile

[2015-07-30 19:04] stefanchiriac commented on #429
any news about this issue?

[2015-07-30 19:44] denji commented on #459
box.json:
[code]

[2015-07-31 11:18] sergeyklay commented on #459
now this fixed?

[2015-07-31 11:19] sergeyklay commented on #456
What do you mean?

[2015-08-03 09:00] Surt opened #465 "Mysql Migration BIGINT"
It seems as defined in Phalcon as Column::BIND_PARAM_INT
but when trying to generate a migration (using phalcon-devtools master branch) it says :

``` Error: Unrecognized data type 14 at column .... ```

The type 14 is BIGINT on Phalcon but definition["bindType"] is INT and is not getting it.

[code]

Any workaround or fix?

by the way, wouldn't be easier to use an array to map Types and character

[2015-08-04 13:49] stormweaver commented on #465
Stumbled onto the same issue today.
Fixed easily by adding

[code]
here:
https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Mvc/Model/Migration.php#L235
just before the default switch.

[2015-08-04 13:54] sergeyklay commented on #465
Can you please create PR?

[2015-08-09 10:42] SelimSalihovic opened #468 "Scaffold creation error"
I have tried to do "phalcon scaffold bears" and I got this error:

Phalcon DevTools (2.0.6)

PHP Parse error:  syntax error, unexpected '[', expecting ')' in /home/vagrant/vendor/phalcon/devtools/scripts/Phalcon/Generator/Snippet.php on line 118

[2015-08-09 19:27] sergeyklay commented on #468
what version of php?

[2015-08-14 11:05] dParadiz commented on #456
Well Phalcon\Session\Bag has thus functions implemented, but they are not declared in interface.
So you need to depend on concrete implementation of Session\Bag to ensure that functions are available. Maybe it is just me but I don't see any reason why this functions are not part of BagInterface.

[2015-08-17 14:56] lajosbencz opened #469 "Script::DOC_INSTALL_URL used before loading class"
At the check if Phalcon extension is loaded, the Script class is used before actually loading it:

[https://github.com/phalcon/phalcon-devtools/blob/c0ba79d2bd1e915730421c86a5b27d72533bd4f3/phalcon.php#l39](https://github.com/phalcon/phalcon-devtools/blob/c0ba79d2bd1e915730421c86a5b27d72533bd4f3/phalcon.php#l39)

[2015-08-17 18:45] sergeyklay commented on #469
Thanks. Fixed

[2015-08-17 18:45] #469 closed

[2015-08-19 21:16] sergeyklay commented on #429
@stefanchiriac Curently we can add only `Column::TYPE_BIGINTEGER` because tinyint and timestamp isn't supported in Phalcon.

Can you explain please about "default values" related issue?

[2015-08-20 02:06] hakur opened #473 "tool generated code got wrong"
I am new to Phalcon framework,I am worked on windows, by use phalcon.bat ,download from release 2.0.7,and I use "phalcon create-project phalcon --type=modules"

the router got wrong in /config/routes.php

In first line the code is
[code]
and it not worked on url
[code]
so I change to
[code]
it worked on url
[code]

in /public/index.php first create application and then include /config/routes.php

[2015-08-20 05:30] sergeyklay commented on #473
Fixed. Thanks

[2015-08-20 05:30] #473 closed

[2015-08-20 09:15] stefanchiriac commented on #429
the problem is with mysql/mariadb when you have a default value on a column.
If you generate a migration from a table, all default values are ignored and don't appear in your migration code.
If you run a migration the column default value is ignored and is not set in db. For running a migration and missing types a work around is defining everything on type

                    new Column('created_

[2015-08-20 15:54] eg0r opened #475 "Incorrect generation model"
When you generate a model from the database PgSQL created the following code:

[code]

[2015-08-20 16:22] eg0r opened #476 "Naming conflict settings PgSQL"
There is such a configuration for connection to PgSQL:

[code]

services.php

[code]

With these settings, the automatic generation of models runs without errors.
But it is necessary to go to a website and get the error:

[code]

[2015-08-20 17:41] egorsmkv opened #477 "Poor support migrations PgSQL"
Structure of the table:

[code]

Type **name_status** is designed in such a request:
[code]

***

After generating the migration of some fields completely wrong:

[code]

**Please improve the support Postgres in Phalcon.**

[2015-08-24 17:44] sergeyklay commented on #475
@eg0r  Can you please check now on 2.0.x branch?

[2015-08-24 18:19] eg0r commented on #475
@sergeyklay Checked. No error.

[2015-08-24 18:23] #475 closed

[2015-08-24 18:25] sergeyklay commented on #476
@eg0r Thank ypu for bug report. I fixed service generators for future projects. Now you can use somethig like this:

[code]

[2015-08-24 18:28] #476 closed

[2015-08-24 19:11] eg0r commented on #476
@sergeyklay Similarly he has done so far:

[code]

[2015-08-24 19:22] sergeyklay commented on #476
:+1:

[2015-08-24 22:24] sergeyklay commented on #429
I tried to fix this behaviour. Can you please check it now on 2.0.x branch? But note currently Phalcon does not support Columt::TYPE_TIMESTAMP

[2015-08-25 07:48] stefanchiriac commented on #429
now seems to work to generate and apply a migration with default value, except when 'default' => 0. In this case the value is being ignored

[2015-08-25 08:01] sergeyklay commented on #429
I'll try to deal with it

[2015-08-25 22:31] sergeyklay commented on #429
@stefanchiriac Now Phalcon supports `Columt::TYPE_TIMESTAMP` (in  2.0.x branch)

[2015-08-26 15:42] drodriguezgood commented on #440
He tenido el mismo problema al utilizar la ultima version de phalcon-devtools con el comando
 $ phalcon all-models --directory=apps/seguridad --config=config/config.php --models=models --schema=seguridad --namespace=Lacteos\\Seguridad\\Models --force --relations

me genera este error
PHP Notice:  Indirect modification of overloaded element of Phalcon\Config has no effect in /home/daniel/phalcon-de

[2015-08-26 16:28] Izopi4a opened #483 "Problem installing via composer with php fcgi"
Hello,

I have problems installing phalcon-devtools with composer, i get this message

 - Installation request for phalcon/devtools dev-master -> satisfiable by phalcon/devtools[dev-master].
- phalcon/devtools dev-master requires ext-phalcon ~2.0 -> the requested PHP extension phalcon is missing from your system.

So.. on my server I use different php versions for every host.

the php version i us

[2015-08-26 17:59] sergeyklay commented on #483
Hello @Izopi4a
We only accept bug reports, new feature requests and pull requests. For questions regarding the usage of the Phalcon Developer Tools or support requests please visit the [official forums](http://forum.phalconphp.com/).

[2015-08-26 17:59] #483 closed

[2015-08-26 23:09] sergeyklay commented on #429
@stefanchiriac I tried to fix "default value" related issue. Can you please check it now in 2.0.x branch?

[2015-08-26 23:22] sergeyklay commented on #97
@meetmatt  I've tried to fix "default value" related issue. Can you please check it now in 2.0.x branch?

[2015-08-27 00:33] hasannawaz commented on #242
@danialali1 : could you please post how you fixed it and close the issue ? :smile:

[2015-08-27 00:40] hasannawaz commented on #468
@SelimSalihovic please use php5.4 or higher for short array syntax.
@andresgutierrez : we need to fix https://docs.phalconphp.com/en/latest/reference/install.html#linux-solaris as it shows requirement php5.3 and below MacOS shows php5.4

[2015-08-27 05:58] sergeyklay commented on #242
@wlisesrivas I've fixed this issue. Can you please check it now in 2.0.x branch?

[2015-08-27 05:59] sergeyklay commented on #468
@hasannawaz Phalcon 2.0.x still require PHP 5.3.x. From Phalcon 2.1.x onwards we are deprecating support for PHP 5.3.

@SelimSalihovic I've fixed this issue. Can you please check it now in 2.0.x branch?

[2015-08-27 06:07] #465 closed

[2015-08-27 06:14] sergeyklay commented on #311
@alexglue  Thank! Fixed

[2015-08-27 06:14] #311 closed

[2015-08-27 06:18] sergeyklay commented on #430
[code]

[2015-08-27 06:18] #430 closed

[2015-08-27 06:21] sergeyklay commented on #190
Fixed in 2.0.x

[2015-08-27 06:21] #190 closed

[2015-08-27 10:34] stefanchiriac commented on #429
I did some debugging myself and seems like the problem comes from the framework.
I ran directly modifyColumn and createTable functions and no luck

    self::$_connection->modifyColumn($tableName, $tableColumn->getSchemaName(), $tableColumn);
    self::$_connection->createTable($tableName, $defaultSchema, $definition);

[2015-08-27 21:56] sergeyklay commented on #436
Already implemented

[2015-08-27 21:56] #436 closed

[2015-08-27 22:00] sergeyklay commented on #332
Fixed

[2015-08-27 22:00] #332 closed

[2015-08-27 22:01] #222 closed

[2015-08-29 07:54] #97 closed

[2015-08-29 07:54] sergeyklay commented on #429
@stefanchiriac I've fixed default value in Phalcon (2.0.x branch) https://github.com/phalcon/cphalcon/pull/10849. Can you please build Phalcon from 2.0.x branch and check now?

[2015-08-29 08:32] sergeyklay commented on #97
#429

[2015-08-29 08:36] sergeyklay commented on #429
@stefanchiriac You can try now with Phalcon 2.0.x

[code]

[2015-08-29 10:20] stefanchiriac commented on #429
all works fine now. Thanks

[2015-08-29 10:25] sergeyklay commented on #429
:+1:

[2015-08-29 10:25] #429 closed

[2015-08-29 10:29] #468 closed

[2015-08-29 10:33] #323 closed

[2015-08-29 15:36] Green-Cat commented on #277
@geoidesic ping

[2015-08-29 15:48] Green-Cat commented on #239
There is no getKey method in the interface in the core of phalcon, not really sure what you mean. If you believe there should be one you should open an NFR (New Feature Request) on the main phalcon repository. https://github.com/phalcon/cphalcon/blob/master/phalcon/http/request/fileinterface.zep

[2015-08-29 15:59] #239 closed

[2015-08-29 16:28] hi2u opened #487 "Database migrations missing multiple features. Source and destination schemas do not match on various features."
I'm using devtools 2.0.7 with a MySQL database.

When I generate database migrations from my tables on my development server, it doesn't seem to store any info about the "ON UPDATE" and "ON DELETE" ... "RESTRICT / CASCADE / SET NULL / NO ACTION" settings for the foreign keys in the migration files.

So obviously when running the migrations on the live server, it has no way to know that I've got so

[2015-08-29 16:37] hi2u commented on #282
I'm on devtools version 2.0.7, and it looks like this has been completed now...

    --no-auto-increment    Disable auto increment (Generating only)

It seems to me that this would be a sensible default?

Considering that migrations don't transfer actual row data, how often would people want the auto_increment kept?

Obviously still worth leaving in as an option though.

[2015-08-29 16:57] sergeyklay commented on #282
@hi2u Thanks for confirm. This has been completed now by @7thcubic

[2015-08-29 16:57] #282 closed

[2015-08-29 17:01] #259 closed

[2015-08-29 17:54] geoidesic commented on #277
I'll have to try this later, sorry. Changed computers early in Feb and haven't had a chance to play with Phalcon since. Might only get there in Feb 2016. How would I "export PTOOLSPATH in your shell" btw?

[2015-08-29 17:55] geoidesic commented on #277
I am hoping to rewrite an API using Phalcon in 2016.

[2015-08-29 18:22] sergeyklay commented on #277
@geoidesic You can use [my .profile](https://github.com/sergeyklay/dotfiles/blob/master/.profile) as example for export purposes

[2015-09-08 12:30] Jurigag opened #491 "IDE stubs - getMessages from model"
On 2.0.7 when i getMessages() from my model, and then loop it, it doesnt detect getField and getMessage method, on 2.0.3 it was working fine. What changed ?

[2015-09-10 19:07] sergeyklay commented on #491
Because in phpdoc `Model::getMessages()` returns `\Phalcon\Mvc\Model\MessageInterface` instead `\Phalcon\Mvc\Model\MessageInterface[]`.

[2015-09-10 19:07] #459 closed

[2015-09-10 19:11] sergeyklay commented on #456
This is not devtools issue. Please create a new feature request on https://github.com/phalcon/cphalcon repo

[2015-09-10 19:11] #456 closed

[2015-09-10 19:15] sergeyklay commented on #424
Run
[code]

[2015-09-10 19:15] #424 closed

[2015-09-10 19:25] sergeyklay commented on #154
Fixed

[2015-09-10 19:25] #154 closed

[2015-09-10 19:26] #151 closed

[2015-09-10 19:48] sergeyklay commented on #453
Thanks. Fixed in 2.0.x

[2015-09-10 19:48] #453 closed

[2015-09-10 19:49] #235 closed

[2015-09-10 19:51] #242 closed

[2015-09-15 10:17] DroneZzZko opened #496 "Migration "run" doesn't work after #492"
Once #492 (https://github.com/phalcon/phalcon-devtools/commit/c6308c861e7024151a9d0ffd17cc2137035a9ad1#diff-6a5696107288f5bf2220fe586bf6954bR202) was merged impossible to run migration if there is only one generated migration version (1.0.0). And --force also doesn't work.
How to reproduce:
1. Generate a migration (.phalcon and migrations dirs are empty):
*./vendor/phalcon/devtools/phalcon.php mig

[2015-09-15 11:01] DroneZzZko opened #497 "Generate migration with --data option adds unwanted single quotation marks"
Generate migration with --data option wraps values by unwanted single quotation marks (https://github.com/phalcon/phalcon-devtools/blob/66b628cde63a00ec30c75b2f4ace0c0ca38edbcd/scripts/Phalcon/Mvc/Model/Migration.php#L366):

If try to run migration after that we get values in table wrapped by single quotes.

[2015-09-15 16:15] catalincislariu commented on #204
Hi, is this feature done and it can be used?

[2015-09-15 16:16] catalincislariu commented on #204
Hi, is this done? How can I use it? phalcon migration --exportData run?

[2015-09-15 17:48] sergeyklay commented on #204
HI @catalincislariu

Use please Phalcon Devtools 2.0.x branch and enter `phalcon migration` without params for help

[2015-09-15 18:58] catalincislariu commented on #204
Hi,

I already spent to much time on trying to find on the framework documentation or anywhere on the web the command to export also the data with the database structure.

I would really appreciate if you can help me with the command because I can't get it working even after seeing the help from phalcon migrate.

Regards,
Catalin Cislariu

[2015-09-15 19:46] sergeyklay commented on #204
@julianseeger Thanks. Fixed in `2.0.x` branch

[2015-09-15 19:46] #204 closed

[2015-09-15 20:06] sergeyklay commented on #204
@catalincislariu

First, let's check table:

[code]

Okay, 2 rows. Let's generate first migration:

- **always** - import data always
- **oncreate** - import data when create table

[code]

Let's take a look at the files

[code]

- **tokens.dat** - data
- **tokens.php** - migration
- **app/migrations/1.0.0/** - version

Now we need to empty a table completely:

[code]

But what is in the data file

[2015-09-15 20:34] catalincislariu commented on #204
Ty very much, that will help me and others for sure. Appreciate it.

[2015-09-15 21:48] sergeyklay commented on #497
@DroneZzZko Can you please check now by using `2.0.x` branch?

[2015-09-15 21:48] #491 closed

[2015-09-15 21:53] sergeyklay commented on #231
Thanks. Fixed in 2.0.x

[2015-09-15 21:53] #231 closed

[2015-09-15 22:55] sergeyklay commented on #184
Thanks! Fixed in 2.0.x

[2015-09-15 22:55] #184 closed

[2015-09-16 02:20] DroneZzZko commented on #497
The issue seems to be fixed. No more quotes in tables.

[2015-09-16 05:06] #497 closed

[2015-09-16 20:14] sergeyklay commented on #496
@DroneZzZko Can you please check now  on `2.0.x` branch?

[2015-09-16 20:17] sergeyklay commented on #109
@theDisco

[2015-09-18 03:37] DroneZzZko commented on #496
Checked. The issue seems to be fixed.

[2015-09-18 03:37] #496 closed

[2015-09-18 04:51] DroneZzZko opened #504 "Migration: Default null fields sets to '0'"
Generated .dat files contents '0' values for null fields (by default):

Even change '0' to '' and run migration (by "run" command) will be inserted 0.

[2015-09-18 10:31] GavinMcL opened #505 "model generation of getters/setters not correctly using camel case"
Generating a model with the `--get-set` option, the get/set methods are generated but with incorrect camel case.

e.g.
[code]

ideally these should be `setUserId` and `getUserId` - small issue I know!

[2015-09-18 10:38] sergeyklay commented on #334
@vbojan Can you please test now `2.0.1` branch?

[2015-09-18 10:59] GavinMcL commented on #505
I think it is working ok; if the database table name is, say user_address, and contains a field user_id, model generation is properly camelcase.

However, I'm working against a (mysql) database which is using camelcase for it's field names, so table useraddress with a field name userId, so the model generator (quite rightly) has no way of determining where the capitalisation should take place.

yo

[2015-09-18 11:20] GavinMcL commented on #505
Sorry for being a pain, I'm re-opening, I overlooked something in the generated model.

Our schema has camelcase field names, the model generator is correctly creating the protected member variables in the same camel case as the db field (eg userId, profileAddressId), so it obviously can 'see' the camel case, but it flattens it for get/set methods; maybe the get/set creation isn't figuring out the

[2015-09-19 12:07] sergeyklay commented on #334
@vbojan ping

[2015-09-20 13:07] sergeyklay commented on #505
@GavinMcL

This is Zephir issue https://github.com/phalcon/zephir/issues/1090
I've tried to fix this behavior in DevTools. Can you please check now `2.0.x` branch?

[2015-09-20 16:50] sergeyklay commented on #504
@DroneZzZko Can you please provide table schema?

[2015-09-21 02:24] DroneZzZko commented on #504
I cannot reproduce this bug.

[2015-09-21 02:24] #504 closed

[2015-09-21 18:09] sergeyklay commented on #505
@GavinMcL

[2015-09-22 11:56] GavinMcL opened #511 "model generation file and classname incorrect if table name is camelcase"
Generating a model from a table which has a camel case name produces a php file (and classname) in title case.

e.g.
`table profileAddress`

will generate
`Profileaddress.php`, with `class Profileaddress`

instead of `ProfileAddress.php` with `class ProfileAddress`

works ok if table name is underscore separated (profile_address)

[2015-09-22 18:00] berliner opened #512 "Migration problems with database names that contain dots"
Hi,

I had a problem using phalcon migration generate today. The problem seems to be, that the database had dots in it, e.g.: database.client.project

Running ```phalcon migration generate``` in the project folder resulted in the following message:
[code]

```abilities``` is on of the tables in that database. I had to get the migration out fast, so I simply replaced all dots in the database name w

[2015-09-22 20:00] sergeyklay commented on #511
@GavinMcL Can you please check now `2.0.x` branch?

[2015-09-25 12:05] michalkniotek opened #514 "Bad phpDoc in documentation"
phalcon-devtools/ide/2.0.7/Phalcon/http/Request.php

public function getUploadedFiles($onlySuccessful = false) {}

ACTUAL:
@return \Phalcon\Http\Request\File

SHOULD BE ARRAY OF:
@return \Phalcon\Http\Request\File[ ]

[2015-09-25 12:36] Green-Cat commented on #514
Nice catch. I'll submit a fix :+1:

[2015-09-25 18:54] vbojan commented on #334
I tested it in 2.0.7 when it came out, but it still behaves the same.

[2015-09-25 21:49] #511 closed

[2015-10-01 04:17] evan-mark4s opened #518 "Migration does not generate unique index"
I know this issue has been added before but that one is closed without resolved.

So this is my Mysql table definition
[code]
And the migration generator did not generate the unique index.
[code]
I think it should be like this
[code]
I checked function `getIndexDefinition` on `\Phalcon\Generator\Snippet.php` and it doesn't have placeholder for the `'UNIQUE'` type.
Hope this can be fixed. For now I

[2015-10-01 06:40] sergeyklay commented on #518
@evan-mark4s Good catch. Will be fixed soon

[2015-10-01 08:19] evan-mark4s opened #519 "Support for Mysql timestamp"
Mysql TIMESTAMP type is not supported. Hope it will be added.

[2015-10-01 09:53] sergeyklay commented on #519
Already supported. See #429

[2015-10-01 09:53] #519 closed

[2015-10-01 10:04] evan-mark4s commented on #519
Ok, but when I do `phalcon migration generate` all `TIMESTAMP` columns are converted to `Column::TYPE_DATETIME`, please check.

[2015-10-01 10:52] sergeyklay commented on #519
Tell please you Phalcon version

[2015-10-02 02:31] evan-mark4s commented on #519
Phalcon 2.0.6, installed it using brew. Should I install the latest version?

[2015-10-02 04:20] evan-mark4s opened #520 "Migration rollback doesn't work"
Test case: I have a migration version 1.0.2 which contains 1 file: accounts.php, then I have migration version 1.0.3 which contains 1 file: admins.php with functions up() and down(), no morph().

I try migrating back from 1.0.3 to 1.0.2 using `phalcon migration run --version=1.0.2` but the down() function is not called. I tried inserting a small
[code]
on function migrate() in Mvc\Model\Migrations

[2015-10-02 05:20] sergeyklay commented on #519
Yes. Phalcon 2.0.6 don't support TIMESTAMP

[2015-10-02 05:33] evan-mark4s commented on #519
Ok, thanks for the confirmation.

[2015-10-04 15:03] sergeyklay commented on #518
@evan-mark4s
I started working on this issue. Unfortunately the problem is complex. Now [I've fixed](https://github.com/phalcon/cphalcon/pull/10998) this bug on SQLite. The next step is MySQL.

[2015-10-06 14:33] hi2u commented on #487
I've discovered a couple more issues with migrations...

1. A SMALLINT column on the source database gets set up an INT column on the destination.  There doesn't seem to be any differentiator, as the migration file just considers records that it is a 'type' => Column::TYPE_INTEGER  -  I haven't put any more research into this, but I assume there may be similar issues with other MySQL specific colu

[2015-10-08 03:24] DroneZzZko opened #521 "Incorrect migration on DB with different name"
There is a migration file "user.php" containing "'referencedSchema' => 'develop'".
Now I try to run generated migration on another DB with name "production" .
In result all references was created incorrectly (at the table there is no referenced fields).
After removal of  "'referencedSchema' => 'develop'" works well.
Maybe you should add the option to ignore schema?

[2015-10-09 16:03] Zaszczyk opened #522 "Invalid format of Postgresql migrations"
I have created table in Postgresql and next generated migration. I've got such file:
[code]

There is problem in line with default value, such as: 'default' => 'nextval('errors_id_seq'::regclass)',. Because of nested apostrophes. PHalcon migration run gives error:
[code]

Phalcon 2.1 beta
Postgresql 9.4

[2015-10-09 16:29] sergeyklay commented on #522
@Zaszczyk Can you please check 2.0.x ?

[2015-10-11 10:10] Zaszczyk commented on #522
@sergeyklay Yes, there is this same problem. I run phalcon migration generate with Phalcon 2.0.8 and PostgreSQL 9.4 and I got these same migration files.

[2015-10-11 10:47] sergeyklay commented on #522
@Zaszczyk Can you please provide your migration now?

[2015-10-11 10:57] Zaszczyk commented on #522
Sure, here it is:
[code]

[2015-10-11 11:14] sergeyklay commented on #522
@Zaszczyk Use please **DevTools** `2.0.x`, I've fixed this issue https://github.com/sergeyklay/phalcon-devtools/commit/d5959f96fb54203ea3da3bc2528a87043dac11af#diff-25a015bbf3a2583c634ae046e05188caR268

[2015-10-11 12:23] Zaszczyk commented on #522
It works, thanks!

[2015-10-11 12:23] #522 closed

[2015-10-11 12:35] Zaszczyk opened #524 "PostgreSQL migrations doesn't use schema name"
I run phalcon migration run with such migration file:
[code]

and I got errors:
[code]
my config file contains:
[code]

The reason is: PostgreSQL interprets dbName as schemaName. I think solution is to replace:
[code]
with:
[code]

Phalcon: 2.1
DevTools: 2.0.x
PostgreSQL: 9.4
PHP: 5.6

[2015-10-11 13:19] Zaszczyk commented on #524
I've created pull request: https://github.com/phalcon/phalcon-devtools/pull/525. It's my first, so sorry for any mistakes.

[2015-10-11 13:41] Zaszczyk commented on #477
Does migration supports sequence in PostgreSQL? I don't see it and I'm not sure. It is basic in Postgresql, because it's like autoincrement in MySQL.

[2015-10-11 15:00] mstoelzle opened #527 ""Operation not permitted" while creating symbolic link on os x el capitan"
Hi,
I get the error message "Operation not permitted", when I try to create the symbolic link via "ln -s phalcon.php /usr/bin/phalcon". "sudo" doesn't help either. I installed the phalcon-devtools via composer install. I have os x el capitan running.
Thanks for your help

[2015-10-11 15:10] sergeyklay commented on #527
Hi!
Use [Phalcon Vagrant](https://github.com/phalcon/vagrant) setup for Mac:
[code]

**4** commands, and you are inside pure linux (I mean Ubuntu) with PHP, Phalcon  [etc](https://github.com/phalcon/vagrant#packages-included).

[2015-10-11 15:21] mstoelzle commented on #527
Thank you for the answer. I just cloned vagrant, but the "vagrant up" command doesn't work (bash command not found). What did I do wrong?

[2015-10-11 15:40] sergeyklay commented on #527
Have you installed [Vagrant for Mac](https://www.vagrantup.com/downloads.html)?

[2015-10-11 16:09] mstoelzle commented on #527
Thanks that was the problem

[2015-10-11 19:52] sergeyklay commented on #527
Issue can be closed?

[2015-10-11 19:53] #527 closed

[2015-10-13 21:10] sergeyklay commented on #524
@Zaszczyk Can you please check Devtools `2.0.x` branch now?

[2015-10-13 21:14] sergeyklay commented on #514
Fixed in Phalcon `2.0.x`. Next stubs must contains the proper fix. If not, the issue will be opened.

[2015-10-13 21:14] #514 closed

[2015-10-13 21:20] sergeyklay commented on #308
Thanks. Fixed

+ [Column::TYPE_TIMESTAMP](https://github.com/phalcon/cphalcon/blob/5631f12626ce832ca8ce50651cbb9af7d4d991d9/phalcon/db/column.zep#L139)
+ [Column::TYPE_DATETIME](https://github.com/phalcon/cphalcon/blob/5631f12626ce832ca8ce50651cbb9af7d4d991d9/phalcon/db/column.zep#L73)
+ [Column::TYPE_DATE](https://github.com/phalcon/cphalcon/blob/5631f12626ce832ca8ce50651cbb9af7d4d991d9/phalcon/d

[2015-10-13 21:29] sergeyklay commented on #168
@ianbytchek Refer please with issue to [phalcon/zephir](https://github.com/phalcon/zephir) repo.
This isn't Devtools' issue. Stubs are generated by `zephir stubs`

[2015-10-13 21:29] #168 closed

[2015-10-13 23:01] sergeyklay commented on #196
@ug19 Fixed in `2.0.x` branch

[2015-10-13 23:01] #196 closed

[2015-10-14 08:26] Zaszczyk commented on #524
@sergeyklay It works now, thanks!

[2015-10-14 19:07] #524 closed

[2015-10-15 22:09] sergeyklay commented on #109
Closed because of the long lack of feedback. Will be reopen back as needed.

[2015-10-15 22:09] #109 closed

[2015-10-20 16:04] sergeyklay commented on #258
Thanks. Fixed in `2.0.x`.

[2015-10-20 16:04] #258 closed

[2015-10-20 19:03] sergeyklay commented on #520
What kind of rollback you are mean? Could you please provide migrations to reproduce?

[2015-10-21 12:44] sergeyklay commented on #518
@evan-mark4s
Now [I've fixed](https://github.com/phalcon/cphalcon/pull/11039) this bug on MySQL. The next step is PostgreSQL.

Can you please try to test Phalcon `2.0.x` and Devtools `2.0.x`?

[2015-10-22 09:27] #277 closed

[2015-10-23 09:16] stamster opened #543 "Webtools issues with PATH (nginx setup w/o public dir visible)"
If you use Nginx (or other web server), and tend to configure an dedicated instance in a way to target `your/path/project/public` directly i.e. without the need to redirect `/` requests to `/public/` , your Webtools might fail with things such as Scaffolding since the logic to find a real path is wrong for this setup.

In order to fix Webtools, go for a change in a:
`/path_to/vendor/phalcon/devtoo

[2015-10-23 16:28] mjenki03 commented on #543
Hi, I am having a similar problem. I am trying to follow a book called Getting Started with Phalcon and neither the webtools nor the command line dev tools work completely.

The webtools can generate the model, the devtools can generate the controller, neither can generate the scaffold.

"Error: Unable to write to /home/web/phalconBlog/../app/models/Posts.php"

the file directory is not properly r

[2015-10-23 16:58] mjenki03 commented on #543
My solution was to just change my config to not use relative paths and everything generated then.

[2015-10-23 17:02] sergeyklay commented on #543
So, what do you suggest guys?

[2015-10-26 14:03] mikesoule opened #547 "Migration Gen Escape Error"
The migration generation tool is not escaping quotes properly when run against a Postgres DB with sequences.

Example: 'default' => 'nextval('user_id_seq'::regclass)',

I'd be happy to patch this if needed, just say the word.

[2015-10-26 14:44] sergeyklay commented on #547
See #522

[2015-10-26 14:44] #547 closed

[2015-10-27 09:38] Dublerq opened #548 "Phalcon extension isn't installed message - link is dead"
The link http://phalconphp.com/documentation/install is dead

[2015-10-27 09:47] sergeyklay commented on #548
Thanks. Fixed in `2.0.x` branch

[2015-10-27 09:47] #548 closed

[2015-10-29 19:21] sergeyklay commented on #108
I have been doing this issue

[2015-10-30 00:22] sergeyklay commented on #108
Done in `2.0.x` branch

[2015-10-30 00:22] #108 closed

[2015-10-31 18:50] issy123 opened #555 "Phalcon-devtools/ide/2.0.2/Phalcon/Http/RequestInterface.php has no comments"
The file in the title([RequestInterface.php](https://github.com/phalcon/phalcon-devtools/blob/master/ide/2.0.2/Phalcon/Http/RequestInterface.php)) has no comments so the auto-complete in my IDE (netbeans) does not work.

In [version 2.0.0](https://github.com/phalcon/phalcon-devtools/blob/master/ide/2.0.0/Phalcon/http/RequestInterface.php) it has, and also the newer versions (like 2.0.3)

I don't k

[2015-10-31 19:37] sergeyklay commented on #555
This was fixed in later versions.

[2015-10-31 19:37] #555 closed

[2015-11-02 13:57] pavlospap opened #556 "Error in migration when adding a foreign key with reference option = RESTRICT"
hello I am using the 2.0.8 version and I have this problem. The following code

[code]

throught the phalcon migration run command will produce a foreign key with reference option = NO ACTION for both update and delete.

[2015-11-02 14:11] pavlospap opened #557 "Error in migration creating foreign key with different name"
I am using 2.0.8.
The following code in migrations

[code]

produces a foreign key with different name...
In this case the different name is dm_product_module_ibfk_2
MySQL also creates an index with the correct name fk_dm_product_module_01

[2015-11-05 10:18] goorc commented on #320
do you fix this error? thanks for sharing answer

[2015-11-07 00:53] mikesoule opened #558 "Incorrect Array Return Types in IDE Stubs"
Some stubs that return arrays of objects incorrectly list the object as the return type.

Examples from Phalcon\Acl\Adapter\Memory

[code]

Should have array notation like this:
[code]

I'm happy to fork a branch for for correcting these as I come across them or contributing to one of your branches if you'd like help with it.

Cheers,
mike

[2015-11-07 09:36] sergeyklay commented on #558
This is Zephir issue https://github.com/phalcon/zephir/issues/1044

[2015-11-07 09:36] #558 closed

[2015-11-07 09:50] rydzyk opened #559 "[2.1] - phalcon scaffold - Validator::isSetOption() - Deprecated"
Hi

when I want to use scaffold with params:

phalcon scaffold xxxxx --ns-models=admin --ns-control
lers=admin --template-engine=volt --template-path=admin

i get:
Phalcon DevTools (2.1.0 BETA 2)

Deprecated: Function Phalcon\Validation\Validator::isSetOption() is deprecated i
n C:\SERVER\phalcon\devtools\scripts\Phalcon\Validation\Validator\Namespaces.php
 on line 59

Fatal error: Class 'admin\Jo

[2015-11-07 10:23] sergeyklay commented on #559
Will be fixed in Devtools 2.1.x

[2015-11-09 16:12] Dublerq opened #561 "migration generate dumps mysql timestamp and enums to wrong types and size"
On my PC Windows instance of Phalcon and Devtools mirgration generates `TIMESTAMP` as `VARCHAR(1)`:
[code]
and `enum(str1,str,2,str3,str4)` as `char(1)`:
[code]

Same happened to friend of mine on his VPS with Debian. On the other hand on my private VPS with Debian 7 and in my office on Windows 7 works great. No idea what causes the problem.

We're using the newest versions of software on our devi

[2015-11-09 16:14] Dublerq commented on #561
Same happened to other people even a year ago for instance there: https://github.com/phalcon/cphalcon/issues/2580

[2015-11-09 19:26] sergeyklay commented on #561
Can you please provide your Phalcon version?

[2015-11-10 06:18] Dublerq commented on #561
The issue was present both on Phalcon 2.0.8 and Phalcon 2.0.7. I checked again my office environment and the issue is also present, so I made a mistake before. The easiest way is to reproduce the problem is to migrate a mysql enum with a few strings.

[2015-11-10 06:49] sergeyklay commented on #561
Double check with Phalcon `2.0.x` and Devtools `2.0.x`. I've fixed TIMESTAMP issue https://github.com/phalcon/phalcon-devtools/issues/429#issuecomment-135962317

[2015-11-10 11:33] Dublerq commented on #561
I'll investigate the timestamp, but what about enum?

[2015-11-10 14:39] sergeyklay commented on #561
`enum` is not implemented yet

[2015-11-10 14:39] sergeyklay commented on #561
For `enum` create separated issue

[2015-11-12 00:26] sergeyklay commented on #164
We can't implement this.
In your case for `variantLanguageValueController` or `VariantLanguageValueController`
Phalcon always will look for `VariantlanguagevalueController`. See https://github.com/phalcon/cphalcon/issues/2572

For these needs you can use the routing and aliasing.

[2015-11-12 00:26] #164 closed

[2015-11-12 10:47] Dublerq opened #562 "Implementation of enum in migration"
Migration enum columns change the type from enum(str,str2...) to char(1), please fix it.

[2015-11-12 15:47] sergeyklay commented on #561
#562

[2015-11-12 15:47] #561 closed

[2015-11-24 04:12] gmendonca opened #563 "Documentation error"
Not sure if I should report this here, but I was installing the phalcon-devtools referencing the [website documentation](https://docs.phalconphp.com/en/latest/reference/mactools.html) and there is an error that is actually fixed here in the README.

In the website is showing:
[code]
But it should be ```~/phalcon-tools/phalcon.php```. This took me a lot of time and I saw a few threads on google wit

[2015-11-24 13:25] sergeyklay commented on #563
Thanks. Fixed

[2015-11-24 13:25] #563 closed

[2015-11-27 03:27] ruthio opened #565 "get LogicException when using `box build -v`"
[code]

[2015-11-27 10:41] alexxk82 commented on #518
Sorry, but it's still not working in Phalcon 2.0.5! :(

[2015-11-27 10:57] rianorie commented on #518
Of course not.. First it won't be in 2.0.5 but whichever next release is
coming. Secondly, the pull request got denied because I wasn't thinking
straight and made my changes in the wrong branch. It'll be forthcoming soon
though!
On Nov 27, 2015 11:41 AM, "alexxk82" <notifications@github.com> wrote:

[2015-11-27 12:56] sergeyklay commented on #518
It will never work on Phalcon 2.0.5

[2015-11-27 12:57] sergeyklay commented on #518
Phalcon 2.0.5 **released** before these changes

[2015-11-27 13:51] alexxk82 commented on #518
Ok, thanks!

[2015-11-27 14:04] alexxk82 commented on #518
Ok, i updated to 2.0.8.. when i create a new migration, my migration-file looks fine.

[code]

But a migration --action=run will only create a normal INDEX on this columns, no UNIQUE INDEX

[code]

[2015-11-27 18:51] sergeyklay commented on #518
I've fixed this in [2.0.9](https://github.com/phalcon/cphalcon/releases/tag/phalcon-v2.0.9) (current stable version). See [CHANGELOG.md](https://github.com/phalcon/cphalcon/blob/2.0.x/CHANGELOG.md)

[2015-11-30 13:06] alexxk82 commented on #518
Sorry, but i think in 2.0.9 its still not working correctly. I have a database with a UNIQUE-index over 2 columns of a table. Then i use phalcon devtools to do a migration-generate for this table..

```phalcon migration --action=generate --migrations=migration --config=config/config_local.php --table=[table_name]```

It will create a migration-file where this UNIQUE-index is only defined as normal

[2015-11-30 13:12] sergeyklay commented on #518
Phalcon is built under [Travis CI](https://travis-ci.org/) service.
Every commit pushed to this repository will queue a build into the continuous integration service and will run all tests to ensure that everything is going well and the project is stable.

Current tests in master: https://github.com/phalcon/cphalcon/blob/master/unit-tests/DbDescribeTest.php#L818-L833

Current build status: [![Buil

[2015-11-30 13:21] sergeyklay commented on #518
[code]

[code]

[code]

[code]

[2015-11-30 13:44] alexxk82 commented on #518
Ok, your testscript gives me two empty strings.

[code]

This is my phalcon output of your command above.
[code]

[2015-11-30 17:28] sergeyklay commented on #518
Can you please provide database schema?

[2015-12-01 06:39] alexxk82 commented on #518
I created this test on a new test-database (InnoDB) and executed your query from above.

I did this test on a Virtual Box with Ubuntu (PHP 5.5.9, Phalcon 2.0.9) and on my Windows 7 with phalcon 2.1.0  (PHP 5.4.22, Phalcon 2.1.0 BETA 2)

The phalcon devtools executes 4 queries to build a new migration file.. the output on your test-table is this...

```DESCRIBE slug;```
![describe query](https://pi

[2015-12-01 06:56] alexxk82 commented on #518
Now i created a new migration of your table.

[code]

This is the generated migration-file ;)
[code]

[2015-12-01 19:14] sergeyklay commented on #518
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2015-12-02 13:22] alexxk82 commented on #518
Ok, thats the problem... i can't see your commit from above. Its another server with ubuntu where i installed phalcon today.

[code]

[2015-12-06 12:35] mzf opened #570 "There is no generation of models with annotations."
There is no generation of models with annotations.
Please add it to create-model action

[2015-12-06 14:00] mzf opened #571 "Fatal error when create model with --extend option"
I create model with this command
[code]

First time model created successfully.
If i run second time with existed file i get error
[code]

[2015-12-06 15:00] sergeyklay commented on #571
What version of Devtools did you use?

[2015-12-07 03:11] web777 commented on #571
Devtools downloaded as zip 02.12.2015

[2015-12-07 06:42] sergeyklay commented on #571
2.0.9 ?
https://github.com/phalcon/phalcon-devtools/archive/v2.0.9.zip

[2015-12-16 22:21] murich opened #577 "Migration problem when adding column after column with special name. Mysql."
In my table I have column named  `key`. I created migration which adds a column after it. On applying the migration I can see following error:

    1450304142.0373: ALTER TABLE `credentials` ADD `secret` VARCHAR(64) AFTER key
    Error: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for th

[2015-12-17 00:50] sergeyklay commented on #577
Thanks! Fixed in Fixed in phalcon/cphalcon#11240 in `2.0.x` branch. Can you please test now?

[2015-12-24 16:21] Salvadore1987 commented on #331
How you fix that?

[2015-12-24 17:48] sergeyklay commented on #331
https://github.com/phalcon/phalcon-devtools/blob/master/templates/module/Module.php#L19

[2015-12-24 18:23] Salvadore1987 commented on #331
This not working in my code

[2015-12-24 19:13] sergeyklay commented on #331
1. Create issue
2. Provide Phalcon & Devtools version
3. Describe step by step - how to reproduce your issue

[2015-12-25 09:14] Salvadore1987 commented on #331
My Phalcon version is 2.0.6. Dev tools is not installed.
In first i create two folders backend and frontend, this folders contains Module.php file with the next code:

[code]

[code]

In public folder contains index.php with bootstrap:

[code]

[2015-12-25 12:00] sergeyklay commented on #331
So it's not an issue of this repo

[2015-12-28 22:25] raymercb opened #584 "Migration rollback doesn't work properly"
I have a MySQL database with some data, in a production environment. My first migration is:
[code]
Then, I create another migration for the same table with something like this:
[code]
But if I want to rollback to 101 (>phalcon migration run --version=1.0.1), I lose my sample table.

Why do I need to always call a morph function?,
Why is the table deleted if I don't have a morph function?
Why does

[2016-01-02 11:40] tobispace opened #585 "Migration generate FULLTEXT index error"
Using Phalcon Devtools 2.0.7 with MySql adapter. MySql Server version: 5.7.9.

I have a table with this definition:

[code]

search_text has a FULLTEXT index.

Running:

generates this migration Class:

[code]

The Index for search_text must be a `'FULLTEXT'` type index, not a default one (the code says `null` as the third parameter of `new Index()`).
This causes an error when running the migratio

[2016-01-02 11:49] tobispace opened #586 "Migration generate VARCHAR column types in place of DATE ones"
Using Phalcon Devtools 2.0.7 with MySql adapter. MySql Server version: 5.7.9.

The problem impacts on all **TIMESTAMP**, **DATE** and **DATETIME** columns.

Running:

Generates this code:

[code]

The correct type should **not** be `Column::TYPE_VARCHAR`. It should be `Column::TYPE_TIMESTAMP`, `Column::TYPE_DATE` or `Column::TYPE_DATETIME`.

How can I fix this?

[2016-01-02 23:01] le51 commented on #586
try to update phalcon to its newer version (2.0.9)

[2016-01-02 23:55] tobispace commented on #586
2.0.9 fixed the issue.

[2016-01-02 23:55] #586 closed

[2016-01-03 13:55] mattvb91 commented on #585
The 3 other indexes having null too is also incorrect im assuming?

[2016-01-03 15:10] tobispace commented on #585
Actually it's correct, because running the migrations on a new db the indexes are correctly created. Maybe "null" indicates the default MySql "Index" type.

[2016-01-03 16:30] mattvb91 commented on #585
Ok, this might actually be an issue coming from cPhalcon as thats where it returns the getType() from for the index. Will do a bit of digging.

[2016-01-03 18:39] mattvb91 commented on #585
Think I found it. Looks like a wrong value is being referenced within cPhalcon. Will do some testing and add pull request if it is that.

[2016-01-03 19:48] tobispace commented on #585
Thank you vero much!

[2016-01-03 20:42] mattvb91 commented on #585
PR is open and tests are passing:
https://github.com/phalcon/cphalcon/pull/11265

By the way is there a reason your using 2.0.7 devtools?

[2016-01-03 21:11] tobispace commented on #585
No one actually. I first tried with a 2.0.7 installation in a test VM with an older version but then I found out the same problem surfaced even with the newest one (2.0.9). Thank you again very much.

[2016-01-06 21:01] mattvb91 commented on #562
Can anyone else help with the regex in zephir to get just the values out of something like:

enum('test', 'test1', 'test(2)', 'test3')

[2016-01-06 21:07] sergeyklay commented on #562
@mattvb91 I think for questions like this there are dedicated regexp forums and the Zephir repo

[2016-01-06 21:17] mattvb91 commented on #562
Thanks @sergeyklay will check in there, thought it would be relevant here as its for the implementation of  this issue :+1:

[2016-01-07 21:50] le51 opened #587 "[QUESTION] How to pass selectDefinition option to the Scaffold builder ?"
Hi,

How to pass selectDefinition option to the Scaffold builder as used here https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Builder/Scaffold.php#L214 ?

[2016-01-12 21:10] vip9 opened #588 "Migration generate INT column type instead POINT"
When running migration generate on MySQL database, tool generates Column::TYPE_INTEGER type instead of spatial "Point".

[2016-01-12 22:58] sergeyklay commented on #588
Supported types https://github.com/phalcon/cphalcon/blob/master/phalcon/db/column.zep#L53-L173

[2016-01-13 19:32] vip9 commented on #588
Shouldn't phalcon return TYPE_UNKNOWN for not supported fields then?

[2016-01-13 19:35] sergeyklay commented on #588
In any case this is Phalcon issue not Devtools.

[2016-01-13 21:54] Jurigag opened #589 "[NFR]Generate database from @Column annotation"
And as well from annotations like manytoone etc. I guess it will need some work. But i really like this feature from doctrine like: doctrine:schema:update.

[2016-01-13 23:04] Jurigag opened #590 "[NFR]Annotations doc"
Well. How about adding IDE stubs with ```@Annotation``` docs to support Php Annotation plugin for PHPStorm ?

Any idea where to put it ? IDE Stubs are generated from code/zephir ? So where i should put it if i want to do PR ?

[2016-01-13 23:14] sergeyklay commented on #590
https://github.com/phalcon/phalcon-devtools/issues/430

[2016-01-13 23:15] sergeyklay commented on #590
http://phalcontip.com/discussion/56/how-to-rename-all-generated-by-zephir-zepphp-stubs-to-php

[2016-01-13 23:19] Jurigag commented on #590
So just add final(or abstract, can it be both) classes to phalcon ? Which namespace ?

[2016-01-14 00:06] sergeyklay commented on #590
https://github.com/phalcon/zephir/issues/304

[2016-01-14 00:44] Jurigag commented on #590
What about this ? Or maybe Phalcon\Config\Annotations ?

[2016-01-14 07:08] sergeyklay commented on #590
I don't understand what you have in mind and what you're asking me

[2016-01-20 11:25] DDhawan commented on #45
this works thank you.

[2016-01-22 12:23] marhub commented on #562
Two months and nothing? C'mon!

[2016-01-22 13:32] sergeyklay commented on #562
You can to do it. I'll try to review

[2016-01-25 14:58] ruudboon commented on #308
Looks like Column::TYPE_TIME is still missing. Would be great if it can be added.

[2016-01-26 15:21] joel-depiltech commented on #520
Up !
I have the same issue. Do you have a solution for me ?

[2016-01-26 16:55] sergeyklay commented on #520
Can you please provide script to reproduce?

[2016-01-27 04:16] mzf commented on #571
Yes. I used this too.

[2016-01-27 09:04] joel-depiltech commented on #520
This is my migration file :
<?php

use Phalcon\Db\Column;
use Phalcon\Db\Index;
use Phalcon\Db\Reference;
use Phalcon\Mvc\Model\Migration;

class CiUsersMigration_101 extends Migration
{
    public function up()
    {
       self::$_connection->update(
            "ci_users",
            array("username"),
            array("Astro Boy"),
            "id = 2"
        );
    }

    public function d

[2016-01-28 11:19] joel-depiltech commented on #520
Up ! Please do you have an issue for me ?

[2016-01-28 11:34] sergeyklay commented on #520
I'll try to deal with this in the near future

[2016-01-28 22:35] mattvb91 commented on #562
I have a topic open here:
http://forum.zephir-lang.com/discussion/3477/regex-escaping-help

The only issue I need help with is how zephir is escaping the regex, apart from that I could have this committed already :+1:

In a nutshell I cant do this

     \((.*)\)$

Due to how zephir handles escaped strings. Once someone can explain it to me I can close this.

[2016-01-29 01:02] sergeyklay commented on #520
@evan-mark4s @joel-depiltech Can you please check `2.0.x` branch?

[2016-01-29 01:04] sergeyklay commented on #584
@raymercb Can you please check `2.0.x` branch?

[2016-01-29 01:05] sergeyklay commented on #334
@vbojan Can you please check `2.0.x` branch?

[2016-01-29 11:11] oscarmolinadev opened #595 "Migrations: add tables to migrate only those with a certain prefix."
If is possible, add that you can choose tables with a certain prefix.

Thanks!

[2016-01-29 13:30] joel-depiltech commented on #520
Thanks. I will check on next Tuesday. I will come back to you...

[2016-01-29 19:46] vbojan commented on #334
@sergeyklay This doesn't appear to be an issue anymore.
However, I noticed several other issues which I understand are limitation on the migration side, but can you include support for comments?

[2016-01-29 21:21] sergeyklay commented on #334
Yes, create separated issue

[2016-01-29 21:21] #334 closed

[2016-01-30 14:18] mtxr commented on #419
How is it going? Is there anyone fixing it?

[2016-01-30 14:30] sergeyklay commented on #419
Hi. I'll try to deal with this in the near future

[2016-02-02 18:56] sergeyklay commented on #584
see #584

[2016-02-02 18:56] #584 closed

[2016-02-02 18:56] sergeyklay commented on #520
@joel-depiltech

[2016-02-02 20:42] sergeyklay commented on #512
@berliner Can you please explain  what exotic method you used to create database?

[code]

[2016-02-02 20:49] berliner commented on #512
@sergeyklay I had used Sequel Pro, but you can also achieve this on the command line:
[code]

[2016-02-02 21:08] sergeyklay commented on #512
Okay. I try to deal in the near future

[2016-02-02 21:41] sergeyklay commented on #512
Okay. This is not Devtools issue. See https://github.com/phalcon/cphalcon/issues/11359
I try to fix this in Phalcon.

Due to the fact that this isn't Devtools issue, I'm closing it.

[2016-02-02 21:41] #512 closed

[2016-02-02 23:02] sergeyklay commented on #512
@berliner Fixed in Phalcon `2.0.x`

[2016-02-02 23:29] berliner commented on #512
@sergeyklay Cool!

[2016-02-04 10:38] joeltejdeep opened #597 "Service 'Module' wasn't found in the dependency injection container - windows 7 - 64bit"
In my Windows 7, I'm facing the issue, after adding a new module from devtool.
Phalcon version 2.0.9 (latest). please help.

Steps I done:
- I created project name as "test_project", type=module using devtool
- Then I created a new module called "Admin", using devtool
- I created IndexController and view in the Admin module
- When I tried to run admin module, I'm getting the error
[code]

[2016-02-04 18:07] mattvb91 commented on #562
https://github.com/phalcon/cphalcon/pull/11368

[2016-02-04 20:01] davidgrenier opened #598 "Model generated from dev tools puts wrong setSource"
Hello,

When generating a model from the phalcon dev tools 2.0.9, it defines both getSource():

[code]

And setSource in initialize:

[code]

Notice how Accounts in setSource is surrounded by single quote.

It eventually generates the following query:

[code]

Where you can see that the table name is surrounded by single quotes as well. Now I tested this after removing what I believe was a redunda

[2016-02-04 20:38] sergeyklay commented on #598
@davidgrenier Can you please test now Devtools `2.0.x` branch?

[2016-02-04 20:59] davidgrenier commented on #598
Not sure I got this right... what I did is modify my composer.json for phalcon dev tools to the following:

[code]

Instead of dev-master.

Composer update seems to have updated to the same version 2.0.9.

Generating the model gave me the same result.

Probably doing this wrong?

[2016-02-04 21:00] sergeyklay commented on #598
[code]

[2016-02-04 21:09] davidgrenier commented on #598
Yeah that's pulling the following commit: https://github.com/phalcon/phalcon-devtools/commit/64cef4a849a19a479174abf05d3d833e3dd1884d

Which is on dev-master branch, while your commit is on 2.0.x branch.

[2016-02-04 21:21] sergeyklay commented on #598
I just used `composer require phalcon/devtools:dev-master` and received Devtools with these changes #599

[2016-02-04 21:23] sergeyklay commented on #598
Try please with these changes https://github.com/phalcon/phalcon-devtools/commit/6a093921e572f9bf25b65a25d72f5330cc5706ac

[2016-02-04 21:31] davidgrenier commented on #598
Yes it worked... really helps.

Should I stick to that branch or is this kind of changes quickly merged to the master branch?

[2016-02-04 21:52] sergeyklay commented on #598
I think during the week. Maybe even earlier.
Well issue may be closed?

[2016-02-04 21:57] davidgrenier commented on #598
Of course, much appreciated.

[2016-02-04 21:57] #598 closed

[2016-02-08 20:14] #518 closed

[2016-02-08 20:18] sergeyklay commented on #520
I think issue is fixed `2.0.x` branch. This will be opened if the issue is actual

[2016-02-08 20:18] #520 closed

[2016-02-10 19:00] Zaszczyk opened #603 "Migrations - INT instead of SMALLINT"
I have a little problem with columns different than INT, for example with SMALLINT. I have column table.activity_type_id SMALLINT(6), which references in foreign key and migration creates SQL with INT(6):

[code]
But column activity_type.id is SMALLINT(6) and at this situation I got error:
errno: 150 "Foreign key constraint is incorrectly formed"
because of column types are different: SMALLINT(6)

[2016-02-10 19:04] sergeyklay commented on #603
Phalcon does nor support SMALLINT. See https://github.com/phalcon/cphalcon/blob/master/phalcon/db/column.zep#L52-L139

In any case this is not Devtools issue.

[2016-02-10 19:04] #603 closed

[2016-02-11 09:15] mzf opened #604 "Need phalcon 2.1 stubs"
Need phalcon 2.1 stubs

[2016-02-11 10:25] sergeyklay commented on #604
After release 2.1

[2016-02-11 10:25] #604 closed

[2016-02-14 16:48] ITspirit commented on #570
+1

[2016-02-16 12:28] googlle opened #607 "Model metadata"
Hello.
Can I generate model metadata with this tool?
Because I think if we define the metadata in the model - this is faster than every time they request from the database

[2016-02-16 17:01] Green-Cat commented on #607
There is already a feature in phalcon to cache metadata. You can pick any of the available adapters (filesystem, apc, memcached, memcache, redis and xcache, with some additional ones available on the incubator repo) see https://github.com/phalcon/cphalcon/tree/master/phalcon/mvc/model/metadata

To add metadata caching just add something like this to your services file:
[code]

[2016-02-16 17:39] googlle commented on #607
@Green-Cat Thank very much

[2016-02-16 17:39] #607 closed

[2016-02-17 00:45] #590 closed

[2016-02-19 07:20] mzf commented on #604
@sergeyklay Сергей, а что делать тем, кто уже разрабатывает на 2.1? Может не разрабатывать, а ждать релиза тоже?

[2016-02-19 10:01] #588 closed

[2016-02-19 10:06] sergeyklay commented on #604
[code]

2.1 is quite stable. But of course, before the release it will be further amended. We already use 2.1 for internal Phalcon sites

[2016-02-19 22:29] luckamin commented on #559
hi i have problem when load webtools.... help me please
![captura de pantalla 71](https://cloud.githubusercontent.com/assets/14943739/13190942/bf5116e8-d736-11e5-9d4c-26756e62bc47.png)

[2016-02-19 23:09] sergeyklay commented on #559
@luckamin
1. Create separated issue
2. Provide please Phalcon version
3. Provide please Devtools version

[2016-02-23 13:50] Green-Cat commented on #419
fixed in #614 #615.

[2016-02-23 14:44] #419 closed

[2016-02-24 11:34] delef opened #618 "Not merged commit... fail.."
https://github.com/phalcon/phalcon-devtools/blob/master/ide/2.0.4/Phalcon/mvc/Model.php

[2016-02-25 21:26] sergeyklay commented on #618
Thanks. Fixed in 2.0.x and 2.1.x branches

[2016-02-25 21:26] #618 closed

[2016-02-25 22:35] rLoka commented on #419
Hi there,
I encountered same as @kimthangatm khimgathm and applied fix #614  and now I get this upon migration:
`Warning: file(C:\xampp\htdocs\project\.phalcon/migration-version): failed to open stream: No such file or directory in C:\Users\Skywalker\Documents\phalcon-devtools\scripts\Phalcon\Migrations.php on line 420

Call Stack:
    0.0003     133336   1. {main}() C:\Users\Skywalker\Documents\p

[2016-02-25 23:02] sergeyklay commented on #419
@rLoka Try please latest `2.1.x`

[2016-02-25 23:15] rLoka commented on #419
@sergeyklay It works now. Thanks much :)

[2016-02-26 07:38] rLoka opened #622 "Migrations - Up(), Down() Empty - PostgreSQL"
Hi everyone,

I am trying to create migrations so other team members can update their databases, but the main problem is that methods that should contain changes (Up() and Down() methods according to the documentation) are empty. Only thing that occurs in migration classes is this morph() method which indeed contains new structure, but does not seem to be affecting migration process.

When I run m

[2016-03-01 10:06] Daredzik commented on #622
can you show generated migration ??
some error ?

[2016-03-02 17:48] Michal-St opened #625 "phalcon migrate run General error 1347"
Hi evryone,

I'm using MySql Db and I have some views, Using devtools I generate migrations and evrythink looks fine. The problem is when I woudlike run this migration.

[code]

all views is i normal php file but it's different config

[code]

It's possible to generate migration without views?

[2016-03-02 18:20] Michal-St commented on #625
after migration genarating I call

`find assets/migrations -type f -exec egrep -Il "'TABLE_TYPE' => 'VIEW'," {} \;|xargs rm -fv`

and migration-run work fine

[2016-03-03 00:10] rLoka commented on #622
Sure, this is what usual migration file looks like http://pastebin.com/49i1s6cq

[2016-03-08 17:27] sergeyklay commented on #565
Fixed in 2.0.x and 2.1.x branch.
Thanks

[2016-03-08 18:31] #565 closed

[2016-03-11 21:14] EpicJhon commented on #570
+1

[2016-03-18 16:14] mantoze opened #631 "generate data file with cariage return"
If data in longtext field with carriage return, then command
`phalcon migration generate --data=oncreate`
generate data file with carriage returns.
When run "phalcon migration run" i have error:

[code]

I think need change in Migration.php. Example:

[code]

[2016-03-18 16:14] KASTINpl opened #632 "IDE support - tag or branches for "phalcon-devtools/ide/""
Hey
Now all directories from https://github.com/phalcon/phalcon-devtools/tree/master/ide have the same tag and branch, so when we include
`"phalcon/devtools": "2.0.0",` into our composer, then IDE will load all versions of phpdoc, from 0.4.0 to 2.0. What about create tag for each version-directory? Or create new branch for each dir to include only one selected phpdoc version?

[2016-03-18 18:32] sergeyklay commented on #632
See #398

[2016-03-18 18:32] #632 closed

[2016-03-22 17:06] hemorej opened #635 "Disable/enable foreign key checks before/after migrations"
I just wasted a few hours trying to figure out why my migrations kept generating

`Error: SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint`

even when the DDL was correct and the database fresh. I had to manually run

`mysql> SET GLOBAL FOREIGN_KEY_CHECKS=0 ;`

before then enable it after the migration for them to run.

Why isn't this done automatically by Phalcon ?

[2016-03-22 17:10] rianorie commented on #635
Because it can harm the integrity of your database?
On Mar 22, 2016 6:06 PM, "Jerome" <notifications@github.com> wrote:

[2016-03-22 17:14] hemorej commented on #635
So then why are the tables created in a seemingly random order ? Not a single foreign key constraint could be added, on empty tables in a new database, until I did this

[2016-03-22 17:15] rianorie commented on #635
Share your file tree and if possible migration files as well for insights.
On Mar 22, 2016 6:14 PM, "Jerome" <notifications@github.com> wrote:

[2016-03-22 17:20] hemorej commented on #635
File tree ? Do you mean the structure in the migrations directory ?

[2016-03-22 18:46] rianorie commented on #635
Yes, so we can see the filenames and directories
On Mar 22, 2016 6:20 PM, "Jerome" <notifications@github.com> wrote:

[2016-03-25 18:40] nsossonko opened #636 "IDE stubs for 2.1.0"
Would appreciate ide stubs for 2.1

[2016-03-25 19:57] sergeyklay commented on #636
Refs #604

[2016-03-25 19:57] #636 closed

[2016-03-29 08:10] rianorie commented on #635
Closing this for the time being, given the private nature of the info in the project @hemorej and I discussed it over mail and came up with a solution.

In the long run the migrations will need to figure out dependencies if we can make that work.

[2016-03-29 08:10] #635 closed

[2016-03-29 16:19] vadim-job-hg opened #637 "No findFirstById method"
No findFirstById in autocomplete. I used 2.0.10 folder for external path. Redgards, Vadim.
http://clip2net.com/s/3we8NmM

[2016-03-29 17:23] Green-Cat commented on #637
Actually that's by design, it's a "magic" method created based on property names. So for example if you have a property "status" on your model then findFirstByStatus() will be a valid method. If you want your IDE to pick up the method for auto complete you need to add them as a docblock to your method declaration like this: ``` * @method static YourModelClass|bool findFirstById($id)```

[2016-03-29 17:46] #637 closed

[2016-04-04 18:06] Hodes commented on #571
I have changed devtools to be able to find custom classes, refers to #641. Here's in my repo https://github.com/hodes/phalcon-devtools/tree/2.1.x.

[2016-04-08 13:06] dschissler opened #644 "[2.1.x] Scaffolds should produce code using short array format"
Phalcon 2.1 will be dropping PHP 5.3 so the scaffolds should produce code using the new shorthand array format.

[2016-04-10 20:22] fantua opened #645 "[2.1.x] Installation by composer error"
Problem 1
    - Installation request for phalcon/devtools 2.1.x-dev -> satisfiable by phalcon/devtools[2.1.x-dev].
    - phalcon/devtools 2.1.x-dev requires ext-phalcon ~2.1 -> the requested PHP extension phalcon has the wrong version (2.1.0r) installed.

From master
Problem 1
    - Installation request for phalcon/devtools dev-master -> satisfiable by phalcon/devtools[dev-master].
    - phalcon/d

[2016-04-10 21:46] sergeyklay commented on #645
Because Phalcon 2.1.0 is not release yet. Use `composer install --ignore-platform-reqs`

[2016-04-10 22:08] fantua commented on #645
Thx.

How to use phalcon on OS X with phpstorm? After install by composer.

[code]

[2016-04-10 23:16] sergeyklay commented on #645
We only accept bug reports, new feature requests and pull requests. For questions regarding the usage of the Phalcon Developer Tools or support requests please visit the [official forums](http://forum.phalconphp.com/).

[2016-04-10 23:16] #645 closed

[2016-04-11 23:09] dschissler commented on #644
So you would take pull requests for this?  It sounds like easy enough mindless work at the end of a long day.

[2016-04-12 05:38] sergeyklay commented on #644
Okay

[2016-04-12 18:51] sergeyklay commented on #644
Fixed

[2016-04-12 18:51] #644 closed

[2016-04-12 23:37] dschissler opened #647 "Configured 'url' service doesn't take into account a deep directory"
So say that I have a setup on my localhost root that looks something like this:

[code]

So that a index-index URL looks like this: `http://localhost:8000/phalcon_projects/project1`.   The problem with this is that the `url` service will return URL paths without "phalcon_projects" on it.

I'm familiar with the full blown domain vhost setup but in this case I just want to play with the dev-tools fo

[2016-04-13 15:36] ruudboon commented on #308
Is there a way to implement this without having to add TYPE_TIME to Phalcon\Db\Column ?

[2016-04-19 11:43] dschissler commented on #644
@sergeyklay I just realized that Phalcon 2.1 is only deprecating PHP 5.3.  Is this still the case?  Just giving a heads up that this change may need to be reverted.  I think though that you guys should consider just dropping the ancient PHP 5.3 though even if you were considering to not do that.

[2016-04-19 11:45] sergeyklay commented on #644
Devtools 2.1.x requires PHP >= 5.4
I've fixed issue in 2.1.x branch

[2016-04-19 11:55] dschissler commented on #644
Ok so Phalcon 2.1 supports >= 5.3 and Dev Tools >= 5.4 ??

[2016-04-19 12:23] sergeyklay commented on #644
Phalcon 2.1 does not support PHP 5.3

[2016-04-19 12:52] dschissler commented on #644
Ok well lookup "Deprecation for PHP 5.3" on https://blog.phalconphp.com/.
Perhaps this will be evident enough on release but there is Phalcon Team
published updates out there that are contradictory to this.  I think that
it should be clarified.  Also +1 on removing 5.3.

On Tue, Apr 19, 2016 at 3:23 PM, Serghei Iakovlev <notifications@github.com>
wrote:

[2016-04-19 13:02] sergeyklay commented on #644
Yeah. But this is not Devtools issue

[2016-04-21 00:40] rochapablo opened #654 "Composer Installation Problems"
First I'm sorry but... always that I have to install Phalcon I get stuck in this kind of problem and right now I'm trying to understand what is the really problem.

So, I have configured the Phalcon and now I'm trying to run ```composer install + composer update``` and this is the error.

[code]

Well I know that my extension is 2.1.0r and also I know that I want the last version of incubator and

[2016-04-21 05:50] sergeyklay commented on #654
You have to install Phalcon first. Or use `composer install --ignore-platform-req`

[2016-04-21 12:35] rochapablo commented on #654
But I have Phalcon already installed =/

[2016-04-21 17:20] sergeyklay commented on #654
could you please provide output from
[code]

[2016-04-22 11:08] rochapablo commented on #654
Yes, I'll try to provide that tonight.

[2016-04-25 23:53] rochapablo commented on #654
Sorry for the delay, follow the output of ```php --ri phalcon```

[code]

[2016-04-26 05:55] sergeyklay commented on #654
For Phalcon 2.1.x you have to use Devtools 2.1.x

[2016-05-02 00:59] shadyueh commented on #654
I'm with similar problem.
composer.json:
[code]

console output:

[code]

php --ri phalcon exit:

[code]
I already have apache, php, phalcon, etc installed. I just need phalcon dev at moment.

[2016-05-02 20:35] sergeyklay commented on #654
Devtools 2.1.0 is not release yet. You have to use `2.1.x-dev`

[2016-05-02 21:15] nmapx opened #657 "What is the correct way to run up/down migrations?"
Hi there!

I have some problems with migrations. Script generated a structure (morph with morphTable function inside) for me but I want to run some additional queries. What is the right way to do this? When i tried:
`self::$_connection->execute("SELECT * FROM sample_table");`
i got something like this:

I'm using devtools outside my composer so I'm not able to get IDE hints live...
I worked with d

[2016-05-05 19:09] fsieduc opened #662 "Could you add support for BINARY columns ?"
Hi,
in version 2.0.10, migrations transform SQL BINARY type to Column::TYPE_VARCHAR ...

[code]

phalcon migration generate, produces something like this :

[code]

Thank you.

[2016-05-05 19:25] sergeyklay commented on #662
Supported column types in Phalcon
https://github.com/phalcon/cphalcon/blob/master/phalcon/db/column.zep#L53-L139

[2016-05-05 19:54] fsieduc commented on #662
Arf, ok, so its not your fault ;-).

Thanks.

[2016-05-05 19:54] #662 closed

[2016-05-08 08:23] egorsmkv commented on #477
@sergeyklay any news?

[2016-05-10 13:02] tempcke opened #663 "model generation when hyphen's are in table name or column name"
using 2.1.0
I realize it seems stupid to put a - in a table name or column name but I did not create the schema :P

If a table name has a hyphen in it then the generated class name has a hyphen in it which is invalid.
same with column's containing a hyphen .. the resulting properties, getters and setter methods all end up with hyphen's in them.

[2016-05-11 08:36] makerlabs opened #664 "Add a --merge option to model build"
Thanks to this flag rather then --force which is replacing the properties/methods (depends if you use set/get) , extend, use statements. It will leave them as they are and add additional properties/methods which are missing. It's very important feature if you use all-models to update all your models.

[2016-05-11 21:19] Caffe1neAdd1ct opened #665 "Sqlite Migrations dbname appended on queries"
Trying to run db migrations:

[code]

Gives the following:
[code]
[code]

Looks like the dbname from the app.ini is being put into the queries before the table... not right for sqlite?

app.ini:

[code]

[2016-05-12 08:39] Caffe1neAdd1ct commented on #665
To update I've just tried generating the same table migration from MySQL, dropping the table and running the migration, works correctly as MySQL copes with the schema specification:

[code]

[2016-05-14 22:40] sergeyklay commented on #665
Fixed in 2.0.x branch

[2016-05-14 22:40] #665 closed

[2016-05-14 23:35] Caffe1neAdd1ct commented on #665
@sergeyklay thanks for the quick fix, I'll give the branch a test

[2016-05-15 10:47] sergeyklay commented on #654
@rochapablo

Composer expect something like `2.1.0-RC1`, but Phalcon uses `2.1.0r`. This is why you have to use `--ignore-platform-req`.

See https://github.com/phalcon/cphalcon/issues/11783 and https://github.com/composer/composer/issues/5331

[2016-05-15 10:47] #654 closed

[2016-05-15 10:49] sergeyklay commented on #663
@tempcke Could you please provide a small script to reproduce?

[2016-05-15 14:34] sergeyklay commented on #625
@Michal-St Coul you please provide a small script to reproduce? E.g. table schema, view schema, migration class

[2016-05-15 15:39] sergeyklay commented on #597
@joeltejdeep Did you register `Admin` module?

[code]

Could you please provide a small script to reproduce?

[2016-05-16 12:59] tempcke commented on #663
@sergeyklay
First I made a mistake, I'm using 2.0.10 not 2.1.0 :)
## sql
[code]
## All models
[code]
**Result:**
[code]

## one model
[code]
**Result:**
[code]
So when doing one model with `phalcon model` it removes the - from the filename and classname but leaves it in the property and method names.

[2016-05-16 13:25] sergeyklay commented on #663
@tempcke  Thanks. I'll try to sort out as soon as I can

[2016-05-16 14:24] tempcke commented on #663
Thanks, though this isn't a critical issue as it seems rare that people will have -'s in table and column names, and it is easy to fix the generated output, however I wanted to make you aware of it.

PS: Thank you so much for the work you and others are doing.  Since I started using Phalcon I absolutely love it!

[2016-05-17 12:53] staticall opened #673 "[2.1] Migration run without version file causes error"
Good day!

I updated Phalcon to v2.1 (dev) and when tried to run migrations (version file does not exists, empty database), it throws following error:

I'm using Windows, so permissions should not be an issue here, folder "<project>/.phalcon/" already exists. Should i create this file manually before running migrations?
Also, result migration class name seems to be extra long, not sure if it's my

[2016-05-22 12:45] vchik opened #678 "Add --camelize option for all-models command"
Currently there is no support of --camelize option for all-models command but it sholud be.

[2016-05-30 22:16] piscinafiber commented on #308
Some position about type time?
 because I'm running migration and time is  changed to varchar

[2016-06-03 12:23] Paradoxis opened #680 "Standalone model generation (feature request)"
Could it be made possible to generate models without having to be inside a project by passing the database credentials through the command line? This is due to the fact that my project doesn't use the default `/app/config/config.php` file to load configurations, which made it impossible for me to use the devtools.

Example of how this could be used:

[code]

[2016-06-03 13:46] pro-git commented on #587
Incomplete code.
There is a lot of futile code in Model.php dealing with relations but nothing pass to Scaffold.php in order to build a select box at least for n-1 relations.
There is not even the code to show the name of the related data instead of id.
There are other peoples that ask for this, including on forum but no answer.
I guess nothing take phalcon-devtools seriously as developer tool.

[2016-06-03 16:15] dschissler opened #681 "[2.1] Maybe the "cli" template should have a DB service like the other ones?"
I'm thinking that its very essential for even a CLI application.  Would a pull request be welcome that added the following to the "cli" template?  This was taken from the web templates.  ~~Also note that the cli config contains the database stuff already.~~  The DB config skeleton would need to be added to the config file.

[code]

[2016-06-03 16:16] dschissler opened #682 "[2.1] Change services to stop using "use" in as many places as possible"
So this would change from:

[code]

to

[code]

Would a pull request be welcome?

[2016-06-03 16:59] sergeyklay commented on #682
I like it :)

[2016-06-03 17:18] dschissler commented on #682
What about the config service?  Should it read from `'./'` in the service definition?  I do that in my project and I don't think that it is much of a stretch that the config file will be in the same place as the service definition.

[2016-06-03 17:30] sergeyklay commented on #682
[code]

This allow to use general `config.php` and override it by `develop.php` or `stage.php` :)
[code]

[2016-06-03 18:01] dschissler commented on #682
Ok while that might be nice it doesn't seem to fit the barebones style of the DevTools templates.  I'll look at that for my project  but hat about my last question specifically regarding the DevTools template?

[2016-06-03 18:03] dschissler opened #683 "[2.1] DevTools $e->getTrace line in the cli.php bootstrap file causes PHP Notice"
https://github.com/phalcon/phalcon-devtools/blob/05b343a6df930c89ba9cb6f9cbcdb40cfe74b294/templates/project/cli/cli.php#L64

I get a lot of this: `PHP Notice:  Array to string conversion in ...`.

Done with Phalcon 2.1 and Dev Tools 2.1 snapshot.

[2016-06-03 18:27] sergeyklay commented on #683
This should be getTraceAsString

[2016-06-03 18:32] sergeyklay commented on #683
Could you please provide these notices?
@dschissler

[2016-06-03 19:41] sergeyklay commented on #683
Fixed in `2.1.x` branch

[2016-06-03 19:41] #683 closed

[2016-06-10 17:53] OakBehringer commented on #487
I am running into this, too, with the foreign key ON UPDATE/DELETE stuff. Bummer. Good to know about SchemaSync!

[2016-06-12 20:21] jakzodiac opened #688 "Model Validation needs to be updated"
Model Validation is still using the old validation classes and needs to be updated to use Phalcon\Validation and it's Validator classes.

[2016-06-14 13:32] udarkness opened #689 "Column collation is not migrated"
in mysql, we can specify a collation for a column.
Example:
[code]

After migrate and run the migration in other machine, I got utf8 (table collation)
Migration file:
[code]

[2016-06-14 13:40] udarkness commented on #438
this also affects mysql, so it is not a problem only for postgresql
[code]

[2016-06-16 13:13] alexbusu commented on #678
#634 fixes this

[2016-06-16 13:36] #678 closed

[2016-06-16 13:39] alexbusu commented on #680
Hi @Paradoxis
It's not a good practice to use passwords in command line. Maybe a `--dbConfig=path/to/dbconfig` option would be better. What do you think?

[2016-06-16 15:13] alexbusu commented on #559
Done in #612

[2016-06-16 15:27] #559 closed

[2016-06-17 18:42] phackwer opened #694 "Migration doesn't support custom adapters"
The code at Mvc\Model\Migration.php line 91, doesn't allow us to create custom adapters. It assumes only the Phalcon\Db\Adapters should be used. Changing it to

[code]

Will allow people to write custom adapters outside de Phalcon namespace. This change is kind of important for us, right now.

[2016-06-20 12:32] dellert opened #695 "Cannot declare class Phalcon\Config, because the name is already in use"
When I set phalcon model --name test command or other phalcon command, I have error:

Cannot declare class Phalcon\Config, because the name is already in use in /phalcon/devtools/ide/stubs/Phalcon/Config.php on line 27

[2016-06-27 11:14] mzf opened #697 "[2.1] Command "phalcon model" dont work with last phalcon dll"
I update my phalcon to last dll from site
[code]

When i running command
[code]
i get nothing.
I see only title - Phalcon DevTools (2.1.0 RC 1)
And then no error messages, no any messages.
It looks as the hanged process

[2016-06-27 11:25] sergeyklay commented on #697
@mzf Have you tried Devtools from 2.1.x branch?

[2016-06-27 13:18] mzf commented on #697
Yes, i use 2.1.dev
my composer source
[code]

[2016-07-01 07:39] sotebuy opened #702 "Yaml config extension"
Can we agree to use .yaml and .yml extensions. I know that yaml recommends the .yaml extension still for me the .yml extension is more handy and faster to write.
https://github.com/phalcon/phalcon-devtools/blob/2.1.x/scripts/Phalcon/Commands/Command.php#L135

[2016-07-01 08:11] sergeyklay commented on #702
@sotebuy Could you lease send PR?

[2016-07-04 08:26] miyabi opened #704 "DOUBLE columns can not be migrated."
I generated a migration like below:
[code]
and then just run it and I got an error:
[code]

Phalcon DevTools v2.0.13
Phalcon v2.0.13
PHP 5.5.9-1ubuntu4.17
mysql  Ver 14.14 Distrib 5.5.49
Ubuntu 14.04.4 LTS x86_64

[2016-07-05 08:42] dellert opened #706 "Error on trying generate model"
[code]

[2016-07-05 14:59] sergeyklay commented on #706
What version of devtools?

[2016-07-06 08:11] dellert commented on #706
for in composer set ^2.0

[2016-07-06 09:37] sergeyklay commented on #706
@dellert What version of Phalcon?

[2016-07-06 09:43] dellert commented on #706
2.1

[2016-07-06 09:44] sergeyklay commented on #706
So you have to use Devtools 2.1.x

[2016-07-06 10:12] dellert commented on #706
such error

[2016-07-06 10:15] dellert commented on #706
I have no config.php. I have anoter structure. So, I have to rewrite code for me. Thanks

[2016-07-06 10:15] #706 closed

[2016-07-06 22:21] rikur commented on #226
Storing the fromVersion in a file is not a very solid solution IMHO. Storing it in the database similar to what Rails does makes a lot more sense -- it is tied to the schema/data of the database and gets transported along database dumps etc.

[2016-07-14 14:46] balthild opened #709 "Intellij IDEA says the Phalcon\Mvc\Model is an abstract class and I should implement some methods"
Models classes extends the Phalcon\Mvc\Model according the documenation. I think it's right since the program runs normally, but errors the IDE shows is annoying.

![qq20160715-0](https://cloud.githubusercontent.com/assets/2662758/16843674/cd6791d4-4a14-11e6-9707-fb4e9ec34fe0.png)

[2016-07-15 07:59] dellert opened #710 "how to down migration?"
how to down migration for delete all tables?

[2016-07-15 14:38] sergeyklay commented on #710
We only accept bug reports, new feature requests and pull requests. For questions regarding the usage of the Phalcon Developer Tools or support requests please visit the [official forums](http://forum.phalconphp.com/).

[2016-07-15 14:38] #710 closed

[2016-07-19 12:32] kamenevn commented on #622
This problem actual for me too

[2016-07-26 11:30] matusch commented on #695
Any idea why it happens?

[2016-07-26 11:38] sergeyklay commented on #695
I'll try to sort out as soon as I can

[2016-07-31 21:33] isstack opened #717 "Warning: Cannot bind an instance to a static closure in"
Always error： Warning: Cannot bind an instance to a static closure in
I use phalcon-devtoole 3.0.x, Version 2.0 phalcon also have this problem.
phalcon version 3.0phalcon version 3.0

[2016-08-01 01:42] andresgutierrez commented on #717
Phalcon now binds DI to closures used as service definition, however if the closure was created in a static context PHP raises that warning, that only happens in PHP5, it seems that in PHP7 that warning was disabled or removed.

https://github.com/phalcon/cphalcon/issues/11029#issuecomment-200612702

[2016-08-01 15:01] emiliodeg commented on #697
I have the same problem.
Create project works ok but then when I try to make models or any other actions didn't happend

[2016-08-03 04:20] xerron opened #723 "Phalcon 3.0.0 Error migrate"
I execute:

phalcon migration --action=generate --version=2

and show error message:
[code]

[2016-08-03 05:18] sergeyklay commented on #723
@xerron Fixed in 3.0.x branch. Could you please check now?

[2016-08-03 12:20] idetomohiro opened #727 "Phalcon Devtool 3.0.0 (3.0.x-dev) Migration Run error"
When I executed migration command using Phalcon Devtools 3.0.0(3.0.x-dev), an error occurred.

command:
[code]
I think the cause is the line 76 of ItemCollection.php
https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Version/ItemCollection.php#L76

In the constructor of IncrementalItem, an array is given for $options, not an integer.
So, in the line 61 (https://github.com/phal

[2016-08-03 13:33] sergeyklay commented on #727
I'll try to sort out as soon as I can

[2016-08-04 15:50] silverdr opened #728 "phalcon-devtools/scripts/Phalcon/Web/JQuery.php not updated for new jquery version"
You seem to have forgotten to update things there. Hardcoding specific files there doesn't seem like a good idea anyway.

[2016-08-04 16:49] sergeyklay commented on #728
@dschissler Could you please take a look?

[2016-08-04 17:08] dschissler commented on #728
@silverdr Try the 3.0.x branch.

[2016-08-04 17:11] dschissler commented on #681
done

[2016-08-04 17:11] #681 closed

[2016-08-04 18:29] silverdr commented on #728
@dschissler The 3.0.x branch fixes the version numbers but still refers to 'min' file, which is not provided in the resources.

[2016-08-04 18:29] silverdr commented on #728
Here the fix should be to replace the static jquery file with a minimised variant in the resources.

[2016-08-05 06:07] sergeyklay commented on #728
@silverdr Could you please try 3.0.x now?

[2016-08-05 09:54] jhaoheng opened #731 "phalcon migration run can't run twice"
- phalcon 3.0.0

I generate my db by `phalcon migration generate`
and it is build v1.0.0

and then when i run first `phalcon migration run`
it work

but when i do this cmd twice, it no response
![2016-08-05 5 54 11](https://cloud.githubusercontent.com/assets/1822475/17433169/a9ec378c-5b35-11e6-899d-9e7289eb51a5.png)

and i must to delete `rm .phalcon/migration-version`
then the cmd work
![2016-08-

[2016-08-05 10:52] Surt opened #732 "Composer phalcon devtools 3.0 with phalcon 3.0 minimun stability"
The requested package phalcon/devtools (locked at v2.0.8, required as ~3.0) is satisfiable by phalcon/devtools[v2.0.8] but these conflict with your requirements or minimum-stability.

[2016-08-05 11:22] sergeyklay commented on #732
Could you please provide your composer.json

[2016-08-05 12:14] silverdr commented on #728
The basic functionality seem to work in the 3.0.x branch now. At least I don't see any critical issues like missing CSSs or JSs anymore. Still - in the longer run it would IMHO be better to remove the hardcoded filenames completely and just copy over whatever is present in the respective resources directories. That way resources updates will become far less error prone.

[2016-08-05 12:16] dschissler commented on #728
We need to remove the hard coded names and also to not use both local and remote resources for different parts of the tools.  Its just double the maintenance.

[2016-08-05 12:17] dschissler commented on #728
So close issue?

[2016-08-05 12:18] Surt commented on #732
It was during a composer require with other library. I did a ```composer update``` before installing the new one and devtools was sucessfully updated. Sorry, and thank you!

[2016-08-05 12:18] #732 closed

[2016-08-05 13:31] silverdr commented on #728
Precisely, noticed that too. Closing then.

[2016-08-05 13:31] #728 closed

[2016-08-06 01:33] jhaoheng opened #734 "DB cloumn 'Allow Null' & 'Default' was changed when migration"
When i use `phalcon migration run`
and my column[time] attributes was changed by migration.

[before]
Type : timestamp
Allow Null : YES
Default : null

[after]
Type : timestamp
Allow Null : NO
Default : 0000-00-00 00:00:00

[2016-08-08 10:50] dschissler opened #735 "Change baseUri to work with a non-root project path"
https://github.com/phalcon/phalcon-devtools/blob/master/templates/project/simple/config.php#L22

I think that one solution would be to change it to:

[code]

However this doesn't work with the `ini` config.  Perhaps we should move this setup into the `url` service?  I think that for a skeleton like this that it is more important to be able to create a project in any directory off of the web root a

[2016-08-08 15:04] free6k opened #736 "master branch is broken"
Guys, I certainly understand that it is open source ... But a master branch is broken. Migrations do not work more than 5 days.

It is normal?

[2016-08-08 15:40] chilimatic commented on #736
could you reference the issue ? or you just want to point out that you're unsatisfied ?

[2016-08-09 21:44] sergeyklay commented on #736
@free6k Could you please try `3.0.x` branch?

[2016-08-10 10:22] free6k commented on #736
I sent pull request to https://github.com/phalcon/phalcon-devtools/pull/720 in 3.0.x

[2016-08-10 12:00] sergeyklay commented on #736
Well, now is all ok?

[2016-08-10 18:00] xerron commented on #723
kill memory.

[code]

[2016-08-10 18:09] sergeyklay commented on #723
Can't reproduce. Could you please provide full error stack? Can you localize issue? For example run migration with one table in order to find problem.

[2016-08-11 08:00] dcosta-ptc opened #747 "Migration generate bug"
Hi,

On 3.0.x using generate i get this:

[code]

No constant `MIGRATION_LOG_TABLE` only a static variable found `$migration_log_table`.

[2016-08-11 08:51] sergeyklay commented on #747
Thanks! Fixed in the `3.0.x` branch.

[2016-08-11 08:51] #747 closed

[2016-08-11 15:25] dcosta-ptc opened #750 "Initial Migration Timestamp Based problem"
Hi,

If we create a timestamp based migrations and we try to run the first one, exemple:

[code]

We get this error:
[code]

Because since there is nothing on database on getCurrentVersion it tries to create a `VersionCollection::createItem(null);` this uses default value `000` that does not match the expected regex.

[2016-08-12 09:13] yiivon opened #752 "JQuery version don't correspond to the static file."
**scripts\Phalcon\Web\JQuery.php on line 46 - 47**
`
            copy($jqueryRoot . '/jquery-2.2.2.min.js', $jsJqueryDir . '/jquery-2.2.2.min.js');
            copy($jqueryRoot . '/jquery-2.2.2.min.map', $jsJqueryDir . '/jquery-2.2.2.min.map');
`
but files in directory **resources\jquery** are version **3.1.0**

[2016-08-12 09:19] sergeyklay commented on #752
@dschissler Could you please take a look?

[2016-08-12 09:31] yiivon commented on #752
![image](https://cloud.githubusercontent.com/assets/1287165/17618468/989dfede-60b2-11e6-996a-079cc25ea841.png)

[2016-08-12 09:43] yiivon opened #753 "PTOOLSPATH be a unexpected value in some cases."
![image](https://cloud.githubusercontent.com/assets/1287165/17618735/f524bd9a-60b3-11e6-83d8-d03f3dd21250.png)

Windows 10 x64, cmd run at Administrator privilege, environment key PTOOLSPATH's value return a unexpected value, just like above.

[2016-08-12 11:36] dschissler commented on #752
This is a duplicate of #728 it is fixed in the 3.0.x branch.

[2016-08-12 11:46] yiivon commented on #752
GREAT!

[2016-08-12 11:54] yiivon commented on #753
This issue exists also in branch **3.0.x**
![image](https://cloud.githubusercontent.com/assets/1287165/17621547/8cfc2de4-60c6-11e6-9eaa-99adc8839386.png)

[2016-08-12 11:56] #752 closed

[2016-08-12 16:56] #736 closed

[2016-08-14 13:54] StagnantIce opened #756 "PHP Fatal error: Class 'Phalcon\Version\IncrementalItem' not found"
phalcon/test$ phalcon migration generate
[code]

Phalcon DevTools (3.0.0)
PHP 5.5.9-1ubuntu4.14

[2016-08-14 14:37] sergeyklay commented on #756
@StagnantIce Could you please try Devtools 3.0.x ?

[2016-08-14 18:36] DroneZzZko opened #757 "Non-existent class "IncrementalItem" (the latest devtools 3.0 version)"
If run migration always get:
`PHP Fatal error:  Uncaught Error: Class 'Phalcon\Version\IncrementalItem' not found in vendor/phalcon/devtools/scripts/Phalcon/Version/ItemCollection.php:76
`
In fact there is no such class. The file is, but the class is called "item".

[2016-08-14 19:00] sergeyklay commented on #757
@DroneZzZko Could you please try 3.0.x branch?

[2016-08-14 19:25] DroneZzZko commented on #757
I get devtools via composer: `"phalcon/devtools": "~3.0.0"`
Is that not enough?

[2016-08-14 20:13] StagnantIce commented on #756
I try write in composer dev-master, and have the same issue

[2016-08-14 22:08] sergeyklay commented on #756
Provide please `composer.json`

[2016-08-14 22:14] sergeyklay commented on #757
@DroneZzZko Are you sure?

Current `master`: https://github.com/phalcon/phalcon-devtools/blob/master/scripts/Phalcon/Version/IncrementalItem.php#L32
Current `3.0.x`: https://github.com/phalcon/phalcon-devtools/blob/3.0.x/scripts/Phalcon/Version/IncrementalItem.php#L32

[2016-08-15 03:02] acv-anhlx commented on #717
Hi @andresgutierrez ,
I use Phalcon 3 and PHP 5.6.21.
I create project test --enable-webtools, i visit webtools page and see 2 errors :
1. Warning: Cannot bind an instance to a static closure in C:\phalcon-devtools\scripts\Phalcon\Web\Tools.php on line 356
2. Warning: Cannot bind an instance to a static closure in C:\phalcon-devtools\scripts\Phalcon\Web\Tools\views\index.phtml on line 15
Please he

[2016-08-15 03:34] anhlx412 opened #758 "PHP 5.6.21 & Phalcon 3 : Warning: Cannot bind an instance to a static closure"
I use php 5.6 & phalcon 3.0. When I create project and --enable-webtools, visit webtools.php page, i see some errors :
1. Warning: Cannot bind an instance to a static closure in C:\phalcon-devtools\scripts\Phalcon\Web\Tools.php on line 359
=> echo $app->handle()->getContent();
2. Warning: Cannot bind an instance to a static closure in C:\phalcon-devtools\scripts\Phalcon\Web\Tools\views\index.phtml

[2016-08-15 05:09] sergeyklay commented on #758
Phalcon now binds DI to closures used as service definition, however if the closure was created in a static context PHP raises that warning, that only happens in PHP5, it seems that in PHP7 that warning was disabled or removed.

https://github.com/phalcon/cphalcon/issues/11029#issuecomment-200612702
https://github.com/phalcon/phalcon-devtools/issues/717

[2016-08-15 05:09] #758 closed

[2016-08-15 21:29] sergeyklay commented on #753
@yiivon Could you please try 3.0.x branch?

[2016-08-16 08:18] yiivon commented on #753
@sergeyklay Sure, result:
![image](https://cloud.githubusercontent.com/assets/1287165/17692573/f14eb970-63cc-11e6-9055-d06fd0286686.png)

[2016-08-16 19:02] danielsilver2 commented on #723
I have the same problem with the latest commit.

`PHP Fatal error:  Class 'Phalcon\Version\IncrementalItem' not found in /home/minds04/Projects/010/Gis/vendor/phalcon/devtools/scripts/Phalcon/Version/ItemCollection.php on line 76
PHP Stack trace:
PHP   1. {main}() /home/minds04/Projects/010/Gis/vendor/phalcon/devtools/phalcon.php:0
PHP   2. Phalcon\Script->run() /home/minds04/Projects/010/Gis/vend

[2016-08-16 19:09] sergeyklay commented on #723
@danielsilver2 Have you tried Devtools 3.0.x ?

[2016-08-16 20:52] Zul3s commented on #723
Hi, i have same error, but with Devtools 3.0.x, it's work for me. @sergeyklay Thank you.

[2016-08-17 05:09] #723 closed

[2016-08-17 06:21] yiivon opened #760 "There are number of Warning in Webtools about static closure's binding of instance, version 3.0.x"
![image](https://cloud.githubusercontent.com/assets/1287165/17726352/141f4ac4-6485-11e6-9ef6-821e3e6d7f55.png)

Refer to PHP manual [here](http://php.net/manual/en/functions.anonymous.php):
![image](https://cloud.githubusercontent.com/assets/1287165/17726420/70ab432e-6485-11e6-8c5d-ce7845c13d2f.png)

I don't know whether there would be any issue on these warning, i just report them as an user, and

[2016-08-17 07:33] sergeyklay commented on #760
https://github.com/phalcon/phalcon-devtools/issues/717

https://github.com/phalcon/cphalcon/issues/11029

[2016-08-17 07:33] #760 closed

[2016-08-17 10:33] DroneZzZko commented on #757
I think the issue can be closed.

[2016-08-17 10:33] #757 closed

[2016-08-24 10:17] #756 closed

[2016-08-25 05:11] mzf opened #768 "Error version in class name when generate migration"
[code]
In migrations folder i see new migration with name 1.0.4, but all files has class names with postfix - 103.
Example: `user.php` - has class name `User_103`, but migration version - `1.0.4`.

_Environment:
Phalcon Dev Tools - 3.0.1
Phalcon - 3.0.0
Php - 7.0.8
OS - Win7_

[2016-08-25 14:15] alexbusu commented on #571
@mzf Have you tried to use fully qualified name for your base class? Something like `--extends=\\Base`.

[2016-08-25 14:19] alexbusu commented on #570
This is already in 2.1.x, and starting 3.0.0

[2016-08-25 15:13] #570 closed

[2016-08-26 01:59] yaourt2 opened #769 "Always create a project or module name "1" when create a multi modules project."

[2016-08-26 11:06] sergeyklay commented on #750
Fixed in the `3.0.x` branch.

[2016-08-26 11:06] #750 closed

[2016-08-28 04:26] Rajeshr34 opened #771 "Wrong Folder with data migration"
CMD: phalcon migration generate --data=oncreate

For Example:
phalcon Create Folder Called "1.0.0" and it stores all table structure.
but for table data (*.dat files) it trying to put content in "100" folder which folder is not exists
[code]

and phalcon migration run trying to find (*.dat) in "1.0.0"

I hope you get it. Sorry for my English :)

[2016-08-28 16:21] doan281 opened #773 "[phalcon web tools] what is an error?"
1. Warning: Cannot bind an instance to a static closure in D:\xampp556\htdocs\phalcon_devtools\scripts\Phalcon\Web\Tools.php on line 355.

(or Warning: Cannot bind an instance to a static closure in D:\xampp556\htdocs\phalcon_devtools\scripts\Phalcon\Web\Tools\views\index.phtml on line 15)

Help me!
How to resolve?

[2016-08-28 16:25] doan281 commented on #773
This is file: phalcon.bat
[code]

[2016-08-28 16:31] doan281 commented on #773
I created project "pCMS" by cmd "phalcon create-project pCMS --enable-webtools"
After that, i run "http://localhost/pCMS/webtools.php" and it shows 2 errors as above.

[2016-08-28 17:17] #773 closed

[2016-08-30 19:15] rogervila opened #774 "Framework code does not match with Phalcon site tutorial"
Hello,

I'm new in Phalcon PHP. I installed phalcon devtools 3.0.0 but the files content is not the same as the [Phalcon site tutorial](https://docs.phalconphp.com/en/latest/reference/tutorial.html)

Am I missing something?

Thank you!

P.D.  The [Phalcon site tutorial about devtools is outdated](https://docs.phalconphp.com/en/latest/reference/tools.html), but I understand that this is not an issu

[2016-08-30 21:25] sergeyklay commented on #774
Hello @rogervila

This is [docs](https://github.com/phalcon/docs) issue.
Could you please open a issue in the corresponding repo?

[2016-08-30 21:29] rogervila commented on #774
Yes, no problem.
Now that I know that the docs are outdated and there is no problem with devtools, where can I read/view the updated docs for phalcon 3?

Thank you.

[2016-08-30 22:02] sergeyklay commented on #774
It seems to me outdated mostly Devtools doc.
Anyway fell free to create a issue in the [Phalcon Docs](https://github.com/phalcon/docs) repo.

The most recent documentation is here: https://docs.phalconphp.com/en/latest/index.html

Thanks.

[2016-08-30 22:02] #774 closed

[2016-09-02 07:16] therosco commented on #768
We've got the same problem.

[2016-09-02 09:16] therosco commented on #768
`object(Phalcon\Version\IncrementalItem)#28 (3) {
  ["_version":"Phalcon\Version\IncrementalItem":private]=>
  string(5) "1.0.3"
  ["_versionStamp":"Phalcon\Version\IncrementalItem":private]=>
  int(102)
  ["_parts":"Phalcon\Version\IncrementalItem":private]=>
  array(3) {
    [0]=>
    string(1) "1"
    [1]=>
    string(1) "0"
    [2]=>
    string(1) "2"
  }
}`

[2016-09-04 21:53] frickenate commented on #695
Stumbled across the same issue, narrowed it down to problems with the `\Phalcon\Commands\Command::getConfig()` method. The logic for loading a config file initially looks for a `app/config/config.*` file, then `config/config.*`. If not found, it goes so far as to recursively search the entire project's directory structure for any file named `config.php` (case-insensitive, also .ini/.json/.yaml ext

[2016-09-05 10:05] frickenate commented on #768
Same problem, PHP 7 and Phalcon 3.0.0 with latest GitHub pull of the devtools. To clarify, the reason this is a critical bug rather than a minor visual glitch is because the first two migrations both get classes with "_100" in them, resulting in a redefined class error when trying to run them.

### migrations/1.0.0/user.php
[code]

### migrations/1.0.1/user.php
[code]

[2016-09-06 14:30] DannyFeliz opened #775 "How to generate a migration of multiple tables?"
I need to generate a migration of two tables with this command
`phalcon migration generate --table=tableA tableB`
but the dev-tool only takes the last specified table, there is a way to get this working?

[2016-09-07 13:04] therosco commented on #734
Same problem

[2016-09-07 20:25] sergeyklay commented on #769
@yaourt2

Could you please provide a command to reproduce?
Also please provide Phalcon and Devtools version

[2016-09-07 20:34] sergeyklay commented on #753
@yiivon Could you please try 3.0.x branch?

[2016-09-08 19:04] sergeyklay commented on #709
This is IDE issue

[2016-09-08 19:04] #709 closed

[2016-09-08 19:09] sergeyklay commented on #702
Fixed in the `3.0.x` branch.

[2016-09-08 19:09] #702 closed

[2016-09-08 19:10] sergeyklay commented on #697
@mzf @emiliodeg Could you please try `3.0.x` branch?

[2016-09-08 19:13] sergeyklay commented on #695
@frickenate Thanks

[2016-09-08 19:13] #695 closed

[2016-09-08 19:54] #657 closed

[2016-09-08 19:54] #597 closed

[2016-09-08 19:54] #625 closed

[2016-09-08 21:10] #208 closed

[2016-09-08 21:29] GBraL commented on #758
Using Phalcon 3 and PHP 5.6 I can't remove this message?

[2016-09-08 21:29] GBraL commented on #717
Using Phalcon 3 and PHP 5.6 I can't remove this message?

[2016-09-08 21:36] sergeyklay commented on #758
@GBraL See please response here https://github.com/phalcon/cphalcon/issues/11029

[2016-09-09 12:00] GBraL commented on #758
Thank you.

[2016-09-09 20:20] sergeyklay commented on #768
Fixed in the `3.0.x` branch.

[2016-09-09 20:20] #768 closed

[2016-09-09 20:42] sergeyklay commented on #771
Fixed in the `3.0.x` branch.

[2016-09-09 20:42] #771 closed

[2016-09-09 20:49] sergeyklay commented on #753
Fixed in the `3.0.x` branch.

[2016-09-09 20:49] #753 closed

[2016-09-10 07:46] sergeyklay commented on #734
@jhaoheng @therosco Could you please provide migration script, DB version and table schema?

[2016-09-10 07:48] sergeyklay commented on #731
Fixed in the `3.0.x` branch.

[2016-09-10 07:48] #731 closed

[2016-09-10 07:52] sergeyklay commented on #694
@phackwer What exactly do you suggest? To look at `adapterClass` config parameter? We need Fully Qualified Class Name  here

[2016-09-10 08:30] sergeyklay commented on #689
@udarkness

This is mostly [Phalcon](https://github.com/phalcon/cphalcon) issue. Devtools uses [`Phalcon\Db\Column`](https://github.com/phalcon/cphalcon/blob/master/phalcon/db/column.zep) class which currently does not support custom collation.

You have to open a new feature request in the [Phalcon repository](https://github.com/phalcon/cphalcon).

[2016-09-10 08:30] #689 closed

[2016-09-10 08:30] sergeyklay commented on #688
Fixed in the `3.0.x` branch.

[2016-09-10 08:30] #688 closed

[2016-09-10 08:46] #577 closed

[2016-09-10 09:29] sergeyklay commented on #704
You have to use
[code]

[code]

Also note for `float(M,D)`, `double(M,D)` or `decimal(M,D)`, `M` must be >= `D`.

[2016-09-10 09:29] #704 closed

[2016-09-10 09:30] frickenate commented on #768
@sergeyklay Do you know if it's possible to have composer.json refer to an arbitrary git branch? Setting the version to `3.0.x` or `3.0.x-dev` seems to pulling an outdated packagist bundle that doesn't contain the updates. Tried a `repositories` section, but I can't seem to get a branch/version to actually work.

If I git clone directly, it works. Is it possible to have a simple composer.json defi

[2016-09-10 09:31] sergeyklay commented on #543
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-10 09:31] #543 closed

[2016-09-10 11:55] sergeyklay commented on #768
@frickenate May be it is Composer cache related issue or something in Packagist part. Try
[code]

http://stackoverflow.com/questions/21314381/how-to-correctly-require-a-specific-commit-in-composer-so-that-it-would-be-avail

[2016-09-11 20:30] #769 closed

[2016-09-12 04:13] mzf commented on #697
3.0.0 all ok

[2016-09-12 07:45] #697 closed

[2016-09-12 20:14] Dave3o3 commented on #717
Same here with PHP 5.6.25... switching to PHP 7 eliminates this issue.

[2016-09-12 20:19] sergeyklay commented on #717
Will be fixed soon

[2016-09-15 16:10] Aeolun opened #821 "Make multi table generation faster"
Hey guys,

I just wanted to generate models for all my tables, but it was horrifyingly slow.

Then when I checked the code, I found it was retrieving the relations of all tables anew for every tables it was generating.

Instead of generating references once, which would cause one request per table, (e.g. 200), I was now sitting through 40000. Adding this small and ugly fix however, I saw the gener

[2016-09-15 17:17] sergeyklay commented on #821
@Aeolun Thanks for feedback. Will be fixed soon

[2016-09-17 13:42] cbichis opened #833 "Extends doesnt work for absolute namespace"
Hi,

I am trying to generate some models which are extending one class from a completly different vendor:

[code]

However, the class name is extending a wrong class:

[code]

Instead of extending

[code]

This is a bug maybe ?

[2016-09-17 14:13] cbichis opened #834 "hasOne relations not recognized"
Hello,

DevTools, when generating a model it doesnt seems to recognize the hasOne relations.

Table1: PK id
Table2: PK id

with referential integrity set between them.

is creating rather hasMany/belongsTo relation....

[2016-09-17 15:23] cbichis commented on #833
Actually this seems to work if the model is not already defined.

[2016-09-17 15:23] cbichis commented on #833
Actually this works if the model is not already defined.

[2016-09-17 18:02] farwish opened #836 "1 memory leaks detected when using "./phalcon-devtools/phalcon.php""
/home/xxx/Downloads/cphalcon/build/php5/64bits/phalcon.zep.c(23687) :  Freeing 0x7FE5FC7E1590 (32 bytes), script=/home/xxx/Downloads/phalcon-devtools/phalcon.php
=== Total 1 memory leaks detected ===

Note: v3.0.1

[2016-09-17 18:33] sergeyklay commented on #836
Could you please provide steps to reproduce

[2016-09-17 18:36] sergeyklay commented on #834
Could you please steps to reproduce

[2016-09-18 02:36] farwish commented on #836
ok, i will describe as detailed as possible.

Environment : besides some generic options，I had compile php with --enable-debug and --enable-maintainer-zts options in php5.6.23 before.

[code]

My operation steps as root :
1. installed cphalcon extension in the way "compile-from-source". ( and installed success. )
2. install phalcon-devtools. ( and installed success. )

a complete shell contents us

[2016-09-18 18:15] sergeyklay commented on #717
Fixed in the `3.0.x` branch.

**Note:** You have disable and enable WebTools again

[2016-09-18 18:15] #717 closed

[2016-09-18 20:52] sergeyklay commented on #727
Fixed in the `3.0.x` branch.

[2016-09-18 20:52] #727 closed

[2016-09-19 23:06] #477 closed

[2016-09-19 23:36] sergeyklay commented on #477
@egorsmkv Could you please try 3.0.x branch? Right now I'm work with Devtoos. Feel free to open this issue again if problem is present

[2016-09-19 23:38] egorsmkv commented on #477
@sergeyklay okay, but while I have no way to do it.

[2016-09-20 22:18] HudsonNicoletti opened #842 "Migrations Config file"
Documentation on how to use a conig file for the migrations

[2016-09-21 05:49] sergeyklay commented on #842
@HudsonNicoletti Config file? Could you please explain?

[2016-09-22 19:33] cbichis opened #846 "Incorrect model names generated in relations"
Hello,

I have 2 models:

`Ad\Models\Ad` (with source been table `ad`): `id`, `model_id`  where make_id is a FK to second model:
`Ad\Models\Model` (with source been table `ad_model`): `id`, `name`

[code]
The relations are defined incorrectly:
[code]

But it should be:
[code]

[2016-09-22 19:34] cbichis commented on #846
The relationship is defined correctly on the other side:
        $this->hasMany('id', 'Ad\Models\Ad', 'modelId', ['alias' => 'Ad']);

[2016-09-22 19:49] sergeyklay commented on #846
@cbichis Could you please provide table schema?

[2016-09-23 17:57] #734 closed

[2016-09-23 21:04] sergeyklay commented on #571
It is not an bug. Devtools trying to create an instance of a class using reflection. This is necessary in order to re-generate the class and return back all comments, custom methods etc. But it can't create the object because Class `Core\Models\Base` not found.

[2016-09-23 21:04] #571 closed

[2016-09-23 21:06] sergeyklay commented on #682
Implemented in `3.0.x`

[2016-09-23 21:06] #682 closed

[2016-09-24 15:56] sp4nky opened #850 "wrong scaffold generation with case sensitive databbase identifiers"
Using mysql as database provider and phalcon on linux scaffold generated low case filenames for "views" sub directory while the table name has upper case chars.
Phalcon wasn't able to resolve the case sensitive view paths.

[2016-09-24 17:33] sergeyklay commented on #850
@sp4nky Can't reproduce. Could you please provide Devtools version , table schema and command to reproduce?

[2016-09-25 09:42] sergeyklay commented on #846
It is not possible to change this behavior. At least the number of changes and additions is not proportional with what you need to do in this case:

1. Open the `Ad` model in your text editor
2. Change the `'Ad\Models\AdModel'` to the `'Ad\Models\Model'`

If you find an elegant solution - you are always welcome with your PRs.

[2016-09-25 09:42] #846 closed

[2016-09-25 09:43] sergeyklay commented on #834
@cbichis

[2016-09-25 10:24] sp4nky commented on #850
[code]

/index.php?_url=/test (succeeds)
/index.php?_url=/Test (fails)

[2016-09-25 10:54] sergeyklay commented on #850
@sp4nky Could you please try latest `3.0.x`? Note: you have to disable and enable WebTools again to  fix

[2016-09-25 11:04] sp4nky commented on #850
Currently using Phalcon DevTools (3.0.1)
Same warnings after disable/enable, view files still doesn't respect database case sensitive table names.

[2016-09-25 12:28] sergeyklay commented on #850
@sp4nky Did you installed via Composer? It seems Composer doesn't get latest changes from 3.0.x branch. This issue will be fixed in new Devtools release

Try to use this approach https://github.com/phalcon/phalcon-devtools/issues/768#issuecomment-246107825
Or use `git clone -b 3.0.x ...`

[2016-09-25 13:26] sergeyklay commented on #850
Also I'm not sure that this is a problem in the view or case sensitive database settings.
This is typical behavior of the default router config.

The Scaffold component is not intended to create a fully functional website; It is obvious that such things as routing you have to do yourself

[2016-09-25 13:26] #850 closed

[2016-09-26 10:14] alexbusu commented on #571
I think the problem here is that the namespace Core\Models is not registered in loader, so maybe we could improve the model generator by automatically register user namespace, if any, or to register user dir otherwise.
@sergeyklay, what do you think?

[2016-09-26 10:21] sergeyklay commented on #571
Of course. Mb we need add support of cusom loader here: https://github.com/phalcon/phalcon-devtools/blob/3.0.x/bootstrap/autoload.php#L117

[2016-09-26 14:55] Hodes commented on #571
So, if the 3.0.x will have the auto-load behavior, the code I have created for previous versions ( #641) are not needed anymore. It still in 3.0.x, see https://github.com/phalcon/phalcon-devtools/blob/3.0.x/scripts/Phalcon/Builder/Model.php#L184, that three lines will have no sense, what do you think ?